#promo-panel .panel-heading {
  height: 348px;
}

/* jumbotron */
.container .jumbotron .jumbotron_body {
    min-height: 486px;
}

/* vencimientos */
.list-group-agenda .list-group-item {
    padding: 8px 15px;
}

.agenda-info {
    vertical-align: middle;
}

.agenda-date strong {
    display: inline;
    font-size: 21px;
}

.overlay {
    background: rgba(0, 0, 0, 0.7);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99045e88,endColorstr=#99045e88);

}