<!DOCTYPE html>
<html lang="es">
{% include casarosada/head.html %}
    <!-- <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>-->
<body class="sticky-footer bodyMiArgentina">
     {% include casarosada/header.html %}
    <main class="m-b-3">
    	<div id="menuMobile">
      		{{ content }}
      	</div>
    </main>    
      {% include casarosada/footer.html %}
</body>
</html>
