/* COLORES */

/*
AZUL
color: #007cad;

VERDE
color: #04843b;

*/



.btn-success {
    background-color: #04843b;
    border-color: #04843b;
}

.btn-success a{
	color: #fff;
}

#chatter button.btn.btn-primary {
    color: #007cad;
}

a {
    color: #007cad;
}