---
layout: afip_casas_particulares
---

{% include afip/usuario_casas_particulares_tr.html hijo="Inicio" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include afip/menu_casas_particulares_tr.html active="aportes" %}

      </aside>
      <div class="col-md-8">

        <h1 class="sr-only">Historial de aportes</h1>


        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-body media-middle">
                  <h3 class="m-t-0">Historial de aportes</h3>
                </div>
              </div>

              <hr>

			          <div>
			            <div class="row">
			              <div class="form-group col-md-6 col-lg-3">
			                <label class="control-label" for="">Ver por empleador</label>
			                <select class="form-control" id="" name="">
			                  <option value="" disabled selected>Empleador</option>
			                  <option value="1">María José</option>
			                  <option value="2">Atilio Gonzáles</option>
			                </select>
			              </div>
			              <div class="form-group col-md-6 col-lg-3">
			                <label class="control-label" for="">Ver pagos o impagos </label>
			                <select class="form-control" id="" name="">
			                  <option value="" disabled selected>Estado</option>
			                  <option value="1">PAGADO</option>
			                  <option value="2">IMPAGO</option>
			                </select>

			              </div>
			              <div class="form-group col-md-6 col-lg-3">
			                <label class="control-label" for="date">Fecha desde </label>
							<div class="input-group date">
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
								<input type="text" class="form-control" value="01/02/2017">
							</div>
			              </div>
			              <div class="form-group col-md-6 col-lg-3">
			                <label class="control-label" for="date">Fecha hasta </label>
							<div class="input-group date">
								<span class="input-group-addon">
									<span class="fa fa-calendar"></span>
								</span>
								<input type="text" class="form-control" value="01/06/2017">
							</div>
			              </div>	

			              <div class="col-md-12 text-right">
			                <button type="submit" class="btn btn-primary">APLICAR</button>
			              </div>

			            </div>
			          </div>



                  <div class="table-responsive">
					<table class="table table-bordered table-align-middle table-mobile m-t-2">
		                <thead>
		                  <tr class="bg-gray">
		                    <th>Período</th>
		                    <th>Empleador</th>
		                    <th style="width: 105px;">CONT S.S.</th>
		                    <th>O.S.</th>
		                    <th>ART</th>
		                    <th>Adherente</th>
		                    <th>Fecha pago</th>
		                    <th>ESTADO</th>
		                  </tr>
		                </thead>
		                <tbody>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      06/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        María José
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                       10/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-danger">IMPAGO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      06/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        Atilio Gonzáles
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                        09/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      05/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        María José
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                       10/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      05/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        Atilio Gonzáles
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                        09/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      04/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        María José
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                       10/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      04/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        Atilio Gonzáles
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                        09/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      03/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        María José
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                       10/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      03/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        Atilio Gonzáles
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                        09/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      02/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        María José
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                       10/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>
		                  	<tr class="f-w-400">
			                    <td>
			                      <span class="td-label">Período</span>
			                      02/2017
			                    </td>
			                    <td>
			                        <span class="td-label">Empleador</span>
			                        Atilio Gonzáles
			                    </td>
			                    <td>
			                      <span class="td-label">CONT S.S.</span>
			                      $12,00                    
			                    </td>
			                    <td>
			                      <span class="td-label">O.S.</span>
			                      $34
			                    </td>
			                    <td>
			                      <span class="td-label">ART</span>
			                      $130                    
			                    </td>
			                    <td>
			                      <span class="td-label">Adherente</span>
			                      Sin pagos                    
			                    </td>
			                    <td>
			                      <span class="td-label">Fecha pago</span>
			                        09/07/2017
			                    </td>
			                    <td>
			                      <span class="td-label">ESTADO</span>
			                      <strong class="text-success">PAGADO</strong>                    
			                    </td>		                    
		                  	</tr>		                  
		                </tbody>
		            </table>
                  </div>

            </div>

			        <nav class="text-center">
			          <ul class="pagination m-t-0">
			            <li>
			              <a href="#" aria-label="Previous">
			                <span aria-hidden="true">&laquo;</span>
			              </a>
			            </li>
			            <li class="active"><a href="#">1</a></li>
			            <li><a href="#">2</a></li>
			            <li><a href="#">3</a></li>
			            <li><a href="#">4</a></li>
			            <li><a href="#">5</a></li>
			            <li>
			              <a href="#" aria-label="Next">
			                <span aria-hidden="true">&raquo;</span>
			              </a>
			            </li>
			          </ul>
			        </nav> 

        </div> 


		<div class="m-y-2">
            <a href="aportes-pago-adicionales.html" class="btn btn-success m-r-1">PAGAR ADICIONALES</a>
            <a href="" class="btn btn-link">DESCARGAR HISTORIAL PDF</a>
        </div>


      </div>
    </div>
  </div>
</section>

<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.es.min.js"></script>

<script>
$('.date').datepicker({language: 'es'});	
</script>	