<!-- <footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12" style="">
                        <a href="#">Términos y condiciones</a>
                    </div>
                </div>
                <div class="row m-t-2">
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="/proyectos/mi-argentina/v4/img/logo-ssgd.svg">
                    </div>
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Presidencia de la Nación" src="/proyectos/mi-argentina/v4/img/logo-presidencia.svg">
                    </div>
                </div>
                
            </div> 
            
        </div>
    </div>
</footer>-->

<footer class="footerMiArgentina">
  <div class="container-fluid">
    <div class="row sub-footer">
      <div class="container">
        <div class="col-sm-6 m-y-1 p-l-2 footer-center" >
          <img class="image-responsive m-b-2" width="288" height="40" src="{{ "/proyectos/argentina/img/logo_argentina_unida-blanco.svg" | prepend: site.baseurl }}" alt="Argentina Unida">
			
			<p class="small">Los contenidos de Argentina.gob.ar están licenciados bajo <a  href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank" class="footer-link footer-center text-black" rel="noopener noreferrer">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
          <p>Versión: bot.0.32.2</p>
          <p>API Versión: 0.35.10</p>
			
			
			
        </div>
		  
		  <div class="col-sm-6 m-y-2 col-xs-12 footer-link footer-center">
			  
			  <!--
			  
      <a href="https://www.argentina.gob.ar/miargentina/preguntasfrecuentes" target="_blank" class="text-white p-r-2 footer-link footer-center" rel="noopener" title="Link a argentina.gob.ar preguntas frecuentes (abre en una pestaña nueva)">
        1Preguntas frecuentes
      </a>-->
      <a href="https://www.argentina.gob.ar/jefatura/innovacion-publica/gobierno-abierto-y-pais-digital/serviciosdigitales/sistema-nacional-de-turnos" target="_blank" class="footer-link footer-center text-black" rel="noopener noreferrer" title="Link a argentina.gob.ar SNT (abre en una pestaña nueva)">
        Información del sistema
      </a>
			  
			            
			  
			  <!--
			  <p class="small m-t-3 text-white" >Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank" class="text-white footer-link footer-center" rel="noopener noreferrer">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
			  -->
    </div>
		  
      </div>
    </div>
  </div>
</footer>