<div class="jumbotron bg-primary" style="background-image:url('https://www.argentina.gob.ar/sites/default/files/jumbotron-poncho.png');">
  <div class="container">
  

{% if page.title == "Poncho Iconos" or page.title == "Poncho Colores" or page.title == "Poncho Tipografia"  or page.title == "Poncho Presidencia" %}
            
  <div class="col-sm-12">
      <!-- <ol class="breadcrumb">
        <li><a href="/poncho">Inicio</a></li>
        <li><a href="/poncho/identidad/colores">Identidad</a></li>
        <li class="active">Iconos</li>
      </ol> -->

      <div class="jumbotron_body p-t-2 p-b-2">
      <h1>Identidad</h1>
      </div>
  </div>

{% endif %}



{% if page.title == "Poncho Botones" or page.title == "Poncho Paneles"  or page.title == "Poncho Destacados"   or page.title == "Poncho Alertas"  or page.title == "Poncho Desplegables" or page.title == "Poncho Grillas" or page.title == "Poncho Pestanias" or page.title == "Poncho Series"%}
            
  <div class="col-sm-12">
      <!-- <ol class="breadcrumb">
        <li><a href="/poncho">Inicio</a></li>
        <li><a href="">Componentes</a></li>
        <li class="active">Botones</li>
      </ol> -->

      <div class="jumbotron_body p-t-2 p-b-2">
      <h1>Componentes</h1>
      </div>
  </div>
  
{% endif %}

{% if page.title == "Poncho Header y footer" %}
            
  <div class="col-sm-12">
     <!-- <ol class="breadcrumb">
        <li><a href="/poncho">Inicio</a></li>
        <li><a href="">Plantillas</a></li>
        <li class="active">Header y footers</li>
      </ol>-->

      <div class="jumbotron_body p-t-2 p-b-2">
      <h1>Plantillas</h1>
      </div>
  </div>
  
{% endif %}


  </div>
</div>