<style type="text/css">
  .nav-pills li { display: block!important; width: 100%; }
</style>

<div class="col-sm-3" >
  
<div class="page-sidebar">
<ul class="nav nav-pills nav-stacked">

  {% if page.title == "Poncho Iconos" or page.title == "Poncho Colores" or page.title == "Poncho Tipografia"  or page.title == "Poncho Presidencia"%}
  <li><a data-seccion="1" href="../iconos/">Íconos</a></li>
  <li><a data-seccion="2" href="../colores/">Colores</a></li>
  <li><a data-seccion="3" href="../tipografia/">Tipografía</a></li>
  <li><a data-seccion="4" href="../presidencia/">Marca de Presidencia</a></li>
  {% endif %}


  {% if page.title == "Poncho Botones" or page.title == "Poncho Paneles" or page.title == "Poncho Destacados"  or page.title == "Poncho Alertas" or page.title == "Poncho Desplegables" or page.title == "Poncho Grillas" or page.title == "Poncho Pestanias" or page.title == "Poncho Series" %}

  <li><a data-seccion="1" href="../botones/">Botones</a></li>
  <li><a data-seccion="2" href="../paneles/">Paneles</a></li>
  <li><a data-seccion="3" href="../destacados_con_iconos_y_numeros/">Destacados con íconos y números</a></li>
  <li><a data-seccion="4" href="../alertas/">Alertas</a></li>
  <li><a data-seccion="5" href="../desplegables/">Desplegables</a></li>
  <li><a data-seccion="6" href="../grillas/">Grillas</a></li>  
  <li><a data-seccion="7" href="../pestanas/">Pestañas</a></li>
  <li><a data-seccion="8" href="../series_de_tiempo/">Series de tiempo</a></li>

  {% endif %}


  {% if page.title == "Poncho Header y footer" %}

  <li><a data-seccion="1" href="/poncho/plantillas/headers-y-footers/">Headers y footers</a></li>
  <li><a data-seccion="2" href="/poncho/plantillas/paginas-de-argentina/">Páginas de Argentina.gob.ar</a></li>
  <li><a data-seccion="3" href="/poncho/plantillas/login-y-registro/">Login y Registro</a></li>
  <li><a data-seccion="4" href="/poncho/plantillas/formularios/">Formularios</a></li>
  <!-- <li><a data-seccion="5" href="/poncho/plantillas/datos/">Datos</a></li> -->
  <li><a data-seccion="6" href="/poncho/plantillas/tablas/">Tablas</a></li>
  <li><a data-seccion="7" href="/poncho/plantillas/paneles/">Paneles</a></li>
  <li><a data-seccion="8" href="/poncho/plantillas/destacados-sin-enlace/">Destacados sin enlace</a></li>

  {% endif %}

</ul>
</div>

</div>