<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="{{ "/img/argentinagob.svg" | prepend: site.baseurl }}">
        <br>
        <p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
      </div>
      <div class="col-sm-3">
        <ul>
          <li><a href="">Servicios</a></li>
          <li><a href="">Áreas</a></li>
          <li><a href="">País</a></li>
          <li><a href="">Ayuda</a></li>
        </ul>
      </div>
      <div class="col-sm-3">
        <ul>
          <li><a href="">Términos y condiciones</a></li>
          <li><a href="">Transparencia</a></li>
          <li><a href="">Mapa del sitio</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>

<!-- Google Tag Manager -->
<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P68ZXT" height="0" width="0" style="display :none;visibility:hidden"></iframe></noscript>
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src= '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f); })(window,document,'script','dataLayer','GTM-P68ZXT');</script>
<!-- End Google Tag Manager -->
