.sass-cache
#Gemfile.lock
/node_modules/
.jekyll-metadata

# Mac files
.DS_Store

_site
src/_site
src/proyectos/argentina/estatico/tabla-dinamica/Archivo.zip
Gemfile.lock
src/_layouts/blank.html
src/vendor/iconos
src/vendor/poncho
src/vendor/poncho
Gemfile.lock
Gemfile.lock
src/vendor/poncho
src/vendor/iconos
src/proyectos/mi-argentina/css/miargentina.css
src/proyectos/mi-argentina/css/miargentina.css
Gemfile.lock
src/proyectos/mi-argentina/v4/js/steps.js
src/proyectos/mi-argentina/v4/Login-y-registro/login-errores-visibles.html
src/proyectos/mi-argentina/v4/sidebar/actual/cud-planilla.html
src/proyectos/mi-argentina/v4/sidebar/actual/Wizard-cud-steps/cud-wizard-consulta_STEPS.html
src/vendor/poncho
src/vendor/iconos
src/proyectos/mi-argentina/emails/v-4-colores-2018/cud/requisitos-templates/requisitos-cud-junta-turno.html
src/proyectos/mi-argentina/css/miargentina.css
src/_includes/mi-argentina/header-login.html
src/_includes/mi-argentina/header-2-actual.html
src/.jekyll-metadata
src/.jekyll-cache
