.sass-cache
#Gemfile.lock
/node_modules/
.jekyll-metadata

# Mac files
.DS_Store

_site
src/_site
Gemfile.lock
src/vendor/iconos
src/vendor/poncho
src/.jekyll-metadata
src/.jekyll-cache
.bundle
/vendor
