.sass-cache
#Gemfile.lock
/node_modules/
.jekyll-metadata

# Mac files
.DS_Store

_site
src/_site
src/proyectos/argentina/estatico/tabla-dinamica/Archivo.zip
Gemfile.lock
src/_layouts/blank.html
src/vendor/iconos
src/vendor/poncho
src/vendor/poncho
Gemfile.lock
Gemfile.lock
src/vendor/poncho
src/vendor/iconos
