[submodule "src/vendor/poncho"]
	path = src/vendor/poncho
	url = https://github.com/argob/poncho.git
[submodule "src/vendor/iconos"]
	path = src/vendor/iconos
	url = https://github.com/argob/iconos.git
