



/* VERSION JUAN */
p, li, table{
  font-size: 1em;
}
body {
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4, h5 {
  margin: 1.414em 0 0.5em;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2em;
}

h2 {font-size: 1.75em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.25em;}
small, .font_small {font-size: 0.78em;}
/* VERSION JUAN */

