---
layout: mi-argentina
---

<style>
	.fileUploader .state-loading{
		min-height: initial!important;
	}
</style>

<div class="container container-g-licencia">
	<div class="row">
		<aside class="col-md-4">
	      <nav class="page-sidebar m-b-2">
	        <ul class="nav nav-pills nav-stacked">
	          <div class="hidden-xs hidden-sm p-r-3">
	            <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
	            <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
	            <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
	            <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
	            
	            <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
	            <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
	            <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
	            <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
	            <hr class="m-y-1">
	            <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
	            <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
	            <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
	            <hr class="m-y-1">
	            
	            <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
	          </div>
	          <div class="visible-xs visible-sm">
	            <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
	            <div class="collapse" id="collapseExample">
	              <hr class="m-y-1">
	              <div class="row">
	                <div class="col-sm-6">
	                  <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
	                  <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
	                  <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
	                  <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
	                  
	                  <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
	                  <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
	                  <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
	                  <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
	                  <hr class="hidden-sm">
	                </div>
	                <div class="col-sm-6">
	                  <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
	                  <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
	                  <hr class="hidden-sm">
	                  
	                  <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
	                </div>
	              </div>
	            </div>
	          </div>
	        </ul>
	      </nav>
	    </aside>


	    <div class="col-md-8 container-licencia">
		<!--<h3>Panel licencia de conducir</h3>-->
			<div class="panels-row-miargentina panels-row-licencia">
				<div class="panel panel-default panel-nolink panel-licencia panel-border-primary">
		        	<div class="panel-heading hidden-xs">
		        		<div class="row">
		                    <div class="col-md-12">
								<h2 class="pull-left titulo-con-volver">Nombre del formulario</h2>
							</div>
						</div>
					</div>

					<div class="panel-body">
						
						<div class="row">
							<div class="col-sm-12">
								Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam, rerum nobis nesciunt. Nobis nisi facere impedit voluptates error suscipit excepturi esse provident voluptas in harum, atque delectus dolorem dicta laboriosam.
							</div>
						</div>

						<div class="fileUploader">
							<div class="row m-t-2">
								<div class="col-sm-12">
									<input class="btn btn-block btn-link m-t-0" value="Subir documento" type="file" multiple id="fileUploaderBtn">
									<div class="alert alert-info" id="fileUploaderAlert" style="display:none">Agregaste 10 documentos. Para agregar más primero quitar alguna documento.</div>
								</div>
							</div>
							
							<div class="row m-t-1">
								<div class="col-sm-12 fileList"></div>
							</div>

						</div>


					
					</div>

		   		</div>
		   	</div>
		</div>	
	</div>
	
</div>


<script>
$(function(){
	var archivosSubidos = 0;
	var limiteArchivos = 3;
	var limiteAlcanzado = false;

	//AGREGAR ARCHIVO
	$(document).on("change","#fileUploaderBtn", function(){
		var el = $(this);
		el.addClass("state-loading");

			//Se emula la carga del archivo
			setTimeout(function(){
				archivosSubidos++;
				console.log(archivosSubidos);
				nuevoArchivo = '<div class="row"><div class="col-sm-8">Nombre de nuevo archivo.pdf</div><div class="col-sm-4"><button class="btn btn-danger pull-right btn-sm m-t-0">Quitar</button></div></div>';

				el.removeClass("state-loading")
				$(".fileList").append(nuevoArchivo);
				validarCantidad();
			},1000)


		
	})

	//QUITAR ARCHIVO
	$(document).on("click",".fileUploader .btn-danger", function(){
		var el = $(this);
		el.addClass("state-loading");

		
		//Se emula la eliminacion del archivo
		setTimeout(function(){ 
			archivosSubidos--;
			el.removeClass("state-loading")
			el.parent().parent().remove();
			validarCantidad();
		},1000)
	})




	//VALIDACIÓN CANTIDAD
	function validarCantidad(){
		console.log(archivosSubidos + " - " + limiteArchivos);
		if(archivosSubidos < limiteArchivos ){
			limiteAlcanzado = false;
			$("#fileUploaderBtn").show();
			$("#fileUploaderAlert").hide();
		}
		else{
			limiteAlcanzado = true;
			$("#fileUploaderBtn").hide();
			$("#fileUploaderAlert").show();
		}
	}


})	
</script>

