
      <div class="row m-b-2">
   

         <div class="col-md-12">
        <ol class="breadcrumb">
          <li class="active"><a href="bienvenida-admin.html" data-toggle="tooltip" data-placement="bottom" title="Sistema Nacional de Turnos">SNT</a></li>
            {% if page.title == "Trámites | SNT" %}
             <li class="active">Trámites</li>
             {% endif %}

             {% if page.title == "Usuarios habilitados | SNT" %}
             <li class="active">Usuarios Habilitados</li>
             {% endif %}


             {% if page.title == "Tomar turno - Paso 01 | SNT" or page.title == "Tomar turno - Paso 02 | SNT" %}
             <li><a href="bienvenida-admin.html" data-toggle="tooltip" data-placement="bottom" title="Municipalidad de San Isidro">MSI</a>
            </li>
          <li><a href="tramites_admin.html">Trámite</a></li>
          <li class="active">Tomar Turno</li>
             {% endif %}
			
			
  
        </ol>
      </div>

    </div>
    
