      <div class="row mb-3 pb-2 separador">
        <nav aria-label="breadcrumb" class="col-md-12">
        <ol class="breadcrumb">
          <li class="active breadcrumb-item"><a href="bienvenida-admin.html" data-toggle="tooltip" data-placement="bottom" title="Sistema Nacional de Turnos">SNT</a></li>
            {% if page.title == "Trámites | SNT" %}
             <li class="active breadcrumb-item">Trámites</li>
             {% endif %}

             {% if page.title == "Usuarios habilitados | SNT" %}
             <li class="active breadcrumb-item">Usuarios Habilitados</li>
             {% endif %}


             {% if page.title == "Tomar turno - Paso 01 | SNT" or page.title == "Tomar turno - Paso 02 | SNT" %}
             <li><a href="bienvenida-admin.html" data-toggle="tooltip" data-placement="bottom" title="Municipalidad de San Isidro">MSI</a>
            </li>
          <li><a href="tramites_admin.html">Trámite</a></li>
          <li class="active">Tomar Turno</li>
             {% endif %}


              {% if page.title == "Confirmación Turno | SNT" %}
             <li><a href="bienvenida-admin.html" data-toggle="tooltip" data-placement="bottom" title="Municipalidad de San Isidro">MSI</a> </li>
          <li><a href="tramites_admin.html">Trámite</a></li>
          <li class="active"><a href="tomar-turno2.html">Tomar Turno</a></li>
           <li class="active">Confirmar Turno</li>
             {% endif %}
			

      {% if page.title == "Crear usuarios | SNT" %}
      <li class="active  breadcrumb-item"><a href="usuarios_admin.html">Usuarios Habilitados</a></li>
      <li class="active  breadcrumb-item">Crear Usuario</li>
       {% endif %}

        {% if page.title == "Ver usuario | SNT" %}
      <li class="active"><a href="usuarios_admin.html">Usuarios Habilitados</a></li>
      <li class="active">Detalle de Usuario</li>
       {% endif %}

       {% if page.title == "Organismos | SNT" %}
      <li class="active">Organismos</li>
       {% endif %}

       {% if page.title == "Organismo ANSV | SNT" %}
       <li class="active"><a href="organismos_admin.html">Organismos</a></li>
      <li class="active"><span  data-toggle="tooltip" data-placement="bottom" title="Agencia Nacional de Seguridad Vial">ANSV</span> </li>
       {% endif %}
       {% if page.title == "Área ANSV | SNT" %}
       <li ><a href="organismos_admin.html">Organismos</a></li>
      <li><a  href="organismo-ppal-ansv.html" data-toggle="tooltip" data-placement="bottom" title="Agencia Nacional de Seguridad Vial">ANSV</a> </li>
       <li class="active">Áreas</li>
       {% endif %}

       {% if page.title == "Área Docmentacion ANSV | SNT" %}
       <li ><a href="organismos_admin.html">Organismos</a></li>
      <li><a  href="organismo-ppal-ansv.html" data-toggle="tooltip" data-placement="bottom" title="Agencia Nacional de Seguridad Vial">ANSV</a> </li>
       <li href="organismo-ppal-ansv.html">Áreas</li>
       <li class="active">Documentación</li>
       {% endif %}
        </ol>
      </nav>
    </div>