<footer class="footer mt-auto">
  <div class="container-fluid ">
    <div class="row sub-footer mb-0">
      
      <div class="container">
<div class="row col-12 justify-content-center">
    
  <div class="col-10"><hr class="border border-black border-1 opacity-50 text-md-center mb-1"></div>



        <div class="col-md-4 col-10 mb-1" >
  
			<!--<p class="small">Los contenidos de Argentina.gob.ar están licenciados bajo <a  href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank" class="footer-link footer-center text-black" rel="noopener noreferrer">Creative Commons Reconocimiento 2.5 Argentina License</a></p>-->
          <p class="small">Versión: <span class="fw-bold">aus </span> / API Versión: <span class="fw-bold">1.0.0</span></p>
			
			
			
        </div>
		  
		  <div class="col-md-6 col-10 mb-md-1 mt-sm-0 mb-sm-4 text-md-end">
			  
			  <!--
			  
      <a href="https://www.argentina.gob.ar/miargentina/preguntasfrecuentes" target="_blank" class="text-white p-r-2 footer-link footer-center" rel="noopener" title="Link a argentina.gob.ar preguntas frecuentes (abre en una pestaña nueva)">
        1Preguntas frecuentes
      </a>-->
      <a href="https://www.argentina.gob.ar/jefatura/innovacion-publica/gobierno-abierto-y-pais-digital/serviciosdigitales/sistema-nacional-de-turnos" target="_blank" class="text-black small" rel="noopener noreferrer" title="Link a argentina.gob.ar SNT (abre en una pestaña nueva)">
        Información del Sistema Nacional de Turnos <i class="fa fa-external-link ps-1"></i>
      </a>
			  
			            
			  
			  <!--
			  <p class="small m-t-3 text-white" >Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/" target="_blank" class="text-white footer-link footer-center" rel="noopener noreferrer">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
			  -->
    </div>
		  
</div>

      </div>
    </div>
  </div>
</footer>

	

<!-- Bootstrap 5 JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs5/dt-1.12.1/datatables.min.js"></script>