<header class="container-fluid">
    <div class="row">
      <!-- logo y boton mi cuenta -->
      <div class="navbar navbar-top navbar-default nav-header-dashboard bg-celeste-argentina" role="navigation" >
        <div class="container">
          <div class="nav navbar-nav navbar-header">
            <a href="#">
              <img alt="Argentina.gob.ar" title="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/logo_argentina-blanco.svg" | prepend: site.baseurl }}"  class="brand-icon" height="50"  width="254">
             <h1 class="visually-hidden">Presidencia de la Nación</h1> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>