 
<header>




 <nav class="navbar navbar-top navbar-default py-1 border-2 border-bottom">



      <div class="container">
        <div class="col-md-1">


<button class="border-end rounded-0 px-3 border-top-0 border-bottom-0 bg-white " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">

       <!--  <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">-->
          <span class="navbar-toggler-icon"></span><font class="d-flex text-primary fw-semibold" style="font-size:14px;">Menú
</font>
         </button>
       </div>
<div>
                  <a class="navbar-brand   mx-auto text-center" href="index.html" aria-label="Sistema Nacional de turnos000"> <img alt="Sistema Nacional de Turnos" src="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}" height="42" width="254"> </a> 
                   <h1 class="visually-hidden">Sistema Nacional de Turnos</h1> 
		 </div>
		        
		  <div class="dropdown mt-2">
  <a class="btn text-primary btn-link dropdown-toggle mt-0 px-2 py-1 py-sm-2 px-sm-3 btn-Micuenta" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Mi cuenta
  </a>

  <ul class="dropdown-menu dropdown-menu-end py-0 mt-0">

        <li>
                <p class="fw-bold ms-3 mt-3 text-primary">Fernanda Escobar</p>
        </li>
                 <li><hr class="dropdown-divider border-primary border-bottom border-2"></li>





    <li><a class="dropdown-item"  href="#">Administrador/a <i class="fa fa-check-circle-o text-primary"></i></a></li>
    <li><a class="dropdown-item" href="#">Responsable de organismo</a></li>
	  <li><a class="dropdown-item" href="#">Responsable de punto de atención</a></li>
    <li><a class="dropdown-item" href="https://id.argentina.gob.ar/" target="_blank" title="Ir a Mi Argentina ">Ver perfil <i class="fa fa-external-link ps-1"></i></a></li>
	    <li><a class="dropdown-item" href="#">Salir </a></li>
  </ul>
</div>
			  

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header bg-gray">
            <h5 class="offcanvas-title ms-3" id="offcanvasNavbarLabel">Menú</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
         
          </div>
        <div class="offcanvas-body">


            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ms-3">
                 <li class="nav-item">
                <a class="dropdown-item  active" aria-current="page" href="#"> <span class="badge bg-primary">020</span> Administración</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="#"> <span class="badge bg-primary">100</span> Usuarios</a>
              </li>
              <li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="badge bg-primary">000</span>
                  Dropdown
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
            </ul>
          
          </div>
  





 
      </div>
  </nav>
</header>

<style type="text/css">
.nav-item
{
  border-bottom: 1px solid #dbdbdb;
    font-weight: 500;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 16px;
    padding: 12px 0px;
  }


@media (max-width: 420px) {
    .navbar-brand img {
        width:155px;
    }
.btn-Micuenta{
font-size: 14px;
}
}

</style>


<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
