<header class="container-fluid">
    <div class="row">

 <nav class="navbar navbar-top navbar-default py-1 border-2 border-black border-bottom">

  <div class="container">

  
                  <a class="navbar-brand   mx-auto text-center" href="https://qa-back-turnos.argentina.gob.ar/organismos" aria-label="Sistema Nacional de turnos"> <!--<img alt="Sistema Nacional de Turnos" src="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}" height="42" width="254"> -->

                  <picture class="logo-snt">
                  <source media="(max-width: 575px)" srcset="{{ "/proyectos/snt/img/Logo_SNT-02.svg" | prepend: site.baseurl }}"" />
                  <source media="(min-width: 576px)" srcset="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}"" />
                   <img alt="Sistema Nacional de Turnos" src="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}"> 
                  </picture>

                  </a> 
                   <h1 class="visually-hidden">Sistema Nacional de Turnos</h1> 
  
          </div>
  </nav>
</div>
</header>

