

<header>
        <nav class="navbar navbar-top navbar-default">
                <div class=" bg-celeste-argentina" >
                  <div class="container">
                    <div class="navbar-header"> <a class="navbar-brand" href="" aria-label="Argentina.gob.ar Presidencia de la Nación"> <img alt="Argentina.gob.ar" title="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/argentinagob-2.svg" | prepend: site.baseurl }}" height="50" >
            <h1 class="sr-only">Argentina.gob.ar</h1></a> 
						
						<nav class="dropdown nav navbar-right navbar-right-mobile navbar-right-header nav-menu"><button class="btn btn-mi-argentina btn-login visible-xs"   aria-label="Ingresar a mi cuenta" data-toggle="dropdown"><i class="icono-arg-mi-argentina fa-fw"></i></button> 
							<div class="dropdown-menu dropdown-micuenta"   role="dialog" aria-modal=true>
            <ul>
              <li>
                <p>
                  <strong>Juana López</strong>
                </p>
				</li>
              <li class="menu-division">
                <a href="datos-personales.html">Mi perfil</a>
              </li>
		     <li class="menu menu-division">
                <a href="#" class="logout">Cerrar la sesión</a>
              </li>
            </ul>
            <button class="btn btn-link no-border-shadow dropdown-toggle sr-only" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Cerrar menú mi cuenta</span>
              <i class="fa fa-chevron-up text-muted text-center visible-xs" aria-hidden="true"></i>
            </button>
							</div>

          </nav>
							
							
							
							</div>
                    <div class="nav navbar-nav navbar-right hidden-xs">
                        	
                        <div style="float: left">
                           
                        </div>
						
						<nav class="dropdown nav navbar-nav navbar-right navbar-right-mobile navbar-right-header nav-menu">
                       <button class="dropdown-toggle btn btn-mi-argentina hidden-xs bg-white" aria-label="Ingresar a mi cuenta" data-toggle="dropdown"> Mi cuenta <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
						<div class="dropdown-menu dropdown-micuenta"  role="dialog" aria-modal=true>
            <ul>
              <li>
                <p>
                  <strong>Juana López</strong>
                </p>
				</li>
              <li class="menu-division">
                <a href="datos-personales.html">Mi perfil</a>
              </li>
		     <li class="menu menu-division">
                <a href="https://mi.argentina.gob.ar/salir" class="logout">Cerrar la sesión</a>
              </li>
            </ul>
            <button class="btn btn-link no-border-shadow dropdown-toggle sr-only" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Cerrar menú mi cuenta</span>
              <i class="fa fa-chevron-up text-muted text-center visible-xs" aria-hidden="true"></i>
            </button>
							</div></nav>
						
                    </div>
                </div>
                 </div>
    

    
  <nav class="container menu-main m-t-1 m-b-1">
    <ul class="nav nav-pills nav-main">
        <li  role="presentation" class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Administrar <i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu"> 
              <li><a>Organismos</a></li>
              <li><a>Emails no enviados</a></li>
          </ul>
        </li>

        <li  role="presentation" class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Usuarios <i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu"> 
              <li><a>Listado de Usuarios</a></li>
          </ul>
        </li>

        <li  role="presentation" class="dropdown"> 
          <a  href="#" role="button">Ventanillas </a>
        </li>

        <li  role="presentation" class="dropdown"> 
          <a  href="#" role="button">Calendario</a>
        </li>

          <li  role="presentation" class="dropdown"> 
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Clasificación de trámites <i class="fa fa-caret-down"></i></a>
          <ul class="dropdown-menu"> 
              <li><a>Categorías</a></li>
              <li><a>Etiquetas</a></li>
          </ul>
        </li>

         <li  role="presentation" class="dropdown"> 
          <a  href="#" role="button">Turnos</a>
        </li>

    </ul>
  
 
  <hr class="m-t-0 m-b-0">

 </nav>
  </nav>
</header>

<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
