 
<header>




 <nav class="navbar navbar-top navbar-default py-0 border-2 border-black border-bottom">



      <div class="container">
        <div class="col-md-1">


<button class="border-end border-start border-1 rounded-0 pe-2 px-sm-3 border-top-0 border-bottom-0 bg-white border-black tollbar-izq" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">

      
          <span class="navbar-toggler-icon"></span><span class="d-flex text-black fw-semibold">Menú
</span>
         </button>
       </div>
<div>
                  <a class="navbar-brand   mx-auto text-center" href="https://qa-back-turnos.argentina.gob.ar/organismos" aria-label="Sistema Nacional de turnos"> <img alt="Sistema Nacional de Turnos" src="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}" height="42" width="254"> </a> 
                   <h1 class="visually-hidden">Sistema Nacional de Turnos</h1> 
		 </div>
		        
		  <div class="dropdown mt-2">
  <a class="btn text-primary btn-link dropdown-toggle mt-0 px-2 py-1 py-sm-2 px-sm-3 btn-micuenta" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
Mi cuenta
  </a>

  <ul class="dropdown-menu dropdown-menu-end py-0 mt-0 btn-usuario">

        <li>
                <p class="fw-bold ms-3 mt-3 text-primary">Fernanda Escobar</p>
        </li>
                 <li><hr class="dropdown-divider border-primary border-bottom border-2"></li>


  <li><a class="dropdown-item" href="https://id.argentina.gob.ar/" target="_blank" title="Ir a Mi Argentina ">Mi perfil </a></li>


    <li><a class="dropdown-item fw-bold"  href="#">Administrador/a <i class="fa fa-check-circle-o text-primary"></i></a></li>
    <li><a class="dropdown-item" href="#">Responsable de organismo</a></li>
	  <li><a class="dropdown-item" href="#">Responsable de punto de atención nombre de organismo muy largo</a></li>
  
	    <li><a class="dropdown-item" href="#">Salir <i class="fa fa-sign-out ps-1"></i></a></li>
  </ul>
</div>
			  

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header bg-gray">
            <h2 class="offcanvas-title ms-3 h5" id="offcanvasNavbarLabel">Menú</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
         
          </div>
        <div class="offcanvas-body">


            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ms-3">
                 <li class="nav-item">
                <a class="dropdown-item" aria-current="page" href="#"> Inicio</a>
              </li>
                <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html">  Organismos</a>
              </li>
              <li class="nav-item">
                <a class="dropdown-item active" href="usuarios_admin.html"> Usuarios</a>
              </li>
               <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Ventanilla</a>
              </li>
               <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Calendario</a>
              </li>

<li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Trámites  
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                  <li><a class="dropdown-item py-1" href="#">Categorías</a></li>
                  <li><a class="dropdown-item py-1" href="#">Etiquetas</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Turnos</a>
              </li>
             
              <li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Control
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                  <li><a class="dropdown-item py-1" href="#">Email no enviados</a></li>
                  <li><a class="dropdown-item py-1" href="#">Logs</a></li>
                </ul>
              </li>
 <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Recepción</a>
              </li>
             

 <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Ventanilla</a>
              </li>
             
 <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Filas</a>
              </li>
             
 <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Terminal (TOD)</a>
              </li>
             
 <li class="nav-item">
                <a class="dropdown-item" href="usuarios_admin.html"> Informes</a>
              </li>
             
            </ul>
          
          </div>
  





 
      </div>
      </div>
  </nav>

</header>

<style type="text/css">
/*
.nav-item  /// mains.scss --> línea 119
{
  border-bottom: 1px solid #dbdbdb;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 16px;
    padding: 7px 0px;
  }

.nav-item >.dropdown-item
{

    padding: 7px 10px!important;
    font-weight: normal!important;
  
  }



.tollbar-izq{ 
font-size: 14px;}


@media (max-width: 420px) {
    /*.navbar-brand img { main.scss - linea 32 (se modifica el valor)
        width:155px;
    }
.btn-Micuenta{ main.scss - linea 35
font-size: 14px;
}
.tollbar-izq{
  border: 0px!important; 
}
}
*/
</style>


<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
