<header>
        <nav class="navbar navbar-top navbar-default bg-celeste-argentina" role="navigation">
            <div class="container">
                <div>
                    <div class="navbar-header"> <a class="navbar-brand" href="/proyectos/argentina/" aria-label="Argentina.gob.ar Presidencia de la Nación"> <img alt="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/argentinagob-2.svg" | prepend: site.baseurl }}" height="50"> </a> <a class="btn btn-mi-argentina btn-login visible-xs" href="/proyectos/mi-argentina/v3/"><i class="icono-arg-mi-argentina fa-fw"></i></a> <a class="btn bg-white btn-login visible-xs" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span></a>                        </div>
                    <div class="nav navbar-nav navbar-right hidden-xs">
                        <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-mi-argentina visible-xs"> <i class="fa fa-times"></i> </a>
                        <div style="float: left">
                            <div class="input-group">
                                <input id="buscar" type="text" class="form-control input-search" aria-label="Buscar trámites, servicios o áreas" placeholder="Buscar organismo, área o trámite ..." style="border:none!important">
                                <span class="input-group-btn">
              <button class="btn bg-white" type="button" aria-label="Buscar"><i class="fa fa-search text-primary"></i></button>
              </span> </div>
                        </div>
                        <a href="#" class="dropdown-toggle btn btn-mi-argentina hidden-xs bg-white" aria-label="Ingresar a Mi Argentina" data-toggle="dropdown"> miArgentina</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>




<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
