 
<header>
  <nav class="navbar navbar-top navbar-default bg-celeste-argentina py-0" role="navigation">
      <div class="container">
         
                  <a class="navbar-brand  ps-0" href="/proyectos/argentina/" aria-label="Argentina.gob.ar Presidencia de la Nación"> <img alt="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/logo_argentina-blanco.svg" | prepend: site.baseurl }}" height="50"> </a> 
		 
			  
		  <div class="dropdown">
  <a class="btn text-primary btn-link dropdown-toggle mt-0" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
  Fernanda Escobar
  </a>

  <ul class="dropdown-menu dropdown-menu-end">
    <li><a class="dropdown-item"  href="#">Administrador/a <i class="fa fa-check-circle-o text-primary"></i></a></li>
    <li><a class="dropdown-item" href="#">Responsable de organismo</a></li>
	  <li><a class="dropdown-item" href="#">Responsable de punto de atención</a></li>
    <li><a class="dropdown-item" href="https://id.argentina.gob.ar/" target="_blank" title="Ir a Mi Argentina ">Ver perfil <i class="fa fa-external-link ps-1"></i></a></li>
	    <li><a class="dropdown-item" href="#">Salir </a></li>
  </ul>
</div>
			  
 
		  
		  

                  <!--<div>
                   <a class="btn btn-mi-argentina btn-login d-block d-sm-none"
                      href="/proyectos/mi-argentina/v3/">
                      <i class="icono-arg-mi-argentina fa-fw"></i>
                  </a>
                   <a class="btn bg-white btn-login d-block d-sm-none" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span>
                  </a>
            
    
                   
                  </div>
                 
              <div class="nav navbar-nav navbar-right d-none d-sm-block" >

                  <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-mi-argentina d-block d-sm-none"> <i class="fa fa-times"></i> </a>

                  <div class="float-start">
                      <div class="input-group">
                          <input id="buscar" type="text" class="form-control input-search" aria-label="Buscar trámites, servicios o áreas" placeholder="Buscar trámites, servicios o áreas ...">
                          <span class="input-group-btn">
                          <button class="btn bg-white ms-0"  type="button" aria-label="Buscar"><i class="fa fa-search text-primary"></i></button>
                          </span> 
                      </div>
                  </div>
                  <a href="#" class="dropdown-toggle btn btn-mi-argentina d-none d-sm-block bg-white" aria-label="Ingresar a Mi Argentina" data-toggle="dropdown"> miArgentina</a>
              </div>
              -->
      </div>
  </nav>
</header>

<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
