 
<header>



 <nav class="navbar navbar-top navbar-default py-0 border-2 border-black border-bottom">



      <div class="container">
        <div class="col-md-1">


<button class="border-end border-start border-1 rounded-0 pe-2 px-sm-3 border-top-0 border-bottom-0 bg-white border-black tollbar-izq" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">

      
          <span class="navbar-toggler-icon"></span><span class="d-flex text-black fw-semibold">Menú
</span>
         </button>
       </div>
<div class="col-md-6">
                  <a class="navbar-brand" href="inicio" aria-label="Sistema Nacional de turnos"> 
  


                  <picture class="logo-snt">
                  <source media="(max-width: 575px)" srcset="{{ "/proyectos/snt/img/Logo_SNT-02.svg" | prepend: site.baseurl }}"" />
                  <source media="(min-width: 576px)" srcset="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}"" />
                   <img alt="Sistema Nacional de Turnos" src="{{ "/proyectos/snt/img/Logo_SNT-01.svg" | prepend: site.baseurl }}"> 
                  </picture>

                   </a> 





                   <h1 class="visually-hidden">Sistema Nacional de Turnos</h1> 
		 </div>
		        

            <div class="col-5">

<form class="p-2">
          <div class="input-group">
            <label for="buscar" class="align-self-center fw-semibold me-2">Buscar en el sitio:</label>
            <input type="text" id="buscar" class="align-self-center form-control" aria-label="Buscador" placeholder="Ingresar una palabra...">
            <button type="submit" class="btn btn-secondary align-self-center mb-0 border-0"><i class="fa fa-search text-white"></i><span class="visually-hidden">icono buscar</span></button>
          </div>
        </form>
</div>

          <!--    <form class="p-2">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Ingresar una palabra relacionada...">
            <button type="submit" class="btn btn-secondary">Buscar</button>
          </div>
        </form>-->
      </div>
		

			  

        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
          <div class="offcanvas-header bg-gray">
            <h2 class="offcanvas-title ms-3 h5" id="offcanvasNavbarLabel">Menú</h2>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Cerrar"></button>
         
          </div>
        <div class="offcanvas-body">


            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 ms-3">
                 <li class="nav-item">
                <a class="dropdown-item" aria-current="page" href="inicio"> Inicio</a>
              </li>
              

              <li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Identidad
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                    <li><a class="dropdown-item py-1" href="iconos">Íconos</a></li>
                    <li><a class="dropdown-item py-1" href="#">Colores</a></li>
                    <li><a class="dropdown-item py-1" href="#">Tipografía</a></li>
                   <li><a class="dropdown-item py-1" href="#">Marca</a></li>
                </ul>
              </li>
          
          <li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Componentes
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                    <li><a class="dropdown-item py-1" href="#">Botones</a></li>
                    <li><a class="dropdown-item py-1" href="#">Filtros de búsqueda</a></li>
                    <li><a class="dropdown-item py-1" href="#">Alertas</a></li>
                </ul>
              </li>

              <li class=" dropdown nav-item">
                <a class="dropdown-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Plantillas
                </a>
                <ul class="dropdown-menu border-0 box-campania" >
                    <li><a class="dropdown-item py-1" href="#">Header y footer</a></li>
                    <li><a class="dropdown-item py-1" href="#">Formularios</a></li>
                    <li><a class="dropdown-item py-1" href="#">Tablas</a></li>
                </ul>
              </li>
             
             
            </ul>
          
          </div>
  





 
      </div>
      </div>
  </nav>

</header>




<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
