   <a class="snt-title-collapse" data-toggle="collapse" data-parent="#accordion" href="#collapse1">
    <h2 class="snt-panelMenu"><span style="font-weight: 100!important">Organismo</span> Municipalidad de San Isidro <span class=" fa fa-chevron-circle-up"></span></h2>
    </a>
    <div class="panel-pane pane-atajos panel-collapse collapse in"  id="collapse1" style="    padding-top: 22px;
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 19px !important;">
      <div class="pane-content">
        <div class="row panels-row">
          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
              <div class="text-muted">
                <p>Áreas</p>
              </div>
              <h3 class="text-cereza h2">13</h3>
            </div>
            </a></div>


         {% if page.title == "Tomar turno - Paso 01 | SNT" or "Tomar turno - Paso 02 | SNT"%}   
          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-mandarina ">
            <div class="panel-body text-center">
              <div class="text-muted">
                <p>Trámites</p>
              </div>
              <h3 class="text-mandarina h2">47</h3>
            </div>
            </a></div>
            {% else %}
            <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
              <div class="text-muted">
                <p>Trámites</p>
              </div>
              <h3 class="text-cereza h2">47</h3>
            </div>
            </a></div>
            {% else %}
            {% endif %}


          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
              <div class="text-muted">
                <p>Puntos de atención</p>
              </div>
              <h3 class="text-cereza h2">4</h3>
            </div>
            </a></div>
          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
              <div class="text-muted">
                <p>Usuarios habilitados</p>
              </div>
              <h3 class="text-cereza h2">68</h3>
            </div>
            </a></div>
        </div>
      </div>
    </div>