
    
<a  class="snt-title-collapse" data-bs-toggle="collapse" href="#collapseMenu" role="button" aria-expanded="false" aria-controls="collapseMenu"><h2 class="snt-panelMenu"> Sistema Nacional de Turnos <span class=" fa fa-chevron-circle-up"></span></h2></a> 
    
    
     <!-- <div class="panel-pane pane-atajos panel-collapse collapse in p-b-1"  id="collapse1" style="
    border-top: 1px solid rgb(153, 153, 153);
    margin-top: 19px !important;"> -->
    
    
                  
    
    
    
    <div class="panel-pane pane-atajos panel-collapse collapse"  id="collapseMenu" >

      <div class="snt-filtros">
        <div class="">
        <div class="panel-heading collapsed" data-toggle="collapse" data-target="#filtroinfo" aria-expanded="false" aria-controls="filtroinfo"  style="min-height: 52px!important">
          <div class="row justify-content-between align-items-center">
            <div class="col">
                <p>Fecha 20.06.2022</p>
            </div>
              <div class="col text-end">
                <p class="text-right"><button type="button" class="btn btn-default btn-sm btn-tag">Filtrar información</button></p>
              </div>
          
            </div>
          </div>
      <div class="panel-collapse collapse   white" role="tabpanel" id="filtroinfo" aria-expanded="true" >
          <div class="row">
            <div class="col-xs-10 col-md-12">
              Filtros para aplicar<hr>
            </div>
          </div>
        
        </div>
          
          </div>
      </div>


      <div class="pane-content">
        <div class="row panels-row">
        

          
          {% if page.title == "Organismos | SNT" %}
          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="organismos_admin.html" class="panel panel-default panel-border-mandarina ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Organismos</p>
              </div>
              <h3 class="text-mandarina h2">23</h3>
            </div>
            </a></div>

             {% else %}
          <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="organismos_admin.html" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Organismos</p>
              </div>
              <h3 class="text-cereza h2">23</h3>
            </div>
            </a></div>

            {% else %}
                  {% endif %}
      
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Áreas</p>
              </div>
              <h3 class="text-cereza h2">136</h3>
            </div>
            </a></div>
      
      
      {% if page.title == "Trámites | SNT" %}

      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="tramites_admin.html" class="panel panel-default panel-border-mandarina ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Trámites</p>
              </div>
              <h3 class="text-mandarina h2">223</h3>
            </div>
            </a></div>

      {% else %}
       <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="tramites_admin.html" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Trámites</p>
              </div>
              <h3 class="text-cereza h2">223</h3>
            </div>
            </a></div>
      {% else %}
                  {% endif %}
      
      
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Puntos de atención</p>
              </div>
              <h3 class="text-cereza h2">174</h3>
            </div>
            </a></div>
      
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Ventanillas</p>
              </div>
              <h3 class="text-cereza h2">63</h3>
            </div>
            </a></div>
      
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Turnos</p>
              </div>
              <h3 class="text-cereza h2">293</h3>
            </div>
            </a></div>
      
      
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="/desarrollosocial/tarjeta-alimentar" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Personas atendidas</p>
              </div>
              <h3 class="text-cereza h2">3283</h3>
            </div>
            </a></div>
      
	{% if page.title == "Usuarios habilitados | SNT" or page.title == "Crear usuarios | SNT" or page.title == "Ver usuario | SNT" %}
      <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="usuarios_admin.html" class="panel panel-default panel-border-mandarina ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Usuarios habilitadoss</p>
              </div>
              <h3 class="text-mandarina h2">68</h3>
            </div>
            </a></div>

         {% else %}
         <div class="col-xs-6 col-sm-6 col-md-3 panel-snt" id="pastilla-campana-3"> <a href="usuarios_admin.html" class="panel panel-default panel-border-cereza ">
            <div class="panel-body text-center">
        <div class="text-muted">
                <p>Usuarios habilitados</p>
              </div>
              <h3 class="text-cereza h2">68</h3>
            </div>
            </a></div>
          {% else %}
          {% endif %}
         
        </div>
      </div>
    </div>