<header class="container-fluid">
    <div class="row">

 <nav class="navbar navbar-top navbar-default py-1 mt-5 border-2 border-black border-bottom">

  <div class="container">

  <h1 class="text-center col-12 mb-2">
                  <a class="tod-logo  mx-auto text-center mt-5" href="https://qa-back-turnos.argentina.gob.ar/organismos" aria-label="Instituto Nacional de Juventudes"> <img alt="Instituto Nacional de Juventudes" src="{{ "/proyectos/snt/img/logoInjuve.png" | prepend: site.baseurl }}" height="80"> </a> 
  </h1> 
  
          </div>
  </nav>
</div>
</header>
<!--

    <div class="row">
      <div class="navbar navbar-top navbar-default nav-header-dashboard bg-celeste-argentina" role="navigation" >
        <div class="container">
          <div class="nav navbar-nav navbar-header">
            <a href="#">
              <img alt="Argentina.gob.ar" title="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/logo_argentina-blanco.svg" | prepend: site.baseurl }}"  class="brand-icon" height="50"  width="254">
             <h1 class="visually-hidden">Presidencia de la Nación</h1> 
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>-->