.bodyMiArgentina { display: table; }

.footerMiArgentina { display:table-row-group}

.footer-link {text-align: right!important;}

@media screen and (max-width: 800px) {
.footer-link {text-align: left!important;  margin-left: -8px; padding-top: 12px;	}
}

.dropdown-divider {height: 0;margin: 20px 10px 15px 10px;overflow: hidden;border-top: 1px solid #ddd;}

.menu-division {padding: 15px 0px 0px 0px;overflow: hidden;border-top: 1px solid #ddd;margin-top:20px;}
