.bodyMiArgentina { display: table; }

.footerMiArgentina { display:table-row-group}

.footer-link {text-align: right!important;}

@media screen and (max-width: 800px) {
.footer-link {text-align: left!important;  margin-left: -8px; padding-top: 12px;	}
}



