.bodyMiArgentina { display: table; }

.footerMiArgentina { display:table-row-group}

.footer-link {text-align: right!important;}

@media screen and (max-width: 800px) {
.footer-link {text-align: left!important;  margin-left: -8px; padding-top: 12px;	}
}

.dropdown-divider {height: 0;margin: 20px 10px 15px 10px;overflow: hidden;border-top: 1px solid #ddd;}

.menu-division {padding: 15px 0px 0px 0px;overflow: hidden;border-top: 1px solid #ddd;margin-top:20px;}

.modal {
  text-align: center;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-content{
  border:0;
  border-radius: 3px;
}
@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
  .modal-sm {
    width: 335px;
  }
}

.legendMiargentina { min-height: auto!important; border-bottom: 1px solid #ccc }
