/**** NUEVO DASHBOARD*****/

h1.title-dashboard{
  font-size: 1.5em;
}

.max-w-img{
    max-width: 350px;
  }

.brand-icon{
  width: 300px;
}
.icon-init{
  font-size: 21px;
}
.icon-header{
  color: #CACBC5;
}



.navbar-left-mobile, .navbar-left-mobile ul li{
  float: left;
}

.navbar-right-header{
  float: right;
  margin-top: 2em!important;
}
.nav-header-dashboard{
  box-shadow: none;
  border-bottom: 2px #dee2e6 solid;
}
.nav-header-dashboard li:first-child{
  margin-top: -10px;
}

#dashboard-sidebar .panel-sidebar{
  border: 0;
  margin-bottom: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16)!important;
}
.navbar ul li .dropdown-micuenta, .nav .open > a, .navbar ul li .dropdown-notificaciones{
  background-color: #ffffff!important;
}
.navbar-right .dropdown-micuenta{
  right: 3px;
  width: 275px;
  left: initial;
}

.navbar-right .dropdown-micuenta h3{
  margin-top: 20px;
}
.navbar .open > .dropdown-menu{
  border: 1px #dbdbdb solid;
}


#dashboard-sidebar{
    height: 100vh;
    width: 100%;
    min-width: 260px;
    min-height: 100%;
    background-color: white;
    display: block;
    margin-bottom: 0px!important;
}


#dashboard-sidebar ul li > a:hover{
  background: #F4F4F4;
}
 #dashboard-sidebar ul li > a:active{
  background: #E5EAEB;
}
#dashboard-sidebar ul li > a:hover, #dashboard-sidebar ul li > a:active,  #dashboard-sidebar ul li > a.active {
  border-radius: 0px!important;
}
 #dashboard-sidebar ul li.active > a{
  border-left: 5px solid #0072bb;
  background-color: #E5EAEB;
  border-radius: 0px;
  
 }
#dashboard-sidebar ul li.active > a, #dashboard-sidebar ul li.active > a i{
  color: #0072bb!important;
}
#dashboard-sidebar ul li.active > a .media{
  margin-left: -7px;
}
#dashboard-sidebar i{
  text-align: center;
  width: 35px;
  display: inline-block!important;
  color: #CACBC5;
}

#dashboard-sidebar .media-body{
  vertical-align: middle;
}

.dropdown-micuenta, .dropdown-notificaciones{
  top: 50px;
}
.dropdown-micuenta ul, .dropdown-notificaciones ul{
  padding-left: 0px;
}
.dropdown-micuenta li h3,  .dropdown-micuenta li small, .dropdown-notificaciones li h3, .dropdown-notificaciones li h3{
  padding: 12px 15px 0px 15px;
  margin-bottom: 0px;
}
.dropdown-micuenta li h4, .dropdown-notificaciones li h4{
  padding: 5px 15px;
  margin-top: 0px;  
}
.dropdown-micuenta hr, .dropdown-notificaciones hr{
  margin: 20px 10px 15px 10px;
}
.dropdown-micuenta li, .dropdown-notificaciones li{
  list-style-type: none;  
}
.dropdown-micuenta a, .dropdown-notificaciones a{
  border-bottom: 0px!important;
}

.dropdown-micuenta li a, .dropdown-notificaciones li a{
  border-left: 4px transparent solid!important;
  color: #000000!important;
}

.dropdown-micuenta li a:hover, .dropdown-notificaciones li a:hover, .dropdown-notificaciones li a:visited { 
  border-left: 4px #0072bb solid!important;
  color: #ffffff!important;
}
.page-sidebar .nav-pills li>a:visited{
  color: #333;
}
.dropdown-micuenta .media, .dropdown-notificaciones .media{
  width: 240px;
}

.navbar-right .dropdown-notificaciones{
  right: 175px;
}



.nav-dashboard > li{
  float: left!important;
}


.nav-dashboard li img{
  width: 50%;
  min-width: 80px;
  margin: auto;
}
.sidebar{
    min-height: 100%;
    max-width: 320px;
    min-width: 320px;

  }
  .sidebar nav{
    width: 100%;
  }
.dashboard{
  display: flex;
}

.list-group-item:last-child{
  margin-bottom: 10px;
}


/***mobile**/
@media (max-width: 767px){
  .brand-icon{
    width:116px;
  }
  .navbar-header .nav{
    margin-left: -8px!important;
  }
  .navbar-right-header{
    margin-top: 1.3em!important;
  }
  .sidebar{
    padding: 0px;
    width: 100%;
    max-width: 100%!important;
  }
  #dashboard-sidebar{
    background-color: #f2f3f4;
    margin: auto;
    max-width: 100%!important;

  }
  #dashboard-sidebar ul{
    padding: 0px 15px!important;

  }


  .nav-dashboard li{
    margin-top: 0px!important;
  }
  .nav-dashboard li a, .nav-dashboard h1{
    padding: 5px!important;
  }
  
  .nav-dashboard > li > a:hover{
    background-color: initial!important;
  }
  .nav-dashboard li a p{
    font-size: 0.9em;
  }

  .dropdown-micuenta .media-body{
    display: table-cell;
  }
  .notificaciones{
    margin-right: 15px;
  }

  .dropdown-notificaciones{
    float: right;
    left: initial;
    right: 60px!important;
    max-width: 350px;
  }
#dashboard-sidebar ul li.active > a{
  border: 0px;
  margin-left: 0px;
  background-color: #f2f3f4;
}

}
@media (max-width: 560px){
  #dashboard-sidebar p{
    font-size: 0.8em;
  }
  .sidebar{
    max-width: 100%!important;
  }
  #dashboard-sidebar{
    width: 100%;
    max-width: 100%!important;
  }


  .navbar-right .dropdown-micuenta{
    right: 5px;
  }
}

@media (max-width: 358px){
  .nav-dashboard li{
    width: 100%;
  }
}


/******loading***********/
 .loading{
    margin-top: 28%;
  }
@media (orientation: portrait){
  .loading{
    margin-top: 60%;
  }
}

@media (max-width: 768px) and (orientation: portrait){
  .loading{
    margin-top: 50%;
  }
}

@media(orientation: landscape){
  .loading{
    margin-top: 15%;
  }
}


}

/**********ONBOARDING***************/


.onboarding-img{
  width: 300px;
  height: 200px;
  margin: auto;
}
.onboarding-img img{
  margin-top: 10%;
}
.onboarding-control{
  background: rgba(0,0,0,0)!important;
}

.onboarding-content{
  margin-bottom: 50px;
}
.carousel-indicators-onboarding li{
  width: 14px;
  height: 14px;
}
.carousel-indicators-onboarding li.active{
  width: 16px;
  height: 16px;
  border: 1px solid #e5e8eb;
      -webkit-font-smoothing: antialiased;
}
.carousel-indicators-onboarding li{
  border: 2px solid #e5e8eb;
 
}

.carousel-indicators-onboarding li.active{
   background-color: #0072bb;
}

.modal-content-onboarding{
  width: 900px;
  margin-top: 10%;

}

.onboarding-items{
  min-height: 750px;
}
@media (max-width: 998px){
  
  .modal-content-onboarding{
    width: 90%;


  }
  .onboarding-content{
    height: 100%;
    width: 80%;
    margin: auto;
  }

  
}
@media (max-width: 550px){
  .onboarding-img img{
    max-width: 300px;
  }
}

@media (max-width: 400px){
  .onboarding-img img{
    max-width: 220px;
  }
  .modal-content-onboarding{
    min-height: 650px;
    max-height: 650px;
  }
  .onboarding-items{
    min-height: 650px;
    height: 100%;
  }
}

