/**** NUEVO DASHBOARD*****/
<<<<<<< HEAD
h1.title-dashboard{
  font-size: 1.5em;
}
=======
.max-w-img{
    max-width: 350px;
  }
>>>>>>> 50fa6366b6dffd176b0b9a0e2cf91d553f09c297
.brand-icon{
  width: 300px;
}
.icono-dashboard{
  font-size: 21px!important
}


.navbar-left-mobile, .navbar-left-mobile ul li{
  float: left;
}

.navbar-right-header{
  float: right;
  margin-top: 1.3em!important;
}
.nav-header-dashboard{
  box-shadow: none;
  border-bottom: 2px #dee2e6 solid;
}
.nav-header-dashboard li:first-child{
  margin-top: -10px;
}

#dashboard-sidebar .panel-sidebar{
  border: 0;
  margin-bottom: 0px;
  border-radius: 4px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16)!important;
}
.navbar ul li .dropdown-micuenta, .nav .open > a, .navbar ul li .dropdown-notificaciones{
  background-color: #ffffff!important;
}
.navbar-right .dropdown-micuenta{
  right: 3px;
  width: 275px;
  left: initial;
}

.navbar-right .dropdown-micuenta h3{
  margin-top: 20px;
}
.navbar .open > .dropdown-menu{
  border: 1px #dbdbdb solid;
}


#dashboard-sidebar{
    height: 100vh;
    width: 100%;
    min-width: 260px;
    min-height: 100%;
    background-color: white;
    display: block;
    margin-bottom: 0px!important;
}


#dashboard-sidebar ul li > a:hover{
  background: #F4F4F4;
}
 #dashboard-sidebar ul li > a:active{
  background: #E5EAEB;
}
#dashboard-sidebar ul li > a:hover, #dashboard-sidebar ul li > a:active,  #dashboard-sidebar ul li > a.active {
  border-radius: 0px!important;
}
 #dashboard-sidebar ul li.active > a{
  border-left: 5px solid #0072bb;
  background-color: #E5EAEB;
  border-radius: 0px;
  
 }
#dashboard-sidebar ul li.active > a, #dashboard-sidebar ul li.active > a i{
  color: #0072bb!important;
}
#dashboard-sidebar ul li.active > a .media{
  margin-left: -7px;
}
#dashboard-sidebar i{
  text-align: center;
  width: 35px;
  display: inline-block!important;
  color: #CACBC5;
}

#dashboard-sidebar .media-body{
  vertical-align: middle;
}

.dropdown-micuenta, .dropdown-notificaciones{
  top: 50px;
}
.dropdown-micuenta ul, .dropdown-notificaciones ul{
  padding-left: 0px;
}
.dropdown-micuenta li h3,  .dropdown-micuenta li small, .dropdown-notificaciones li h3, .dropdown-notificaciones li h3{
  padding: 12px 15px 0px 15px;
  margin-bottom: 0px;
}
.dropdown-micuenta li h4, .dropdown-notificaciones li h4{
  padding: 5px 15px;
  margin-top: 0px;  
}
.dropdown-micuenta hr, .dropdown-notificaciones hr{
  margin: 20px 10px 15px 10px;
}
.dropdown-micuenta li, .dropdown-notificaciones li{
  list-style-type: none;  
}
.dropdown-micuenta a, .dropdown-notificaciones a{
  border-bottom: 0px!important;
}

.dropdown-micuenta li a, .dropdown-notificaciones li a{
  border-left: 4px transparent solid!important;
  color: #000000!important;
}

.dropdown-micuenta li a:hover, .dropdown-notificaciones li a:hover, .dropdown-notificaciones li a:visited { 
  border-left: 4px #0072bb solid!important;
  color: #0072bb!important;
}
.page-sidebar .nav-pills li>a:visited{
  color: #333;
}
.dropdown-micuenta .media, .dropdown-notificaciones .media{
  width: 240px;
}

.navbar-right .dropdown-notificaciones{
  right: 175px;
}



.nav-dashboard > li{
  float: left!important;
}


.nav-dashboard li img{
  width: 50%;
  min-width: 80px;
  margin: auto;
}
.sidebar{
    min-height: 100%;
    max-width: 320px;
    min-width: 320px;

  }
  .sidebar nav{
    width: 100%;
  }
.dashboard{
  display: flex;
}


@media(max-width: 878px) and (min-width: 768px){
 
  #dashboard-sidebar .media-left{
    padding-right: 0px;
  }
}

/***mobile**/
@media (max-width: 767px){
  .brand-icon{
    width:116px;
  }
 
  .sidebar{
    padding: 0px;
    width: 100%;
    max-width: 100%!important;
  }
  #dashboard-sidebar{
    background-color: #f2f3f4;
    margin: auto;
    max-width: 100%!important;

  }
  #dashboard-sidebar ul{
    padding: 0px 15px!important;

  }


  .nav-dashboard li{
    margin-top: 0px!important;
  }
  .nav-dashboard li a, .nav-dashboard h1{
    padding: 5px!important;
  }
  
  .nav-dashboard > li > a:hover{
    background-color: initial!important;
  }
  .nav-dashboard li a p{
    font-size: 0.9em;
  }
  #dropdown-micuenta, a#dropdown-notificaciones{
    text-decoration: none!important;
  }
  .dropdown-micuenta .media-body{
    display: table-cell;
  }
  .notificaciones{
    margin-right: 15px;
  }

  .dropdown-notificaciones{
    float: right;
    left: initial;
    right: 60px!important;
    max-width: 350px;
  }
#dashboard-sidebar ul li.active > a{
  border: 0px;
  margin-left: 0px;
  background-color: #f2f3f4;
}

}
@media (max-width: 560px){
  #dashboard-sidebar p{
    font-size: 0.8em;
  }
  .sidebar{
    max-width: 100%!important;
  }
  #dashboard-sidebar{
    width: 100%;
    max-width: 100%!important;
  }


  .navbar-right .dropdown-micuenta{
    right: 5px;
  }
}

@media (max-width: 358px){
  .nav-dashboard li{
    width: 100%;
  }
}
