---
title: Reporte | SNT
layout: snt/snt-interior
canonical_url: http://local.argentina.gob.ar:4000/proyectos/snt/v1/
author: "Subsecretaría de Gobierno Abierto y País Digital"
color: "#0072b8"
---


<link rel="stylesheet" href="../css/snt.css">
<section class="box-campania">
  <div class="container pb-3">
  	{% include snt/breadcrumbs.html %}

{% include snt/menu-admin.html %}
</div>
</section>

<section>
  <div class="container">


<div class="row justify-content-between align-items-center title-snt">
      <div class="col-auto"><h2 class="h3 "><a href="reporte_inicio.html" role="button"><span class=" fa fa-chevron-circle-left me-2"></span><span class="visually-hidden">página anterior</span></a><span class="fw-light">Informe </span>/ Turnos solicitados y atendidos</h2></div>
    </div>


	  
  <!--comienzo filtro -->
    <div class="accordion snt-filtros mb-4" id="accordion-snt">
      
      <div class="accordion-item border-primary">
        <h3 class="accordion-header mt-0" id="headingTwo">
          <button class="accordion-button collapsed fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Filtro
          </button>
        </h3>
        <div id="collapseTwo" class="accordion-collapse collapse bg-gray pb-4" aria-labelledby="headingTwo" data-bs-parent="#accordion-snt">
                  <div class="accordion-body">
                    <div class="px-3 pt-2">
                      <div class="col-12">

                  <div class="row g-2">
                              <div class="col-md-4  col-12 px-md-3">
                                  <label for="periodo" class="form-label fw-bold">Período  </label>
                                  <select class="form-select ng-pristine ng-invalid ng-touched" id="periodo">
                                    <option selected="">Seleccioná el período</option>
                                    <option value="0: 1">1 ene 2023 - 30 de junio 2023</option>
                                </select>
                              </div>

                                  <div class="col-md-4 col-12 px-md-3">
                                <label for="area" class="form-label fw-bold">Áreas</label>
                                <select  class="form-select" id="area">  
                                  <option selected="">Todas</option>
                                </select>
                              </div>




                               <div class="col-md-4 col-12  px-md-3">
                              <label for="punto" class="form-label fw-bold">Punto de atención</label>
                            <select class="form-select" id="punto">
                              <option selected="">Todos</option>
                                </select>
                            </div>


                               <div class="col-md-4  col-12  px-md-3">
                              <label for="grupo-tramite" class="form-label fw-bold">Grupos de trámite</label>
                             <select  class="form-select" id="grupo-tramite">
                              <option selected="">Todos</option>
                                </select>
                            </div>


                            


                              <div class="col-md-8 col-12 px-md-3">
                                    <label for="tramite" class="form-label fw-bold">Trámites</label>
                                    <select class="form-select ng-pristine ng-invalid ng-touched" id="tramite">
                                      <option selected="">Seleccioná el trámite por nombre</option>
                                      <option value="1">Todos</option>
                                      <option value="2">Autorizar a un tercero a realizar trámites de la SRT</option>
                                      <option value="3">Consultar sobre un expediente previsional</option>
                                     
                                  </select>
                                </div>


                                <div class="row  mt-4">
                                  <div class="form-group col-12">
                                    <button type="button" class="btn btn-sm btn-default">Limpiar</button>
                                    <a href="reporte_resumen.html" class="btn btn-sm btn-success">Buscar</a>
                                  </div>
                                </div>


                    </div>




             </div>
                   </div>
                  </div>
        </div>
      </div>
      
    </div>
	  

    <!--fin filtro -->
				 

    <div class="row mb-4">
           <div class="col-md-auto col-12 ">
           <label for="tipo-informe" class="form-label fw-bold col-form-label">Tipo de informe:</label>
          </div>
           <div class="col-md-4 col-12 px-md-3">
             <select class="form-select ng-pristine ng-invalid ng-touched"  id="tipo-informe">
                 <option selected="">Seleccioná el tipo de presentación</option>
                 <option value="0: 1">Resumen</option>
                  <option value="0: 1">Cantidad de turnos en el período</option>
                  <option value="0: 1">Cantidad de turnos por mes (almanaque)</option>
                  <option value="0: 1">Turnos solicitados y atendidos</option>
            </select>
            </div>

    </div>


    <div class="row border-top border-3 box-campania">

      <div class="col-md-auto col-12"><span class="fw-bold">Período:</span> 01.01.23 a 30.06.23</div>
      <div class="col-md-auto col-12"><span class="fw-bold">Áreas:</span> 2</div>
      <div class="col-md-auto col-12"><span class="fw-bold">Punto de atención:</span> Todos</div>
      <div class="col-md-auto col-12"><span class="fw-bold">Grupo de trámite:</span>  Todos</div>
       <div class="col-md-auto col-12"><span class="fw-bold">Trámites:</span>  Todos</div>

    </div>

</div>
</section>






<section>

 <div class="container">

      <h3 class="h4 mb-2">Listado de turnos solicitados y atendidos</h3>
                    
</div>

<div class="container-fluid bg-gray py-3">
<!--glosario-->
            <div class="container">
                    <div class="text-end my-2">Glosario 
          <button type="button" class="border-0 m-0 btn btn-md p-0 btn-ayuda"  
            data-bs-toggle="modal" data-bs-target="#myModal"><i class="fa fa-question-circle me-0 text-info " title="Glosario"><span class="visually-hidden">Glosario</span></i>  </button>

            <!-- The Modal -->
          <div class="modal fade" id="myModal">
          <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">

              <div class="modal-content">

                <!-- Modal Header --> 
                <div class="modal-header">
                  <h4 class="modal-title h5"> <i class="fa fa-question-circle me-0 text-info" title="Ayuda"></i> Glosario</h4>
                  <button type="button" class="btn-close" data-bs-dismiss="modal"><span class="visually-hidden">cerrar</span></button>
                </div>

                <!-- Modal body -->
                <div class="modal-body fw-normal text-start">
          <h3 class="h5">Métricas</h3>

          <p><strong>Turnos solicitados en la fecha:</strong> Se predetermina un período que incluye los últimos 30 días, pero podrá seleccionar la/s fecha/s deseadas.</p>

          <p><strong>Turnos solicitados para la fecha:</strong> Cantidad de turnos que se solicitaron para las fechas incluidas en el filtro seleccionado. Se incluye los que fueron cancelados.</p>

          <p><strong>Turnos cancelados:</strong> Cantidad de turnos solicitados, que se cancelaron en las fechas incluidas en el filtro seleccionado.</p>

          <p><strong>Turnos efectivos:</strong>Cantidad de turnos a atender en las fechas incluidas en el filtro seleccionado. Se calcula como: solicitados, cancelados y pendientes.</p>


          <p><strong>Turnos ausentes:</strong>Cantidad de turnos solicitados para las fechas incluidas en el filtro, que no se atendieron (no fueron recepcionados en el punto de atención).</p>
          <p><strong>Turnos pendientes:</strong> Cantidad de turnos solicitados, que corresponden a una fecha futura a hoy.  Están a la espera de que llegue el día correspondiente. Se excluyen los cancelados. </p>
          <p><strong>Turnos atendidos:</strong>Cantidad de turnos que fueron atendidos durante las fechas seleccionadas en el filtro (fueron recepcionados en el punto de atención).</p>
          <p><strong>Turnos completados: </strong>Cantidad de turnos que fueron recepcionados durante las fechas seleccionadas en el filtro y fueron cerrados con el motivo "Trámite incompleto".</p>
          <p><strong>Turnos incompletos: </strong> Cantidad de turnos que fueron recepcionados durante las fechas seleccionadas en el filtro y fueron cerrados con el motivo "Trámite incompleto".</p>
          <p><strong>Turnos no atendidos: </strong>Cantidad de turnos que fueron recepcionados durante las fechas seleccionadas en el filtro y fueron cerrados con el motivo "No atendido".</p>

          <p><strong>Tiempo de atención:</strong> Intervalo transcurrido en minutos desde la recepción en el punto de atención en las fechas seleccionadas en el filtro, hasta que concluye el trámite y se cierra el turno.</p>
          <p><strong>% de ausentismo: </strong>% de turnos que fueron solicitados para atenderse durante las fechas incluidas en el filtro, pero no fueron recpecionados en el punto de atención.</p>


             </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger btn-sm" data-bs-dismiss="modal">Cerrar</button>
                </div>

              </div>
            </div>
          </div>




          </div>

    


                
              </div>

        <!--fin glosario-->

  <div class="container">
  <div class="row">
  
        <div class="col-md-6  col-12 px-md-3">
              <label for="nombretramite" class="form-label">Buscar por nombre de trámite</label>
                <select class="form-select ng-pristine ng-invalid ng-touched" id="nombretramite">
                      <option selected="">Todos</option>
                        <option value="0: 1">Nombre de trámite 1</option>
                </select>
            </div>

          <div class="col-md-6  col-12 px-md-3">
              <label for="tipoturno" class="form-label">Tipo de turno</label>
                <select class="form-select ng-pristine ng-invalid ng-touched" id="tipoturno">
                      <option selected="">Todos</option>
                        <option value="0: 1">Turnos solicitados</option>
                </select>
            </div>


</div>

</div>
</div>


<div class="container">

  <h4 class="h5 mt-5 ">Turnos solicitados: 434</h4>
<table class="mt-3 table table-responsive-poncho table-hover">
  <thead>
    <tr>
    <th>Nombre del trámite</th> 
    <th class="text-end">Turnos solicitados</th> 
   </tr>
 </thead> 
 <tbody>
  <tr><td>Iniciar tramite para solicitar el reingreso a tratamiento
</td>
    <td class="text-end">59</td>
  </tr>
   <tr><td>Iniciar tramite por el Rechazo de una Contingencia</td>
    <td class="text-end">59</td>
  </tr>
   <tr><td>          Divergencia en la determinacion de la Incapacidad
</td>
    <td class="text-end">59</td>
  </tr>
   <tr><td>Autorizar a un tercero a realizar trámites en la SRT</td>
    <td class="text-end">59</td>
  </tr>

 <tr><td class="fw-bold border-3 border-top">TOTAL</td>
    <td class="text-end border-3 border-top fw-bold">000</td>
  </tr>


</tbody>
</table>



</div>



</section>







<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.18/r-2.2.2/datatables.min.js"></script>


<script>
	var elements = [document.getElementById('address_state'), document.getElementById('department'), document.getElementById('location')];
	var elements

	document.getElementById('country').addEventListener('change', function(){
		elements.forEach(element => {
		
		
			if(document.getElementById('country').value !== "ARG"){
				element.disabled = true;
				element.value = '';
			}else{
				element.disabled = false;
				
				element.value = element.firstElementChild.value
				/*console.log(elementOption[0].value)

				for(var i; i < elementOption.length; i++){
					element.value = elementChild.value
				}
				elementOption.children.forEach(elementChild => {
					element.value = elementChild.value
				})*/
				
			}
		})
	})


	
	
	
</script>
<script>
	$(document).ready(function () {
     $('.collapse')
         .on('shown.bs.collapse', function() {
             $(this)
                 .parent()
                 .find(".fa-chevron-circle-down")
                 .removeClass("fa-chevron-circle-down")
                 .addClass("fa-chevron-circle-up");
             })
         .on('hidden.bs.collapse', function() {
             $(this)
                 .parent()
                 .find(".fa-chevron-circle-up")
                 .removeClass("fa-chevron-circle-up")
                 .addClass("fa-chevron-circle-down");
             });
         });
	
	</script>

<script>
  $(function(){

    var tabla =  $(".dataTables").DataTable({
          "lengthChange": false,
          "autoWidth" : false,
          "bFilter" : false,
          "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                 "<'row'<'col-sm-12'i>>" +
                 "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-md-6 text-center'p>>",
           "language": {
              "sProcessing": "Procesando...",
              "sLengthMenu": "Mostrar _MENU_ registros",
              "sZeroRecords": "No se encontraron resultados",
              "sEmptyTable": "Ningún dato disponible en esta tabla",
              "sInfo": "",
              "sInfoEmpty": "No hay resultados",
              //"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sInfoFiltered": "",
              "sInfoPostFix": "",
              "sSearch": "Buscar:",
              "sUrl": "",
              "sInfoThousands": ",",
              "sLoadingRecords": "Cargando...",

              "oPaginate": {
                  "sFirst": "<<",
                  "sLast": ">>",
                  "sNext": ">",
                  "sPrevious": "<"
              },
              "oAria": {
                  "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                  "paginate": {
                      "first": 'Ir a la primera página',
                      "previous": 'Ir a la página anterior',
                      "next": 'Ir a la página siguiente',
                      "last": 'Ir a la última página'
                  }
              }
          }
      });
    var oTable = $('#tableFiltro').DataTable({
          "lengthChange": false,
          "autoWidth" : false,
          "bFilter" : true,
          "dom": "<'row'<'col-sm-6'l><'col-sm-6'f>>" +
                 "<'row'<'col-sm-12'i>>" +
                 "<'row'<'col-sm-12'tr>>" +
                 "<'row'<'col-md-6 text-center'p>>",
           "language": {
              "sProcessing": "Procesando...",
              "sLengthMenu": "Mostrar _MENU_ registros",
              "sZeroRecords": "No se encontraron resultados",
              "sEmptyTable": "Ningún dato disponible en esta tabla",
              "sInfo": "_TOTAL_ resultados",
              "sInfoEmpty": "No hay resultados",
              //"sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
              "sInfoFiltered": "",
              "sInfoPostFix": "",
              "sSearch": "Buscar:",
              "sUrl": "",
              "sInfoThousands": ",",
              "sLoadingRecords": "Cargando...",

              "oPaginate": {
                  "sFirst": "<<",
                  "sLast": ">>",
                  "sNext": ">",
                  "sPrevious": "<"
              },
              "oAria": {
                  "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                  "sSortDescending": ": Activar para ordenar la columna de manera descendente",
                  "paginate": {
                      "first": 'Ir a la primera página',
                      "previous": 'Ir a la página anterior',
                      "next": 'Ir a la página siguiente',
                      "last": 'Ir a la última página'
                  }
              }
          }
      });
    $("#tableFiltro_filter").addClass("hidden");
          $('#ponchoTableSearch').keyup(function(){
            oTable.search($(this).val()).draw() ;
          })

  });



</script>
  <script src="js/bootstrap.bundle.min.js"></script>
  <script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl)
    })
  </script>



<script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        })
    </script>