---
layout: afip_casas_particulares
---

{% include afip/usuario_casas_particulares.html hijo="Inicio" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include afip/menu_casas_particulares.html active="inicio" %}

      </aside>
      <div class="col-md-8">
      <h1 class="sr-only">Inicio</h1>

	  <div class="p-a-2">
          <p class="text-center lead m-b-0">Ya anulaste el alta </p>
          <p class="text-center m-t-2">
            <a href="" class="btn btn-primary m-r-1">Descargar comprobante de anulación</a>
          </p>
      </div>


      </div>
    </div>
  </div>
</section>
