---
layout: mi-argentina
---

<div class="container">
	
	<div class="col-md-8">

		<!--ALERT INFO-->
		<h3>Alerta info</h3>
		<div class="alert alert-info panel-border-primary">
			<h4>Sacá turnos en línea para vacunarte contra</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
		</div>
		<h3>Alerta info close</h3>
		<div class="alert alert-info panel-border-primary pclose">
			<div class="row">
				<div class="col-xs-10 col-md-11">
					<h4>Sacá turnos en línea para vacunarte contra</h4>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="text-right btn-close">
						<i class="fa fa-close"></i>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
				</div>
			</div>
		</div>
		<h3>Alerta info icono</h3>
		<div class="alert alert-info panel-border-primary">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-user-circle-o fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	          	</div>
        	</div>
		</div>
		<h3>Alerta info botón</h3>
	    <div class="alert alert-info panel-border-primary">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-primary">Guardar</a>
	    </div>
		<h3>Alerta info botón sm</h3>
		<div class="alert alert-info panel-border-primary">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-sm btn-primary">Guardar</a>
	    </div>

		<h3>Alerta info icono/botón</h3>
		<div class="alert alert-info panel-border-primary">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-user-circle-o fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-primary">Guardar</a>
	          	</div>
        	</div>
		</div>
		<h3>Alerta info icono/botón sm</h3>
		<div class="alert alert-info panel-border-primary">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-user-circle-o fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-sm btn-primary">Guardar</a>
	          	</div>
        	</div>
		</div>

		

		<!--ALERT SUCCESS-->
		<h3>Alerta success</h3>
		<div class="alert alert-success panel-border-success">
			<h4>Sacá turnos en línea para vacunarte contra</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
		</div>
		<h3>Alerta success close</h3>
		<div class="alert alert-success panel-border-success pclose">
			<div class="row">
				<div class="col-xs-10 col-md-11">
					<h4>Sacá turnos en línea para vacunarte contra</h4>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="text-right btn-close">
						<i class="fa fa-close"></i>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
				</div>
			</div>
		</div>
		<h3>Alerta success icono</h3>
		<div class="alert alert-success panel-border-success">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-check fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	          	</div>
        	</div>
		</div>

		<h3>Alerta success botón</h3>
	    <div class="alert alert-success panel-border-success">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-success">Guardar</a>
	    </div>
		<h3>Alerta success botón sm</h3>
		<div class="alert alert-success panel-border-success">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-sm btn-success">Guardar</a>
	    </div>

		<h3>Alerta success icono/botón</h3>
		<div class="alert alert-success panel-border-success">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-user-circle-o fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-success">Guardar</a>
	          	</div>
        	</div>
		</div>
		<h3>Alerta success icono/botón sm</h3>
		<div class="alert alert-success panel-border-success">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-user-circle-o fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-sm btn-success">Guardar</a>
	          	</div>
        	</div>
		</div>

		<!--ALERT WARNING-->

		<h3>Alerta warning</h3>
		<div class="alert alert-warning panel-border-warning">
			<h4>Sacá turnos en línea para vacunarte contra</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
		</div>
		<h3>Alerta warning close</h3>
		<div class="alert alert-warning panel-border-warning pclose">
			<div class="row">
				<div class="col-xs-10 col-md-11">
					<h4>Sacá turnos en línea para vacunarte contra</h4>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="text-right btn-close">
						<i class="fa fa-close"></i>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
				</div>
			</div>
		</div>
		<h3>Alerta warning icono</h3>
		<div class="alert alert-warning panel-border-warning">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-arrow-circle-o-right fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	          	</div>
        	</div>
		</div>

		<h3>Alerta warning botón</h3>
	    <div class="alert alert-warning panel-border-warning">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-warning">Guardar</a>
	    </div>
		<h3>Alerta warning botón sm</h3>
		<div class="alert alert-warning panel-border-warning">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-sm btn-warning">Guardar</a>
	    </div>

		<h3>Alerta warning icono/botón</h3>
		<div class="alert alert-warning panel-border-warning">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-arrow-circle-o-right fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-warning">Guardar</a>
	          	</div>
        	</div>
		</div>
		<h3>Alerta warning icono/botón sm</h3>
		<div class="alert alert-warning panel-border-warning">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-arrow-circle-o-right fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-sm btn-warning">Guardar</a>
	          	</div>
        	</div>
		</div>

		<!--ALERT DANGER-->

		<h3>Alerta danger</h3>
		<div class="alert alert-danger panel-border-danger">
			<h4>Sacá turnos en línea para vacunarte contra</h4>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
		</div>
		<h3>Alerta danger close</h3>
		<div class="alert alert-danger panel-border-danger pclose">
			<div class="row">
				<div class="col-xs-10 col-md-11">
					<h4>Sacá turnos en línea para vacunarte contra</h4>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="text-right btn-close">
						<i class="fa fa-close"></i>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
				</div>
			</div>
		</div>
		<h3>Alerta danger icono</h3>
		<div class="alert alert-danger panel-border-danger">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-exclamation-triangle fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	          	</div>
        	</div>
		</div>

		<h3>Alerta danger botón</h3>
	    <div class="alert alert-danger panel-border-danger">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-danger">Guardar</a>
	    </div>
		<h3>Alerta danger botón sm</h3>
		<div class="alert alert-danger panel-border-danger">
			<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	    	<a href="" class="btn btn-sm btn-danger">Guardar</a>
	    </div>

		<h3>Alerta danger icono/botón</h3>
		<div class="alert alert-danger panel-border-danger">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-exclamation-triangle fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-danger">Guardar</a>
	          	</div>
        	</div>
		</div>
		<h3>Alerta danger icono/botón sm</h3>
		<div class="alert alert-danger panel-border-danger">
			<div class="media">
	        	<div class="media-left">
	          		<i class="fa fa-exclamation-triangle fa-fw fa-4x"></i>
	        	</div>
	          	<div class="media-body">
	            	<p>El correo electrónico fue enviado a la cuenta <b>ejemplo@gmail.com</b><br>Por favor revisá tu casilla para completar el proceso.</p>
	            	<a href="" class="btn btn-sm btn-danger">Guardar</a>
	          	</div>
        	</div>
		</div>

		
		
	</div>
</div>
<script src="../../js/alert-close.js"></script>

<script src="../../js/alert-collapse.js"></script>