---
layout: mi-argentina
---

<div class="container">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<div class="alert alert-info panel-border-primary pclose">
			<div class="row">
				<div class="col-xs-10 col-md-11">
					<h2>Sacá turnos en línea para vacunarte contra</h2>
				</div>
				<div class="col-xs-2 col-md-1">
					<div class="text-right btn-close">
						<i class="fa fa-close"></i>
					</div>
				</div>
				<div class="col-xs-12">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
				</div>
			</div>
		</div>
		<div class="alert alert-info panel-border-primary">
			<h2>Sacá turnos en línea para vacunarte contra</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nulla neque adipisci magni, sequi! Dolores voluptatibus tenetur, aut repellendus voluptate! Inventore sapiente a maxime eaque ad tenetur impedit, iure, quis beatae.</p>
		</div>
	</div>
</div>
<script src="../../js/alert-close.js"></script>

<script src="../../js/alert-collapse.js"></script>