---
layout: argentina
---

<section class="jumbotron" style="background-image: url('/sites/default/files/portada.png');">
  <div class="jumbotron_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="/">Argentina</a></li>
            <li><a href="/justiciacerca">Justicia cerca</a></li>
            <li class="active"><span>Tengo celular</span></li>
          </ol>          
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3 class="h4">Justicia cerca</h3>
          <h2>Tengo celular</h2>
          <p>Si vas a comprar un celular o ya tenés uno, conocé cuáles son tus derechos como usuario y las obligaciones de la empresa telefónica.</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive" alt="" src="/sites/default/files/vinetas_justicia_cerca._06_tengo_celular.png">
        </div>
      </div>
       <a href="/justiciacerca" class="btn btn-primary">Ver todos los temas de Justicia Cerca</a>       
    </div>
  </div>
</section>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-8">
        <article>
          <div class="row">
            <div class="col-md-12">
                <h2 class="h3 section-title">Lo que tenés que saber</h2>
            </div>
          </div>
          <div class="row">

            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Qué información tiene que darme la empresa de telefonía cuando voy a comprar un celular?" slug="tengocelular" index="1" contenido='
                <p class="text-muted">La empresa de telefonía tiene que informarte sobre:</p>
                <ul>
                  <li>Las características del celular.</li>
                  <li>Las condiciones de compra.</li>
                  <li>Precio del producto.</li>
                </ul>
                <p class="text-muted">Toda la información debe ser clara.</p>

                 <p class="text-muted"><a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 24.240 de Defensa del Consumidor Arts. 4 y 6.</a> </p>

              ' %}
             
            </div>
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Pueden cobrarme por la información que pido cuando voy a comprar un celular?" slug="tengocelular" index="2" contenido='
                <p class="text-muted"> No. La empresa está obligada a darte información sobre el equipo en forma gratuita. </p>

                 <p class="text-muted"><a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 24.240 de Defensa del Consumidor Art. 4. </a> </p>
              ' %}
              
            </div>
            <div class="col-md-12">


              {% include argentina/jc_tarjeta.html titulo="Si compro un celular nuevo, ¿tiene garantía?" slug="tengocelular" index="3" contenido='
                  <p class="text-muted">  Sí. El celular nuevo que comprás tiene una garantía de 6 meses desde que te lo entregan.</p> 

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 24.240 de Defensa del Consumidor Art. 11.</a> </p>
              ' %}

            </div>
              <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Si compro un celular usado  ¿tiene garantía?" slug="tengocelular" index="4" contenido='
                <p class="text-muted"> Sí. El celular usado tiene una garantía de 3 meses desde que te lo entregan.</p>   
                <p class="text-muted"><a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank"> Ley 24.240 de Defensa del Consumidor art. 11 </a> </p>

                                
              ' %}


            </div>

              <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Cómo sé si mi celular tiene garantía?" slug="tengocelular" index="5" contenido='
                  <p class="text-muted">El certificado de garantía te lo tienen que entregar junto con el celular. Este certificado incluye:</p>

                <ul>
                  <li>Identificación del celular con sus características técnicas.</li>
                  <li>Identificación del vendedor, fabricante o distribuidor.</li>
                  <li>Tiempo de la garantía.</li>
                  <li>Condiciones de uso y mantenimiento del celular.</li>
                  <li>Condiciones de reparación del celular.</li>
                  <li>Lugar donde se hará la reparación.</li>
                </ul>            
                
                  <p class="text-muted">El certificado tiene que estar redactado en español, en forma clara y con letra que se pueda leer con facilidad.</p>                      

                  <p class="text-muted"><a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank"> Ley 24.240 de Defensa del Consumidor  Art. 14.</a> </p>
              ' %}

            </div>          
          
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="El lugar de reparación de mi celular está muy lejos ¿tengo que pagar su traslado?" slug="tengocelular" index="6" contenido='
                  <p class="text-muted">No, la empresa responsable de la garantía debe pagar el costo del traslado.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1
" target="_blank"> Ley 24.240 de Defensa del Consumidor Art. 11. </a> </p>
              ' %}

            </div>

             <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Vence mi garantía si la reparación de mi celular demora mucho tiempo?" slug="tengocelular" index="7" contenido='
                  <p class="text-muted">No, el plazo de garantía se extiende durante el tiempo de reparación de tu celular. </p>

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1"  target="_blank">Ley 24.240 de Defensa del Consumidor Art. 16.</a> </p>


              ' %}

            </div>
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="El celular fue a reparación pero sigue sin funcionar bien ¿puedo hacer algo?" slug="tengocelular" index="8" contenido='
                  <p class="text-muted"> Sí, cuando después de la reparación tu celular no funciona bien tenés 3 opciones: </p>
                <ul>
                  <li>Cambiar tu celular por otro idéntico.</li>
                  <li>Entregar el celular y pedir que te devuelvan el dinero.</li>
                  <li>Pedir que te hagan un descuento en el precio que pagaste.</li>
                </ul>                  

                  <p> <a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 24.240 de Defensa del Consumidor Art.17.</a> </p>

                 
              ' %}

            </div>
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Como consumidor ¿qué información tiene que darme la empresa de telefonía celular? " slug="tengocelular" index="9" contenido='
                  <p class="text-muted">   La empresa de telefonía tiene que informarte sobre:  </p>

                <ul>
                  <li>El precio del abono de tu plan.</li>
                  <li>El precio de la llamada local.</li>
                  <li>El precio de la llamada de larga distancia nacional.</li>
                  <li>El precio de la llamada de larga distancia internacional.</li>
                  <li>El precio del SMS (mensaje de texto) dentro y fuera de tu plan.</li>
                  <li>El precio del MMS (mensaje multimedia) dentro y fuera de tu plan y dentro y fuera de la red de tu empresa.</li>
                  <li>El precio de acceso a internet por hora, día, semana y mes dentro y fuera de tu plan.</li>
                </ul>  



                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank"> Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 1.</a> </p>


              ' %}

            </div>              

            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Tengo derecho a conocer cuáles son las características de mi plan de telefonía celular?" slug="tengocelular" index="10" contenido='
                  <p class="text-muted"> Si, la empresa de telefonía tiene la obligación de especificar: </p>
                <ul>
                  <li>Los cargos del plan.</li>
                  <li>Los servicios del plan.</li>
                  <li>Las bonificaciones del plan y sus condiciones.</li>
                  <li>Los gastos administrativos o cargos adicionales.</li>
                </ul>   

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1
" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 1.</a> </p>

              ' %}

            </div> 
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Las empresas de telefonía celular están obligadas a dar información sobre las promociones que tienen?" slug="tengocelular" index="11" contenido='
                  <p class="text-muted">Si, la empresa de telefonía tiene la obligación de dar información clara y exacta sobre las promociones.</p>


                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones Art. 1</a> </p>

              ' %}

            </div>            
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Cómo me informo sobre los precios y bonificaciones de mi plan de telefonía celular?" slug="tengocelular" index="12" contenido='
                  <p class="text-muted">  Podés conocer la información de tu plan mediante: </p>
                <ul>
                  <li>el sitio web de la empresa de telefonía.</li>
                  <li>un correo electrónico.</li>
                  <li>un teléfono gratuito.</li>
                  <li>tu factura (en papel o formato electrónico).</li>
                </ul>   


                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1
" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 4.</a> </p>

              ' %}

            </div>   
               <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="¿Las empresas de telefonía celular tienen la obligación de informarme cuáles fueron los consumos de mi plan?" slug="tengocelular" index="13" contenido='
                  <p class="text-muted">  Si, la empresa de telefonía tiene la obligación de informarte sobre:</p>

                <ul>
                  <li>El detalle de las llamadas que hiciste, indicando su destino y duración.</li>
                  <li>El detalle de los SMS (mensajes de texto) y MMS (mensajes multimedia) que enviaste.</li>
                  <li>La cantidad de datos que consumiste o accesos al servicio de internet.</li>
                </ul>   

                  <p class="text-muted">Esta información debe incluir los gastos por impuestos y el cargo de cada uno de estos servicios.</p>

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 2 y 3.</a> </p>
                 
              ' %}

            </div>                   


            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Pregunta: ¿La empresa de telefonía celular tiene que informarme sobre los consumos que hago con mi teléfono?" slug="tengocelular" index="14" contenido='
                  <p class="text-muted">  Sí.  La empresa de telefonía celular tiene que informarte sobre tus consumos mediante:</p>
                <ul>
                  <li>el sitio web de la empresa de telefonía.</li>
                  <li>un correo electrónico.</li>
                  <li>un teléfono gratuito.</li>
                </ul>                    
                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 5.</a> </p>

              ' %}

            </div>  
             <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Tengo un celular con abono mensual ¿cómo sé cuándo empieza el período de facturación?" slug="tengocelular" index="15" contenido='
                  <p class="text-muted">La empresa de telefonía tiene la obligación de enviarte un mensaje de texto (SMS) cuando empieza tu período mensual de facturación. </p>
                  <p class="text-muted">Este mensaje debe incluir:</p>                  
                  <ul>
                    <li>El precio de tu abono.</li>
                    <li>El precio de los primeros 30 segundos de la llamada local y de los segundos restantes dentro de tu plan.</li>
                    <li>El precio del SMS (mensaje de texto) dentro de tu plan.</li>
                    <li>El precio de acceso a internet por hora, día, semana y mes dentro de tu plan.</li>
                  </ul>                  
                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 6.  </a> </p>

              ' %}

            </div>     

             

            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Tengo un celular con plan de tarjeta prepaga ¿puedo saber cuándo se acredita mí recarga de crédito?"  slug="tengocelular" index="16" contenido='
                  <p class="text-muted">  Si, la empresa de telefonía tiene la obligación de enviarte un mensaje de texto (SMS) cada vez que recargues tu crédito.  </p>
                  <p class="text-muted">Este mensaje debe indicar:</p>                  
                  <ul>
                    <li>El precio de tu abono.</li>
                    <li>El precio de los primeros 30 segundos de la llamada local y de los segundos restantes dentro de tu plan.</li>
                    <li>El precio del SMS (mensaje de texto) dentro de tu plan.</li>
                    <li>El precio de acceso a internet por hora, día, semana y mes dentro de tu plan.</li>
                  </ul>                  


                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28id-infojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Art. 6.   </a> </p>
              
              ' %}

            </div> 
            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Tengo un celular con abono mensual ¿tengo que pagar mi abono aunque no use mi celular en todo el mes?" slug="tengocelular" index="17" contenido='
                  <p class="text-muted"> Si, estás obligado a pagar tu abono porque tuviste disponible el servicio de tu celular.</p>

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-obligaciones-empresas-prestadoras-servicios-comunicaciones-moviles-sus-usuarios-nv8000-2014-06-06/123456789-0abc-d00-08ti-lpssedadevon?q=%28idinfojus%3ANV8000%29%20&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Resolución 29/14 de la Secretaría de Comercio y la Secretaria de Comunicaciones, Anexo. </a> </p>
              ' %}

            </div>  

            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Si tengo un celular ¿pueden cobrarme por servicios que yo no pedí?" slug="tengocelular" index="18" contenido='
                  <p class="text-muted"> No, no te pueden cobrar por un servicio que no hayas solicitado.</p>   

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/24240-nacional-ley-defensa-consumidor-lns0003875-1993-09-22/123456789-0abc-defg-g57-83000scanyel?q=%28numero-norma%3A24240%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 24.240. Ley de Defensa del Consumidor, Art. 35. </a> </p>
              ' %}

            </div>  


            <div class="col-md-12">

              {% include argentina/jc_tarjeta.html titulo="Si pierdo o me roban el celular ¿tengo que hacer la denuncia?" slug="tengocelular" index="18" contenido='
                  <p class="text-muted">  Si, tenés la obligación de denunciar si lo perdés o te lo roban en la empresa de telefonía.</p>   

                  <p class="text-muted"> <a href="http://www.saij.gob.ar/25891-nacional-servicio-comunicaciones-moviles-lns0004864-2004-04-28/123456789-0abc-defg-g46-84000scanyel?q=%28numero-norma%3A25891%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 25.891. Ley de Servicios de Comunicaciones Móviles, Art. 4. </a> </p>
              ' %}

            </div>              
                      
            <div class="col-md-12">
              <p><a href="/justiciacerca" class="btn btn-primary">Ver todos los temas de Justicia Cerca</a></p>              
            </div>

          </div>
        </article>
      </div>
      <div class="col-md-4">
        <h2 class="h3 section-title">Datos de Contacto</h2>
        <hr>
        <h5>Defensa del Consumidor  </h5>
        <p>   
          <a target="_blank" href="http://consumidor.gob.ar/">http://consumidor.gob.ar/</a><br>
        </p> 
        <p> 
            Av. Julio A. Roca 651, Planta Baja. <br>
            CABA.<br>
            Atención de lunes a viernes de 9: 30 hs a 17: 00 hs<br>
            Línea gratuita de información al consumidor 0800-666-1518 <br>
            E-mail: <a href="mailto:consultas@consumidor.gov.ar">consultas@consumidor.gov.ar</a>
        </p>
        <p>Para tener información acerca de tus derechos como consumidor, hacer un reclamo o una denuncia.</p>
        <hr>
        <h5>ENACOM. Ente Nacional de Comunicaciones.</h5>
        <p> 
            <a target="_blank" href="http://www.enacom.gob.ar/problemas-con-el-servicio-reclamos-telefonia-movil_p89">http://www.enacom.gob.ar/problemas-con-el-servicio-reclamos-telefonia-movil_p89</a><br>
            Perú 103.<br>
            CABA.<br>
            Podés conocer los centros de atención al usuario en todo el país: <a target="_blank" href="http://www.enacom.gob.ar/centrosatencion/c_1">aquí</a><br>
            Teléfono 0800-333-3344 de 8 a 21 horas.<br>
            Podés hacer una consulta:  <a target="_blank" href="http://www.enacom.gob.ar/contacto_c1"> http://www.enacom.gob.ar/contacto_c1</a><br>
        </p>
        <p>Para consultar cuáles son tus derechos como usuario de un teléfono celular y cuáles son los reclamos que podés hacer.</p>

        
      </div>
    </div>
  </section>
</div>
