
/* Variables */



/* Global */
.form-control {
    height: 45px;
}

.separador { border-bottom: 1px solid #9a9a9a;}



/*///footer///*/

.footer-link {
    text-align: right!important;
}
@media screen and (max-width: 800px) {
.footer-center {text-align: center!important;   padding-top: 12px;	}
}

.dropdown-micuenta li, .dropdown-notificaciones li {
    list-style-type: none;
}

/*///menu mi cuenta///*/


.navbar-right .dropdown-micuenta {
    right: 3px;
    width: 275px;
    left: initial;
}

.dropdown-micuenta {
    top: 50px;
}
 .dropdown-micuenta li:first-child {
    margin-top: 10px;
}

@media (max-width: 768px){
.nav-menu {
    float: right;
	}}





	/*///Migas de pan///*/
.breadcrumb a:hover { color: black }




	/*///Organimos///*/
.menu-main .nav-main>li>a {color: #0072bb; font-size: 15px; font-weight: 500; line-height: 30px; text-transform: uppercase; padding: 8px 20px }  
.menu-main .nav-main>li>a:hover, .menu-main .nav-main>li>a:focus, .menu-main .nav-main>li>a:active {-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px; }


.menu-main .nav-main>li>ul {    background: #fff!important;
    padding: 8px 20px;
    margin-top:6px;
    color: #0072bb;
    line-height: 31px;
}
.menu-main .nav-main>li>ul>li { border-bottom: 1px solid #c0c0c0 }
.menu-main .nav-main>li>ul>li:last-child { border-bottom:none }
.menu-main .nav-main>li>ul>li>a { color: #0072bb!important }
.menu-main .nav-main>li>ul>li:hover { background-color:none!important;}
.menu-main .nav-main>li>ul>li>a:hover { background-color:white!important;  color: #0072bb!important; text-decoration: underline; }

/*///formulario///*/
input[type=radio] {
    margin: 1px 0 0;
  height: 16px;
    width: 16px; }


    table.dataTable thead .sorting_asc:after {
        content:none!important;
    }


/*///login///*/
.logo-login-miargentina{padding-bottom: 2px;}
/*///habilitación de usuarios///*/
.b-0 {border:none;}


.tooltip-inner {
    max-width: 300px;
    background-color: #0072bb;
    border-radius: 6px;
}


/*Nuevas pantallas*/


.snt-m-r {    vertical-align: middle;
    width: 20%!important;
    text-align: right;}
.panel { margin-bottom: 15px!important}
.snt-panelMenu {font-weight: 600; font-size: 20px;}
.title-snt { margin-bottom: 16px; border-bottom: 1px solid #a0a0a0}
.panel-border-cereza { border-bottom: 8px solid #ed3d8f}
.panel-border-mandarina { border-bottom: 8px solid #f79525}
.snt-title-collapse { text-decoration: none!important;  color: #051247!important;}
.snt-title-collapse:hover, .snt-title-collapse:visited, .snt-title-collapse:focus { text-decoration: none!important; color: #333!important}
.panel-snt a { background-color: white;}
.panel-snt a div.panel-body{ padding: 4px 0px 0px 0px!important}
.panel-snt a div.panel-body div p { margin-bottom: 0px!important}
.panel-snt a div.panel-body h3 { margin-top: 0px!important}
.box-campania {padding: 10px 0 0 0;
    background-color: #f3faff;}

.panel-fecha-snt {border: 1px solid #ededed; border-radius: 10px; padding: 30px}

.panel-border-b-success {    border-bottom: 8px solid #2e7d33;}
.panel-border-b-primary {    border-bottom: 8px solid #2e7d33;}
.panel-padding {    padding: 15px 20px;}

@media (max-width: 720px){
    .snt-m-r {    vertical-align: middle;
    width: 100%!important;
 text-align: left;}
}
