/*///footer///*/

.footer-link {
    text-align: right!important;
}
@media screen and (max-width: 800px) {
.footer-center {text-align: center!important;   padding-top: 12px;	}
}

.dropdown-micuenta li, .dropdown-notificaciones li {
    list-style-type: none;
}

/*///menu mi cuenta///*/


.navbar-right .dropdown-micuenta {
    right: 3px;
    width: 275px;
    left: initial;
}

.dropdown-micuenta {
    top: 50px;
}
 .dropdown-micuenta li:first-child {
    margin-top: 10px;
}

@media (max-width: 768px){
.nav-menu {
    float: right;
	}}





	/*///Migas de pan///*/
.breadcrumb a:hover { color: black }




	/*///Organimos///*/
.menu-main .nav-main>li>a {color: #0072bb; font-size: 15px; font-weight: 500; line-height: 30px; text-transform: uppercase; padding: 8px 20px }  
.menu-main .nav-main>li>a:hover, .menu-main .nav-main>li>a:focus, .menu-main .nav-main>li>a:active {-webkit-border-radius: 30px;
-moz-border-radius: 30px;
border-radius: 30px; }


.menu-main .nav-main>li>ul {    background: #fff!important;
    padding: 8px 20px;
    margin-top:6px;
    color: #0072bb;
    line-height: 31px;
}
.menu-main .nav-main>li>ul>li { border-bottom: 1px solid #c0c0c0 }
.menu-main .nav-main>li>ul>li:last-child { border-bottom:none }
.menu-main .nav-main>li>ul>li>a { color: #0072bb!important }
.menu-main .nav-main>li>ul>li:hover { background-color:none!important;}
.menu-main .nav-main>li>ul>li>a:hover { background-color:white!important;  color: #0072bb!important; text-decoration: underline; }