/*///footer///*/

.footer-link {
    text-align: right!important;
}
@media screen and (max-width: 800px) {
.footer-center {text-align: center!important;   padding-top: 12px;	}
}

.dropdown-micuenta li, .dropdown-notificaciones li {
    list-style-type: none;
}

/*///menu mi cuenta///*/


.navbar-right .dropdown-micuenta {
    right: 3px;
    width: 275px;
    left: initial;
}

.dropdown-micuenta {
    top: 50px;
}
 .dropdown-micuenta li:first-child {
    margin-top: 10px;
}

@media (max-width: 768px){
.nav-menu {
    float: right;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
	}}
