---
layout: mi-argentina
---


<div class="container container-g-licencia">
	<div class="row">
		<aside class="col-md-4">
	      <nav class="page-sidebar m-b-2">
	        <ul class="nav nav-pills nav-stacked">
	          <div class="hidden-xs hidden-sm p-r-3">
	            <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
	            <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
	            <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
	            <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
	            
	            <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
	            <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
	            <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
	            <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
	            <hr class="m-y-1">
	            <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
	            <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
	            <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
	            <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
	            <hr class="m-y-1">
	            
	            <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
	          </div>
	          <div class="visible-xs visible-sm">
	            <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
	            <div class="collapse" id="collapseExample">
	              <hr class="m-y-1">
	              <div class="row">
	                <div class="col-sm-6">
	                  <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
	                  <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
	                  <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
	                  <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
	                  
	                  <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
	                  <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
	                  <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
	                  <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
	                  <hr class="hidden-sm">
	                </div>
	                <div class="col-sm-6">
	                  <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
	                  <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
	                  <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
	                  <hr class="hidden-sm">
	                  
	                  <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
	                </div>
	              </div>
	            </div>
	          </div>
	        </ul>
	      </nav>
	    </aside>
	    <div class="col-md-8 container-licencia">
		<!--<h3>Panel licencia de conducir</h3>-->
			<div class="panels-row-miargentina panels-row-licencia">
				<div class="panel panel-default panel-nolink panel-licencia panel-border-primary">
		        	<div class="panel-heading hidden-xs">
		        		<div class="row">
		                    <div class="col-md-12">
		                    	<a id="volver" href="#" class="btn btn-link btn-sm m-b-0 pull-left licencia-volver-lg"><i class="fa fa-arrow-left"></i> Volver</a>
								<h2 class="pull-left titulo-con-volver">Licencia nacional de conducir</h2>
							</div>
						</div>
					</div>
					<div id="lic-carousel" class="carousel slide" data-interval="false">
						<div class="panel-body body-licencia">
		          			<div class="carousel-inner licencia">
							    <div class="item item-licencia active">
							    	<div class="row">
				                        <div class="col-xs-12">
				                        	<div class="col-sm-4 visible-xs">
									    		<a id="volver" href="#" class="btn btn-link btn-sm m-b-0 pull-left licencia-volver m-r-1 m-t-0">
									    			<p class="m-t-0"><i class="fa fa-arrow-left "></i>Volver</p>
									    		</a>
						                    </div>
											<p class="hidden-xs m-b-0 text-center"><strong>Frente</strong></p>
											<p class="pull-left visible-xs m-b-0">Licencia nacional de conducir - frente</p>
										</div>
									</div>
									<div class="row fila-licencia">
										<div class="col-xs-12">
											<img src="frente.png" alt="licencia-de-conducir-frente"  class="center-block m-t-1">
										</div>	
									</div>
								</div>
								
							    <div class="item item-licencia">
			                    	<div class="row">
				                        <div class="col-xs-12">
				                        	<div class="col-sm-4 visible-xs">
									    		<a id="volver" href="#" class="btn btn-link btn-sm m-b-0 pull-left licencia-volver m-r-1 m-t-0">
									    			<p class="m-t-0"><i class="fa fa-arrow-left "></i>Volver</p>
									    		</a>
						                    </div>
						                    <p class="hidden-xs m-b-0 text-center"><strong>Dorso</strong></p>
											<p class="pull-left visible-xs m-b-0">Licencia nacional de conducir - dorso</p>
										</div>
									</div>
									<div class="row fila-licencia">
										<div class="col-xs-12">
											<img src="dorso.png" alt="licencia-de-conducir-dorso"  class="center-block m-t-1">
										</div>	
									</div>
								</div>

							    <div class="item item-licencia">
			                    	<div class="row">
				                        <div class="col-xs-12">
				                        	<div class="col-sm-4 visible-xs">
									    		<a id="volver" href="#" class="btn btn-link btn-sm m-b-0 pull-left licencia-volver m-r-1 m-t-0">
									    			<p class="m-t-0"><i class="fa fa-arrow-left "></i>Volver</p>
									    		</a>
						                    </div>
						                    <p class="hidden-xs m-b-0 text-center"><strong>QR</strong></p>
											<p class="pull-left visible-xs m-b-0">Licencia nacional de conducir - QR</p>
										</div>
									</div>
									<div class="row fila-licencia">
										<div class="col-xs-12">
											<img src="qr.png" alt="licencia-de-conducir-qr" class="center-block m-t-1">
										</div>	
									</div>
								</div>

							   
						  	</div>

						  <!-- Left and right controls -->
						  <a class="left carousel-control control-licencia" href="#lic-carousel" data-slide="prev">
						    <span class="glyphicon glyphicon-chevron-left"></span>
						    <span class="sr-only">Previous</span>
						  </a>
						  <a class="right carousel-control control-licencia" href="#lic-carousel" data-slide="next">
						    <span class="glyphicon glyphicon-chevron-right"></span>
						    <span class="sr-only">Next</span>
						  </a>
						</div>
		        	</div>
		   		</div>
		   	</div>
		</div>	
	</div>
	
</div>

<script>

window.onload = function() {

	var header = document.getElementsByTagName("header")[0]
	var footer = document.getElementsByTagName("footer")[0]
	var aside = document.getElementsByTagName("aside")[0]
	
	header.classList.add('display-panel-licencia');
	footer.classList.add('display-panel-licencia');
	aside.classList.add('display-panel-licencia');
}



</script>


