<!DOCTYPE html>
  <html lang="es">
    {% include argentina/head.html %}
  <body>

    {% include argentina/header.html %}
    <main role="main">
      {{ content }}
    </main>
    {% include argentina/footer.html %}

    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/proyectos/argentina/estatico/precios-cuidados/js/precios-cuidados.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/list.js/dist/list.min.js" | prepend: site.baseurl }}"></script>

    <script>
      var options = {
        valueNames: [ 'nombre', 'marca', 'medida', 'precio', 'categoria', 'ean' ]
      };

      var productsList = new List('productos', options);

      //cambiando clase de icons en tablas
      $(".list a").click(function(){
        $(this).find('i').toggleClass('fa-plus fa-minus'); 
        $(this).find('i').toggleClass('text-success text-danger'); 
      });

    </script>

  </body>
</html>
