<!DOCTYPE html>
  <html lang="es">
    {% include argentina/head.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
  <body>

    {% include argentina/header.html %}
    <main role="main">
      <div class="container">
        <div class="col-md-8 col-md-offset-2">
          {{ content }}
        </div>
      </div>
    </main>
    {% include argentina/footer.html %}

    
  </body>
</html>
