<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include mi-argentina/head-login.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<body>
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <header class="row">
                {% include mi-argentina/header-2-actual.html %}
            </header>
            <main role="main">
                {{ content }}
            </main>
            <footer class="row">
                <div class="col-md-12">
                    <a href="#">Términos y condiciones</a>
                </div>
                <div class="col-md-6">
                    <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="../img/logo-ssgd.svg">
                </div>
                <div class="col-md-6">
                    <img class="image-responsive" alt="Presidencia de la Nación" src="../img/logo-presidencia.svg">
                </div>
            </footer>
        </div>
    </div>


</body>
</html>