<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include mi-argentina/head-login.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<body>
  
    <header class="container-fluid">
        <div class="row">
            <!-- logo y boton mi cuenta -->
                <div class="navbar navbar-top navbar-default nav-header-dashboard" role="navigation"  aria-labelledby="Mi cuenta">
                        <div class="col-xs-6 visible-xs brand-container">
                                <div class="nav navbar-nav navbar-header  m-y-1 navbar-left-mobile">
                                  <div class="media">
                                    <div class="media-left">
                                      <button type="button" class="inicio no-border-shadow">
                                        <i class="icono-arg-casa-negativo icon-init  m-r-1 text-muted"></i>
                                      </button>
                                    </div>
                                    <div class="media-body">
                                      <a href="../inicio/inicio.html">
                                          <img alt="Mi Argentina" title="Mi Argentina" src="{{ "../img/logo-ma-sin.iso.svg" | prepend: site.baseurl }}" class="brand-icon visible-xs" height="20">
                                      </a>
                                      <h1 class="sr-only">Mi Argentina</h1>
                                    </div>
                                    </div>
                                  </div>
                              </div>
                              <div class="col-md-10 hidden-xs" >
                                <div class="nav navbar-nav navbar-header m-y-1">
                                  <a href="../inicio/inicio.html" class="">
                                    <img alt="Mi Argentina" title="Mi Argentina" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" class="brand-icon hidden-xs" height="50">
                                    <h1 class="sr-only">Mi Argentina</h1>
                                  </a>
                                </div>
                              </div>
                              <nav class="nav navbar-nav navbar-right navbar-right-mobile navbar-right-header m-y-1">
                                <button class="text-primary btn btn-link dropdown-toggle m-t-0" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
                                    <i class="fa fa-user"></i>
                                  <span class="m-l-1">Mi cuenta </span>
                                  <i class="fa fa-chevron-down text-muted m-l-1" aria-hidden="true"></i>
                                </button>
                                <div class="dropdown-menu dropdown-micuenta"  aria-labelledby="dropdownMenuButton" role="dialog" aria-modal=true>
                                  <ul>
                                    <li>
                                      <p>
                                        <strong>María Paula Garibaldi</strong>
                                      </p>
                                    </li>
                                    <li>
                                      <p>34303273
                                      <p>
                                    </li>
                                    <li>
                                      <small>Validado nivel 3 
                                        <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
                                      </small>
                                    </li>
                                    <hr>
                                    <li role="menu-item">
                                      <a href="id/datos-personales.html">Mi perfil</a>
                                    </li>
                                    <li role="menu-item">
                                      <a href="https://id.argentina.gob.ar/mis-dispositivos">Mis dispositivos</a>
                                    </li>
                                    <li role="menu-item">
                                      <a href="https://id.argentina.gob.ar/vincular-redes-sociales">Redes sociales</a>
                                    </li>
                                    <li data-id="configurar-notificaciones">
                                      <a href="https://mi.argentina.gob.ar/configurar-notificaciones">Configurar notificaciones</a>
                                    </li>
                                    <li role="menu-item">
                                      <a href="https://id.argentina.gob.ar/password/change">Configurar mi cuenta</a>
                                    </li>
                                    <li role="menu-item">
                                      <a href="https://www.argentina.gob.ar/mi/terminos-y-condiciones">Términos y condiciones</a>
                                    </li>
                                    <hr class="m-y-1">
                                    <li class="menu" role="menu-item">
                                      <a href="https://mi.argentina.gob.ar/salir" class="logout">Cerrar la sesión</a>
                                    </li>
                                  </ul>
                                  <button class="btn btn-link no-border-shadow dropdown-toggle sr-only" type="button" i data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <span class="sr-only">Cerrar menú mi cuenta</span>
                                    <i class="fa fa-chevron-up text-muted text-center visible-xs" aria-hidden="true"></i>
                                  </button>
                                </div>
                              </nav>        
                </div>
            
        </div>
    </header>

    <!--(nav mobile) (oculto en desktop)-->
    <nav id="menuMobile" class="container-fluid hidden-lg p-r-0 p-l-0" style="background: #f2f3f4;">
        
        <div class="page-sidebar m-b-2 hidden menutoggle  dashboard-sidebar">
                <ul class="nav nav-pills nav-stacked nav-dashboard p-r-0 col-xs-12" >
                  <h1 class="m-t-1 title-dashboard">Bienvenida María Paula</h1>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="inicio.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_casa.svg" alt="inicio" class="center-block">
                          <p class="text-center">
                            <strong>Inicio</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0 active">
                    <a href="credenciales.html">
                      <div class="panel panel-default panel-sidebar " >
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_credenciales_01.svg" alt="Credenciales" class="center-block">
                          <p class="text-center">
                            <strong>Mis credenciales</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="turnos.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_turnos.svg" alt="turnos" class="center-block">
                          <p class="text-center">
                              <strong>Mis turnos</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="tramites.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_tramites.svg" alt="trámites" class="center-block">
                          <p class="text-center">
                            <strong>Mis trámites</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="turnos.html">
                      <div class="panel panel-default panel-sidebar " >
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mis_cobros_01.svg" alt="cobros" class="center-block">
                          <p class="text-center">
                            <strong>Mis cobros</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="turnos.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mis_vencimientos.svg" alt="vencimientos" class="center-block">
                          <p class="text-center">
                            <strong>Mis vencimientos</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="turnos.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_anses.svg" alt="Anses" class="center-block">
                          <p class="text-center">
                            <strong>Mi ANSES</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="transporte.html">
                      <div class="panel panel-default panel-sidebar " >
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mis_vehiculos_01.svg" alt="Vehiculos" class="center-block">
                          <p class="text-center">
                            <strong>Mis vehículos</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="salud.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mi_salud.svg" alt="Salud" class="center-block">
                          <p class="text-center">
                            <strong>Mi salud</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="educacion.html">
                      <div class="panel panel-default panel-sidebar " >
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mi_formacion.svg" alt="Formación" class="center-block">
                          <p class="text-center">
                            <strong>Mi formación</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="mi-provincia.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_mi_provincia.svg" alt="Provincia" class="center-block">
                          <p class="text-center">
                            <strong>Mi provincia</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                  <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
                  <li class="col-xs-6 col-sm-12 p-x-0">
                    <a href="discapacidad.html">
                      <div class="panel panel-default panel-sidebar ">
                        <div class="panel-body">
                          <img src="../../iconos-dashboard/celestes_discapacidad.svg" alt="Discapacidad" class="center-block">
                          <p class="text-center">
                            <strong>Discapacidad</strong>
                          </p>
                        </div>
                      </div>
                    </a>
                  </li>
                </ul>
        </div>
    </nav>

    <main  style="background: #f2f3f4;">
        <div class="row dashboard m-r-0">
            <!--(nav mobile) (oculto en mobile)-->
            <div class="sidebar hidden-xs p-l-0">
<h1 class="m-t-1 title-dashboard visible-xs">
                            Bienvenida María Paula
                        </h1>
                <nav class="page-sidebar m-b-2 dashboard-sidebar">
                    <ul class="nav nav-pills nav-stacked nav-dashboard m-t-2 p-r-0 col-xs-12">
                        
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="inicio.html">
                                <div class="media  hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-casa-negativo" aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Inicio</p>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="credenciales.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-credenciales-negativo" aria-label="Mis credenciales"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis credenciales</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="turnos.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-turno-negativo" aria-label="Mis turnos"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis turnos</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="tramites.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-tramite-negativo" aria-label="Mis trámites"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis trámites</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="turnos.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-cobros-negativo" aria-label="Mis cobros"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis cobros</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="turnos.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-vencimiento-negativo" aria-label="Mis vencimientos"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis vencimientos</p>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="turnos.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-anses-negativo" aria-label="Mi ANSES"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mi ANSES</p>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="transporte.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-automotor-negativo" aria-label="Mis vehículos"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mis vehículos</p>
                                    </div>
                                </div>

                            </a>
                        </li>



                        <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2 active">
                            <a href="salud.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-cruz-medicina-negativo" aria-label="Mi salud"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mi salud</p>
                                    </div>
                                </div>

                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="educacion.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-diploma-negativo" aria-label="Mi formación"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mi formación</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="mi-provincia.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-mapa-2-negativo" aria-label="Mi provincia"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Mi provincia</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
                        <li class="col-xs-6 col-sm-12 p-r-0 p-l-2">
                            <a href="discapacidad.html">
                                <div class="media hidden-xs">
                                    <div class="media-left">
                                        <i class="icono-arg-discapacidad-2-negativo" aria-label="Discapacidad"
                                            aria-hidden="true"></i>
                                    </div>
                                    <div class="media-body">
                                        <p class="m-b-0">Discapacidad</p>
                                    </div>
                                </div>
                            </a>
                        </li>

                    </ul>
                </nav>



            </div>
            
            <div class="col-md-12">
                {{ content }}
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="container-fluid main-footer">
        <div class="row footer center-block">
            <div class="col-md-6 first-footer-item">
                <a>Términos y condiciones</a>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6 col-xs-12"><img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="../img/logo-ssgd.svg"></div>
                    <div class="col-md-6 col-xs-12"><img class="image-responsive" alt="Presidencia de la Nación" src="../img/logo-presidencia.svg"></div>
                </div>
            </div>
        </div>
    </footer>

    <script>
      window.onload = function(){
        document.querySelector('.inicio').addEventListener("click", function (){
    
          document.getElementById('menuMobile').classList.toggle('forMenuMobile')
          document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
        })
      }
          
        </script>

</body>
</html>