<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include mi-argentina/head-login.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<body>

    <header class="container-fluid">
        <div class="row">
            <div>
                <img src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" alt="Mi Argentina" title="Mi Argentina" height="50">
            </div>
            <div>
                <nav>
                    (nav drop)
                </nav>
            </div>
        </div>
    </header>
    <nav class="container-fluid hidden-lg">
        (nav mobile) (oculto en desktop)
    </nav>
    <main role="main">
        <div class="row">
            <div class="col-md-3 hidden-xs">
                <nav>(Fixed width nav (sidebar) (Oculto en Movil))</nav>
            </div>
        
            <div class="col-md-9">
                {{ content }}
            </div>
        </div>
    </main>
    <footer class="container-fluid">
        <div class="row">
            <div class="col-md-6">tyc</div>
            <div class="col-md-6">logos</div>
        </div>
    </footer>



</body>
</html>