<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
{% include mi-argentina/head-login.html %}
<script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<body class="bg-white id-v5">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-lg-offset-4 col-sm-6 col-sm-offset-3">
                <header>
                    {% include mi-argentina/header-login.html %}
                </header>
                <main>
                    {{ content }}
                </main>
                <footer class="main-footer">
                    <div class="row text-center text-terminos">
                        <p>
                            <a class="small" target="_blank" href="https://www.argentina.gob.ar/mi/terminos-y-condiciones">Términos y condiciones</a>
                            <span class="speaknone"> - </span>
                            <a class="small" target="_blank" href="https://www.argentina.gob.ar/miargentina/preguntasfrecuentes">Preguntas frecuentes</a class="small">
                        </p>
                    </div>
                    <div class="row text-center">
                        <img class="logo-footer-width" alt="Argentina Presidencia" src="/proyectos/mi-argentina/v5/img/argentina-presidencia-logo-linea.svg">
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script>
        window.onload = function () {
            document.querySelector('.inicio').addEventListener("click", function () {
            document.getElementById('menuMobile').classList.toggle('forMenuMobile')
            document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
            })
        }
    </script>
</body>

</html>