<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include mi-argentina/head-login.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<body class="bg-white id-v5">
    <div class="container">
        <div class="col-md-4 col-md-offset-4">
            <header class="row">
                {% include mi-argentina/header-login.html %}
                
            </header>
            <main  role="main">
                {{ content }}
            </main>

            <!-- Footer -->
            <footer class="main-footer">

                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>
                                <a href="#">Términos y condiciones</a>
                            </p>
                        </div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-xs-5">
                            <img class="image-responsive" alt="Subsecretaría de Gobierno Digital"
                                src="/proyectos/mi-argentina/v4/img/logo-ssgd.svg">
                        </div>
                        <div class="col-xs-7">
                            <img class="image-responsive" alt="Presidencia de la Nación"
                                src="/proyectos/mi-argentina/v4/img/logo-presidencia.svg">
                        </div>
                    </div>

            </footer>
        </div>
    </div>
    <script>
      window.onload = function () {
        document.querySelector('.inicio').addEventListener("click", function () {

          document.getElementById('menuMobile').classList.toggle('forMenuMobile')
          document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
        })
      }
    </script>

</body>
</html>