<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include mi-argentina/head-login.html %}
    <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    <style>
        .circle-number {
            display: inline-flex;
            background: #0072BB;
            color: #fff;
            padding: 0.6rem;
            border-radius: 50%;
        
        }
    </style>
<body class="bg-white">
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <header class="row">
                {% include mi-argentina/header-login.html %}
                
            </header>
            <main  role="main">
                {{ content }}
            </main>

            <!-- Footer -->
            <footer class="row main-footer">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <a href="#">Términos y condiciones</a>
                        </div>
                    </div>
                    <div class="row m-t-2">
                        <div class="col-sm-6">
                            <img class="image-responsive" alt="Subsecretaría de Gobierno Digital"
                                src="/proyectos/mi-argentina/v4/img/logo-ssgd.svg">
                        </div>
                        <div class="col-sm-6">
                            <img class="image-responsive" alt="Presidencia de la Nación"
                                src="/proyectos/mi-argentina/v4/img/logo-presidencia.svg">
                        </div>
                    </div>

                </div>
            </footer>
        </div>
    </div>
    <script>
      window.onload = function () {
        document.querySelector('.inicio').addEventListener("click", function () {

          document.getElementById('menuMobile').classList.toggle('forMenuMobile')
          document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
        })
      }
    </script>

</body>
</html>