---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="Transporte" %}

      </aside>

      <div class="col-md-8">
        <div class="row">
          <div class="panels-row-miargentina">
            <div class="col-md-12">
              <div class="panel panel-default panel-border-success panel-nolink">
                <div class="panel-heading">
                  <div class="row">
                    <div class="col-md-2 m-y-1">
                      <a id="volver" href="discapacidad_con_carga_USV.html" class="btn btn-link btn-sm m-b-0"><i class="fa fa-arrow-left"></i> &nbsp;Volver</a>
                    </div>
                    <div class="col-md-10 m-y-1">
                      <h2 class="m-y-0">Símbolo Internacional de Acceso</h2>
                    </div>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="m-b-1">
                        <small>Fecha vencimiento</small>
                        <p><strong>15/09/2020</strong></p>
                        <p><strong><i class="fa fa-check-circle text-success"></i> Vigente</strong></p> 
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="m-b-2">
                        <img src="../img/QR.png" alt="QR" class="w-logos">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="m-b-1">
                        <small>Nombre</small>
                        <p><strong>María Luján</strong></p> 
                      </div>
                      <div class="m-b-1">
                        <small>Fecha de nacimiento</small>
                        <p><strong>05/05/1980</strong></p> 
                      </div>
                      <div class="m-b-1">
                        <small>Fecha de tramitación del símbolo</small>
                        <p><strong>21/09/2018</strong></p> 
                      </div>  
                    </div>
                    <div class="col-md-6">
                      <div class="m-b-1">
                        <small>Apellido</small>
                        <p><strong>Álvarez</strong></p> 
                      </div>
                      <div class="m-b-1">
                        <small>Teléfono</small>
                        <p><strong>46286388</strong></p> 
                      </div>
                      <div class="m-b-1">
                        <small>Año</small>
                        <p><strong>2018</strong></p> 
                      </div>
                    </div>
                  </div>
                  <hr class="m-t-1">
                  <div class="row m-b-1">
                    <div class="col-md-12">
                      <hr class="m-t-1">
                      <p>Estos son los trámites que podes hacer con tu certificado:</p>
                      <div class="m-t-1">
                        <a class="btn btn-success" href="https://www.argentina.gob.ar/andis/simbolo-automotor">Renová tu símbolo</a>
                        <a class="btn btn-link" href="https://www.argentina.gob.ar/andis/simbolo-automotor">Otros símbolos automotor</a>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="panel-footer">
                  <p>Conocé más sobre el <a href="https://www.argentina.gob.ar/andis/simbolo-automotor">símbolo automotor</a> y si tenés consultas, enviá un correo a <a href="mailto:info@snr.gob.ar">info@snr.gob.ar</a></p>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
   
</section>



