<div class="paisaje"></div>
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12">
        <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" height="100" src="{{ "/proyectos/g20/img/g20_logo.png" | prepend: site.baseurl }}">
        <!--<p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>-->
      </div>
      <div class="col-xs-12 col-md-2 text-center">
        <h3>SOBRE EL G20</h3>
        <ul>
          <li><a href="quees.html">¿Qué es el G20?</a></li>
          <li><a href="perfilespaises.html">Perfiles países y organizaciones miembro</a></li>
          <li><a href="comofunciona.html">¿Cómo funciona el G20?</a></li>
          <li><a href="historico.html">Panorama histórico y presidencias G20</a></li>
          <li><a href="preguntas.html">Preguntas frecuentes</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 text-center">
        <h3>CALENDARIO</h3>
        <ul>
          <li><a href="calendario.html">Calendario completo</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <h3>G20 EN ARGENTINA</h3>
        <ul>
          <li><a href="#">Prioridades de la agenda</a></li>
          <li><a href="mapadeargentina.html">Mapa de Argentina</a></li>
          <li><a href="#">Reuniones ministeriales y grupos de trabajo</a></li>
          <li><a href="#">Grupos de afinidad</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2 text-center">
        <h3>NOTICIAS</h3>
        <ul>
          <li><a href="noticias.html">Últimas novedades</a></li>
          <li><a href="#">Galería de fotos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 text-center">
        <h3>SALA DE PRENSA</h3>
        <ul>
          <li><a href="#">Comunicados</a></li>
          <li><a href="#">Kit de prensa</a></li>
          <li><a href="#">Información sobre acreditaciones</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


