<div class="paisaje"></div>
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-10 col-md-offset-1">
        <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" height="50" src="{{ "/proyectos/g20/img/g20_logo.png" | prepend: site.baseurl }}">
        <!--<p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>-->
      </div>
      <div class="col-xs-12 col-md-2 col-md-offset-1">
        <h3>SOBRE EL G20</h3>
        <ul>
          <li><a href="#">Qué es el G20</a></li>
          <li><a href="#">Perfiles países</a></li>
          <li><a href="#">Cómo funciona el G20</a></li>
          <li><a href="#">Panorama histórico</a></li>
          <li><a href="#">Preguntas frecuentes</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <h3>CALENDARIO</h3>
        <ul>
          <li><a href="#">Calendario completo</a></li>
          <li><a href="#">Track de sherpas</a></li>
          <li><a href="#">Track de finanzas</a></li>
          <li><a href="#">Mapa de reuniones</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <h3>G20 EN ARGENTINA</h3>
        <ul>
          <li><a href="#">Prioridades de la agenda</a></li>
          <li><a href="#">Mapa de reuniones</a></li>
          <li><a href="#">Reuniones ministeriales</a></li>
          <li><a href="#">Grupos de afinidad</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <h3>NOTICIAS</h3>
        <ul>
          <li><a href="#">Últimas novedades</a></li>
          <li><a href="#">Discursos</a></li>
          <li><a href="#">Galería de fotos</a></li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-2">
        <h3>SALA DE PRENSA</h3>
        <ul>
          <li><a href="#">Comunicados de prensa</a></li>
          <li><a href="#">Descarga de fotos</a></li>
          <li><a href="#">Descarga de logos</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>