
<header>

<nav class="navbar navbar-default fondoGris">
<div class="nav navbar-nav navbar-right navIdioma">
  <div class="container">
    <ul class="navIdioma navbar-right m-r-4">
      <li><a class="caps" href="#">Español</a> |</li>
      <li><a class="caps" href="#">Inglés</a></li>
    </ul>
  </div>
</div>
</nav>


<nav class="navbar navbar-default">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/g20/">
              <img alt="logo G20" src="{{ "/proyectos/g20/img/g20_logo.png" | prepend: site.baseurl }}" height="80px">
              <h1 class="sr-only">G20 Argentina 2018</h1>
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse p-y-1">        
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sobre el G20</a>
                <div class="dropdown-menu">
                  <ul class="navLista">
                    <li><a class="dropdown-item" href="quees.html">¿Qué es el G20?</a></li>
                    <li><a class="dropdown-item" href="perfilespaises.html">Perfiles países y organizaciones miembro</a></li>
                    <li><a class="dropdown-item" href="comofunciona.html">¿Cómo funciona el G20?</a></li>
                    <li><a class="dropdown-item" href="historico.html">Panorama histórico y presidencias G20</a></li>
                    <li><a class="dropdown-item" href="preguntas.html">Preguntas frecuentes</a></li>
                  </ul>
              </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calendario</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="calendario.html">Calendario completo</a></li>
              </ul>
          </li>
         
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">G20 en Argentina</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Prioridades de la agenda</a></li>
                <li><a class="dropdown-item" href="mapadeargentina.html">Mapa de Argentina</a></li>
                <li><a class="dropdown-item" href="#">Reuniones ministeriales y grupos de trabajo</a></li>
                <li><a class="dropdown-item" href="#">Grupos de afinidad</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Noticias</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="noticias.html">Últimas novedades</a></li>
                <li><a class="dropdown-item" href="#">Galería de fotos</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sala de prensa</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Comunicados</a></li>
                <li><a class="dropdown-item" href="#">Kit de prensa</a></li>
                <li><a class="dropdown-item" href="#">Información sobre acreditaciones</a></li>
              </ul>
          </li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>





</header>


