
<header>


  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/argentina/">
            <img alt="logo G20" src="{{ "/proyectos/g20/img/g20_logo.png" | prepend: site.baseurl }}" height="50">
            <h1 class="sr-only">G20 <small>Argentina 2018</small></h1>
          </a>
        </div>
        <div class="nav navbar-nav navbar-right hidden-xs">
            <ul class="navIdioma">
              <li><a href="#">Español</a> |</li>
              <li><a href="#">Inglés</a></li>
            </ul>
          </div>


    </div>
  </nav>


    <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <ul class="nav navbar-nav hidden-xs">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sobre el G20</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">¿Qué es el G20?</a></li>
                <li><a class="dropdown-item" href="#">Perfiles países y organizaciones miembro</a></li>
                <li><a class="dropdown-item" href="#">¿Cómo funciona el G20?</a></li>
                <li><a class="dropdown-item" href="#">Panorama histórico y presidencias G20</a></li>
                <li><a class="dropdown-item" href="#">Documentación cumbres</a></li>
                <li><a class="dropdown-item" href="#">Preguntas frecuentes</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Calendario</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Calendario completo</a></li>
                <li><a class="dropdown-item" href="#">Track de sherpas</a></li>
                <li><a class="dropdown-item" href="#">Track de finanzas</a></li>
                <li><a class="dropdown-item" href="#">Mapa de reuniones</a></li>
              </ul>
          </li>
         
         <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">G20 en Argentina</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Prioridades de la agenda</a></li>
                <li><a class="dropdown-item" href="#">Mapa de reuniones</a></li>
                <li><a class="dropdown-item" href="#">Reuniones ministeriales y grupos de trabajo</a></li>
                <li><a class="dropdown-item" href="#">Grupos de afinidad</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Noticias</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Últimas novedades</a></li>
                <li><a class="dropdown-item" href="#">Discursos</a></li>
                <li><a class="dropdown-item" href="#">Galería de fotos</a></li>
              </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Sala de prensa</a>
            <div class="dropdown-menu">
              <ul class="navLista">
                <li><a class="dropdown-item" href="#">Comunicados de prensa</a></li>
                <li><a class="dropdown-item" href="#">Descarga de fotos</a></li>
                <li><a class="dropdown-item" href="#">Descarga de logos</a></li>
                <li><a class="dropdown-item" href="#">Contactos de prensa</a></li>
                <li><a class="dropdown-item" href="#">Información sobre acreditaciones</a></li>
              </ul>
          </li>




        </ul>
      </div>
    </div>
  </nav>

</header>


