<div class="bg-white p-t-2">
  <div class="container">
  <div class="row">
      <div class="col-sm-offset-2 col-sm-8 m-b-3">
          <div class="row">
                  <div class="col-md-8 text-left">
                    <p class="text-muted small m-t-1">
                      <strong>Éste es un formulario oficial del Gobierno Argentino</strong>
                    </p>
                  </div>

                  <div class="col-md-4 text-right">
                    <a href="http://argentina.gob.ar/" target="_blank">
                      <img class="img-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="https://www.argentina.gob.ar/profiles/argentinagobar/themes/argentinagobar/argentinagobar_theme/logo.svg" style="height: 50px; max-width: 100%;">
                    </a>
                  </div>
              </div>
          </div>
     </div>
  </div>
</div>