 <footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12" style="">
                        <a href="#">Términos y condiciones</a>
                    </div>
                </div>
                <div class="row m-t-2">
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="/proyectos/mi-argentina/v4/img/logo-ssgd.svg">
                    </div>
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Presidencia de la Nación" src="/proyectos/mi-argentina/v4/img/logo-presidencia.svg">
                    </div>
                </div>
                
            </div> 
            
        </div>
    </div>
</footer>



    