 <footer class="main-footer">
    <div class="container-fluid">
        <div class="row footer" style="">
            <div class="col-xs-12 col-sm-4 first-footer-item" style="">
                <a href="#">Terminos y condiciones</a>
            </div>
            <div class="col-xs-12 col-sm-2">
                <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="https://id.argentina.gob.ar/static/img/logo-ssgd.svg">
            </div>
            <div class="col-xs-12 col-sm-2">
                <img class="image-responsive" alt="Presidencia de la Nación" src="https://id.argentina.gob.ar/static/img/logo-presidencia.svg">
            </div>
        </div>
    </div>
</footer>



    