<!-- <footer class="main-footer footerMiArgentina">
    <div class="container-fluid">
        <div class="row footer center-block">
            <div class="col-xs-12 col-sm-4 first-footer-item">
                <a href="#">Términos y condiciones</a>
            </div>
            <div class="col-xs-12 col-sm-2">
                <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="../img/logo-ssgd.svg">
            </div>
            <div class="col-xs-12 col-sm-2">
                <img class="image-responsive" alt="Presidencia de la Nación" src="../img/logo-presidencia.svg">
            </div>
        </div>
    </div>
</footer>

-->

<footer class="footerMiArgentina">
  <div class="container-fluid">
    <div class="row sub-footer">
      <div class="container">
        <div class="col-sm-6 m-y-1 p-x-0 text-center">
                          <img class="image-responsive" width="288" height="40" src="https://www.argentina.gob.ar/profiles/argentinagobar/themes/argentinagobar/argentinagobar_theme/logo_argentina_unida-blanco.svg" alt="Argentina Unida">
                       

        </div>
      </div>
    </div>
  </div>
</footer>



    