<footer class="main-footer sticky-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 ">
                    <div class="row">
                        <div class="col-md-3 m-t-1">
                            <a href="#">Terminos y condiciones</a>
                        </div>
                        <div class="col-lg-3 col-lg-offset-6 col-md-7 col-md-offset-2 col-sm-12 footer-img-content">
                            <div class="row">
                                <div class="col-md-6 col-sm-12" style="
    /* float: right; */
">
                                    <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="https://id.argentina.gob.ar/static/img/logo-ssgd.svg" style="
    /* float: right; */
">
                                </div>
                                <div class="col-md-6 col-sm-12" style="
    /* float: right; */
">
                                    <img class="image-responsive" alt="Presidencia de la Nación" src="https://id.argentina.gob.ar/static/img/logo-presidencia.svg">
                                </div>
                           </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </footer>