<!-- <footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
                <div class="row">
                    <div class="col-xs-12" style="">
                        <a href="#">Términos y condiciones</a>
                    </div>
                </div>
                <div class="row m-t-2">
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Subsecretaría de Gobierno Digital" src="/proyectos/mi-argentina/v4/img/logo-ssgd.svg">
                    </div>
                    <div class="col-sm-6">
                        <img class="image-responsive" alt="Presidencia de la Nación" src="/proyectos/mi-argentina/v4/img/logo-presidencia.svg">
                    </div>
                </div>
                
            </div> 
            
        </div>
    </div>
</footer>-->

<footer class="footerMiArgentina">
  <div class="container-fluid">
    <div class="row sub-footer">
      <div class="">
        <div class="col-sm-6 m-y-1 p-l-2 footer-center" >
                          <img class="image-responsive" width="288" height="40" src="https://www.argentina.gob.ar/profiles/argentinagobar/themes/argentinagobar/argentinagobar_theme/logo_argentina_unida-blanco.svg" class="footer-center" alt="Argentina Unida">
                       

        </div>
		  
		  <div class="col-sm-6  m-y-2 col-xs-12 footer-link footer-center">
			  
			  
			  
      <a href="https://www.argentina.gob.ar/miargentina/preguntasfrecuentes" target="_blank" class="text-black p-r-2 footer-link footer-center" rel="noopener" title="Link a argentina.gob.ar preguntas frecuentes (abre en una pestaña nueva)">
        Preguntas frecuentes
      </a>
      <a href="https://www.argentina.gob.ar/mi/terminos-y-condiciones" target="_blank" class="text-black footer-link footer-center" rel="noopener" title="Link a argentina.gob.ar términos y condiciones (abre en una pestaña nueva)">
        Términos y condiciones
      </a>
			  
    </div>
		  
      </div>
    </div>
  </div>
</footer>