<header  class="container-fluid m-b-3">
   <div class="row">
  <div class="navbar navbar-top navbar-default nav-header-dashboard bg-celeste-argentina" role="navigation"  >
   
<div>
      <div >
       
          <div class="nav navbar-nav m-y-1 m-l-2 nav-logo">
            <a href="#">
            <i class="visible-xs fa fa-reorder icon-init sm-r-1" id="btn-mobile"></i>
          </a>
            <a href="../inicio/inicio.html" class="">
              <img alt="Mi Argentina" title="Mi Argentina"  src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" class="" height="40">
              <h1 class="sr-only" aria-hidden="true">Mi Argentina</h1>
            </a>
        </div>
        <nav class="dropdown nav navbar-nav navbar-right navbar-right-mobile navbar-right-header m-y-1 nav-menu">
          <button class="text-primary btn dropdown-toggle m-t-0 m-r-2 btnMaAcciones" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" >
            <span class="text-white">Mi cuenta </span>
            <i class="fa fa-chevron-down text-white" aria-hidden="true"></i>
          </button>
          <div class="dropdown-menu dropdown-micuenta"  aria-labelledby="dropdownMenuButton" role="dialog" aria-modal=true>
            <ul>
              <li>
                <p>
                  <strong>María Paula Garibaldi</strong>
                </p>
              </li>
              <li>
                <p>34303273
                <p>
              </li>
              <li>
                <small>Validado nivel 3 
                  <i class="fa fa-check-square-o text-success" aria-hidden="true"></i>
                </small>
              </li>
              
              <li class="menu-division">
                <a href="id/datos-personales.html">Mi perfil</a>
              </li>
              <li>
                <a href="https://id.argentina.gob.ar/mis-dispositivos">Mis dispositivos</a>
              </li>
              <li>
                <a href="https://id.argentina.gob.ar/vincular-redes-sociales">Redes sociales</a>
              </li>
              <li data-id="configurar-notificaciones">
                <a href="https://mi.argentina.gob.ar/configurar-notificaciones">Configurar notificaciones</a>
              </li>
              <li>
                <a href="https://id.argentina.gob.ar/password/change">Configurar mi cuenta</a>
              </li>
              <li>
                <a href="https://www.argentina.gob.ar/mi/terminos-y-condiciones">Términos y condiciones</a>
              </li>
              
              <li class="menu menu-division">
                <a href="https://mi.argentina.gob.ar/salir" class="logout">Cerrar la sesión</a>
              </li>
            </ul>
            <button class="btn btn-link no-border-shadow dropdown-toggle sr-only" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Cerrar menú mi cuenta</span>
              <i class="fa fa-chevron-up text-muted text-center visible-xs" aria-hidden="true"></i>
            </button>
          </div>
        </nav>
      </div>
    
      <div class="page-sidebar m-b-2 hidden menutoggle  dashboard-sidebar">
        <p class="m-t-1 title-dashboard">Bienvenida María Paula</p>
    <ul class="nav nav-pills nav-stacked nav-dashboard p-r-0 col-xs-12" >
      
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="inicio.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_casa.svg" alt="inicio" class="center-block">
              <p class="text-center">
                <strong>Inicio</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0 active">
        <a href="credenciales.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_credenciales_01.svg" alt="Credenciales" class="center-block">
              <p class="text-center">
                <strong>Mis credenciales</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="panel panel-default panel-sidebar ">
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_turnos.svg" alt="turnos" class="center-block">
              <p class="text-center">
                  <strong>Mis turnos</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="tramites.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_tramites.svg" alt="trámites" class="center-block">
              <p class="text-center">
                <strong>Mis trámites</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mis_cobros_01.svg" alt="cobros" class="center-block">
              <p class="text-center">
                <strong>Mis cobros</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="panel panel-default panel-sidebar ">
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mis_vencimientos.svg" alt="vencimientos" class="center-block">
              <p class="text-center">
                <strong>Mis vencimientos</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_anses.svg" alt="Anses" class="center-block">
              <p class="text-center">
                <strong>Mi ANSES</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="transporte.html">
          <div class="panel panel-default panel-sidebar ">
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mis_vehiculos_01.svg" alt="Vehiculos" class="center-block">
              <p class="text-center">
                <strong>Mis vehículos</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="salud.html">
          <div class="panel panel-default panel-sidebar ">
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mi_salud.svg" alt="Salud" class="center-block">
              <p class="text-center">
                <strong>Mi salud</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="educacion.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mi_formacion.svg" alt="Formación" class="center-block">
              <p class="text-center">
                <strong>Mi formación</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="mi-provincia.html">
          <div class="panel panel-default panel-sidebar ">
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_mi_provincia.svg" alt="Provincia" class="center-block">
              <p class="text-center">
                <strong>Mi provincia</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
      <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="discapacidad.html">
          <div class="panel panel-default panel-sidebar " >
            <div class="panel-body">
              <img src="../../iconos-dashboard/celestes_discapacidad.svg" alt="Discapacidad" class="center-block">
              <p class="text-center">
                <strong>Discapacidad</strong>
              </p>
            </div>
          </div>
        </a>
      </li>
    </ul>
      </div>

  </div>
  </div>
  </div>
</header>

<script>
  window.onload = function(){
    document.querySelector('.inicio').addEventListener("click", function (){

         document.getElementById('menuMobile').classList.toggle('forMenuMobile')
         document.querySelector('.dashboard-sidebar').classList.toggle('hidden')
         
     })
  }
      
    </script>
