<header>
  <nav class="navbar navbar-top navbar-default nav-header-dashboard" role="navigation">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="navbar-header  m-y-1 navbar-left-mobile">
          <ul class="nav navbar-nav">
            <a href="botonera-mobile.html" class="visible-xs">
              <li>
                <i class="icono-arg-casa-negativo icon-init  m-r-1 text-muted"></i>
              </li>
              <li>
                <img alt="Brand" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" class="brand-icon hidden-xs">
                <img alt="Brand" src="{{ "/proyectos/mi-argentina/img/logo-ma-sin.iso.svg" | prepend: site.baseurl }}" class="brand-icon visible-xs">
                <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
              </li>
            </a>
            <a href="inicio.html" class="hidden-xs">
              <li>
                <img alt="Brand" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" class="brand-icon hidden-xs">
                <img alt="Brand" src="{{ "/proyectos/mi-argentina/img/logo-ma-sin.iso.svg" | prepend: site.baseurl }}" class="brand-icon visible-xs">
                <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
              </li>
            </a>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right navbar-right-mobile navbar-right-header m-t-2">
          <a href="" class="dropdown-toggle" id="dropdown-micuenta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Mi cuenta </span>
            <i class="fa fa-chevron-down text-muted m-l-1"></i>
          </a> 
          <div class="dropdown-menu dropdown-micuenta" aria-labely="dropdown-micuenta">
            <ul>
              <li><h3>María Paula Garibaldi</h3></li>
              <li><h4>27343032736</h4></li>
              <li><small>Validado nivel 3 <i class="fa fa-check-square-o text-success"></i></small></li>
              <hr>
              <li class=""><a href="https://id.argentina.gob.ar/perfil">Datos básicos</a></li>
              <li class=""><a href="https://id.argentina.gob.ar/perfil/opcional">Datos opcionales</a></li>
              <li class=""><a href="https://id.argentina.gob.ar/mis-dispositivos">Mis dispositivos</a></li>
              <li class=""><a href="https://id.argentina.gob.ar/vincular-redes-sociales">Redes sociales</a></li>
              <li class="" data-id="configurar-notificaciones"><a href="https://mi.argentina.gob.ar/configurar-notificaciones">Configurar notificaciones</a></li>
              <li class=""><a href="https://id.argentina.gob.ar/password/change">Configurar mi cuenta</a></li>
              <hr class="m-y-1">
              
              <li class="menu"><a href="https://mi.argentina.gob.ar/salir" class="logout">Cerrar la sesión</a></li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </nav>
</header>

