<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container-fluid">
      <div class="col-sm-offset-1 col-sm-10">

        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/argentina/">
            <img alt="Brand" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" width="300">
            <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
          </a>
        </div>
        <div class="nav navbar-nav navbar-right m-t-2">
          <a href="" class="dropdown-toggle" id="dropdown-micuenta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Mi cuenta <i class="fa fa-chevron-down text-muted"></i></a> 
          <div class="dropdown-menu dropdown-micuenta" aria-labely="dropdown-micuenta">
            <ul>
              <li><a href="datos_basicos.html">Datos básicos</a></li>
              <li><a href="datos_opcionales.html">Datos opcionales</a></li>
              <li><a href="mensajes.html">Configurar notificaciones</a></li>
              <li><a href="#">Mis vehículos</a></li>
              <li><a href="mis-dispositivos.html">Mis dispositivos</a></li>
              <li><a href="redes_sociales.html">Redes sociales</a></li>
              <li><a href="#referencias">Cerrar sesión</a></li>
            </ul>
          </div>  
        </div>

        
      </div>
    </div>
  </nav>
</header>

