<header>
  <nav class="navbar navbar-top navbar-default nav-header-dashboard" role="navigation">
    <div class="container-fluid">
      <div class="col-md-12">
        <div class="navbar-header  m-y-1 navbar-left-mobile">
          <ul class="nav navbar-nav">
            <a href="index.html">
              <li>
                <i class="icono-arg-casa-negativo icon-init visible-xs m-r-1 text-muted"></i>
              </li>
              <li>
                <img alt="Brand" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" class="brand-icon hidden-xs" height="50">
                <img alt="Brand" src="{{ "/proyectos/mi-argentina/img/logo-ma-sin.iso.svg" | prepend: site.baseurl }}" class="brand-icon visible-xs" height="20">
                <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
              </li>
            </a>
          </ul>
        </div>
        <div class="nav navbar-nav navbar-right navbar-right-mobile navbar-right-header m-t-2">
          <a href="" class="dropdown-toggle" id="dropdown-micuenta" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span>Mi cuenta </span>
            <i class="fa fa-chevron-down text-muted m-l-1"></i>
          </a> 
          <div class="dropdown-menu dropdown-micuenta" aria-labely="dropdown-micuenta">
            <ul>
              <li><h3>María Paula Garibaldi</h3></li>
              <li><h4>27343032736</h4></li>
              <li><small>Validado nivel 3 <i class="fa fa-check-square-o text-success"></i></small></li>
              <hr>
              <li>
                <a href="id/datos_personales.html">
                  <div class="media">
                    <div class="media-left">
                      <i class="icono-arg-credenciales-negativo icon-header"></i>
                    </div>
                    <div class="media-body">
                      <p>Datos personales</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="datos_opcionales.html">
                  <div class="media">
                    <div class="media-left">
                      <i class="fa fa-wrench icon-header"></i>
                    </div>
                    <div class="media-body">
                      <p>Gestionar servicios</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="mensajes.html">
                  <div class="media">
                    <div class="media-left">
                      <i class="fa fa-cog icon-header"></i>
                    </div>
                    <div class="media-body">
                      <p>Configurar cuenta</p>
                    </div>
                  </div>
                </a>
              </li>
              <li>
                <a href="#">
                  <div class="media">
                    <div class="media-left">
                      <i class="fa fa-sign-out icon-header"></i>
                    </div>
                    <div class="media-body">
                      <p>Cerrar sesión</p>
                    </div>
                  </div>
                </a>
              </li>
            </ul>
          </div> 
        </div>
      </div>
    </div>
  </nav>
</header>

