<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2">
          <div class="navbar-header">
            <a class="navbar-brand brand-id" href="../inicio/inicio.html" aria-label="Mi argentina">
              <img alt="mi.argentina.gob.ar" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" height="50">
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

