<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container p-t-1">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <a href="{{ site.baseurl }}/proyectos/argentina/">
              <img alt="Brand" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" width="300">
              <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
        </a>
     </div>
     </div>
    </div>
  </nav>
</header>