<!-- logo y boton mi cuenta -->

<!--<div class="navbar navbar-top " role="navigation"  aria-labelledby="Mi Argentina">
  <div class="nav navbar-nav navbar-header">
    <a href="../inicio/inicio.html" class="">
      <img class="logo-header-width" alt="Mi Argentina" title="Mi Argentina" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}" height="50">
      <h1 class="sr-only" aria-hidden="true">Mi Argentina</h1>
    </a>
  </div>
</div>
-->

<header class="container-fluid m-b-3">
  <div class="row">
    <!-- logo y boton mi cuenta -->
    <div class="navbar navbar-top navbar-default nav-header-dashboard bg-celeste-argentina" role="navigation" >
      <div class="container">
        <div class="nav navbar-nav navbar-header m-y-1 m-l-2">
          <a href="../inicio/inicio.html">
            <img alt="Mi Argentina" title="Mi Argentina" src="{{ "/proyectos/argentina/img/miargentina.svg" | prepend: site.baseurl }}"  class="brand-icon" height="40">
            <h1 class="sr-only">Mi Argentina</h1>
          </a>
        </div>
      </div>
    </div>
  </div>
</header>