
<nav class="page-sidebar m-b-2 dashboard-sidebar">
  <ul class="nav nav-pills nav-stacked nav-dashboard m-t-2 p-r-0 col-xs-12">
    <!--<span class="m-t-1 title-dashboard visible-xs">
      Bienvenida María Paula
    </span>-->
    <li class="col-xs-6 col-sm-12 p-x-0">
      <a href="inicio.html">
        <div class="media  hidden-xs">
          <div class="media-left">
            <i class="icono-arg-casa-negativo" aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <p class="m-b-0">Inicio</p>
          </div>
        </div>
        
      </a>
    </li>
    <li class="col-xs-6 col-sm-12 p-x-0">
      <a href="credenciales.html">
        <div class="media hidden-xs">
          <div class="media-left">
            <i class="icono-arg-credenciales-negativo"  aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <p class="m-b-0">Mis credenciales</p>
          </div>
        </div>
      </a>
    </li>

    <li class="col-xs-6 col-sm-12 p-x-0">
      <a href="turnos.html">
        <div class="media hidden-xs">
          <div class="media-left">
            <i class="icono-arg-turno-negativo"  aria-hidden="true"></i>
          </div>
          <div class="media-body">
            <p class="m-b-0">Mis turnos</p>
          </div>
        </div>
      </a>
    </li>
    <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="tramites.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-tramite-negativo" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis trámites</p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-cobros-negativo"   aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis cobros</p>
            </div>
          </div>
        </a>
      </li>

      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-vencimiento-negativo"   aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis vencimientos</p>
            </div>
          </div>
          
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="turnos.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-anses-negativo"  aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi ANSES</p>
            </div>
          </div>
          
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="transporte.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-automotor-negativo"  aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis vehículos</p>
            </div>
          </div>
          
        </a>
      </li>


      
     <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
      <li class="col-xs-6 col-sm-12 p-x-0 active">
        <a href="salud.html"> 
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-cruz-medicina-negativo"  aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi salud</p>
            </div>
          </div>
         
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="educacion.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-diploma-negativo"  aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi formación</p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="mi-provincia.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-mapa-2-negativo" aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi provincia</p>
            </div>
          </div>
        </a>
      </li>
      <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
      <li class="col-xs-6 col-sm-12 p-x-0">
        <a href="discapacidad.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-discapacidad-2-negativo"  aria-hidden="true"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Discapacidad</p>
            </div>
          </div>
        </a>
      </li>

  </ul>
</nav>


