
<nav class="page-sidebar m-b-2 bg-white" id="dashboard-sidebar">
  <ul class="nav nav-pills nav-stacked m-t-2">
    <li {% if include.active == "tramites" %}class="active"{% endif %}>
        <a href="dashboard.html">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-home"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Inicio</p>
            </div>
          </div>
        </a>
      </li>


      <li {% if include.active == "credenciales" %}class="active"{% endif %}>
        <a href="credenciales.html">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-dni"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis credenciales</p>
            </div>
          </div>
        </a>
      </li>
      <li {% if include.active == "turnos" %}class="active"{% endif %}>
        <a href="turnos.html">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-turno "></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis turnos</p>
            </div>
          </div>
        </a>
      </li>
      <li {% if include.active == "conductor" %}class="active"{% endif %}>
        <a href="perfil_conductor_con.html">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-auto-licencia"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis vehículos</p>
            </div>
          </div>
        </a>
      </li>
     <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
      <li {% if include.active == "salud" %}class="active"{% endif %}>
        <a href="salud.html"> 
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-corazon-cruz"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi salud</p>
            </div>
          </div>
        </a>
      </li>
      <li {% if include.active == "cursos" %}class="active"{% endif %}>
        <a href="cursos.html">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-calidad-cert"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi formación</p>
            </div>
          </div>
        </a>
      </li>
      <li {% if include.active == "hacemosfuturo" %}class="active"{% endif %}>
        <a href="#">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-mapa-argentina"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi provincia</p>
            </div>
          </div>
        </a>
      </li>
      <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
      <li {% if include.active == "discapacidad" %}class="active"{% endif %}>
        <a href="transporte_sin carga_USV.html">
          <div class="media">
            <div class="media-left">
              <i class="icono-arg-discapacidad"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Discapacidad</p>
            </div>
          </div>
        </a>
      </li>
  </ul>
</nav>

