<style type="text/css">
  
  .nav-pills i{
    margin-right: 20px;
  }

  .page-sidebar .nav-pills li.active > a, .page-sidebar .nav-pills li.active > a:hover, .page-sidebar .nav-pills li.active > a:focus {
    background-color: #007cad;
}


</style>

<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      <li {% if include.active == "inicio" %}class="active"{% endif %}><a href="dashboard.html"><i class="fa fa-home"></i>Inicio</a></li>
      <li {% if include.active == "vacunas" %}class="active"{% endif %}><a href="vacunas.html"><i class="icono-arg-vacunas"></i>Vacunas</a></li>
      <li {% if include.active == "empleo" %}class="active"{% endif %}><a href="empleo.html"><i class="icono-arg-trabajador"></i>Empleo</a></li>
      <li {% if include.active == "cursos" %}class="active"{% endif %}><a href="cursos.html"><i class="fa fa-book"></i>Cursos <span class="label label-primary m-l-1">¡Nuevo!</span></a></li>
        <ul class="list-unstyled p-l-3">
          <li {% if include.active == "cursos" %}class="active"{% endif %}><a href="#">País Digital</a></li>
          <li {% if include.active == "cursos" %}class="active"{% endif %}><a href="#">111 Mil</a></li>
        </ul>
      <li {% if include.active == "beneficios" %}class="active"{% endif %}><a href="beneficios.html"><i class="fa fa-users"></i>Beneficios</a></li>
      <li {% if include.active == "reclamos" %}class="active"{% endif %}><a href="reclamos.html"><i class="icono-arg-mano-alt"></i>Reclamos</a></li>
      <li {% if include.active == "tramites" %}class="active"{% endif %}><a href="tramites.html"><i class="icono-arg-apostilla"></i>Trámites</a></li>
      <li {% if include.active == "vivienda" %}class="active"{% endif %}><a href="vivienda.html"><i class="icono-arg-paisaje-urbano-2"></i>Vivienda</a></li>
      <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="mis-transporte.html"><i class="icono-arg-auto"></i>Transporte</a></li>
    </div>
    
    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li class="btn-title p-l-2"><i class="fa fa-user"></i> &nbsp; Mi perfil</li>
            <li class="active"><a href="dashboard.html">Trámites y consultas</a></li>
            <li><a href="consultas.html">Configurar consultas</a></li>
            <li><a href="mensajes.html">Configurar mensajes</a></li>
            <li><a href="#referencias">Cerrar la sesión</a></li>

            <hr class="hidden-sm">
          </div>
          <div class="col-sm-6">

            <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
            <li><a href="datos_basicos.html">Datos básicos</a></li>
            <li><a href="datos_opcionales.html">Datos opcionales</a></li>
            <li><a href="configurar_cuenta.html">Configurar mi cuenta</a></li>
            <li><a href="redes_sociales.html">Vincular redes sociales</a></li>

          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>