<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      

      <li {% if include.active == "tramites" %}class="active"{% endif %}><a href="dashboard.html">Inicio</a></li>

      <!--<hr>
      
      <li class="btn-title p-l-2"><i class="icono-arg-servicios"></i> &nbsp; Servicios</li> -->

      <li {% if include.active == "credenciales" %}class="active"{% endif %}><a href="credenciales.html">Credenciales</a></li>
      <li {% if include.active == "turnos" %}class="active"{% endif %}><a href="turnos.html">Turnos</a></li>
      <li {% if include.active == "conductor" %}class="active"{% endif %}><a href="perfil_conductor_con.html">Perfil conductor</a></li>
      <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li>
      <li {% if include.active == "salud" %}class="active"{% endif %}><a href="salud.html">Salud</a></li>
      <li {% if include.active == "cursos" %}class="active"{% endif %}><a href="cursos.html">Capacitación</a></li>
      <li {% if include.active == "hacemosfuturo" %}class="active"{% endif %}><a href="hacemos-futuro.html">Hacemos Futuro</a></li>
      <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li>
      <li {% if include.active == "discapacidad" %}class="active"{% endif %}><a href="transporte_sin carga_USV.html">Discapacidad</a></li>
      
      
      
      <!--<li {% if include.active == "vacunas" %}class="active"{% endif %}><a href="vacunas.html">Vacunas</a></li>
      <li {% if include.active == "consultas" %}class="active"{% endif %}><a href="consultas.html">Configurar consultas</a></li>-->
      
      <hr>

      <li class="btn-title p-l-2">Mi cuenta</li>

      <li {% if include.active == "basicos" %}class="active"{% endif %}><a href="datos_basicos.html">Datos básicos</a></li>
      <li {% if include.active == "opcionales" %}class="active"{% endif %}><a href="datos_opcionales.html">Datos opcionales</a></li>
      <li {% if include.active == "notificaciones" %}class="active"{% endif %}><a href="notificaciones.html">Configurar notificaciones</a></li>
      <li {% if include.active == "vehiculos" %}class="active"{% endif %}><a href="#">Mis vehículos</a></li>
      <li {% if include.active == "dispositivos" %}class="active"{% endif %}><a href="mis-dispositivos.html">Mis dispositivos</a></li>
      <li {% if include.active == "redes" %}class="active"{% endif %}><a href="redes_sociales.html">Redes sociales</a></li>

      <!--<li {% if include.active == "cuenta" %}class="active"{% endif %}><a href="configurar_cuenta.html">Configurar mi cuenta</a></li>-->
      
      <hr>

      <li><a href="#referencias">Cerrar sesión</a></li>
    </div>
    
    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

          <!--<li class="btn-title p-l-2"><i class="icono-arg-servicios"></i> &nbsp; Servicios</li>-->

          <li><a href="credenciales.html">Credenciales</a></li>
          <li><a href="turnos.html">Turnos</a></li>
          <li><a href="perfil_conductor_con.html">Perfil conductor</a></li>
          <li><a href="segsoc_portada.html">Mi seguridad social</a></li>
          <li><a href="salud.html">Salud</a></li>
          <li><a href="cursos.html">Capacitación</a></li>
          

            <hr class="hidden-sm">
          </div>
          <div class="col-sm-6">

            <li class="btn-title p-l-2">Mi cuenta</li>
            <li><a href="datos_basicos.html">Datos básicos</a></li>
            <li><a href="datos_opcionales.html">Datos opcionales</a></li>
            <li><a href="mensajes.html">Configurar notificaciones</a></li>
            <li><a href="#">Mis vehículos</a></li>
            <li><a href="mis-dispositivos.html">Mis dispositivos</a></li>
            <li><a href="redes_sociales.html">Redes sociales</a></li>
            <li><a href="#referencias">Cerrar sesión</a></li>

          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>