<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      <li class="btn-title p-l-2"><i class="fa fa-user"></i> &nbsp; Mi perfil</li>

      <li {% if include.active == "activar" %}class="active"{% endif %}><a href="#">Activar mi cuenta</a></li>
      <li><a href="#referencias">Cerrar la sesión</a></li>

      <hr>

      <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>

      <li {% if include.active == "basicos" %}class="active"{% endif %}><a href="datos_basicos.html">Datos básicos</a></li>
      <li {% if include.active == "opcionales" %}class="active"{% endif %}><a href="datos_opcionales.html">Datos opcionales</a></li>
      <li {% if include.active == "dispositivos" %}class="active"{% endif %}><a href="mis-dispositivos.html">Mis Dispositivos</a></li>
      <li {% if include.active == "cuenta" %}class="active"{% endif %}><a href="configurar_cuenta.html">Configurar mi cuenta</a></li>
      <li {% if include.active == "redes" %}class="active"{% endif %}><a href="redes_sociales.html">Vincular redes sociales</a></li>
    </div>
    
    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li class="btn-title p-l-2"><i class="fa fa-user"></i> &nbsp; Mi perfil</li>
            <li class="active"><a href="#">Activar mi cuenta</a></li>
            <li><a href="#referencias">Cerrar la sesión</a></li>

            <hr class="hidden-sm">
          </div>
          <div class="col-sm-6">

            <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
            <li><a href="datos_basicos.html">Datos básicos</a></li>
            <li><a href="datos_opcionales.html">Datos opcionales</a></li>
            <li><a href="configurar_cuenta.html">Configurar mi cuenta</a></li>
            <li><a href="redes_sociales.html">Vincular redes sociales</a></li>

          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>