
<nav class="page-sidebar dashboard-sidebar">
  <ul class="nav nav-pills nav-stacked nav-dashboard col-xs-12">
    <li class="col-xs-6 col-sm-12 sidebar-item active">
      <a href="credenciales.html">
        <div class="media hidden-xs">
          <div class="media-left">
            <i class="icono-arg-credenciales-negativo"></i>
          </div>
          <div class="media-body">
            <p class="m-b-0">Mis credenciales</p>
          </div>
        </div>
       <div class="panel panel-default panel-sidebar visible-xs">
        <div class="panel-body">
          <img src="iconos-dashboard/celestes_credenciales_01.svg" alt="Credenciales" class="center-block">
          <p class="text-center"><strong>Mis credenciales</strong></p>
        </div>
      </div>
      </a>
    </li>

    <li class="col-xs-6 col-sm-12 sidebar-item">
      <a href="turnos.html">
        <div class="media hidden-xs">
          <div class="media-left">
            <i class="icono-arg-turno-negativo"></i>
          </div>
          <div class="media-body">
            <p class="m-b-0">Mis turnos</p>
          </div>
        </div>
       <div class="panel panel-default panel-sidebar visible-xs">
        <div class="panel-body">
          <img src="iconos-dashboard/celestes_turnos.svg" alt="turnos" class="center-block">
          <p class="text-center"><strong>Mis turnos</strong></p>
        </div>
      </div>
      </a>
    </li>
    
      <li class="col-xs-6 col-sm-12 sidebar-item">
        <a href="transporte.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-automotor-negativo"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mis vehículos</p>
            </div>
          </div>
          <div class="panel panel-default panel-sidebar visible-xs">
            <div class="panel-body">
              <img src="iconos-dashboard/celestes_mis_vehiculos_01.svg" alt="Vehiculos" class="center-block">
              <p class="text-center"><strong>Mis vehículos</strong></p>
            </div>
          </div>
        </a>
      </li>


      
     <!--  <li {% if include.active == "seguridad" %}class="active"{% endif %}><a href="segsoc_portada.html">Mi seguridad social</a></li> -->
      <li class="col-xs-6 col-sm-12 sidebar-item">
        <a href="salud.html"> 
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-cruz-medicina-negativo"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi salud</p>
            </div>
          </div>
          <div class="panel panel-default panel-sidebar visible-xs">
            <div class="panel-body">
              <img src="iconos-dashboard/celestes_mi_salud.svg" alt="Salud" class="center-block">
              <p class="text-center"><strong>Mi salud</strong></p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 sidebar-item">
        <a href="educacion.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-diploma-negativo"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi formación</p>
            </div>
          </div>
          <div class="panel panel-default panel-sidebar visible-xs">
            <div class="panel-body">
              <img src="iconos-dashboard/celestes_mi_formacion.svg" alt="Formación" class="center-block">
              <p class="text-center"><strong>Mi formación</strong></p>
            </div>
          </div>
        </a>
      </li>
      <li class="col-xs-6 col-sm-12 sidebar-item">
        <a href="mi-provincia.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-mapa-2-negativo"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Mi provincia</p>
            </div>
          </div>
          <div class="panel panel-default panel-sidebar visible-xs">
            <div class="panel-body">
              <img src="iconos-dashboard/celestes_mi_provincia.svg" alt="Provincia" class="center-block">
              <p class="text-center"><strong>Mi provincia</strong></p>
            </div>
          </div>
        </a>
      </li>
      <!-- <li {% if include.active == "transporte" %}class="active"{% endif %}><a href="discapacidad_sin_carga_USV.html">Transporte</a></li> -->
      <li class="col-xs-6 col-sm-12 sidebar-item">
        <a href="discapacidad.html">
          <div class="media hidden-xs">
            <div class="media-left">
              <i class="icono-arg-discapacidad-2-negativo"></i>
            </div>
            <div class="media-body">
              <p class="m-b-0">Discapacidad</p>
            </div>
          </div>
          <div class="panel panel-default panel-sidebar visible-xs">
            <div class="panel-body">
              <img src="iconos-dashboard/celestes_discapacidad.svg" alt="Discapacidad" class="center-block">
              <p class="text-center"><strong>Discapacidad</strong></p>
            </div>
          </div>
        </a>
      </li>

  </ul>
</nav>


