<style type="text/css">
  
  .menu-miargentina i{
    margin-right: 20px;
  }

  .menu-miargentina .menu-miargentina li.active > a,
  .menu-miargentina .menu-miargentina li.active > a:hover, 
  .menu-miargentina .menu-miargentina li.active > a:focus {
    background-color: #ebebeb;
  }

  .menu-miargentina .nav-pills li.active > a,
  .menu-miargentina .nav-pills li.active > a:hover,
  .menu-miargentina .nav-pills li.active > a:focus {
    background-color: #ebebeb;
    color: #606060;
}

.menu-miargentina .nav-pills li > a:visited {
    color: #606060;
}

  .menu-miargentina .nav-pills li > a{
    font-size: 16px;
  }

  .menu-miargentina .categoria{
    text-transform: uppercase;
  }

  .menu-miargentina .submenu li{
    list-style: none;
    padding-left: 70px;
  }

  .page-sidebar .nav-pills li ul li a:before {
    content: none;
  }

  .menu-miargentina .nav-pills li > a {
    padding: 10px 20px;
    border-radius: 2px;
    font-weight: 400;
}

  .menu-miargentina .label {
    border-radius: 1.25em;
    padding: 3px 17px;
    opacity: 0.7;
}

  .div-menu{
      border-right: 1px solid #ccc;
  }

</style>

<nav class="page-sidebar m-b-2 menu-miargentina">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm div-menu">
      <label class="categoria text-muted">Menú principal</label>
      <li {% if include.active == "inicio" %}class="active"{% endif %}><a href="dashboard.html"><i class="fa fa-home"></i>Inicio</a></li>
      <li {% if include.active == "credenciales" %}class="active"{% endif %}><a href="credenciales.html"><i class="icono-arg-dni"></i>Mis credenciales</a></li>
      <li {% if include.active == "turnos" %}class="active"{% endif %}><a href="turnos.html"><i class="icono-arg-calendario"></i>Turnos</a></li>
      <li {% if include.active == "tramites" %}class="active"{% endif %}><a href="tramites.html"><i class="icono-arg-apostilla"></i>Trámites <span class="label label-primary m-l-1">¡Nuevo!</span></a></li>
      <li {% if include.active == "notificaciones" %}class="active"{% endif %}><a href="notificaciones.html"><i class="fa fa-bell"></i>Notificaciones</a></li>

      <hr class="m-y-1">

      <label class="categoria text-muted">Perfiles</label>

      <li {% if include.active == "trabajador" %}class="active"{% endif %}><a href="trabajador.html"><i class="icono-arg-empleo-2"></i>Trabajador</a>
        <ul class="submenu">
          <li {% if include.active == "trabajador-historial" %}class="active"{% endif %}><a href="trabajador-historial.html">Historial de trabajo</a></li>
          <li {% if include.active == "trabajador-prestaciones" %}class="active"{% endif %}><a href="trabajador-prestaciones.html">Prestaciones</a></li>
          <li {% if include.active == "trabajador-obrasocial" %}class="active"{% endif %}><a href="trabajador-obrasocial.html">Obra Social</a></li>
          <li {% if include.active == "trabajador-busqueda" %}class="active"{% endif %}><a href="trabajador-busqueda.html">Búsqueda de trabajo</a></li>
        </ul>

      </li>
      <li {% if include.active == "conductor" %}class="active"{% endif %}><a href="conductor.html"><i class="icono-arg-auto"></i>Conductor</a></li>
      <li {% if include.active == "consumidor" %}class="active"{% endif %}><a href="consumidor.html"><i class="icono-arg-carrito"></i>Consumidor</a></li>
      <li {% if include.active == "jubilado" %}class="active"{% endif %}><a href="jubilado.html"><i class="icono-arg-jubilado"></i>Jubilado o Pensionado</a></li>
      <li {% if include.active == "familia" %}class="active"{% endif %}><a href="familia.html"><i class="icono-arg-hogar-y-familia"></i>Pareja y Familia</a></li>
      <li {% if include.active == "capacitacion" %}class="active"{% endif %}><a href="capacitacion.html"><i class="icono-arg-graduada"></i>Capacitación</a></li>
      <li {% if include.active == "salud" %}class="active"{% endif %}><a href="salud.html"><i class="icono-arg-maletin-medico-1"></i>Salud</a></li>
      <li {% if include.active == "discapacidad" %}class="active"{% endif %}><a href="discapacidad.html"><i class="icono-arg-discapacidad"></i>Discapacidad</a></li>
        
    </div>
    
    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li><a href="dashboard.html"><i class="fa fa-home"></i>Inicio</a></li>
            <li><a href="credenciales.html"><i class="icono-arg-dni"></i>Mis credenciales</a></li>
            <li><a href="turnos.html"><i class="icono-arg-calendario"></i>Turnos</a></li>
            <li><a href="tramites.html"><i class="icono-arg-apostilla"></i>Trámites</a></li>
            <li><a href="notificaciones.html"><i class="fa fa-bell"></i>Notificaciones</a></li>

            <hr class="hidden-sm">
          </div>
          <div class="col-sm-6">
            
            <li><a href="trabajador.html"><i class="icono-arg-empleo-2"></i>Trabajador</a>
              <ul class="submenu">
                <li><a href="trabajador-historial.html">Historial de trabajo</a></li>
                <li><a href="trabajador-prestaciones.html">Prestaciones</a></li>
                <li><a href="trabajador-obrasocial.html">Obra Social</a></li>
                <li><a href="trabajador-busqueda.html">Búsqueda de trabajo</a></li>
              </ul>
            </li>
            <li><a href="conductor.html"><i class="icono-arg-auto"></i>Conductor</a></li>
            <li><a href="consumidor.html"><i class="icono-arg-carrito"></i>Consumidor</a></li>
            <li><a href="jubilado.html"><i class="icono-arg-jubilado"></i>Jubilado o Pensionado</a></li>
            <li><a href="familia.html"><i class="icono-arg-hogar-y-familia"></i>Pareja y Familia</a></li>
            <li><a href="capacitacion.html"><i class="icono-arg-graduada"></i>Capacitación</a></li>
            <li><a href="salud.html"><i class="icono-arg-maletin-medico-1"></i>Salud</a></li>
            <li><a href="discapacidad.html"><i class="icono-arg-discapacidad"></i>Discapacidad</a></li>


          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>