
<nav class="page-sidebar m-b-2 dashboard-sidebar">
 <h2 class="m-t-1 title-dashboard visible-xs">
      Bienvenida María Paula
    </h2>
  <ul class="nav nav-pills nav-stacked nav-dashboard m-t-2 p-r-0 col-xs-12">
    
    <li class="col-xs-6 col-sm-12 p-x-0 active">
      <a href="../inicio/inicio.html">
        <div class="media">
          <div class="media-left">
            <i class="icono-arg-casa-negativo" aria-hidden="true"></i>
          </div>
          <div class="media-body">
			  <p class="m-b-0">Inicio</p>
          </div>
        </div>
      </a>
    </li>
  </ul>
</nav>


