<style type="text/css">

    .jumbotron-info{
      background-color: rgba(0, 124, 173, 0.7)!important;
    }
    
    .jumbotron .jumbotron_bar .breadcrumb li a,
    .jumbotron .jumbotron_bar .breadcrumb li span {
        font-size: 20px;
    }
    
    .jumbotron h1,
    .jumbotron .h1 {
        font-size: 25px;
        font-weight: 500;
        display: inline-block;
    }
    
    .jumbotron p {
        font-weight: 400;
        font-size: 18px;
    }

    .jumbotron{
      background-image: url('../../mi-argentina/test/JT.jpg');
      background-size: cover;
      background-position: center;
    }
    
    .jumbotron .btn-link {
        color: #007cad!important;
    }
    
    
    .image-cropper {
        width: 100px;
        height: 100px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .image-cropper img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }

</style>

<section class="jumbotron">
  <div class="container">
    <div class="row">

        <div class="col-md-6 jumbotron-info col-sm-12">
            <div class="jumbotron_bar jumbotron-bar-transparent">
              <div class="container">
                <div class="row">
                    <div class="col-md-3 p-y-1">
                        <div class="image-cropper">
                            <img src="img/placeholder.jpg">
                        </div>
                    </div>
                    <div class="col-md-9">
                        <h1>María Paula Garibaldi <i class="fa fa-check-circle" aria-hidden="true"></i></h1>
                        <p>CUIL 27123456789</p>
                        <a class="btn btn-link btn-sm" href="#"><i class="fa fa-gear"></i> Mi perfil</a>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
  </div>
</section>
