<section class="jumbotron bg-primary">
  <div class="container">
    <div class="row">

    <div class="col-md-5">
        <div class="jumbotron_bar jumbotron-bar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb">
            <li><a href="">Argentina </a></li>
            <li> <i class="fa fa-chevron-right" aria-hidden="true"></i></li>
            <li class="active"><span>Trámites y consultas</span></li>
          </ol>
          <h1 class="h3 m-b-0">María Paula Garibaldi <i class="fa fa-check-circle" aria-hidden="true"></i></h1>
          <p class="lead">CUIL 27-12345678-9</p>
        </div>
      </div>
    </div>
  </div>
    </div>

    <div class="col-md-7" style="background-image: url('../../mi-argentina/test/JT.jpg');">
      <p>foto</p>
    </div>

  </div>
  </div>

</section>



