<section class="jumbotron" style="background-image: url('../../argentina/img/home/argentina_2.jpg');">
  <div class="jumbotron_bar jumbotron-bar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="">Argentina</a></li>
            {% if include.padre %} 
              <li><a href="">{{ include.padre }}</a></li>
            {% endif %}
              
            {% if include.hijo %} 
              <li class="active"><span>{{ include.hijo }}</span></li>
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body p-t-0 p-b-1">
    <div class="container">
      <h1 class="h3 m-b-0">
        María Paula Garibaldi
        <a href="" data-toggle="tooltip" class="white-tooltip" title="Identidad Validada">
          <i class="fa fa-check-circle text-primary"></i>
        </a>
      </h1>
      <p class="lead">CUIL 27-12345678-9</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>