<style type="text/css">

    .jumbotron-info{
      background-color: rgba(0, 124, 173, 0.7)!important;
    }
    
    .jumbotron-miargentina .jumbotron_bar .breadcrumb li a,
    .jumbotron-miargentina .jumbotron_bar .breadcrumb li span {
        font-size: 20px;
    }
    
    .jumbotron-miargentina h1,
    .jumbotron-miargentina .h1 {
        margin-top: 22px;
        font-size: 25px;
        font-weight: 500;
        display: inline-block;
        margin-left: -34px;
    }

    .jumbotron-miargentina h1 span{
        font-size: 16px;
    }
    
    .jumbotron-miargentina p {
        font-weight: 400;
        font-size: 18px;
    }

    .jumbotron{
      background-color: #007cad;
      background-size: cover;
      background-position: center;
    }
    
    .jumbotron-miargentina .btn-link {
        color: #007cad!important;
    }
    
    
    .image-cropper {
        width: 40px;
        height: 40px;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
    }
    
    .image-cropper img {
        display: inline;
        margin: 0 auto;
        height: 100%;
        width: auto;
    }

    .mi-perfil{
      margin-top: 20px;
    }


  @media (min-width: 768px) and (max-width: 995px){

    .jumbotron-miargentina h1, 
    .jumbotron-miargentina .h1{
      margin: 15px 0 5px 0;
      font-size: 25px!important;
    }

  .jumbotron-miargentina .mi-perfil{
    text-align: left;
    margin: 10px 0 15px 0;
    padding-left: 0;
  }

  }



  @media (max-width: 767px){

    .jumbotron-miargentina h1, 
    .jumbotron-miargentina .h1{
      margin: 0 0 5px 0;
      font-size: 25px!important;
    }

  .jumbotron-miargentina .mi-perfil{
    text-align: left;
    margin: 10px 0 15px 0;
    padding-left: 0;
  }
    
    
  }


</style>

<section class="jumbotron jumbotron-miargentina">
  <div class="container">
    <div class="row">

        <div class="col-md-12 jumbotron-info">
            <div class="jumbotron_bar jumbotron-bar-transparent p-y-0">
              <div class="container">
                <div class="row">
                    <div class="col-sm-1 col-md-1 p-y-1 foto-user">
                        <div class="image-cropper">
                            <img src="img/placeholder.jpg">
                        </div>
                    </div>
                    <div class="hidden-xs hidden-sm col-md-9">
                        <h1>María Paula Garibaldi <i class="fa fa-check-circle" aria-hidden="true"></i> <span class="m-l-2">CUIL 27123456789</span></h1>
                    </div>

                    <div class="visible-xs visible-sm col-sm-11">
                      <h1>María Paula Garibaldi <i class="fa fa-check-circle" aria-hidden="true"></i>
                    </h1>
                    <div class="visible-xs visible-sm col-sm-12 p-l-0">
                      <span>CUIL 27123456789</span></h1>
                    </div>
                    <div class="col-sm-12 col-md-2 text-right mi-perfil p-r-0 dropdown">
                      <button class="btn btn-link btn-sm dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-gear"></i> Mi perfil</button>
                       <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <li><a href="#"><i class="fa fa-cog"></i> Mis datos personales</a></li>
                        <li><a href="#"><i class="fa fa-sign-out"></i> Cerrar sesión</a></li>
                      </ul>
                    </div>
                </div>
              </div>
            </div>
        </div>

    </div>
  </div>
</section>
