<section class="jumbotron" style="background-image: url('https://back.argentina.gob.ar/sites/default/files/paisaje-06.jpg');">
  <div class="jumbotron_bar jumbotron-bar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="">Argentina</a></li>
            {% if include.padre %} 
              <li><a href="">{{ include.padre }}</a></li>
            {% endif %}
              
            {% if include.hijo %} 
              <li class="active"><span>{{ include.hijo }}</span></li>
            {% endif %}
          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body p-t-0 p-b-1">
    <div class="container">
      <div class="h3 m-b-0 m-t-0">María Paula Garibaldi</div>
      <p class="lead">CUIL 27-12345678-9</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>