<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="image-responsive" alt="Casarosada.gob.ar - Presidencia de la Nación" src="{{ "/proyectos/casarosada/img/presidencia.svg" | prepend: site.baseurl }}">
        <div class="social-btn margin-20">
          <ul>
            <li><a href="https://www.facebook.com/casarosadaargentina/" target="_blank"><span class="fa fa-facebook"></span></a></li>
            <li><a href="https://twitter.com/casarosada" target="_blank"><span class="fa fa-twitter"></span></a></li>
            <li><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank"><span class="fa fa-instagram"></span></a></li>
            <li><a href="https://www.youtube.com/user/casarosada" target="_blank"><span class="fa fa-youtube-play"></span></a></li>
          </ul>
        </div>
        <p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul>
          <li><a href="pagina.html">Gobierno</a></li>
          <li><a href="pagina-area.html">Noticias</a></li>
          <li><a href="pagina-navegacion.html">Políticas</a></li>
          <li><a href="noticia.html">La Casa</a></li>
        </ul>
      </div>
      <div class="col-sm-6 col-md-3">
        <ul>
          <li class="margin-20"><small class="text-muted">Teléfono</small><br> 011 4344-3600</li>
          <li><small class="text-muted">Dirección</small><br> Balcarce 50, 1064 Buenos Aires</li>
        </ul>
      </div>
    </div>
  </div>
</footer>


