<footer class="footerCasaRosada main-footer">
  <div class="container-lg">
    <div class="row d-block">
      
<div class="align-items-start justify-content-start col-12 mb-5 ">
 <img src="/../../fotos/cr-casaRosada.svg" class="p-r-3" alt="Logo Casa Rosada">
 <img src="/../../fotos/cr-argentina.svg" alt="Logo Argentina Presidencia">
		</div>
		</div>
	 

	   <div class="row mt-4">
 
		   
		   <div class="row align-items-start">
			   
			   <div class="col-12 col-md-3 col-sm-6 d-sm-table mb-sm-3 text-black-100">
				   <div class="region region-footer1"> 
					   <section id="" class="block block-menu clearfix">
						   Balcarse 50 <br>(C1064AAB) CABA<br>
(54-11) 4344-3600<br>
							   <a href="mailto:audiencias@presidencia.gob.ar">audiencias@presidencia.gob.ar</a></section></div>
			   
			  
				   
				   <div class="footer-social-share"><ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/casarosadaargentina/" target="_blank" rel="noreferrer"><span class="sr-only">Facebook</span><i class="fa fa-brands fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/casarosada" target="_blank" rel="noreferrer"><span class="sr-only">Twitter</span><i class="fa  fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank" rel="noreferrer"><span class="sr-only">Instagram</span><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="https://www.youtube.com/user/casarosada" target="_blank" rel="noreferrer"><span class="sr-only">Youtube</span><i class="fa fa-youtube-play"></i></a></li>
          </ul></div>
			   
			   
			   
			   
			   
			   </div>
			   <div class="col-12 col-md-3 col-sm-6 mt-0">
				   <div class="region region-footer1"> 
					   <section id="block-menu-menu-footer-1" class="block block-menu clearfix">
						   <h2 class="section-titfooter">Trámites</h2>
						   <ul class="menu nav"><li class="first leaf"><a href="https://www.argentina.gob.ar/turnos"  target="_blank" rel="noopener">Turnos</a></li>
							   <li class="leaf"><a href="https://www.argentina.gob.ar/jefatura/innovacion-tecnologica/innovacion-administrativa/tramites-distancia-tad" target="_blank" rel="noopener">Trámites a distancia</a></li>
							    <li class="leaf"><a href="https://www.argentina.gob.ar/tramitar" target="_blank" rel="noopener">Tramitar</a></li>
							   <li class="last leaf"><a href="https://www.argentina.gob.ar/miargentina/mesadeayuda" target="_blank" rel="noopener">Atención a la ciudadanía</a></li></ul></section></div></div>
			   
			   <div class="col-12 col-md-3 col-sm-6 mt-0"><div class="region region-footer2"> <section id="block-menu-menu-footer-2" class="block block-menu clearfix"><h2 class="section-titfooter">Acerca de Argentina</h2><ul class="menu nav"><li class="first leaf"><a href="https://www.argentina.gob.ar/pais" target="_blank" rel="noopener">Nuestro país</a></li><li class="leaf"><a href="https://www.argentina.gob.ar/normativa" target="_blank" rel="noopener">Leyes argentinas</a></li><li class="leaf"><a href="https://www.argentina.gob.ar/organismos" target="_blank" rel="noopener">Organismos</a></li><li class="last leaf"><a href="https://www.argentina.gob.ar/jefatura/mapa-del-estado" target="_blank" rel="noopener">Mapa del Estado</a></li></ul></section></div></div>
			   
			   <div class="col-md-3 col-sm-6 col-12 mt-0"><div class="region region-footer3"> <section id="block-menu-menu-footer-3" class="block block-menu clearfix"><h2 class=" section-titfooter ">Transparencia</h2><ul class="menu nav"><li class="first leaf"><a href="https://audiencias.mininterior.gob.ar/" target="_blank" rel="noopener">Registro de audiencias</a></li><li class="leaf"><a href="https://www.argentina.gob.ar/jefatura/renappo" target="_blank" rel="noopener">Registro de publicidad oficial</a></li><li class="last leaf"><a href="https://www.argentina.gob.ar/aaip" target="_blank" rel="noopener">Registro de acceso a la información pública</a></li></ul></section></div></div></div>

</div>
    
  </div>
</footer>

<div id="arg-footer">
  <style>
    #arg-footer {
      clear: both !important;
      background: #FFF !important;
      color: #767676 !important;
      font-size: 14px !important;
        text-align: center !important;
      font-family: "Roboto", "Arial", "Helvetica" !important;
      border-top: 1px solid #EEE !important;
    }
    #arg-footer strong {
      font-weight: bold !important;
      color: inherit !important;
      font-size: inherit !important;
      font-family: inherit !important;
    }
    #arg-footer img {
      margin-left: 30px !important;
      vertical-align: -14px !important;
      height: 40px !important;
    }

	  .footerCasaRosada {color:#000!important;}
	  .main-footer li a {display: block; padding: 6px 0;text-decoration: none !important;color:#000!important;} 
	  .main-footer .footer-social-share li a {font-size: 24px!important;}
	  .section-titfooter {font-weight: 300; color: #000;  font-size: 18px!important; margin-bottom: 10px;}
	  .main-footer ul {display: list-item;}
	  .main-footer section {padding: 10px 0;} 
	  .main-footer a {text-decoration: none; color:#000;}	
	  .footerCasaRosada .social-share li a i {font-size: 0.8em!important;}
	  .list-inline-item:not(:last-child) {    margin-right: 1.5rem;}
	
	</style>

  
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
