<footer class="footerCasaRosada main-footer pt-5">
  <div class="container-lg">
    <div class="row d-block">
      
<div class="align-items-start justify-content-start col-12 mb-5 ">
 <img src="/../../fotos/cr-casaRosada.svg" class="lgcasa" alt="Logo Casa Rosada">
 <img src="/../../fotos/cr-argentina.svg" alt="Logo Argentina Presidencia">
		</div>
		</div>
	 

	   <div class="row mt-4">
 
		   
		   <div class="row align-items-start">
			   
			   <div class="col-12 col-md-3  d-sm-grid mb-sm-3">
				   <h1 class="visually-hidden">Accesos directos</h1>
				   <div class="region region-footer1"> 
					  <h2 class="visually-hidden">Vías de contacto</h2>
					   <address  class="block block-menu clearfix pt-3">
						   Balcarse 50 <br>(C1064AAB) CABA<br>
(54-11) 4344-3600<br>
							   <a href="mailto:audiencias@presidencia.gob.ar">audiencias@presidencia.gob.ar</a></address></div>
			   
			  
				   
				   <div class="footer-social-share"><ul class="list-inline">
            <li class="list-inline-item me-4"><a href="https://www.facebook.com/casarosadaargentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Facebook</span><i class="fa icono-arg-facebook-circular"></i></a></li>
            <li class="list-inline-item me-4"><a href="https://twitter.com/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">Twitter</span><i class="fa icono-arg-twiter-circular"></i></a></li>
            <li class="list-inline-item me-4"><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Instagram</span><i class="fa icono-arg-instagram-circular"></i></a></li>
            <li class="list-inline-item me-4"><a href="https://www.youtube.com/user/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">Youtube</span><i class="fa icono-arg-youtube-circular"></i></a></li>
          </ul></div>
			   
			   
			   
			   
			   
			   </div>
			   
 <div class="col-lg-9 col-md-12 "><div class="row align-items-start justify-content-sm-evenly justify-content-lg-end ms-lg-auto">
			 
			   <div class="col-12 col-lg-auto col-md-4 col-sm-4 mt-0 ">
				   <div class="region region-footer1"> 
					   <section id="block-menu-menu-footer-1" class="block block-menu clearfix mt-0 pt-2">
						   <h2 class="fw-semibold">Trámites</h2>
						   <ul class="menu nav d-inline"><li class="first leaf"><a href="https://www.argentina.gob.ar/turnos"  target="_blank" rel="noopener">Turnos</a></li>
							   <li><a href="https://www.argentina.gob.ar/jefatura/innovacion-tecnologica/innovacion-administrativa/tramites-distancia-tad" target="_blank" rel="noopener">Trámites a distancia</a></li>
							    <li><a href="https://www.argentina.gob.ar/tramitar" target="_blank" rel="noopener">Tramitar</a></li>
							   <li><a href="https://www.argentina.gob.ar/miargentina/mesadeayuda" target="_blank" rel="noopener">Atención a la ciudadanía</a></li></ul></section></div></div>
			   
			   <div class="col-12 col-lg-auto col-md-4 col-sm-4 mt-0 pt-sm-0 pt-4"><div class="region region-footer2"> 
				   <section id="block-menu-menu-footer-2" class="block block-menu clearfix mt-0 pt-2"><h2 class="fw-semibold ">Acerca de Argentina</h2><ul class="menu nav d-inline">
					   <li><a href="https://www.argentina.gob.ar/pais" target="_blank" rel="noopener">Nuestro país</a></li>
					   <li><a href="https://www.argentina.gob.ar/normativa" target="_blank" rel="noopener">Leyes argentinas</a></li>
					   <li><a href="https://www.argentina.gob.ar/organismos" target="_blank" rel="noopener">Organismos</a></li>
					   <li><a href="https://www.argentina.gob.ar/jefatura/mapa-del-estado" target="_blank" rel="noopener">Mapa del Estado</a></li>
					   </ul>
				   </section></div></div>
			   
			   <div class="col-12 col-md-4 col-sm-4  mt-0 pt-sm-0 pt-4"><div class="region region-footer3"> 
				   <section id="block-menu-menu-footer-3" class="block block-menu clearfix mt-0 pt-2"><h2 class="fw-semibold">Transparencia</h2>
					   <ul class="menu nav d-inline">
						   <li class="first"><a href="https://audiencias.mininterior.gob.ar/" target="_blank" rel="noopener">Registro de audiencias</a></li>
						   <li><a href="https://www.argentina.gob.ar/jefatura/renappo" target="_blank" rel="noopener">Registro de publicidad oficial</a></li>
						   <li><a href="https://www.argentina.gob.ar/aaip" target="_blank" rel="noopener">Acceso a la información pública</a></li></ul>
				   </section></div></div></div>
			   
			   </div></div>

</div>
    
  </div>
</footer>


  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<!--
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
-->