<nav class="navbar navbar-expand-xl container-xl my-0 py-0 cr-nav align-items-end" aria-label="Main page navigation" aria-labelledby="menu-principal">
    
  <h2 class="visually-hidden" id="menu-principal">Menú Principal</h2>
  <div class="container-fluid px-0 px-sm-2">

      <div class="col align-self-start logos d-md-block d-xl-none">
        <a href="index.html"> <img src="/../../fotos/cr-casaRosada.svg" alt="Logo Casa Rosada">
        <img src="/../../fotos/cr-argentina-mobile.svg" alt="Logo Argentina.gob.ar"></a>
      </div>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
        <!--<span class="navbar-toggler-icon"></span>    -->                                                                                                                                                        <span class="fa fa-bars"></span>                                                                                                     
      </button>

      <div class="collapse navbar-collapse justify-content-lg-center cr-navbar-collapse" id="navbarsExample08">
        <div class="col-auto dropdown  d-md-block d-xl-none cr-idioma-mobile">

          <div class="navbar-nav w-100">
            
            <div class="nav-item dropdown float-end">

              
              <a class="nav-link dropdown-toggle btn btn-idioma-mobile my-0 py-1 px-2 mx-0" href="#" id="dropdown01" data-bs-toggle="dropdown" aria-expanded="false">español</a>
              <ul  class="dropdown-menu p-3  dropdown-idiomas mx-0 my-0 px-0 py-0 " aria-labelledby="dropdown01">
                <li><a class="dropdown-item px-2 py-1" href="#">inglés</a></li>
              </ul>
            </div>
          </div>
        </div>
        <ul class="navbar-nav">
          {% if page.title == "Autoridades Alberto Fernandez | Casa Rosada" or page.title == "Autoridades Cristina Fernandez | Casa Rosada"  %}
          <li class="nav-item dropdown">
            <a class="nav-link  nav-link-active dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Autoridades</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown02">
              <li><a class="dropdown-item px-2 py-2" href="autoridades-af">Alberto Fernández</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Cristina Fernández de Kirchner</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Juan Manzur  <i class="fa fa-external-link"></i></a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Julio Vitobello  <i class="fa fa-external-link"></i></a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-bs-toggle="dropdown" aria-expanded="false">Autoridades</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown02">
              <li><a class="dropdown-item px-2 py-2" href="autoridades-af">Alberto Fernández</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Cristina Fernández de Kirchner</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Juan Manzur  <i class="fa fa-external-link"></i></a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Julio Vitobello  <i class="fa fa-external-link"></i></a></li>
            </ul>
          </li>
          {% else %}
          {% endif %}
          {% if page.title == "Agenda presidencial | Casa Rosada" or page.title == "Noticias | Casa Rosada" or page.title == "Noticias ampliada | Casa Rosada" %}
          <li class="nav-item dropdown">
            <a class="nav-link nav-link-active dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Actividad presidencial</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown03">
              <li><a class="dropdown-item px-2 py-2" href="agenda-presidencial">Agenda presidencial</a></li>
              <li><a class="dropdown-item px-2 py-2" href="noticia-gral">Noticias</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Discursos</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Conferencias</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Entrevistas</a></li>
              <li><a class="dropdown-item px-2 py-2" target="_blank" href="../../casarosada/v1/hitos-de-gestion.pdf"  title="Descarga de archivo PDF (abre en una pestaña nueva)">Hitos de gestión <i class="fa fa-file-pdf-o ps-1"></i></a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">Actividad presidencial</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown03">
              <li><a class="dropdown-item px-2 py-2" href="agenda-presidencial">Agenda presidencial</a></li>
              <li><a class="dropdown-item px-2 py-2" href="noticia-gral">Noticias</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Discursos</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Conferencias</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Entrevistas</a></li>
              <li><a class="dropdown-item px-2 py-2" href="autoridades-fy">Actividad primera dama</a></li>

              <li><a class="dropdown-item px-2 py-2" target="_blank" href="../../casarosada/v1/hitos-de-gestion.pdf"  title="Descarga de archivo PDF (abre en una pestaña nueva)">Hitos de gestión <i class="fa fa-file-pdf-o ps-1"></i></a></li>
            </ul>
          </li>
          {% else %}
          {% endif %}

          {% if page.title == "Prioridades | Casa Rosada"  %}
          <li class="nav-item">
            <a class="nav-link nav-link-active " href="prioridades">Prioridades de gestión</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link " href="prioridades">Prioridades de gestión</a>
          </li>
          {% else %}
          {% endif %}


          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown04" data-bs-toggle="dropdown" aria-expanded="false">Sala de prensa</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown04">
              <li><a class="dropdown-item px-2 py-2" href="portavoz">Portavoz</a></li>
              <li><a class="dropdown-item px-2 py-2" href="otras-conferencias">Otras conferencias</a></li>
            </ul>
          </li>
          
          {% if page.title == "Historia Casa Rosada | Casa Rosada" or  page.title == "Historia Casa Rosada Interior | Casa Rosada" or  page.title == "Puntos de interes | Casa Rosada" or  page.title == "Salones | Casa Rosada" or  page.title == "Salón Blanco | Casa Rosada" %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle nav-link-active " href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Casa de Gobierno</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown05">
              <li><a class="dropdown-item px-2 py-2" href="historia-casarosada">Historia de la Casa Rosada</a></li>
              <li><a class="dropdown-item px-2 py-2" href="puntos-interes">Puntos de interés</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Museo  <i class="fa fa-external-link"></i></a></li>
            </ul>
          </li>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdown05" data-bs-toggle="dropdown" aria-expanded="false">Casa de Gobierno</a>
            <ul class="dropdown-menu dropdown-menuPpal p-3" aria-labelledby="dropdown05">
              <li><a class="dropdown-item px-2 py-2" href="historia-casarosada">Historia de la Casa Rosada</a></li>
              <li><a class="dropdown-item px-2 py-2" href="puntos-interes">Puntos de interés</a></li>
              <li><a class="dropdown-item px-2 py-2" href="#">Museo  <i class="fa fa-external-link"></i></a></li>
            </ul>
          </li>
          {% else %}
          {% endif %}

        </ul>

        <ul class="list-inline list-line-redes-mobile d-md-block d-xl-none mt-4">
          <li class="list-inline-item"><a href="https://www.facebook.com/casarosadaargentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Facebook</span><i class="fa icono-arg-facebook-circular"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">Twitter</span><i class="fa  icono-arg-twiter-circular"></i></a></li>
          <li class="list-inline-item"><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Instagram</span><i class="fa icono-arg-instagram-circular"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/user/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">YouTube</span><i class="fa icono-arg-youtube-circular"></i></a></li>
        </ul>


      </div>
    </div>
  </nav>