<div class="col text-end social-share">
    <ul class="list-inline float-end">
      <li class="list-inline-item"><a href="https://www.facebook.com/casarosadaargentina/" target="_blank" rel="noreferrer"><span class="sr-only">Facebook</span><i class="fa fa-brands fa-facebook"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/casarosada" target="_blank" rel="noreferrer"><span class="sr-only">Twitter</span><i class="fa  fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank" rel="noreferrer"><span class="sr-only">Instagram</span><i class="fa fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="https://www.youtube.com/user/casarosada" target="_blank" rel="noreferrer"><span class="sr-only">YouTube</span><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>