<div class="col text-end social-share">
    <ul class="list-inline float-end">
      <li class="list-inline-item"><a href="https://www.facebook.com/casarosadaargentina/"><i class="fa fa-brands fa-facebook"></i></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/casarosada"><i class="fa  fa-twitter"></i></a></li>
      <li class="list-inline-item"><a href="https://www.instagram.com/CasaRosadaArgentina/"><i class="fa fa-instagram"></i></a></li>
      <li class="list-inline-item"><a href="https://www.youtube.com/user/casarosada"><i class="fa fa-youtube-play"></i></a></li>
    </ul>
  </div>