
<header class="cr-header">
  <div class="container-lg">
    <div class="row align-items-centers">
      {% include casarosada/header-logos.html %}
      <div class="col align-self-end d-none d-xl-block">
        <div class="container">
          <div class="row align-items-center">
            {% include casarosada/header-redes.html %}

 <div class="col-auto cr-idioma ">
<a href="#" target="_blank" title="Ir a la versión anterior del sitio Casa Rosada" class="btn btn-dark btn-idioma my-0" type="button">
          ver versión anterior
          </a></div>

        <div class="col-auto dropdown cr-idioma ">



          <button class="btn btn-dark btn-idioma my-0 dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
             español
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-idiomas dropdown-idiomas-escritorio py-0 " aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item px-2 py-1" href="#">inglés</a></li>
          </ul>
        </div>
      </div></div>
      </div>
      {% include casarosada/header-menu.html %}
    </div>
  </div>
</header>


