<div class="col text-end social-share mx-0 my-0">
    <ul class="list-inline float-end">
      <li class="list-inline-item me-0"><a href="https://www.facebook.com/casarosadaargentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Facebook</span><i class="fa icono-arg-facebook-circular"></i></a></li>
      <li class="list-inline-item me-0"><a href="https://twitter.com/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">Twitter</span><i class="fa  icono-arg-twiter-circular"></i></a></li>
      <li class="list-inline-item me-0"><a href="https://www.instagram.com/CasaRosadaArgentina/" target="_blank" rel="noreferrer"><span class="visually-hidden">Instagram</span><i class="fa icono-arg-instagram-circular"></i></a></li>
      <li class="list-inline-item me-0"><a href="https://www.youtube.com/user/casarosada" target="_blank" rel="noreferrer"><span class="visually-hidden">YouTube</span><i class="fa icono-arg-youtube-circular"></i></a></li>
    </ul>
  </div>