// Fechas Drupal

.form-type-date .form-inline {
  margin: 0 -15px;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: initial;

  &:after {
    content: '';
    display: block;
    clear: left;
  }

  > div {
    width: 33.33%;
    padding: 0 15px;
    display: block;
    float: left;

    label {
      display: block;
    }

    input, select {
      width: 100%;
      box-sizing: border-box;
    }
  }
}


.form-item {
  input {
    font-size: 16px;
    line-height: 1;
    padding: 15px;
    &[type=hidden] + input {
      border-radius: 4px 0 0 4px !important;
    }
  }

  .input-group-btn .btn {
    min-width: 200px;
  }
}

.checkbox input[type=checkbox], 
.checkbox-inline input[type=checkbox], 
.radio input[type=radio], 
.radio-inline input[type=radio] {
  padding: 0;
}  

fieldset.panel.collapsible {
  border: none;
  background: none;
  box-shadow: none;
  padding: 0;
  height: initial !important;

  legend.panel-heading {
    border: 0;
    min-height: 0;
    background: none;
    padding: 0;
    margin: 0;

    a {
      display: inline-block;
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
      padding: 16px 25px;
      border-radius: 4px;
      text-transform: uppercase;
      vertical-align: top;
      color: $brand-primary;
      text-decoration: underline !important;
      background-color: $gray-lighter !important;

      span {
        display: none;
      }

      &:hover,
      &:focus {
        background-color: $gray-light !important;
        color: $brand-primary;
      }
    }
  }
  .panel-body {
    border: 1px solid $gray-light;
    border-radius: 4px;
    padding: 30px 30px 0;

    .form-group > label.control-label {
      font-weight: 400;
    }
  }
}