// Fechas Drupal

.form-type-date .form-inline {
  margin: 0 -15px;

  &:after {
    content: '';
    display: block;
    clear: left;
  }

  > div {
    width: 33.33%;
    padding: 0 15px;
    display: block;
    float: left;

    label {
      display: block;
    }

    input, select {
      width: 100%;
      box-sizing: border-box;
    }
  }
}
