// Fechas Drupal

.form-type-date .form-inline {
  margin: 0 -15px;
  background: none;
  border: none;
  box-shadow: none;
  padding: 0;
  width: initial;

  &:after {
    content: '';
    display: block;
    clear: left;
  }

  > div {
    width: 33.33%;
    padding: 0 15px;
    display: block;
    float: left;

    label {
      display: block;
    }

    input, select {
      width: 100%;
      box-sizing: border-box;
    }
  }
}


.form-item {
  input {
    font-size: 16px;
    line-height: 1;
    padding: 15px;

    &[type=hidden] + input {
      border-radius: 4px 0 0 4px !important;
    }
  }

  .input-group-btn .btn {
    min-width: 200px;
  }
}