main,footer {
  a {
    &[href^="http://"],
    &[href^="https://"] {
      &[target^="_blank"]:after,
      &[target^="_blank"]:after {
          content: " \f08e";
          display: inline-block;
          margin-left: 5px;
          vertical-align: -1px;
          font: normal normal normal 14px/1 FontAwesome;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;        
        }

    }

    &.btn:after,
    &[href^="http://www.argentina.gob.ar"]:after,
    &[href^="https://www.argentina.gob.ar"]:after,
    &.panel:after,
    &.btn:after,

    &.not-external:after {
      content: none!important;
    }
  }

  .social-share a:after,
  .panel a:after,
  .alert a:after,
  a.alert:after,
  .nav a:after,
  .gm-style a:after {
    content: none!important;
  }
}