---
layout: mi-argentina
---
<div class="container">
  <div class="col-md-8">
    <h2>Panels ERROR</h2>
    <h3>Panel error sin foto</h3>
    <div class="panels-row-miargentina">
      <div class="panel panel-default panel-border-primary panel-nolink">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <h3>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h3>
            </div>
           
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-content-padding">
            <div class="form-group row has-error">
              <div class="col-sm-8">
                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
                <span class="help-block">Falta ingresar este dato.</span>
                <span class="help-block">Error en los datos ingresados, intentá de nuevo.</span>
                
              </div>

              <div class="p-t-1 col-xs-12">
                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Panel error sin foto close</h3>
    <div class="panels-row-miargentina pclose">
      <div class="panel panel-default panel-border-primary panel-nolink">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-10 col-md-11">
              <h3>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h3>
            </div>
            <div class="col-xs-2 col-md-1">
              <div class="text-right btn-close">
                <i class="fa fa-close"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-content-padding">
            <div class="form-group row has-error">
              <div class="col-sm-8">
                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
                <span class="help-block">Falta ingresar este dato.</span>
                <span class="help-block">Error en los datos ingresados, intentá de nuevo.</span>
                
              </div>

              <div class="p-t-1 col-xs-12">
                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h3>Panel error con foto</h3>
    <div class="panels-row-miargentina">
      <div class="panel panel-default panel-border-primary panel-nolink">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12 col-md-11">
              <h3>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h3>
            </div>
            
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-content-padding">
            <div class="form-group row has-error">
              <div class="col-sm-6">
                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
                <span class="help-block">Falta ingresar este dato.</span>
                <span class="help-block">Error en los datos ingresados, intentá de nuevo.</span>
                
              </div>

              <div class="col-xs-10 col-sm-6">
                <img src="../img/dni_id.png" alt="id-tramite" class="col-xs-12 p-x-0 m-t-1 max-w-img">
                <small class="col-xs-12 p-x-0 p-t-1">(*) En algunos DNI el nro. de trámite se ve al dorso</small>
              </div>
              <div class="p-t-1 col-xs-12">
                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h3>Panel error con foto close</h3>
    <div class="panels-row-miargentina pclose">
      <div class="panel panel-default panel-border-primary panel-nolink">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-10 col-md-11">
              <h3>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h3>
            </div>
            <div class="col-xs-2 col-md-1">
              <div class="text-right btn-close">
                <i class="fa fa-close"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-body">
          <div class="panel-content-padding">
            <div class="form-group row has-error">
              <div class="col-sm-6">
                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
                <span class="help-block">Falta ingresar este dato.</span>
                <span class="help-block">Error en los datos ingresados, intentá de nuevo.</span>
                
              </div>

              <div class="col-xs-10 col-sm-6">
                <img src="../img/dni_id.png" alt="id-tramite" class="col-xs-12 p-x-0 m-t-1 max-w-img">
                <small class="col-xs-12 p-x-0 p-t-1">(*) En algunos DNI el nro. de trámite se ve al dorso</small>
              </div>
              <div class="p-t-1 col-xs-12">
                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<script src="../../js/alert-close.js"></script>
                      