---
layout: mi-argentina
---

<div class="container">

	<div class="col-md-8">
		<h1>Sección Paneles</h1>


		<div class="row">
	<!--PANEL VARIAS COL-->
	
	<div class="col-md-11">
		<h2>Panel table</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="media">
						<div class="media-left hidden-xs"><i class="fa fa-credit-card-alt text-muted"></i></div>
						<div class="media-body">
							<h2>Avisos de credenciales</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="panel-content-padding">
						<table class="table table-condensed panel-table">
							<tbody>
						      <tr>
						        <td>Licencia Nacional de Conducir</td>
						        <td>Vence el 02/02/2018</td>
						        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
						        <td><a href="">¿Cómo renovar?</a></td>
						      </tr>
						      <tr>
						       	<td>Licencia Nacional de Conducir</td>
						        <td>Vence el 02/02/2018</td>
						        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
						        <td><a href="">¿Cómo renovar?</a></td>
						      </tr>
						      <tr>
						        <td>Licencia Nacional de Conducir</td>
						        <td>Vence el 02/02/2018</td>
						        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
						        <td><a href="">¿Cómo renovar?</a></td>
						      </tr>
						    </tbody>
						</table>	
					</div>
				</div>
			</div>
		</div>
	</div>



	<!--PANEL CREDENCIAL-->
	
	<div class="col-md-8">
		<h2>Panel credencial</h2>
		<div class="panels-row-miargentina">
				<div class="panel panel-default panel-nolink panel-border-success panel-credenciales">
		        	<div class="panel-heading">
		            	<h2>DNI 34.303.273</h2>
		          	</div>
		          	<div class="panel-body">
		            	<div class="row">
		            		<div class="col-md-8" id="main-content">
		                		<small>Fecha de vencimiento</small>
		                		<p><b>24/05/2033</b></p>
		                		<p class="text-capitalize"><i class="fa fa-check-circle text-success"></i><b> Vigente</b></p>
		                	</div>
		            		<div class="col-lg-4">
		            	 		 <div id="qrDNI" class="qrsmall">
		  							<img src="../../../img/QR.png" alt="" style="max-width: 130px;">
		  						</div>
		            		</div>
		            	</div>
		            	<div class="row">
		            		<div class="col-md-12">
		                		<img src="../../../img/logos/mininterior.svg" style="max-width: 100%;" class="m-y-1" height="30">
		            		</div>
		            	</div>
		          	</div>
		          	<div class="panel-footer">
		            	<p><a href="http://10.1.126.98:3000/credenciales/documento-nacional-de-indentidad">Ver más información</a></p>
		          	</div>
		          
		        </div>
		</div>
	</div>
	<div class="col-md-8">
		<h2>Panel credencial vencida</h2>
		<div class="panels-row-miargentina">
				<div class="panel panel-default panel-nolink panel-border-danger panel-credenciales p-y-0">
		        	<div class="panel-heading">
		            	<h2>Licencia de conducir</h2>
		          	</div>
		          	<div class="panel-body">
		          		<div class="credential-danger-state">
		          			<p class="text-danger text-center m-y-0">Vencida</p>
			            	<p class="text-center">Venció el 11/12/2018</p>
			            	<a href=""><p class="text-center">¿Cómo renovarla?</p></a>	
		          		</div>
		          	</div>
		        </div>
		</div>

	
	<!--PANEL CUD-->
	
		<h2>Panel cud</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<h2>Certificado Único de Discapacidad</h2>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="media">
								<div class="media-left hidden-xs"><i class="icono-arg-cud fa-fw fa-2x text-muted"></i></div>
								<div class="media-body">
					                <h3><a href="">Detalle de mi CUD</a></h3>
					                <label>Fecha vencimiento</label>
					                <p><b>18/01/2022</b></p>
					                <p><i class="fa fa-check-circle text-success"></i><b> Vigente</b></p>
					            </div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="m-t-1">
								<p>Estos son los trámites que podés hacer con tu CUD :</p>
								<a href="" class="btn btn-success">Renová tu certificado</a>
								<a href="" class="btn btn-link">Reservá pasajes</a>
								<a href="" class="btn btn-link">Turnos para símbolo automotor</a>
							</div>
							
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>

	</div>
	<div class="col-md-12">

		<!--PANEL FORM-->
		<h2>Panel form</h2>
	    <div class="panels-row-miargentina pclose">
	      <div class="panel panel-default panel-border-primary panel-nolink">
	        <div class="panel-heading">
	          <div class="row">
	            <div class="col-xs-10 col-md-11">
	              <h2>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h2>
	            </div>
	            <div class="col-xs-2 col-md-1">
	              <div class="text-right btn-close">
	                <i class="fa fa-close"></i>
	              </div>
	            </div>
	          </div>
	        </div>
	        <div class="panel-body">
	          <div class="panel-content-padding">
	            <div class="form-group row">
	              <div class="col-sm-8">
	                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
	                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
	                
	              </div>

	              <div class="p-t-1 col-xs-12">
	                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
	                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
	              </div>
	            </div>
	          </div>
	        </div>
	      </div>
	    </div>
	    <h2>Panel form con foto</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<h2>Form</h2>
				</div>
				<div class="panel-body">
		          <div class="panel-content-padding">
		          	<div class="row">
			            <div class="form-group ">
			              <div class="col-sm-6">
			                <label class="control-label" for="id-tramite">Nro. de trámite que figura en el DNI <small>(Obligatorio)</small></label>
			                <input class="form-control" type="number" name="id-tramite" maxlength="12" autocomplete="off" required>
			              
			              </div>

			              <div class="col-xs-10 col-sm-6">
			                <img src="../../../img/dni_id.png" alt="id-tramite" class="col-xs-12 p-x-0 m-t-1 max-w-img">
			                <small class="col-xs-12 p-x-0 p-t-1">(*) En algunos DNI el nro. de trámite se ve al dorso</small>
			              </div>
			              <div class="p-t-1 col-xs-12">
			                <a class="btn btn-successp-x-1" href="">GUARDAR Y DESCARGAR</a>
			                <a class="btn btn-linkp-x-1" href="">CANCELAR</a>
			              </div>
			            </div>
		            </div>
		          </div>
		        </div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>
		<!--PANEL BACK1-->
		<h2>Panel detalle</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-3 btn-volver">
                        	<a id="volver" href="#" class="btn btn-link btn-sm m-b-0"><i class="fa fa-arrow-left"></i> Volver</a>
                        </div>
                        <div class="col-md-8 col-md-9">
							<h2>Detalles</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="panel-content-padding">
                            <div class="col-md-6">
                                <div class="m-b-1">
                                    <small>Fecha de aplicación</small>
                                    <p><strong>22/03/2018</strong> </p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Incorporada al Calendario Nacional</small>
                                    <p><strong>Si</strong></p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Lugar de aplicación</small>
                                    <p><strong>Establecimiento Holly Molly</strong></p> 
                                </div>

                                <div class="m-b-1">
                                    <small>Departamento</small>
                                    <p><strong>Lomas de Zamora</strong></p> 
                                </div>
                               
                            </div>

                            <div class="col-md-6">
                                <div class="m-b-1">
                                    <small>Nombre de la dosis</small>
                                    <p><strong>Dosis anual</strong> </p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Esquema</small>
                                    <p><strong>Regular 9 a 64 Años con F de Riesgo</strong></p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Localidad</small>
                                    <p><strong>Temperley</strong></p> 
                                </div>

                                <div class="m-b-1">
                                    <small>Provincia</small>
                                    <p><strong>Provincia de Buenos Aires</strong></p> 
                                </div>
                            </div>
                        </div>
                    </div>
                   
				</div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>





	</div>	
</div>

	




<script src="../../js/alert-close.js"></script>

<script src="../../js/alert-collapse.js"></script>

