---
layout: mi-argentina
---
<div class="container">
	<h2>Panel loading</h2>
	<div class="col-md-8">
		
		<h2>Panel close</h2>
		<div class="panels-row-miargentina pclose">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading" >
					<div class="row">
				
						<div class="col-xs-2 col-md-1">
							<div class="text-right btn-close">
								<i class="fa fa-close"></i>
							</div>
						</div>
						
					</div>
				</div>
				<div class="panel-body" aria-labelledby="collapsePanel" aria-expanded="true" >
					<ul class="list-group">
						<div class="state-loading">
							<li class="list-group-item"></li>
						</div>
						
					</ul>
				</div>
			</div>
		</div>


		<!--Panel dos columnas-->
		<h2>Panel 2 col</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8 col-md-9">
							<h2>Vencimientos</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="panel-content-padding">
						<p class="text-muted">Estas son las fechas de vencimiento que configuraste para recibir :</p>
						<div class="row">
							<div class="m-b-1">
								<div class="state-loading">
									
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--Panel credencial-->
		<h2>Panel credencial</h2>
		<div class="row panels-row panels-row-miargentina">
			<div class="col-md-6 col-sm-6 col-xs-12">
				<div class="panel panel-default panel-nolink panel-border-success panel-credenciales">
		        	<div class="panel-heading">
		            	<h2>DNI 34.303.273</h2>
		          	</div>
		          	<div class="state-loading">
		          		<div class="panel-body">
		          		
		            	
		            	</div>
		          	</div>
		          	<div class="panel-footer">
		            	<p><a href="http://10.1.126.98:3000/credenciales/documento-nacional-de-indentidad">Ver más información</a></p>
		          	</div>
		          
		        </div>
		      
		    </div>
		</div>
		<!--Panel cud-->
		<h2>Panel cud</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8 col-md-9">
							<h2>Certificado Único de Discapacidad</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<div class="state-loading">
							<li class="list-group-item">
							
							</li>
						</div>
						<li class="list-group-item">
							<div class="m-t-1">
								<p>Estos son los trámites que podés hacer con tu CUD :</p>
								<a href="" class="btn btn-success">Renová tu certificado</a>
								<a href="" class="btn btn-link">Reservá pasajes</a>
								<a href="" class="btn btn-link">Turnos para símbolo automotor</a>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-md-11">
		<h2>Panel tab loading completo</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8 col-md-12">
							<div class="media">
								<div class="media-left hidden-xs"><i class="fa fa-credit-card-alt text-muted"></i></div>
								<div class="media-body">
									<h2>Avisos de credenciales</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="state-loading">
					
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-11">
		<h2>Panel tab loading por item</h2>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8 col-md-12">
							<div class="media">
								<div class="media-left hidden-xs"><i class="fa fa-credit-card-alt text-muted"></i></div>
								<div class="media-body">
									<h2>Avisos de credenciales</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="panel-body">
					
					<div class="panel-content-padding">
						<table class="table table-condensed panel-table">
							<tbody>
								<div class="state-loading">
									<tr>
								        <td>Licencia Nacional de Conducir</td>
								        <td>Vence el 02/02/2018</td>
								        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
								        <td><a href="">¿Cómo renovar?</a></td>
								      </tr>	
								</div>
						      <div class="state-loading">
						      	  <tr>
							       	<td>Licencia Nacional de Conducir</td>
							        <td>Vence el 02/02/2018</td>
							        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
							        <td><a href="">¿Cómo renovar?</a></td>
							      </tr>
						      </div>
						    
						      <tr>
						        <td>Licencia Nacional de Conducir</td>
						        <td>Vence el 02/02/2018</td>
						        <td><i class="fa fa-exclamation-circle text-warning"></i> Próximo a vence</td>
						        <td><a href="">¿Cómo renovar?</a></td>
						      </tr>
						    </tbody>
						</table>	
					</div>
					
				</div>
			</div>
		</div>
	</div>	
</div>
	