---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Consultas" %}



<section>
<div class="container">

<aside class="col-md-4">
      <nav class="page-sidebar m-b-2">
        <ul class="nav nav-pills nav-stacked">
          <div class="hidden-xs hidden-sm p-r-3">
            <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
            <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
            <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
            <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
            
            <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
            <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
            <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
            <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
            <hr class="m-y-1">
            <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
            <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
            <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
            <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
            <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
            <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
            <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
            <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
            <hr class="m-y-1">
            
            <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
          </div>
          <div class="visible-xs visible-sm">
            <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
            <div class="collapse" id="collapseExample">
              <hr class="m-y-1">
              <div class="row">
                <div class="col-sm-6">
                  <li class="menu" data-id="inicio"><a href="http://10.1.126.98:3000/inicio">Inicio</a></li>
                  <li class="menu" data-id="credenciales"><a href="http://10.1.126.98:3000/credenciales">Credenciales</a></li>
                  <li class="menu" data-id="turnos"><a href="http://10.1.126.98:3000/turnos">Turnos</a></li>
                  <li class="menu active" data-id="transporte"><a href="http://10.1.126.98:3000/transporte">Transporte</a></li>
                  
                  <li class="menu" data-id="salud"><a href="http://10.1.126.98:3000/salud">Salud</a></li>
                  <li class="menu" data-id="discapacidad"><a href="http://10.1.126.98:3000/discapacidad">Discapacidad</a></li>
                  <li class="menu" data-id="educacion"><a href="http://10.1.126.98:3000/educacion">Educación</a></li>
                  <li class="menu" data-id="mi-provincia"><a href="http://10.1.126.98:3000/mi-provincia">Mi provincia</a></li>
                  <hr class="hidden-sm">
                </div>
                <div class="col-sm-6">
                  <li class="btn-title p-l-2"><i class="fa fa-file-text-o"></i> &nbsp; Mis datos</li>
                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/?next=http://10.1.126.98:3000/transporte">Datos básicos</a></li>
                  <li class="menu"><a href="http://10.1.126.98:8000/perfil/opcional/?next=http://10.1.126.98:3000/transporte">Datos opcionales</a></li>
                  <li class="menu"><a href="http://10.1.126.98:8000/mis-vehiculos/?next=http://10.1.126.98:3000/transporte">Mis vehículos</a></li>
                  <li class="menu"><a href="http://10.1.126.98:8000/mis-dispositivos/?next=http://10.1.126.98:3000/transporte">Mis dispositivos</a></li>
                  <li class="menu"><a href="http://10.1.126.98:8000/vincular-redes-sociales/?next=http://10.1.126.98:3000/transporte">Redes sociales</a></li>
                  <li class="menu" data-id="configurar-notificaciones"><a href="http://10.1.126.98:3000/configurar-notificaciones">Configurar notificaciones</a></li>
                  <li class="menu"><a href="http://10.1.126.98:8000/password/change/?next=http://10.1.126.98:3000/transporte">Configurar mi cuenta</a></li>
                  <hr class="hidden-sm">
                  
                  <li class="menu"><a href="http://10.1.126.98:3000/salir" class="logout">Cerrar la sesión</a></li>
                </div>
              </div>
            </div>
          </div>
        </ul>
      </nav>
    </aside>



	<div class="col-md-8">
		<!--PANEL CLOSE-->
		<h1>Título de la sección</h1>
		<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading" >
					<div class="row">
						<div class="col-xs-10 col-md-11">
							<h2>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h2>
						</div>
						
						
					</div>
				</div>
				<div class="panel-body" aria-expanded="true" >
					<ul class="list-group">
						<li class="list-group-item">
							<a class="item-panel" href="">Antigripal</a>
							<p class="text-muted m-b-0">Última aplicación el 12/05/2018 en Establecimiento Holly Molly - Temperley</p>
						</li>
						<li class="list-group-item">
							<a class="item-panel" href="">Fiebre amarilla</a>
							<p class="text-muted m-b-0">Última aplicación el 12/05/2018 en Establecimiento Holly Molly - Temperley</p>
						</li>
					</ul>
				</div>
			</div>
		</div>



<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
						<div class="col-md-8 col-md-9">
							<h2>Certificado Único de Discapacidad</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<ul class="list-group">
						<li class="list-group-item">
							<div class="media">
								<!-- <div class="media-left hidden-xs"><i class="icono-arg-cud fa-fw fa-2x text-muted"></i></div> -->
								<div class="media-body">
					                <a class="item-panel" href="">Detalle de mi CUD</a>
					                <label>Fecha vencimiento</label>
					                <p><b>18/01/2022</b></p>
					                <p><i class="fa fa-check-circle text-success"></i><b> Vigente</b></p>
					            </div>
							</div>
						</li>
						<li class="list-group-item">
							<div class="m-t-1">
								<p>Estos son los trámites que podés hacer con tu CUD :</p>
								<a href="" class="btn btn-success">Renová tu certificado</a>
								<a href="" class="btn btn-link">Reservá pasajes</a>
								<a href="" class="btn btn-link">Turnos para símbolo automotor</a>
							</div>
							
						</li>
					</ul>
				</div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>

		
<!-- Panel detalle -->
<div class="panels-row-miargentina">
			<div class="panel panel-default panel-border-primary panel-nolink">
				<div class="panel-heading">
					<div class="row">
                        <div class="col-md-8">
                        	<a id="volver" href="#" class="btn btn-link btn-sm m-b-0 pull-left"><i class="fa fa-arrow-left"></i> Volver</a>
							<h2 class="pull-left titulo-con-volver">Detalles</h2>
						</div>
					</div>
				</div>
				<div class="panel-body">
					<div class="row">
						<div class="panel-content-padding">
                            <div class="col-md-6">
                                <div class="m-b-1">
                                    <small>Fecha de aplicación</small>
                                    <p><strong>22/03/2018</strong> </p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Incorporada al Calendario Nacional</small>
                                    <p><strong>Si</strong></p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Lugar de aplicación</small>
                                    <p><strong>Establecimiento Holly Molly</strong></p> 
                                </div>

                                <div class="m-b-1">
                                    <small>Departamento</small>
                                    <p><strong>Lomas de Zamora</strong></p> 
                                </div>
                               
                            </div>

                            <div class="col-md-6">
                                <div class="m-b-1">
                                    <small>Nombre de la dosis</small>
                                    <p><strong>Dosis anual</strong> </p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Esquema</small>
                                    <p><strong>Regular 9 a 64 Años con F de Riesgo</strong></p> 
                                </div>
                                <div class="m-b-1">
                                    <small>Localidad</small>
                                    <p><strong>Temperley</strong></p> 
                                </div>

                                <div class="m-b-1">
                                    <small>Provincia</small>
                                    <p><strong>Provincia de Buenos Aires</strong></p> 
                                </div>
                            </div>
                        </div>
                    </div>
                   
				</div>
				<div class="panel-footer">
					<p>Conocé todos los <a href="https://www.argentina.gob.ar/tramites-y-prestaciones-para-personas-con-discapacidad" target="_blank">derechos de las personas con discapacidad</a>.
					</p>
				</div>
			</div>
		</div>




	</div>



		
</div>
</section>
	




<script src="../../js/alert-close.js"></script>

<script src="../../js/alert-collapse.js"></script>

