main {
	a {
    &[href^="http://"]:after,
    &[href^="https://"]:after {
      content: " \f08e";
      display: inline-block;
      margin-left: 5px;
      vertical-align: -1px;
      font: normal normal normal 14px/1 FontAwesome;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
    }

    &.btn:after,
    &[href^="http://www.argentina.gob.ar"]:after,
    &[href^="https://www.argentina.gob.ar"]:after,
    &.panel:after,
    &.btn:after {
      content: none;
    }
  }

  .social-share a:after,
  .panel a:after,
  .alert a:after, {
    content: none;
  }
}