.breadcrumb {
	background: 0 0;
	border: 0;
	margin: 16px 0 0;
	padding: 0;
	text-transform: none;
	li {
		font-size: 14px;
		line-height: 22px;
	}
	a {
		color: $primary;
		text-decoration: none;
		&:hover {
			color: $black;
		}
	}
	>.active {
		color: $gray;
	}
	>li+li {
		&:before {
			color: $gray;
		}
	}
}


.separador {border-bottom: 1px solid $black;}