@import "vars";
@import "typography";
@import "buttons";
@import "breadcrumbs";
@import "global";
@import "forms";
@import "../node_modules/bootstrap/scss/bootstrap.scss";


/* Custom Styles */


//== Body
body {
    background-color: $color-body;
}



//== Footer
.sub-footer {
    background-color: $bg-celeste-argentina;
    padding: 20px 0 20px 0;
}







//==TOD
@media (max-width: 420px){
.tod-logo img {
max-height: 70px;
}
}


.tod-logo  img {
height: 80px;
}


.tod_requisito { 
    font-size:18px; 
    
    li { 
    margin: 10px 0px;
    }
}


/*///Organimos Revisar //////*/
.menu-main {
    .nav-main {
        >li {
            >a {
                color: $primary;
                font-size: 15px;
                font-weight: 500;
                line-height: 30px;
                text-transform: uppercase;
                padding: 8px 20px;
                &:hover {
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                }
                &:focus {
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                }
                &:active {
                    -webkit-border-radius: 30px;
                    -moz-border-radius: 30px;
                    border-radius: 30px;
                }
            }
            >ul {
                background: #fff !important;
                padding: 8px 20px;
                margin-top: 6px;
                color: $primary;
                line-height: 31px;
                >li {
                    border-bottom: 1px solid #c0c0c0;
                    &:last-child {
                        border-bottom: none;
                    }
                    >a {
                        color: $primary !important;
                        &:hover {
                            background-color: $white !important;
                            color: $primary !important;
                            text-decoration: underline;
                        }
                    }
                    &:hover {
                        background-color: none !important;
                    }
                }
            }
        }
    }
}


/*///Desplegable - usuario///*/
.dropdown-menu li a {
    border-bottom: 1px solid #dbdbdb;
    font-weight: 500;
    line-height: 1.42857143;
    white-space: initial;
    font-size: 16px;
    padding: 12px 15px;
}

.btn-usuario.dropdown-menu.show {
    display: block;
    width: 300px;
}






/*///Desplegable - menú lateral///*/

.nav-item
{
  border-bottom: 1px solid #dbdbdb;
    font-weight: normal;
    line-height: 1.42857143;
    white-space: nowrap;
    font-size: 16px;
    padding: 7px 7px;

  &:hover,
  &:focus,
  &:active,
  &.focus,
  &.active {
   color: $primary;
   background-color: $gray-lighter;
   }

 

.dropdown-item {
font-weight: normal!important;
    border-bottom: 0px ;

      &:hover,
      &:focus,
      &:active,
      &.focus,
      &.active {
      color: $primary;
      background-color: transparent;
                }
     }
  }

.tollbar-izq{ 
font-size: 14px;
}



/*///Cambio de logo///*/


.logo-snt > img {
    width: 254px;
}

@media (min-width: 320px) and (max-width: 575px) {
    .logo-snt > img {
        width: 100px;
    }
}

/*///Ajuste menú menú lateral ///*/


 @media (max-width: 420px){
/*.navbar-brand img {width: 155px;} */


.btn-micuenta { 
font-size: 14px!important;

}


.tollbar-izq{
  border: 0px!important; 

}
}











/*///Desplegable - menú///*/

.snt-m-r { vertical-align: middle;
width: 20%!important;
text-align: right;}


@media (max-width: 720px){
    .snt-m-r {    vertical-align: middle;
    width: 100%!important;
 text-align: left;}
}

.box-campania {background-color: $box-campania}
.panel-fecha-snt {border: 1px solid #ededed; border-radius: 10px; padding: 30px}


.snt-title-collapse {
    text-decoration: none !important;
    color: #051247 !important;
    &:hover {
        text-decoration: none !important;
        color: $black !important;
    }
    &:visited {
        text-decoration: none !important;
        color: $black !important;
    }
    &:focus {
        text-decoration: none !important;
        color: $black !important;
    }
}


.snt-panelMenu {font-weight: 600; font-size: 20px;}


.panels-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


.card {
    margin-bottom: 15px !important;
}
.card-border-cereza {
    border-bottom: 8px solid $brand-cereza;
}
.card-border-mandarina {
    border-bottom: 8px solid $brand-mandarina;
}

a.card {
    &:focus {
        background: $box-campania;
        color: $primary;
        background: $box-campania;
        color: $primary;
    }
    &:hover {
        background: $box-campania;
        color: $primary;
        background: $box-campania;
        color: $primary;
    }
}




.card-snt {
    a {
        background-color: $white;
        text-decoration: none;

        div.card-body {
            padding: 4px 0px 0px 0px !important;
            div {
                p {
                    margin-bottom: 0px !important;
                    font-weight: 500;
                }
            }
            h3 {
                margin-top: 0px;
                font-weight: 700;
                line-height: 1.3;
                margin: 0 0 0.25em 0;
                font-size: 1.375em !important;
            }
           
        }
    }
}

.card-snt {
    a {
        background-color: $white;
        text-decoration: none;
    }
}





