//== Tipografía
$font-family-sans-serif: 'Encode Sans','Roboto','Helvetica Neue','Helvetica','Arial',sans-serif;
$font-family-main:'Encode Sans',sans-serif;


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  margin: .5em 0 .7em 0;
  }


//== RolMiCuenta
.role-default {
    font-weight: 700!important;
}


//== Badges 

.badge-rol {
    background: $gray-hover;
    font-weight: 500;
    border: 2px solid darken($gray-border, 20%);
    
}

.title-snt {
margin-bottom: 16px; 
border-bottom: 1px solid $gray;
}

.ql-indent-1 {
    padding-left: 1rem!important
}

.ql-indent-2 {
    padding-left: 2rem!important
}

.ql-indent-3 {
    padding-left: 3rem!important
}

.ql-indent-4 {
    padding-left: 4rem!important
}

.ql-indent-5 {
    padding-left: 5rem!important
}

.ql-indent-6 {
    padding-left: 6rem!important
}