//== Tipografía
$font-family-sans-serif: 'Encode Sans','Roboto','Helvetica Neue','Helvetica','Arial',sans-serif;
$font-family-main:'Encode Sans',sans-serif;


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  margin: .5em 0 .7em 0;
  }



//== Badges 

.badge-rol {
    border-radius: 30px;
    border: 2px solid #ddd;
    padding: 4px 10px;
    text-transform: uppercase;
}