---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        
        {% include mi-argentina/menu.html active="consultas" %}

      </aside>
      <div class="col-md-8">


        <div class="panel panel-default panel-border-primary">
          <div class="panel-body">
            <h2>Configurar consultas</h2>
            <p>En base a los datos que cargues vas a activar consultas automáticas que te permiten recibir mensajes y ver el estado de cada una en tu perfil.</p>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-id-card-o fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">DNI</h3>
                <p class="text-muted">Fecha de vencimiento y trámites pendientes.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100" checked>
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-id-card-o fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Pasaporte</h3>
                <p class="text-muted">Fecha de vencimiento y trámites pendientes. <br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-id-card-o fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Licencia Nacional de conducir</h3>
                <p class="text-muted">Fecha de vencimiento y trámites pendientes.<br><em><a href="#">Hacé una consulta</a> con tu número de licencia para activar este servicio</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            
            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Asignación Universal por Hijo</h3>
                <p class="text-muted">Próxima fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Asignación Universal por embarazo</h3>
                <p class="text-muted">Fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Jubilaciones y pensiones hasta $5&thinsp;634</h3>
                <p class="text-muted">Próxima fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Jubilaciones y pensiones desde $5&thinsp;634</h3>
                <p class="text-muted">Fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Pensión no contributiva</h3>
                <p class="text-muted">Fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Prestación para trabajadores</h3>
                <p class="text-muted">Próxima fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Prestación por desempleo</h3>
                <p class="text-muted">Fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-calendar fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Prestación PROGRESAR</h3>
                <p class="text-muted">Fecha y lugar de cobro.<br><em>Esta consulta usa tu CUIL</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media m-b-1">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-bolt fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Cortes de servicio eléctrico</h3>
                <p class="text-muted">Mensajes cuando hay cortes programados en tu domicilio.<br><em>Hacé una consulta con los datos de tu servicio eléctrico para activar este servicio</em></p>
              </div>
              <div class="media-right">
                <input id="switch-state" type="checkbox" data-on-color="success" data-off-text="Desactivado" data-on-text="Activado" data-label-width="10" data-handle-width="100">
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>


<link href="{{ "/node_modules/bootstrap-switch/css/bootstrap-switch.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="{{ "/node_modules/bootstrap-switch/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>

<script>
  $("[type='checkbox']").bootstrapSwitch();
</script>
