---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="cursos" %}

      </aside>
      <div class="col-md-8">

        <h1 class="h4">Capacitación</h1>
        <p class="m-b-2">Hacé el seguimiento de los cursos que estás realizando o ya hiciste en las plataformas de formación del Estado.</p>

        <div class="panel panel-default panel-border-gray">
          <div class="panel-body p-b-3">
            <h2>Mis cursos iniciados</h2>
            <p>Estos son los cursos que estás realizando.</p>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-book fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Recurso Audiovisual: Materiales y materias primas</h3>
                  <p>Plataforma: <b>Punto digital</b></p>
                  <p>Fecha de inicio: <b>15/12/2017</b></p>
                  <p>Duración: <b>7 hs</b></p>
                  <p>Modalidad: <b>Virtual</b></p>
                  <p>Certifica: <b>Ministerio de Modernización</b></p>
                <p><a href="#" class="m-t-1">Ingresar al curso</a></p>
              </div>
            </div>

            <hr class="m-y-1">

             <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-book fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Ninja Tips de Programación</h3>
                  <p>Plataforma: <b>Punto digital</b></p>
                  <p>Fecha de inicio: <b>12/12/2017</b></p>
                  <p>Duración: <b>No se especifica</b></p>
                  <p>Modalidad: <b>Virtual</b></p>
                  <p>Certifica: <b>Microsoft</b></p>
                <p><a href="#" class="m-t-1">Ingresar al curso</a></p>
              </div>
            </div>

            <hr class="m-y-1">

             <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-book fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Módulo 1: Técnicas de programación</h3>
                  <p>Plataforma: <b>111 mil</b></p>
                  <p>Fecha de inicio: <b>06/03/2017</b></p>
                  <p>Duración: <b>1 año</b></p>
                  <p>Modalidad: <b>Presencial</b></p>
                  <p>Certifica: <b>Ministerio de Educación y el Ministerio de Producción de la Nación</b></p>
                <p><a href="#" class="m-t-1">Ingresar al curso</a></p>
              </div>
            </div>

          </div>
        </div>

        <div class="panel panel-default panel-border-gray">
          <div class="panel-body p-b-3">
            <h2>Opciones de capacitación</h2>
            <p>Consultá la oferta de cursos disponibles</p>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-body">
                <a href="http://puntodigital.paisdigital.modernizacion.gob.ar/" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña</span><h3>Punto digital</h3></a>
                <p>Cursos en línea para aprender tecnología, oficios, completar tus estudios o ayudarte a hacer realidad tus proyectos si sos emprendedor.</p>
              </div>
            </div>

            <div class="media">
              <div class="media-body">
                <a href="https://www.argentina.gob.ar/111Mil" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña</span><h3>Plan 111 mil</h3></a>
                <p>El plan capacita y certifica en herramientas de desarrollo de software para que puedas trabajar en las mejores empresas del sector.</p>
              </div>
            </div>
            
        </div>
      </div>

      <hr>
      <p class="lead">Organismos relacionados</p>

      <div class="row">
          <div class="col-sm-4 col-xs-12">
              <p><a href="https://www.argentina.gob.ar/paisdigital" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>País digital</a></p>
          </div>
          <div class="col-sm-4 col-xs-12">
              <p><a href="https://www.argentina.gob.ar/produccion" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>Ministerio de Producción</a></p>
          </div>
      </div>

    </div>
  </div>
</section>


<section class="bg-gray">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2 class="h4">¿Querés ayudarnos a mejorar Mi Argentina?</h2>
        <p>Estamos trabajando para que tengas más servicios personalizados.</p>
        <p>Si tenés alguna sugerencia podés enviarnos tu opinión.</p>
        <a class="btn btn-primary m-t-1" href="#">Hacer una sugerencia</a>


      </div>



    </div>
  </div>
</section>