/* PANELES v2 */

.panels-row-miargentina .panel-default{
  width: 100%;
}

.panels-row-miargentina > div .panel {
  width: 100%;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.panels-row-miargentina .panel-default > .panel-heading {
  min-height: 0!important;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
  color: #111 !important;
}

 .panels-row-miargentina .panel h2, .panel .h2 {
    font-size: 1.3em;
    font-weight: 500;
}

.panel-nolink {
    box-shadow: none;
}



/* ACORDIONES */


.accordion h3{
  color: #000;
}


/* TABLAS */

.media-right-30 {
  width: 30%;
  text-align: right;
}

.listado-2-columnas .media-middle{
  width: 540px;
}


/*INCUCAI*/

.bajada{
  margin-bottom: 2.5rem;
}

.has-error .radio {
  background-color: #f2dede;
  margin: 0;
}


.media .bootstrap-switch {
  display: block;
}


.piconos {
  margin-bottom: 0 !important;
}

.piconos i {
  font-size: 22px;
  margin-right: 8px;
}

.subtitulo {
  margin-top: 30px !important;
  margin-bottom: 10px;
}

.subtitulo i {
  margin-right: 5px;
}



 /* lista 3 botones */

@media (max-width: 454px){

  .lista-botones a{
    width: 100%;
  }

}


@media (max-width: 767px) {

  .media .media-body {
    display: initial;
  }

  .media .media-right {
    padding: 15px 0 0 0 !important;
  }

  .panels-row-miargentina .panel-body {
    height: -webkit-calc(100% - 105px)!important;
  }

}

 
@media (min-width: 768px){

  .panels-row-miargentina .panel-body{
    height: -webkit-calc(100% - 130px)
  }
      
  .panels-row-miargentina .panel-body{
    margin-top: 20px;
  }

  .modal-dialog {
    width: 600px;
    margin: 20% auto;
  }

}

@media (min-width: 768px) and (max-width: 990px){

  .panels-row-miargentina .panel-body{
    height: 250px;
  }

  .panels-row-miargentina .panel h2 {
    font-size: 1em;
  }

}


@media (max-width: 1200px){

  .panels-row-miargentina .panel h2{
    font-size: 1em;
  }

  .panels-row-miargentina .panel-body{
    height: -webkit-calc(100% - 125px)
  }

}
