/* PANELES v2 */

   .panels-row-miargentina .panel-default{
    width: 100%;
  }

  .panels-row-miargentina > div .panel {
      width: 100%;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }




   .panels-row-miargentina .panel-default > .panel-heading {
      min-height: 0!important;
      background-color: transparent;
      border-bottom: 1px solid #ccc;
      color: #111 !important;
    }

     .panels-row-miargentina .panel h2, .panel .h2 {
        font-size: 1.3em;
        font-weight: 500;
    }

.panel-nolink {
    box-shadow: none;
}
  
  @media (min-width: 991px){

     .panels-row-miargentina .panel-body{
      min-height: 160px;
    }

  }

  @media (min-width: 768px) and (max-width: 990px){

     .panels-row-miargentina .panel-body{
      height: 250px;
    }

  }



  /* ACORDIONES */


  .accordion h3{
  	color: #000;
  }


  /* TABLAS */

  .media-right-30 {
   width: 30%;
 }