---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Tramites y consultas" hijo="Mi perfil conductor" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        
        {% include mi-argentina/menu.html active="conductor" %}

      </aside>
      <div class="col-md-8">

<!--
        <div class="alert alert-warning">
          <div class="media">
            <div class="media-left p-t-1">
              <i class="icono-arg-auto-licencia fa-2x"></i>
            </div>
            <div class="media-body">
              <p class="m-y-1">Recordá que este servicio sólo muestra datos de Licencias Nacionales de Conducir. Si la tuya fue emitida por una jurisdicción no adherida, no aparecerá en esta pantalla.</p>
            </div>
          </div>
        </div>
 -->       

        <div class="panel panel-default panel-border-gray p-b-2">
          <div class="panel-body">
          <div class="media">
            <div class="media-body media-middle">
              <h2>Licencia de conducir</h2>
            </div>
          </div>

          <hr class="m-y-1">
            
          <div class="media">
            <div class="media-left hidden-xs">
              <i class="icono-arg-auto-licencia fa-2x text-muted"></i>
            </div>
            <div class="media-body">
              <p class="lead">No tenemos una licencia nacional asociada a tu DNI</p>
              <p class="m-y-1 text-muted"><i class="fa fa-exclamation-circle"></i> Este servicio sólo muestra datos de licencias nacionales de conducir.
              <br>Si la tuya fue emitida por una jurisdicción no adherida, no aparecerá en esta pantalla.</p>
            </div>
          </div>

          <hr class="m-y-1">
            <h3>¿No tenés licencia nacional de conducir?</h3>
            <p>Conocé los trámites y requisitos necesarios para obtener tu licencia de conducir.</p>
            <a class="btn btn-success m-t-1" href="#">Ver trámite</a>
             
          </div>
        </div>   



         <div class="panel panel-default panel-border-gray p-b-2">
          <div class="panel-body">
            <div class="media">
              <div class="media-body media-middle">
                <h2>Vehículos</h2>
              </div>
            </div>  

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="icono-arg-auto fa-2x text-muted"></i>
              </div>
              <div class="media-body media-middle">
                <p class="lead">Agregá tu vehículo</p>
                <p><a href="#">Cargá la patente en Mis Vehículos</a> para poder ver información de la radicación del dominio.</p>
              </div>
            </div>

            <hr class="m-y-1">

            <h3 class="h4">¿No tenés vehículo?</h3>
            <p>Conocé los <a href="https://www.argentina.gob.ar/tema/automotor">trámites necesarios para hacerlo.</a></p>


          </div>
        </div>  


      </div>
    </div>
  </div>
</section>


<link href="{{ "/node_modules/bootstrap-switch/css/bootstrap-switch.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="{{ "/node_modules/bootstrap-switch/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>

<script>
  $("[type='checkbox']").bootstrapSwitch();
</script>
