---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="vacunas" %}

      </aside>

      <div class="col-md-8">

        <div class="panel panel-default panel-border-warning">
          <div class="panel-body">
          <div class="media">
            <div class="media-body media-middle">
            <h2>Certificado Único de Discapacidad</h2>
            </div>
          </div>

          <hr class="m-t-1">
          
          <div class="row">
            <div class="col-md-6">
            <label class="m-t-1">Fecha vencimiento</label>
            <p><b>15/02/2018</b></p>

            <label class="m-t-1">Estado</label>
            <p><i class="fa fa-exclamation-circle text-warning"></i> <b>Próximo a vencer</b></p>
            </p>

            <label class="m-t-1">Nombre y Apellido</label>
            <p><b>Jorge Guzmán</b></p>

            <label class="m-t-1">Sexo</label>
            <p><b>Masculino</b></p>

            <label class="m-t-1">Fecha de nacimiento</label>
            <p><b>04/08/1975</b></p>


            </div>
            <div class="col-md-6">               

            <label class="m-t-1">Fecha de emisión</label>
            <p><b>12/11/2012</b></p>

            <label class="m-t-1">Número de DNI</label>
            <p><b>24.566.378</b></p>

            <label class="m-t-1">Nacionalidad</label>
            <p><b>Argentino</b></p>

            <label class="m-t-1">Acompañante</label>
            <p><b>Jorge Rodríguez</b></p>


            <!--<div>
              <img src="img/logos/minsalud.svg" class="m-t-1" style="width: 80%;">
            </div>-->


            </div>

          </div>

          <div class="row m-b-2">
            
            <div class="col-md-12">

            <hr class="m-t-1">

           <p>Tu Certificado Único de Discapacidad está próximo a vencer. Por favor, sacá un turno para renovarlo.</p>
            <a class="btn btn-success m-t-1" href="#">Sacar turno</a>

            <hr class="m-t-1">

           <p>Conocé <a href="#">cómo es el trámite de reserva de pasajes</a>.</p>
            <a class="btn btn-link m-t-1" href="#">Reservar pasajes</a>


           <hr class="m-t-1">

            <small class="text-muted">LEGALES: Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo lectus, ac blandit elit tincidunt id. Sed rhoncus, tortor sed eleifend tristique, tortor mauris molestie elit, et lacinia ipsum quam nec dui. Quisque nec mauris sit amet elit iaculis pretium sit amet quis magna. Aenean velit odio.</small>

            </div>  

          </div>
           

          </div>
        </div>  

        <div class="panel panel-default panel-border-gray">
          <div class="panel-body p-b-2">
            <h2>Vacunas</h2>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa icono-arg-vacunas text-primary fa-2x m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0">Configurá tu perfil</h3>
                <p>Seleccioná de las opciones de abajo con tu información para que te llegue una notificacion de las vacunas que te corresponden o haya actualizaciones en el calendario de vacunación.</p>

                <form action="#">
                  
                  <div class="form-group m-y-3">
                    <label><strong>¿Trabajás como personal de salud?</strong></label>
                    <div class="checkbox">
                      <label class="p-l-0"> <input type="radio" name="personal-salud"> Sí </label>
                      <label> <input type="radio" name="personal-salud"> No </label>
                      <label> <input type="radio" name="personal-salud"> No quiero declarar </label>
                    </div>
                  </div>

                  <div class="form-group m-y-3">
                    <label><strong>¿Estás embarazada o durante el puerperio?</strong></label>
                    <div class="checkbox">
                      <label class="p-l-0"> <input type="radio" name="embarazo"> Sí </label>
                      <label> <input type="radio" name="embarazo"> No </label>
                      <label> <input type="radio" name="embarazo"> No quiero declarar </label>
                    </div>
                  </div>

                  <div class="form-group m-y-3">
                    <label><strong>¿Vivís en una zona de riesgo?</strong></label>
                    <div class="checkbox">
                      <label class="p-l-0"> <input type="radio" name="riesgo"> Sí </label>
                      <label> <input type="radio" name="riesgo"> No </label>
                      <label> <input type="radio" name="riesgo"> No quiero declarar </label>
                    </div>
                  </div>

                  <div class="form-group m-t-3">
                    <label><strong>Tu edad</strong></label>
                    <p>Tenés <strong>33 años</strong>. <br>La calculamos en base a tu <a href="#">fecha de nacimiento</a>.</p>
                  </div>

                </form>

              </div>
            </div>

            <hr>

            <p><a href="https://www.argentina.gob.ar/salud/vacunas">Conocé todas las vacunas</a> que están incluidas en el Calendario Nacional de Vacunación y cuáles te tocan aplicarte según tu edad. Siempre consultalo antes con tu médico.</p>

          </div>
        </div>

        <div class="panel panel-default panel-border-gray">
          <div class="panel-body">
            <h2>Te puede interesar</h2>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa icono-arg-medicamentos fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0"><a href="https://www.argentina.gob.ar/tema/cuidarlasalud">Cuidar la salud</a></h3>
                <p class="text-muted">Recomendaciones para cuidar tu salud en cada momento de tu vida.</p>
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-heart fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0"><a href="https://www.argentina.gob.ar/salud/prevencionycuidados">Prevención y cuidados</a></h3>
                <p class="text-muted">Información y recomendaciones para que vos y tu familia adopten hábitos saludables.</p>
              </div>
            </div>

            <hr class="m-y-1">

            <div class="media">
              <div class="media-left p-x-1 hidden-xs">
                <i class="fa fa-child fa-fw fa-2x text-muted m-t-1"></i>
              </div>
              <div class="media-body media-middle">
                <h3 class="m-t-0"><a href="https://www.argentina.gob.ar/salud/crecerconsalud">Crecer con salud</a></h3>
                <p class="text-muted">Recomendaciones para el embarazo, parto, puerperio, lactancia y crianza.</p>
              </div>
            </div>

          </div>
        </div>


      </div>
    </div>
  </div>
</section>
