---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Salud" hijo="Salud" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        
        {% include mi-argentina/menu.html active="salud" %}

      </aside>
      <div class="col-md-8">

        <h1 class="h4">Centro de salud</h1>
        <p class="m-b-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum fugit sapiente placeat, consequuntur doloribus voluptate suscipit similique ipsam illo aliquid esse voluptates, labore tempora molestias, at sunt obcaecati, nam nobis.</p>
        

            <div class="panel panel-default panel-border-primary p-b-2">
              <div class="panel-body">
              <div class="media">
                <div class="media-body media-middle">
                  <h2>Centro de salud</h2>
                  <p class="m-b-3">Conocé los hospitales y otros centros de salud públicos y privados de todo el país.</p>
                </div>
              </div>

               <ul class="nav nav-tabs m-b-2">
                <li role="presentation"><a href="">Mapa</a></li>
                <li role="presentation" class="active"><a href="">Listado</a></li>
                <li role="presentation"><a href="">Favoritos</a></li>
              </ul>

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-primary fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-primary">Centro público</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star text-warning fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div>          

            <hr>

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-arandano fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-arandano">Centro privado</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star-o fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div> 

            <hr>

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-primary fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-primary">Centro público</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star-o fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div> 

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-primary fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-primary">Centro público</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star-o fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div>         

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-primary fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-primary">Centro público</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star-o fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div>         

            <div class="media"> 
              <div class="media-left"> 
                <i class="fa fa-plus-circle text-primary fa-3x p-l-2 p-r-2"></i>
              </div> 
              <div class="media-body"> 
              <small class="text-primary">Centro público</small>
              <h4 class="media-heading">Alta Complejidad Hospital El Cruce</h4> 
              <small><strong>Buenos Aires / Ezpeleta</strong></small>
              <div>Antártida Argentina N 1275</div>
              </div> 
              <div class="media-right text-center"> 
                <a href=""><i class="fa fa-star-o fa-2x m-t-2  m-t-2 p-l-2 p-r-2"></i></a>
                <div class="text-primary">2 km</div>
              </div> 
            </div>   

            <hr>

            <div class="text-center">
              <ul class="pagination">
                <li>
                  <a href="#" aria-label="Previous">
                    <span aria-hidden="true">«</span>
                  </a>
                </li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li>
                  <a href="#" aria-label="Next">
                    <span aria-hidden="true">»</span>
                  </a>
                </li>
              </ul>
            </div>

           </div>
        </div>   
      </div>
    </div>
  </div>
</section>


<link href="{{ "/node_modules/bootstrap-switch/css/bootstrap-switch.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="{{ "/node_modules/bootstrap-switch/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>

<script>
  $("[type='checkbox']").bootstrapSwitch();
</script>
