---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Seguridad social" %}

<style type="text/css">
  
  .panel-default{
    width: 100%;
  }

  .panels-row > div .panel {
      width: 100%;
      border-left: 1px solid #ccc;
      border-right: 1px solid #ccc;
      border-bottom: 1px solid #ccc;
    }




  .panel-default > .panel-heading {
      min-height: 0!important;
      background-color: transparent;
      border-bottom: 1px solid #ccc;
      color: #111 !important;
    }

    .panel h2, .panel .h2 {
        font-size: 1.3em;
        font-weight: 500;
    }

.panel-nolink {
    box-shadow: none;
}


/*  
  @media (min-width: 991px){

    .panel-body{
      height: 140px;
    }

  }

  @media (min-width: 768px) and (max-width: 990px){

    .panel-body{
      height: 250px;
    }

  }
*/



</style>

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        
        {% include mi-argentina/menu.html active="seguridad" %}

      </aside>
      <div class="col-md-8">

        <h2 class="h4">Seguridad social</h2>

         <div class="panel p-t-2 p-b-1 p-x-1">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left padding-5">
                  <i class="fa fa-hourglass-half fa-fw fa-2x text-success"></i>
                </div>
                <div class="media-body">
                  <h3>25 años para jubilarte</h3>
                  <p class="text-muted">Podes jubilarte a partir de 03/2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row panels-row">

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-body">
                <div class="media">
                  <div class="media-body media-middle">
                    <h2>Historial de trabajo</h2>
                  </div>
                </div>

                <hr class="m-y-1">

                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="fa fa-minus-circle fa-2x text-muted padding-5"></i>
                  </div>
                  <div class="media-body">
                    <h3>No tenés trabajos registrados a tu nombre</h3>
                  </div>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-body">
                <div class="media">
                  <div class="media-body media-middle">
                    <h2>Obra social</h2>
                  </div>
                </div>

                <hr class="m-y-1">

                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="fa fa-minus-circle fa-2x text-muted padding-5"></i>
                  </div>
                  <div class="media-body">
                    <h3>No tenés obra social registrada a tu nombre</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>   

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-body">
                <div class="media">
                  <div class="media-body media-middle">
                    <h2>Relaciones familiares</h2>
                  </div>
                </div>

                <hr class="m-y-1">

                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="fa fa-minus-circle fa-2x text-muted padding-5"></i>
                  </div>
                  <div class="media-body">
                    <h3>No tenés familiares registrados a tu nombre</h3>
                  </div>
                </div>
              </div>
            </div>
          </div>   

      </div>

      <p><a href="#">Quiero reportar informacion incorrecta en esta pantalla</a></p>
      <p class="text-muted">Información provista por ANSES, Superintendencia de Servicios de Salud y obras sociales</p>

    </div>
    </div>
  </div>
</section>


<link href="{{ "/node_modules/bootstrap-switch/css/bootstrap-switch.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="{{ "/node_modules/bootstrap-switch/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>

<script>
  $("[type='checkbox']").bootstrapSwitch();
</script>
