---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Servicios" hijo="Mi seguridad social" %}

<style type="text/css">
  .media-right {
    width: 300px;
  }
</style>

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="seguridad" %}

      </aside>
      <div class="col-md-8">

        <a href="dashboard.html" class="btn btn-link btn-sm m-b-0"><i class="fa fa-arrow-left"></i> &nbsp;Volver</a>
        <h2 class="h4 m-y-2">Historial de trabajos</h2>

          <div class="row">
            <div class="col-md-5">
              <div class="form-group">
                <label for="">Tipo de trabajo</label>
                <select id="" class="form-control">
                  <option value="todos">Todos</option>
                  <option value="trabajo-en-relacion-de-dependencia">Trabajo en relacion de dependencia</option>
                  <option value="trabajo-autonomo">Trabajo autónomo</option>
                  <option value="monotributo">Monotributo</option>
                  <option value="trabajo-en-casas-particulares">Trabajo en casas particulares</option>
                </select>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="">Ordenar por</label>
                <select id="" class="form-control">
                  <option value="recientes">Más recientes</option>
                  <option value="duracion">Mayor duración</option>
                </select>
              </div>
            </div>
          </div>

        <div class="panel">
          <div class="panel-body p-t-2 p-b-3">

                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Empleo SRL</a></h3>
                    <p class="text-muted"><small>Trabajo en relacion de dependencia</small></p>
                  </div>
                  <div class="media-right">
                    <p class="text-muted">07/2002 - 03/2003</p>
                  </div>
                  
                </div>

                <hr class="m-t-1">

                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Empleo SRL</a></h3>
                    <p class="text-muted"><small>Trabajo en relacion de dependencia</small></p>
                  </div>
                  
                </div>

                <hr class="m-t-1">

                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Empleo SRL</a></h3>
                    <p class="text-muted"><small>Trabajo en relacion de dependencia</small></p>
                  </div>

                  <div class="media-right">
                    <p class="text-muted">07/2002 - 03/2003</p>
                  </div>
                  
                </div>

                <hr class="m-t-1">


                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Servicios de arquitectura e ingeniería y servicios conexos de asoramiento técnico n.c.p.</a></h3>
                    <p class="text-muted"><small>Trabajo autónomo</small></p>
                  </div>

                  <div class="media-right">
                    <p class="text-muted">07/2002 - 03/2003</p>
                  </div>
                  
                </div>

                <hr class="m-t-1">

                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Servicios de arquitectura e ingeniería y servicios conexos de asoramiento técnico n.c.p.</a></h3>
                    <p class="text-muted"><small>Monotributo</small></p>
                  </div>

                  <div class="media-right">
                    <p class="text-muted">07/2002 - 03/2003</p>
                  </div>
                  
                </div>

                <hr class="m-t-1">

                <div class="media">
                  
                  <div class="media-body media-middle">
                    <h3 class="m-t-0"><a href="#">Empleador Mario Felipe Gomez</a></h3>
                    <p class="text-muted">Trabajo en casas particulares</p>
                  </div>

                  <div class="media-right">
                    <p class="text-muted">07/2002 - 03/2003</p>
                  </div>
                  
                </div>
              <nav class="text-center">
                <ul class="pagination m-y-1">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
              <div class="credits">
                <p>Base de orígen: 101 - Nacional - SISTEMA INTEGRADO PREVISIONAL ARGENTINO (Administracion Federal de Ingresos Publicos, Ministerio de Economia y Finanzas Publicas, Presidencia de La Nacion)</p>
              </div>


          </div>
        </div>

        <p><a href="#">Quiero reportar informacion incorrecta en esta pantalla</a></p>
        <p class="text-muted">Información provista por tu obras sociales</p>
        
      </div>
    </div>
  </div>
</section>