---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Servicios" hijo="Obra social" %}


<style type="text/css">
  


</style>

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="seguridad" %}

      </aside>
      <div class="col-md-8">

        <a href="dashboard.html" class="btn btn-link btn-sm m-b-0"><i class="fa fa-arrow-left"></i> &nbsp;Volver</a>
        <h2 class="h4 m-y-2">Obra social</h2>

        <div class="panel">
          <div class="panel-body p-t-2 p-b-3">
          <div class="row p-y-1">


            <div class="col-md-12">
              
              <label class="m-t-1">Nombre de obra social</label>
              <p><b>Instituto Nacional de Servicios Sociales para Jubilados y Pensionados</b></p>

            </div>

            <div class="col-md-12">
              
              <label class="m-t-1">Parentesco</label>
              <p><b>Jefe de hogar</b></p>

            </div>

            <div class="col-md-6">
              
              <label class="m-t-1">Fecha de alta</label>
              <p><b>01/11/1978</b></p>

            </div>

            <div class="col-md-6">
              
              <label class="m-t-1">Último periodo</label>
              <p><b>12/2017</b></p>

            </div> 

            <div class="col-md-12">
              
              <label class="m-t-1">Origen de datos</label>
              <p><b>OBRA SOCIAL PAMI (Instituto Nacional de Servicios Sociales Para Jubilados y Pensionados, Ministerio de Salud, Presidencia de La Nacion)</b></p>

            </div>           



          
          </div>  
          </div>
        </div>

        <p class="text-muted">Información provista por ANSES, Superintendencia de Servicios de Salud y obras sociales
</p>
        <p><a href="#">Quiero reportar informacion incorrecta en esta pantalla</a></p>
        
      </div>
    </div>
  </div>
</section>