---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Servicios" hijo="Seguridad social" %}



<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">
        
        {% include mi-argentina/menu.html active="tramites" %}

      </aside>
      <div class="col-md-8">

        <h2 class="h4">Seguridad social</h2>

        <div class="panel p-t-2 p-b-1 p-x-1">
          <div class="row">
            <div class="col-md-6">
              <div class="media">
                <div class="media-left padding-5">
                  <i class="fa fa-thumbs-o-up fa-fw fa-2x text-success"></i>
                </div>
                <div class="media-body">
                  <h3><a href="#">$6.811,84 mensuales</a></h3>
                  <p class="text-muted">De jubilación, pensiones o prestaciones</p>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="media">
                <div class="media-left padding-5">
                  <i class="fa fa-hourglass-half fa-fw fa-2x text-success"></i>
                </div>
                <div class="media-body">
                  <h3>Tenés jubilación</h3>
                  <p class="text-muted">Desde 03/2018</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        
        <div class="row panels-row panels-row-miargentina">

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-heading">
                <h2>Historial de trabajo</h2>       
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="icono-arg-trabajador fa-2x text-muted"></i>
                  </div>
                  <div class="media-body">
                    <h3><a href="#">7 trabajos o actividades</a></h3>
                    <p>Trabajo en relacion de dependencia, monotributo y otras actividades</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-heading">
                <h2>Obra social</h2>       
              </div>
              <div class="panel-body">

                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="icono-arg-medico fa-2x text-muted"></i>
                  </div>
                  <div class="media-body">
                    <h3><a href="#">Tenés obra social</a></h3>
                    <p>Obra social, fecha de alta y parentezco.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>   

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-heading">
                <h2>Jubilación</h2>       
              </div>
              <div class="panel-body">

                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="fa fa-user fa-2x text-muted padding-5"></i>
                  </div>
                  <div class="media-body">
                    <h3><a href="#">Tenés jubilación</a></h3>
                    <p>Tenés jubilación desde 07/1996</p>
                  </div>
                </div>
              </div>
            </div>
          </div> 

          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-heading">
                <h2>Relaciones familiares</h2>       
              </div>
              <div class="panel-body">
                <div class="media">
                  <div class="media-left p-x-1 hidden-xs">
                    <i class="fa fa-users fa-2x text-muted padding-5"></i>
                  </div>
                  <div class="media-body">
                    <h3><a href="#">Tenés obra social</a></h3>
                    <p>Obra social, fecha de alta y parentezco.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>   

      </div>

      <p><a href="#">Quiero reportar informacion incorrecta en esta pantalla</a></p>
      <p class="text-muted">Información provista por ANSES, Superintendencia de Servicios de Salud y obras sociales</p>

    </div>
    </div>
  </div>
</section>


<link href="{{ "/node_modules/bootstrap-switch/css/bootstrap-switch.min.css" | prepend: site.baseurl }}" rel="stylesheet">
<script src="{{ "/node_modules/bootstrap-switch/js/bootstrap-switch.min.js" | prepend: site.baseurl }}"></script>

<script>
  $("[type='checkbox']").bootstrapSwitch();
</script>
