---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Turnos" %}

<section>
    <div class="container">
        <div class="row">
            <aside class="col-md-4">

                {% include mi-argentina/menu.html active="turnos" %}

            </aside>
            <div class="col-md-8">

                <h1 class="h4">Mis Turnos</h1>
                <p class="m-b-2">Encontrá los turnos que sacaste para realizar trámites. También podés cancelarlos, reprogramarlos o sacar nuevos.</p>

                <div class="panel panel-default panel-border-gray">
                    <div class="panel-body">
                        <h2>Próximos turnos</h2>
                        <hr class="m-y-1">
                        <div class="media">
                             <div class="media-left">
                              <i class="fa fa-vcard text-muted fa-3x vmiddle" aria-hidden="true"></i>
                            </div>
                            <div class="media-body displayPaneles">
                               
                                <h3>No tenés turnos pendientes</h3>
                            </div>
                        </div>
                        <hr class="m-y-1">
                        <div>
                            <p class="m-b-1">Sacá turnos para:</p>
                            
                                <div>
                                    <a class="btn btn-link full-w" href="#">VACUNA FIEBRE AMARILLA</a>
                                    <a class="btn btn-link full-w" href="#">SÍMBOLO INTERNACIONAL</a>
                                    <a class="btn btn-link full-w" href="#">SIMBOLO DEL AUTOMOTOR</a>
                                    <a class="btn btn-link full-w" href="#">SÍMBOLO PARA EL EXTERIOR</a>
                                    <a class="btn btn-link full-w" href="#">FIRMA DIGITAL (SAS)</a>
                                </div>
                                <hr class="m-y-1">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <a class="btn btn-success full-w" href="#">SACAR OTROS TURNOS</a>
                                    </div>
                                </div>
                        </div>

                    </div>
                </div>

                <!--<div class="panel panel-default panel-border-gray">
                    <div class="panel-body p-b-3">
                        <h2>Opciones de Turnos</h2>
                        <p>Conocé los organismos del Estado Nacional que cuentan con servicio de turnos.</p>

                        <hr class="m-y-1">

                        <div class="media">
                            <div class="media-body">
                                <a href="https://serviciosweb.afip.gob.ar/Publico/Turnos/Turnos.aspx" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>AFIP</h3></a>
                                <p>Obtené los turnos para todos tus trámites de AFIP.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://servicioswww.anses.gov.ar/TurnosWeb/Burbujas.aspx" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>ANSES</h3></a>
                                <p>Solicitá tus turnos para generar solicitudes jubilación, pensión, asignaciones y trámites.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://titulosvalidez.educacion.gob.ar/validez/v_turnos/index.php" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Dirección de Validez Nacional de Títulos y Estudios</h3></a>
                                <p>Solicitá turno para validar tu título secundario.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://www.migraciones.gov.ar/turnos/verificar_jurisdiccion.php" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Dirección Nacional de Migraciones</h3></a>
                                <p>Solicitá la renovación de tu residencia precaria y sacá turno para obtener DNI, residencias y certificaciones.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="https://www.argentina.gob.ar/solicitud-de-turnos-web-en-la-inspeccion-general-de-justicia" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Inspección General de Justicia</h3></a>
                                <p>Sacá turno para presentar, consultar y retirar trámites, contestación de vistas,  presentación de balances o reserva de nombre.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://turnos.pami.org.ar/Turnos/seleccion.zul;jsessionid=jb6pjaTW0Ak8ShEoIHDPuZh0?" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>PAMI</h3></a>
                                <p>Solicitá turnos para realizar trámites o afiliarte a PAMI.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://turnos.mininterior.gov.ar/turnosWeb/" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Registro Nacional de Personas</h3></a>
                                <p>Obtené tu turno en línea para tramitar tu DNI o pasaporte.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="https://www2.jus.gov.ar/dnrpa-site/Tramites/TipoVehiculo" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Registro de Propiedad Automotor</h3></a>
                                <p>Solicitá turno para informe de dominio, transferencia, inscripción inicial del automotor.</p>
                            </div>
                        </div>

                        <div class="media">
                            <div class="media-body">
                                <a href="http://www.dnrec.jus.gov.ar/INICIOTRAMITE/" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Registro Nacional de Reincidencia</h3></a>
                                <p>Solicitá el certificado de antecedentes penales.</p>
                            </div>
                        </div>

                    </div>
                </div>-->

                <hr class="m-t-1">
                <p class="lead">Organismos relacionados</p>

                <div class="row">
                    <div class="col-sm-4 col-xs-12">
                        <p><a href="https://www.argentina.gob.ar/modernizacion" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>Minsterio de Modernización</a></p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p><a href="https://www.argentina.gob.ar/discapacidad" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>Agencia Nacional de Discapacidad</a></p>
                    </div>
                    <div class="col-sm-4 col-xs-12">
                        <p><a href="https://www.argentina.gob.ar/cnrt" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>Comisión Nacional de Regulación del Transporte</a></p>
                    </div>
                </div>
            </div>
        </div>
</section>


 












<!-- <section class="bg-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="h4">¿Querés ayudarnos a mejorar Mi Argentina?</h2>
                <p>Estamos trabajando para que tengas más servicios personalizados.</p>
                <p>Si tenés alguna sugerencia podés enviarnos tu opinión.</p>
                <a class="btn btn-primary m-t-1" href="#">Hacer una sugerencia</a>


            </div>



        </div>
    </div>
</section>
 -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Cancelar turno</h4>
            </div>
            <div class="modal-body">
                ¿Estás seguro de qué querés cancelar este turno?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-link" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-sm btn-danger">Sí</button>
            </div>
        </div>
    </div>
</div>
