---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
    <div class="container">
        <div class="row">
            <aside class="col-md-4">

                {% include mi-argentina/menu.html active="vacunas" %}

            </aside>

            <div class="col-md-8">

                <div class="alert alert-info">
                    <div class="media">
                        <div class="media-left">
                            <i class="fa fa-check fa-fw fa-4x"></i>
                        </div>
                        <div class="media-body">

                            <p class="margin-0">La vacuna contra el <b>lorem ipsum</b> fue incorporada al <b>Calendario Nacional de Vacunación</b>. Vos estás dentro de la población que debería aplicársela.</p>
                            <p><a href="#">Enterate más sobre esta vacuna.</a></p>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default panel-border-gray">
                    <div class="panel-body p-b-3">
                        <h2>Tus vacunas</h2>

                        <hr class="m-y-1">

                        <div class="media">
                            <div class="media-left p-x-1 hidden-xs">
                                <i class="fa icono-arg-vacunas text-muted fa-2x m-t-1"></i>
                            </div>
                            <div class="media-body media-middle">
                                <h3 class="m-t-0">Varicela (única dosis)</h3>
                                <p>Si no hubiera recibido dos dosis de triple viral o una dosis de triple viral +1 dosis de doble viral, después del año de vida para los nacidos después de 1965.</p>
                            </div>
                        </div>

                        <hr class="m-y-1">

                        <div class="media">
                            <div class="media-left p-x-1 hidden-xs">
                                <i class="fa icono-arg-vacunas text-muted fa-2x m-t-1"></i>
                            </div>
                            <div class="media-body media-middle">
                                <h3 class="m-t-0">Triple viral (iniciar o completar esquema)</h3>
                                <p>Si no hubiera recibido dos dosis de triple viral o una dosis de triple viral +1 dosis de doble viral, después del año de vida para los nacidos después de 1965.</p>
                            </div>
                        </div>


                        <hr class="m-y-1">

                        <div class="media">
                            <div class="media-body media-middle">
                                <h3 class="m-t-0">Próximas vacunas:</h3>
                                <p>En Marzo del 2018</p>
                                <p><a href="#">Mirá cuales son las vacunas que te corresponden.</a></p>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="panel panel-default panel-border-gray">
                    <div class="panel-body">
                        <h2>Agregá personas para hacer el seguimiento de vacunas</h2>

                        <hr class="m-y-1">

                        <p>Podés agregar a las personas que desees para que podamos recordarte las vacunas que se debe aplicar, notificarte campañas de vacunación que puedan aplicarle, etc.</p>
                        <a href="#" class="btn btn-success btn-sm m-t-1">Agregar personas</a>

                    </div>
                </div>

                <div class="panel panel-default panel-border-gray">
                    <div class="panel-body p-b-3">
                        <h2>Vacunas del Calendario Nacional de Vacunación</h2>

                        <hr class="m-y-1">

                        <div class="media">
                            <div class="media-body media-middle">
                                <p>Conocé todas las vacunas que están incluidas en el <a href="#">Calendario Nacional de Vacunación.</a></p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
