---
layout: casarosada
---

<section class="jumbotron" style="background-image:url(img/home/home2.jpg);">
  <div class="jumbotron_body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <h2 class="text-center">Medidas Sociales</h2>
          <p>Eventos y anuncios donde participan las autoridades nacionales. Eventos y anuncios donde participan las autoridades nacionales.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>



<div class="container">

  <section>
    <div class="row">
      <article class="content_format col-md-8 col-md-push-4">

        <div class="row">
          {% include argentina/redes-sociales.html param="col-md-7" %}
        </div>
        <hr>

        <h2 class="h1">
          <i class="fa fa-users"></i> 10 millones
          <p> beneficiarios totales</p>
        </h2>

        <h2>
          <i class="fa fa-users"></i> 10 millones
          <p> beneficiarios totales</p>
        </h2>

        <hr>

        <h2>Esto es un titulo de la sección</h2>
        <p class="lead">La decisión se formalizará a través de un decreto que posibilitará la apertura, desde el mes de febrero, de un portal de datos abiertos con información que “hasta hoy no era publicada”.</p>
        <p>
          <a class="btn btn-primary">Enlace 1</a>
          <a class="btn btn-primary">Enlace 2</a>
        </p>

        <h3>Esto es un ejemplo de encabezado</h3>

        <p>Dijo que esto abarcará datos sobre las estructuras de Gobierno, sueldos y declaraciones juradas de los funcionarios, el sistema de compras del Estado y “toda la información diaria de cada una de las áreas que hoy es algo cerrado, oscuro y no transparente”.</p>
        <p>“Nosotros queremos ir en sentido contrario, no sólo para que se conozca la información del Gobierno, sino para que pueda ser usada por la sociedad civil, y a partir de eso constituir mecanismos colaborativos que faciliten desarrollos estadísticos y distintas aplicaciones ”, agregó.</p>

        <h4>Esto es un ejemplo de encabezado más chico</h4>

        <p>“Nosotros queremos ir en sentido contrario, no sólo para que se conozca la información del Gobierno, sino para que pueda ser usada por la sociedad civil, y a partir de eso constituir mecanismos colaborativos que faciliten desarrollos estadísticos y distintas aplicaciones ”, agregó.</p>

        <figure>
          <img class="img-responsive img-full" src="img/billete.jpg">
          <figcaption>Billete de 500 pesos con el Baby Yaguareté</figcaption>
        </figure>

        <hr>

        <div class="row">
          {% include argentina/redes-sociales.html param="col-md-7" %}
        </div>


      </article>



      <aside class="col-md-4 col-md-pull-8">
        <nav class="page-sidebar">
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#2">Devolución del IVA</a></li>
            <li><a href="#3">Asignaciones monotributistas</a></li>
            <li><a href="#4">Plan Nacional de Vivienda</a></li>
            <li><a href="#5">Cobro simultáneo de programas</a></li>
            <li><a href="#6">Medidas para jubilados </a></li>
            <li><a href="#7">Salario mínimo vital y móvil</a></li>
          </ul>
        </div>
      </aside>
    </div>
  </section>
</div>


