---
layout: afip_monotributo
---

{% include afip/usuario.html abuelo="Facturación" hijo="Talonarios y CAI solicitados" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include afip/menu.html active="facturacion" %}

      </aside>
      <div class="col-md-8">
        <h1 class="sr-only">Talonarios y CAI solicitados</h1>

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-print fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-0">Talonarios y CAI solicitados</h3>
                  <p>Consultá los talonarios que tenés y los CAI que generaste.</p>
                </div>
              </div>
              <hr>
              <table class="table table-bordered table-align-middle table-mobile">
                <thead>
                  <tr class="bg-gray">
                    <th>Vencimiento</th>
                    <th>Comprobante</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <span class="td-label">Vencimiento</span>
                      <strong>30-ene-2017</strong>
                    </td>
                    <td>
                        <span class="td-label">Comprobante</span>
                        <strong>Talonario de facturas</strong>
                        <p class="text-muted">Tu talonario de facturas vence en 15 días</p>
                    </td>
                    <td>
                      <span class="td-label">Acción</span>                    
                      <p><a href="facturacion_solicitud_talonarios.html" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Solicitar nuevo talonario</a></p>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <span class="td-label">Vencimiento</span>
                      <strong>20-dic-2017</strong>
                    </td>
                    <td>
                        <span class="td-label">Comprobante</span>
                        <strong>Talonario de recibos</strong>
                        <p class="text-muted">Tenés un Código de Autorización de Impresión generado con vigencia de 10 días, falta informar la recepción de los talonarios</p>
                    </td>
                    <td>
                      <span class="td-label">Acción</span>                    
                      <p><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Descargar C.A.I.</a></p>
                      <p><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Informar recepción</a></p>
                      <p><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Anular solicitud</a></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="hidden-xs"></td>
                    <td>
                        <span class="td-label">Comprobante</span>
                        <strong>Talonario de notas de crédito</strong>
                        <p class="text-muted">Nunca solicitaste talonario de notas de crédito</p>
                    </td>
                    <td>
                      <span class="td-label">Acción</span>                    
                      <p><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Solicitar C.A.I.</a></p>
                    </td>
                  </tr>
                  <tr>
                    <td class="hidden-xs"></td>
                    <td>
                        <span class="td-label">Comprobante</span>
                        <strong>Talonario de notas de débito</strong>
                        <p class="text-muted">Nunca solicitaste talonario de notas de débito</p>
                    </td>
                    <td>
                      <span class="td-label">Acción</span>                    
                      <p><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"> Solicitar C.A.I.</a></p>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
        </div>



      </div>
    </div>
  </div>
</section>









