---
layout: afip_monotributo
---

{% include afip/usuario.html hijo="Comprobantes de pago" abuelo="Pagos" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include afip/menu.html active="estado" %}

      </aside>
      <div class="col-md-8">
        <h1 class="sr-only">Comprobantes de pago</h1>

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-file-text-o fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-0">Comprobantes de pago</h3>
                  <p>Consultá los comprobantes de los pagos de monotributo realizados.</p>
                </div>
              </div>
              <hr>
              <table class="table table-bordered table-align-middle table-mobile">
                <tbody class="not-thead">
                  <tr class="bg-gray">
                    <td class="f-w-400" colspan="2">Descargar todos los comprobantes en un archivo</td>
                    <td><a href="" class="btn btn-default btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-download"></i> &nbsp; Descargar .zip</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-nov-16</td>
                    <td>Período Noviembre</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-oct-16</td>
                    <td>Período Octubre</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-sep-16</td>
                    <td>Período Septiembre</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-ago-16</td>
                    <td>Período Agosto</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-jul-16</td>
                    <td>Período Julio</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-jun-16</td>
                    <td>Período Junio</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-may-16</td>
                    <td>Período Mayo</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-abr-16</td>
                    <td>Período Abril</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                  <tr class="f-w-400">
                    <td>20-mar-16</td>
                    <td>Período Marzo</td>
                    <td><a href="" class="btn btn-link btn-sm" style="width: 200px; white-space: normal;"><i class="fa fa-file-text"></i> &nbsp; Ver comprobante</a></td>
                  </tr>
                </tbody>
              </table>
              <nav class="text-center">
                <ul class="pagination">
                  <li>
                    <a href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li>
                    <a href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>

            </div>
        </div>
        <div class="m-t-3">
          <a href="pagos.html" class="btn btn-link"> Volver a pagos</a> 
        </div>  



      </div>
    </div>
  </div>
</section>
