
.header-top {
  padding-top: 10px;

  .list-inline .separator {
    display: inline-block;
    border-left: 1px solid $white;
    height: 18px;
    vertical-align: -4px;
    margin: 0 8px;
    padding: 0;
  }
}

.featured-image {
  background: -webkit-gradient(linear, 0% 0%, 0% 75%, from(transparent), to(#e5e5e5)); /* Safari 4-5, Chrome 1-9 */
  background: -webkit-linear-gradient(top, #e5e5e5 75%, transparent 25%); /* Safari 5.1, Chrome 10+ */
  background: -moz-linear-gradient(top, #e5e5e5 75%, transparent 25%); /* Firefox 3.6+ */
  background: -ms-linear-gradient(top, #e5e5e5 75%, transparent 25%); /* IE 10 */
  background: -o-linear-gradient(top, #e5e5e5 75%, transparent 25%); /* Opera 11.10+ */
}

.text-secondary {
  color: $brand-secondary;
}

.navbar-default .nav > li > a {
  color: $gray;

  &:hover {
    background: $brand-secondary;
  }
}