---
layout: afip_monotributo
---

{% include afip/usuario.html hijo="Datos del monotributo" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include afip/menu.html active="datosMonotributo" %}

      </aside>
      <div class="col-md-8">
        <h1 class="h2">Datos del monotributo</h1>


        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-map-marker fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Categoría</h3>
                  <p>CATEGORÍA A <br>LOCACIONES DE SERVICIO</p>
                  <p><strong>Inicio de actividad</strong></p>
                  <p>20-ene-2017</p>
                </div>
              </div>
            </div>
        </div>      

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-map-marker fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <div class="row"> 
                    <div class="col-md-7">                                  
                      <h3 class="m-t-1 m-b-1">Tu sucursal</h3>
                      <p>CENTRO DE ATENCIÓN PLAZA DE MAYO</p>
                      <p>Hipólito Yrigoyen 370 PB <br>Lunes a Viernes de 10 a 15 hs</p>
                      <p><a href="#">Pedir un turno</a></p>
                    </div>
                    <div class="col-md-5">
                      <div class="embed-responsive embed-responsive-16by9 m-t-2">
                         <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.801786831498!2d-58.37377188477022!3d-34.60917338045806!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95a3352cad60e45f%3A0x6efc3bad37e64e8f!2sAv.+Hip%C3%B3lito+Yrigoyen+370%2C+C1086+CABA!5e0!3m2!1ses-419!2sar!4v1486013591096"></iframe>
                      </div>
                    </div>

                  </div>    
                </div>
              </div>
            </div>
        </div>        

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-list-ul fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Tipo de monotributo</h3>
                  <p><strong>Inscripto como</strong></p>
                  <p>Trabajador Independiente</p>
                  <div class="m-t-2">
                    <a href="datos_monotributo_modificacion_tipo_monotributo.html" class="btn btn-link"> Modificar</a>
                  </div>  
                </div>
              </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-briefcase fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Actividades</h3>

                  <h4 class="m-t-1 m-b-1">Actividad 1</h4>
                  <h5 class="m-y-1"><strong>[692000] Servicios de contabilidad, auditoría y asesoría fiscal.</strong></h5>
                  <p>Local, establecimiento registrado: NO <br>Productos de $2500 o más: NO <br>Facturación anual estimada: 10.000</p>
                  <h4 class="m-t-1 m-b-1">Actividad 2</h4>
                  <h5 class="m-y-1"><strong>[4762000] Venta al por menor de CD's y DVD's de audio y video grabados </strong></h5>
                  <p>Local, establecimiento registrado: NO <br>Productos de $2500 o más: NO <br>Facturación anual estimada: 10.000</p>
                  <div class="m-t-2">
                    <a href="datos_monotributo_modificacion_actividad.html" class="btn btn-link"> Modificar</a>
                  </div> 

                </div>
              </div>
            </div>
        </div>        

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-hourglass-end fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Jubilación</h3>
                  <p>Sí, soy empleado en relación de dependencia y en mi recibo de sueldo figura el pago de aportes <br>Empleador: AFIP <br>CUIT Empleador: 33-69345023-9</p>
                  <div class="m-t-2">
                    <a href="datos_monotributo_modificacion_jubilacion.html" class="btn btn-link"> Modificar</a>
                  </div>  
                </div>
              </div>
            </div>
        </div>        

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-hospital-o fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Obra Social</h3>
                  <h5 class="m-y-1"><strong>[604] OBRA SOCIAL DE AGENTES DE LOTERIAS Y AFINES DE LA REPUBLICA ARGENTINA</strong></h5>

                  <p class="m-b-0"><strong>Grupo familiar hija</strong></p>
                  <p>Camila Ramirez Velazco <br>CUIL 20-55547897-2 <br>Fecha de alta: 10-ene-15</p>

                  <p class="m-b-0"><strong>Grupo familiar hijo</strong></p>
                  <p>Valentin Ramirez Velazco <br>CUIL 20-55547896-2 <br>Fecha de alta: 11-dic-16</p>

                  <p class="m-b-0"><strong>Aportes sumados con cónyuge</strong></p>
                  <p>Perez, Florencia Catalina <br>CUIT 20-33254789-3</p>

                  <div class="m-t-2">
                    <a href="datos_monotributo_modificacion_os.html" class="btn btn-link"> Modificar</a>
                  </div>  
                </div>
              </div>
            </div>
        </div>        

        <div class="panel panel-default">
            <div class="panel-body p-y-2">
              <div class="media">
                <div class="media-left p-x-1 hidden-xs">
                  <i class="fa fa-trash fa-fw fa-2x text-muted m-t-1"></i>
                </div>
                <div class="media-body media-middle">
                  <h3 class="m-t-1 m-b-1">Darse de baja del monotributo</h3>
                  <p>Si no estás usando el monotributo podés darte de baja de diferentes maneras.</p>
                  <p><a href="ayuda.html">Cómo darme de baja del monotributo</a></p>
                </div>
              </div>
            </div>
        </div>        


      </div>
    </div>
  </div>
</section>
