---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*!
 * Casa Rosada v0.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */

/* Resources */

@import "casarosada/variables";
@import "casarosada/brand";


$theme-colors: (
  "primary":#CC3059,
);

$color-main: #FF84A4!default; /* header / footer */
$color-dark-main:#CC3059!default;
$gray-600: #6c757d;
$color-homeprioridades: #00D3C3;
$color-fdoautoridades: #BECCD4;
$color-prio-ladrillo: #D66768;
$color-prio-amarillo: #F8B342; 
$color-prio-celeste: #65C6F0;
$color-black:#000;


$primary: $color-dark-main!default;
$secondary:$color-fdoautoridades;
$success:$color-homeprioridades;
$info: $color-prio-celeste!default;
$warning:$color-prio-amarillo;
$danger:$color-prio-ladrillo;

$color-black-grey:#333;
$color-medium-grey:#999;
$color-breadcrumb:#6a6a6a;
$color-body:#f2f2f2;
$color-black-10:#1A1A1A;




$spacer: 1em;

$border-radius-uno: 4px ;
$border-radius-dos: 10px ;

$color-homeagenda: #FBD4DF;
     

$gray-lighter:#e5e5e5;

$gray-medio:#555;

$color-breadcrumb: lighten($color-black-greyr,10%) !default;

$brand-primary: #CC3059!default;
$link-color: $brand-primary !default;
$link-hover-color: lighten($link-color,15%) !default;
$link-visited: #705582 !default;
$link-primary: $primary;




$font-family-sans-serif: 'Encode Sans', 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;

$encabezado-h1: 2rem;
$encabezado-h2: 1.75rem;
$encabezado-h3: 1.375rem;
$encabezado-h4: 1.25rem;
$encabezado-h5: 1.188rem;
$texto-p: 1.125rem;
$destacado-gral:1.2rem;
$destacado-prioridades:2.938rem;
$fecha-noticiagral:0.813rem;
$txt-noticiagral:1rem;
$font-family-main:'Encode Sans', sans-serif;

$txt-14:0.875rem; 
$txt-16:1rem; 
$texto-autoridades: 1.68rem;

$line-height-destacado-prioridades:3.5rem; 

body{
	background-color:$color-body;
	color:$color-black;
    font-family: $font-family-main;
}

p { 
font-size:$texto-p;
 }

h1 {font-size:$encabezado-h1; }
h2 {font-size:$encabezado-h2; }
h3 {font-size:$encabezado-h3; }
h4 {font-size:$encabezado-h4; }
h5 {font-size:$encabezado-h5; }

.h1 {font-size:$encabezado-h1; }
.h2 {font-size:$encabezado-h2; }
.h3 {font-size:$encabezado-h3; }
.h4 {font-size:$encabezado-h4; }
.h5 {font-size:$encabezado-h5; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 700;
    margin: .5em 0 .7em 0;
}

// Links

a {
  color: $link-color;
}

.dropdown-item:active {
  background-color: $primary;
}

//*Bg colors*//

.bg-blackblack{ background-color: $color-black-10;}



.destacado-gral {font-size:$destacado-gral}

a{
	color:$link-color;
    text-decoration: none;

	&:hover,  {
    color: $brand-primary;
}
	
	
	
	&:active, &:focus {
    color: $link-visited;
}
	}


//* BTN PANEL *//

.panel {
  margin-bottom: 3.3em;
}
.panel-default {
  border: solid 1px #ddd;
    box-shadow: none;
    color: #333;
    display: block;
    text-decoration: none;
    .panel-body {
      padding: 15px 20px;
    }
}




//* GALERÍA *//

.text14 {font-size: $txt-14;}
.text16 {font-size: $txt-16;}

.cr-galeria{  
	
	hr{margin: 7px 0 30px 0;}
	
	.epigrafe {height: 60px;}
	.carousel-control-prev, .carousel-control-next{height: 400px;}
	
	

	
@media (max-width: 767px) {
.epigrafe {height: 90px;}
.carousel-control-prev, .carousel-control-next{height: 300px;}
}
}
.cr-galeria-imgchicas {
  img {
    max-height: 98px;
  }

  .cr-imachica {
    background:$gray-lighter;
    margin-bottom: 7px;
    padding: 7px;
  }
}

@media (max-width: 767px) {
.cr-galeria-imgchicas {display:none;}
}



//* PAGINA DE LIBRO *//
aside {
    .nav {
      padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        li {
          position: relative;
        display: block;
            ul{
              padding-left: 0px;
            }
          a{
              padding: 13px 20px 13px 0px;
              border-radius: 30px;
              display: block;
            &:hover{
              text-decoration: underline;
            }
          }
        }
    }
}



//* Form *//

label {
    color:$color-black-grey;
	font-weight: 600;
    margin-bottom: 10px;
    font-size: $txt-14;
}

.form-group {
  margin-bottom: 30px;
}


legend {font-size: 0.875rem;
    padding: 10px 0;
font-weight: 700;}




//* botones generales *//

.btn-primary {
  background: transparent;
  color: #000;
  border: 2px solid $color-main;
  padding: 5px 15px;
  margin: 5px 0px;
  font-weight: 500;

  &:hover, &:focus, &:active, &.focus, &.active {
    background: $color-dark-main;
    border: 2px solid $color-dark-main;
    font-weight: 500;
  }
}






//* Card *//
.cr-card {border: none; 
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    height: var(--bs-card-height);
    word-wrap: break-word;
	margin: 10px 0px;
	
	.panel-heading{border-radius: 0px;background-position: center center;
background-size: cover;
border: 0;min-height: 180px; }
	.panel-body{
		padding: 7px 10px;
    }
	
   h2, h3 {
    font-size: $txt-noticiagral;
    line-height: 20px;
	font-weight: 400;
	   color: $color-black;
	   padding: 0px;
	 
		}
}
	
.fecha {padding: 7px 0px;
	    font-size:$fecha-noticiagral;
	color: $color-black
	}
	
a.panel-default {
  &:hover, &:focus {
  background:$gray-lighter;
border-radius: 0px;	
  }
}
.cr-relacionado .panel-default {
  background: #fff;
  border-radius: 0px;
width: 100%;
}
.cd-noticia-contenido {
  margin-bottom: 60px;
}



.cr-noticia {
  .titulo {
    font-size: 30px;
    font-weight: 700;
    line-height: 34px;
  }

  &.destacado {
    font-size: 1.125rem;
    margin: 50px 0px;
	font-weight: 600;
  }

  .panel-default {
    border-radius: 0px;
    border: none;
  }
	.panel-heading {
  min-height: 335px;
 background-position: center center; 
background-size: cover; border: 0;  
}

}
//* social-share *//

.social-share {
  p {
    color:$gray-medio;
    float: left;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 8px;
	font-size: $txt-16;
	font-weight: 500;
  }


  ul {
    margin: 5px 10px 5px 5px;
  }

  li {
    border-radius: 30px;
    margin: 0;

    &:hover {
      //background: $brand-primary;

      span, i {
        /*color: #fff;*/
		  color: $link-visited;
      }
    }
  }



  a {
    display: inherit;
    font-size: 20px;
    line-height: 0;
    min-width: 35px;
    padding: 0px;
	text-align: center;
  }
}

.list-line-redes-mobile {
  li{
    margin-right:1.6em!important;
    &:last-child{
      margin-right: 0em!important;
    }
  }
}

//* fin social-share *//



//*  Botones card con imagen  *//

.cr-card-img {
  width: 100%;
  
    .panel-heading{
      position: relative; 
      min-height: 260px;
    }
    .cr-card-img-body {
      position: absolute; 
      width: 100%; 
      bottom: 0;

      .cr-card-overlay {
        background-color: black; 
        opacity: 0.5; 
        position: absolute; 
        width: 100%; 
        height: 100%;
       /* -webkit-border-bottom-right-radius: $border-radius-dos;
        -webkit-border-bottom-left-radius: $border-radius-dos;
        -moz-border-radius-bottomright: $border-radius-dos;
        -moz-border-radius-bottomleft: $border-radius-dos;
        border-bottom-right-radius: $border-radius-dos;
        border-bottom-left-radius: $border-radius-dos;*/
      }
      .titular{
        color: white; 
        font-weight: 700; 
        position: relative;
        font-size: 1.62rem;
        line-height: 2.3rem ;
      }
    }
    
}





.panel-heading {
  border-radius: 0px;
}





.cr-agenda-divisor {border-top: 3px solid red;}



@media (max-width: 767px) {
  .cr-noticia-container, .cr-noticia-img {
    padding: 0px;
  }
}
//* fin noticia *//





//* autoridades *//

.cr-autoridades {
  img {
    height: auto;
    width: 190px;
  }

  .circle {
    width: 190px;
    height: 190px;
    overflow: hidden;
    padding: 0px;
  }


.nombre {
  margin: 5px 0px;
  font-weight: 600;
font-size: $texto-autoridades;
}

.cargo {
  font-size: 19px;
  line-height: 20px;
  color: #555;
}
	
	 &.destacado {
    font-size: 1.125rem;
    line-height: 29px;
    margin: 50px 0px;
    font-weight: 600;
	
  }


}

.cr-autoridades-home{
  background-color: $color-fdoautoridades;
}




//* pagination *//
.pagination {
  margin-bottom: 64px;
  margin-top: 60px;
  text-transform: inherit;

  > li > {
    a, span {
      background-color: transparent;
      border: 0;
      border-radius: 30px;
      color: $brand-primary;
      float: left;
      line-height: 1.42857;
      margin: 0 2px;
      padding: 10px 17px;
      position: relative;
      text-decoration: none;
    }

    a {
      &:hover, &:focus {
        border-color: transparent;
        color: $brand-primary;
      }
    }
  }
}

pagination .pagination > li > span:hover {

  border-color: transparent;
  color: $brand-primary;
}

.pagination > {
  li > span:focus {

    border-color: transparent;
    color: $brand-primary; 
  }

  .active > {
    a {
      background-color:$gray-medio!important;
      color: #fff;
      cursor: default;
      z-index: 2;

      &:hover, &:focus {
        background-color: $gray-medio;
        border-color: $brand-primary;
        color: #fff;
        cursor: default;
        z-index: 2;
      }
    }


  }

  .disabled > {

    a {
    color: #333;
    background: #fff;
      cursor: not-allowed;

      &:hover, &:focus {
        color: #333;
    background: #fff;
        cursor: not-allowed;
      }
    }
  }
}

//* fin pagination *//



.text-primary {
  color:$brand-primary!important;
}

.fa.text-primary {
  color:$brand-primary!important;
}



//* Header *//

.cr-header { 
    background-color: $color-main;
    padding-top: ($spacer * 1.6);

    .social-share li a{
        color: $color-black;

        i{
            font-size: 1em;
        } 
    }
    
 }

 .logos{
    img {
    height: 81px; 
    margin-right: 38px;
     }
    img:last-child{
        margin-right: 0px;
    }
}
.cr-nav { 
    color: $color-black;
    
    .navbar-nav{
        margin-bottom: 6px;
    }
}
.navbar {
    ul {
        li{
            .dropdown-menu {
                background-color: $color-black-grey;
                -webkit-border-bottom-right-radius: $border-radius-dos;
                -webkit-border-bottom-left-radius: $border-radius-dos;
                -moz-border-radius-bottomright: $border-radius-dos;
                -moz-border-radius-bottomleft: $border-radius-dos;
                border-bottom-right-radius:  $border-radius-dos;
                border-bottom-left-radius:  $border-radius-dos;
                -webkit-border-top-left-radius: 0px;
                -webkit-border-top-right-radius: 0px;
                -moz-border-radius-topleft: 0px;
                -moz-border-radius-topright: 0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    } 

}

.navbar-toggler-icon { color: $color-black-grey; width: 1em; height: 1em;}

.cr-idioma-mobile{
    align-items: flex-end;

    div{
        align-items: flex-end;
    }
}

.cr-navbar-collapse{
    ul{
        li{
            a{
                font-weight: 600;
                color: $color-black;
            }
            ul{
                li{
                    a{
                        color: white;
                    
                    &:hover {
                        color: white;
                        text-decoration: underline;
                    }
                    }
                }
            }
        }
    }
}



//* Botones*//
.btn {
    -webkit-border-radius: $border-radius-uno;
-moz-border-radius: $border-radius-uno;
border-radius: $border-radius-uno;


    &:hover, &:focus {
    border-radius: $border-radius-uno;
    }
}


.btn-idioma {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;
  

}
.btn-idioma-mobile {
    width: fit-content;
    align-items: flex-end;
    color: #fff;
    background-color: $color-black-grey;
    font-size: 0.8em;

    &:hover, &:focus {
        color: #fff;
        background-color: $color-black-grey;
    }
}   


//*  Dropdown menu *//
.dropdown-menuPpal {
    margin-top: calc(var(--bs-dropdown-spacer) + 4px) ;
    background-color: $color-black-grey;
    -webkit-border-bottom-right-radius: $border-radius-uno;
-webkit-border-bottom-left-radius: $border-radius-uno;
-moz-border-radius-bottomright: $border-radius-uno;
-moz-border-radius-bottomleft: $border-radius-uno;
border-bottom-right-radius:  $border-radius-uno;
border-bottom-left-radius:  $border-radius-uno;
li{
    a{
        font-weight: 500;
        font-size: 14px;
    }
    a:hover{
        background-color:$color-black-grey;
        text-decoration: underline;
    }
}
}


section {
  padding: 30px 0;
}


//* menu pagina libro*//
.nav-pills{
    li{
        a{
            color:$color-black-grey;
        }
        a.cr-mp-activo{
            color:$color-dark-main;
        }
    }
}

.cr-libro-apertura {
  background: $color-prio-ladrillo;
}



//*Dropdown idioma*//

.dropdown-idiomas-escritorio {
    width: 89px;
    li{
      width: 100%;
      a {
        width: 100%;
		
      }
    }
}
.dropdown-idiomas{
    //left: 50%;
    //transform: translate(-50%, 0%);
    background-color: white;
    min-width: auto;
    border-radius: $border-radius-uno;
    color: $color-black-grey;
    border: 1px solid $color-medium-grey;


    li{
        border-bottom: none;
        width: 100%;

        a{
            color: $color-black-grey;
            width: 100%;
            font-size: .8em;
			font-weight: 600;
        }
    }
}

//* inicio Breadcrumb *//

.breadcrumb{
	background: $color-breadcrumb;
	 --bs-breadcrumb-divider-color:#fff;
	
		ol {
		margin: 0px 0 2px ;
		padding: 3px 0 2px 0;
		color: #fff;
		font-size: $txt-14;

			}
	}

.breadcrumb-item {
  &:after {
    float: right;
    color: var(--bs-breadcrumb-divider-color);
    content: var(--bs-breadcrumb-divider,">");
    padding-left: 8px;
	}
	
	&:before {
     float: left; 
     content: var(--bs-breadcrumb-divider," ");
     display: none;
    }
	
}

//* fin Breadcrumb *//


//*   PRIORIDADES   *//

.cr-prioridades-destacado {
    

    p {
        font-size: $destacado-prioridades;
        line-height: $line-height-destacado-prioridades;
        font-weight: 500;
    }
    
}
 
.cr-prio { 
    padding: ($spacer * 1.8);
    h2 { 
        font-size:$encabezado-h2 ;
        margin-top: 0px;
    }
    p{
        line-height:32px;
        font-weight: 500;
    }
}

.bg-p-verde { background-color:$color-homeprioridades ;}
.bg-p-ladrillo { background-color:$color-prio-ladrillo ;}
.bg-p-amarillo { background-color:$color-prio-amarillo ;}
.bg-p-celeste { background-color:$color-prio-celeste ;}
.bg-p-gris {background-color:$color-fdoautoridades;}

//*AGENDA*//

hr {
    border-top: 1px solid #777;
    margin: 30px 0;
}	



.table{
  padding: 0.5rem 1rem;
}

.ribbon-agenda{
  display: inline-block;
  font-weight: 500;
  padding: 4px 0;
  text-transform: unset;

  i{
    font-size: 1.2em;
    margin-right: 5px;
    position: relative;
    top: 1px;
}

}
.cr-agenda-bg {
  background-color: $color-homeagenda;
}







//* inicio footer *//

.footerCasaRosada {
    background-color: $color-main;
	color: $color-black;
	margin-top: 80px;
    img {
		height: 81px;
	}
	
	.lgcasa {
		margin-right: 38px;
	}
	

}

.main-footer {
  a {
    color: #000;
  }
	li{	color: $color-black;
		font-size: $txt-16; 
		padding: 6px 0; 
		text-decoration: none;
		
			
		
	}
	
	.nav li a {
    padding: 0px;

  }
	
	.row > div:first-child { padding-right: 30px; }
  h2{
    font-size:$texto-p;  padding: 0px;
  }
	
.footer-social-share {
	a {
    font-size: 1.125rem;
  }
  

  address {
           line-height: 32px;
		
	    	a {
            &:hover{
              text-decoration: underline;
              }
		
          }
	
  }
}
}
//*  fin footer *//




//* Autoridades home*//

.cr-autoridades-titulo {
  margin-bottom: -60px;
}
.img-autoridades {
  width: inherit;
  max-width: 200px;
}
.cr-autoridades-home{
  background-color: $color-fdoautoridades;
  a {
    color: $color-black;
  }
}




//* SLIDER  *//
.carousel-item { 
   // height: 530px;

}
.carousel-caption {
  background-color: $color-black-10;
}

.carousel-caption2 {
  color: $color-black;
}

.cr-btnSlider {width: fit-content; background-color: white; color:#333; font-weight: 500;}
.cr-boxSlider {bottom: 4rem;}


@media (max-width: 992px){

 

.carousel-caption {
  width: 100%;
  bottom: 0;
  left: 0;
  position: relative;
  background-color: white;
  color: $color-black-grey;

}

.cr-autoridades-titulo {
  margin-bottom: 0px;
}

.cr-btnSlider{
  background-color: $color-black-grey;
  color: white;
  border-radius: 0!important;
  width: 100%;
  border: none;
}


}



@media (max-width: 1200px) {
    .cr-idioma{
        align-self: flex-end;
        text-align: right;

        .btn-idioma{
            margin:0px;
        }

    } 
    .logos{
        padding-bottom: ( $spacer * 1);
    }
    .cr-header {
        padding-top: ($spacer * 1);
       padding-bottom: ( $spacer * 0.5);
    }
    .cr-navbar-collapse {
        border-top: 1px solid #ff9ebc;
        margin: 25px -15px 0px;
        padding: 0px 30px;
        //background-color: #fff;
        padding-top: 30px;
        ul{
            li{
                //border-bottom: 1px solid #efefef;
                .nav-link{ 
                    font-size: 1em; font-weight: 600; color: $color-black;
                }
            }
        }
    }
    .navbar{
        ul {
            li {
                    .dropdown-menu{
                      background-color: $color-main;
                        border: none;
                        li{
                            border-bottom: none;
                            a{
                            color: $color-black;
                            font-size: 1em;
                            &:hover, &:active{
                                color:$color-dark-main;
                                background-color: white;
                            }
                            }
                            
                        }
                    }
                    .dropdown-menuPpal{
                        padding: 0px 20px 0px;
                        padding-top: 0px!important;
                        margin-top: 0px!important;
                    }
                
            }
        }
            
    }
    .dropdown-menuPpal{
        color: $color-black-grey;
        li{
            a{
                color: $color-black-grey;
            }
        }
    }



}
@media (max-width:767px){
    .logos{
        img {
        height: 70px; 
        margin-right:18px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }
    .navbar {
        min-height: auto!important;
    }
    .btn {font-weight: 500!important
        ;}
        #carouselExampleCaptions02 {
          p.tituloautoridades {
            padding-left: 20px!important;
          }
        }


}
@media (max-width:576px){
    .logos{
        img {
        height: 66px; 
        margin-right: 12px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }
    .cr-header {
        padding-top: ($spacer * 1);
    }
    .breadcrumb-item+.breadcrumb-item {
      padding-left: 0px;
    }
    #carouselExampleCaptions02 {
      p.tituloautoridades {
        padding-left: 50px!important;
      }
    }
        
}

@media (min-width:992px){
   

}

@media (min-width:1200px){
    
    .cr-nav { 
        
        margin-top: ($spacer * 3.3)!important;

        .nav-link{
            &:hover{
                border-bottom: 6px solid #333;
                margin-bottom: -6px;
                text-decoration: none!important;
                           // box-shadow:0px 0px 0px 10px red inset; 
            }
            &:active{
                border-bottom: 6px solid #333;
                margin-bottom: -6px;
                text-decoration: none!important;
                           // box-shadow:0px 0px 0px 10px red inset; 
            }
            &:focus{
                border-bottom: 6px solid #333;
                margin-bottom: -6px;
                text-decoration: none!important;
                           // box-shadow:0px 0px 0px 10px red inset; 
            }
        }
        .nav-link-active {
            border-bottom: 6px solid #333;
                margin-bottom: -6px;
                text-decoration: none!important;
                           // box-shadow:0px 0px 0px 10px red inset; 
        }
          

    
    }
    .navbar-nav .dropdown-menuPpal {
        left: 50%;
    transform: translate(-50%, 0%);
    border: none;
    }

    .nav-item{
        padding-right: 25px;
        padding-left: 25px;
        .nav-link { 
            color: $color-black!important;
            
        }
        

    }
    .nav-item:last-child {
        padding-right: 0px;
    }
    .nav-item:first-child {
        padding-left: 0px;
    }

	
}


