---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*!
 * Casa Rosada v0.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */

/* Resources */
/*
@import "casarosada/variables";
@import "casarosada/brand";
*/

$color-main: #FF84A4;
$color-black:#000;
$color-black-grey:#333;

$spacer: 1em;

$border-radius-uno: 4px ;
$border-radius-dos: 10px ;

a:hover{
    background-color:none!important;
}


//* Header *//

.cr-header { 
    background-color: $color-main;
    padding-top: ($spacer * 1.6);

    .social-share li a{
        color: $color-black;

        i{
            font-size: 0.8em;
        } 
    }
    
    
 }

 .logos{
    img {
    height: 81px; 
    margin-right: 38px;
     }
    img:last-child{
        margin-right: 0px;
    }
}
.cr-nav { 
    color: $color-black;
    
    .navbar-nav{
        margin-bottom: 6px;
    }

    .nav-item{
        padding-right: 25px;
        padding-left: 25px;
        .nav-link { 
            color: $color-black!important;
            
        }
        .nav-link:hover{
            border-bottom: 6px solid #333;
            margin-bottom: -6px;
            text-decoration: none!important;
                       // box-shadow:0px 0px 0px 10px red inset; 
        }

    }
    .nav-item:last-child {
        padding-right: 0px;
    }
    .nav-item:first-child {
        padding-left: 0px;
    }
}
.navbar {
    ul {
        li{
            .dropdown-menu {
                background-color: $color-black-grey!important;
                -webkit-border-bottom-right-radius: $border-radius-dos!important;
                -webkit-border-bottom-left-radius: $border-radius-dos!important;
                -moz-border-radius-bottomright: $border-radius-dos!important;
                -moz-border-radius-bottomleft: $border-radius-dos!important;
                border-bottom-right-radius:  $border-radius-dos!important;
                border-bottom-left-radius:  $border-radius-dos!important;
                -webkit-border-top-left-radius: 0px;
                -webkit-border-top-right-radius: 0px;
                -moz-border-radius-topleft: 0px;
                -moz-border-radius-topright: 0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
            }
        }
    } 

}

.navbar-toggler-icon { color: $color-black-grey;}




//* Botones*//
.btn {
    -webkit-border-radius: $border-radius-uno;
-moz-border-radius: $border-radius-uno;
border-radius: $border-radius-uno;
border: none!important;
}
.btn:hover{
    border: none!important;
    border-radius: $border-radius-uno!important;
}

.btn:focus{
    border: none!important;
    border-radius: $border-radius-uno!important;
}

.btn-idioma {
    padding: 5px 12px;
    font-size: 14px;
    font-weight: 500;

}


//*  Dropdown menu *//
.dropdown-menu {
    margin-top: calc(var(--bs-dropdown-spacer) + 4px)!important ;
    background-color: $color-black-grey!important;
    -webkit-border-bottom-right-radius: $border-radius-uno!important;
-webkit-border-bottom-left-radius: $border-radius-uno!important;
-moz-border-radius-bottomright: $border-radius-uno!important;
-moz-border-radius-bottomleft: $border-radius-uno!important;
border-bottom-right-radius:  $border-radius-uno!important;
border-bottom-left-radius:  $border-radius-uno!important;
}



//* inicio footer *//

.footerCasaRosada {
    background-color: $color-main;
	color: $color-black!important;
    img {height: 81px;}

}

.main-footer{
	li a: color:$color-black;

	.footer-social-share li a { 
     font-size: 1.5rem!important 
	}
	a {
		color:$color-black;
		text-decoration: none;

	}
}
		
		  
		
		
		
//*  fin footer *//




@media (max-width: 991px) {
    .cr-header {
        padding-top: ($spacer * 1);
        padding-bottom: ($spacer * 1);
    }
}
@media (max-width:767px){
    .logos{
        img {
        height: 70px; 
        margin-right:18px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }
    .navbar {
        min-height: auto!important;
    }

}
@media (max-width:576px){
    .logos{
        img {
        height: 44px; 
        margin-right: 12px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }
    .cr-header {
        padding-top: ($spacer * 1);
    }
        

}

@media (min-width:992px){
   
    .navbar-nav .dropdown-menu {
        left: 50%;
    transform: translate(-50%, 0%);
    border: none;
    }
}

@media (min-width:1200px){
    .cr-nav {
        margin-top: ($spacer * 3.3)!important;
    }

}
