---
# Only the main Sass file needs front matter (the dashes are enough)
---
/*!
 * Casa Rosada v0.2 (https://github.com/argob/poncho)
 * Copyright 2016
 * Subsecretaría de Gobierno Digital
 * Presidencia de la Nación Argentina
 * Licenciado bajo MIT (https://github.com/argob/poncho/LICENSE)
 */

/* Resources */
/*
@import "casarosada/variables";
@import "casarosada/brand";
*/

$color-main: #FF84A4;
$color-black:#000;
$color-black-grey:#333

$spacer: 1rem;

.cr-header { 
    background-color: $color-main;
    padding-top: ($spacer * 1.6);

    .social-share li a{
        color: $color-black;

        i{
            font-size: 0.8em;
        } 
    }
    
    
 }

 .logos{
    img {
    height: 81px; 
    margin-right: 38px;
     }
    img:last-child{
        margin-right: 0px;
    }
}
.cr-nav { 
    color: $color-black;
    
    .nav-item{
        padding-right: 50px;
        .nav-link { 
            color: $color-black!important;
        }

    }
    .nav-item:last-child {
        padding-right: 0px;
    }
}

.navbar-toggler-icon { color: $color-black-grey;}

@media (max-width: 991px) {
    .cr-header {
        padding-top: ($spacer * 1);
        padding-bottom: ($spacer * 1);
    }
}
@media (max-width:767px){
    .logos{
        img {
        height: 70px; 
        margin-right:18px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }

}
@media (max-width:576px){
    .logos{
        img {
        height: 44px; 
        margin-right: 12px;
         }
         img:last-child{
            margin-right: 0px;
        }
    }
    .cr-header {
        padding-top: ($spacer * 1);
    }
        

}

@media (min-width:992px){
    .cr-nav {
        margin-top: ($spacer * 3.3)!important;
    }
}
