<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <img class="image-responsive" alt="AFIP - Administración Federal de Ingresos Públicos" src="img/logo.png" width="200">
        <br>
        <p class="text-muted small">Los contenidos de afip.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="">Institucional</a></li>
          <li><a href="">Autoridades</a></li>
          <li><a href="">Curriculum vitae</a></li>
          <li><a href="">Estadísticas</a></li>
          <li><a href="">Compras</a></li>
          <li><a href="">Jurisdicciones competentes</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="">Agencia móvil</a></li>
          <li><a href="">Boletines impositivos</a></li>
          <li><a href="">Folletero web</a></li>
          <li><a href="">Facturación apócrifa</a></li>
          <li><a href="">Credencial Virtual</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="">Contactos</a></li>
          <li><a href="">Notas explicativas (OMA)</a></li>
          <li><a href="">Enlaces de interés</a></li>
          <li><a href="">Excombatientes de Malvinas Afip</a></li>
          <li><a href="">Denuncias</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
