<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img alt="Brand" src="img/logo.png" height="50">
            <h1 class="sr-only">AFIP <small>Administración Federal de Ingresos Públicos</small></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right hidden-xs">
            <li> <a href="https://servicios1.afip.gov.ar/genericos/guiaDeTramites/inicio.aspx">Trámites</a> </li>
            <li> <a href="https://servicios1.afip.gov.ar/Publico/Turnos/Turnos.aspx">Turnos</a> </li>
            <li> <a href="http://www.afip.gob.ar/dependencias/">Dependencias</a> </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
</header>
