<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" style="width: 100%;" href="{{ site.baseurl }}/">
            <img alt="AFIP - Trabajadores de casas particulares" src="img/logo-casas_particulares.png" style="max-width: 357px; width: initial;" class="hidden-xs">
            <img alt="AFIP - Trabajadores de casas particulares" src="img/logo-casas_particulares-alt.png" style="max-width: 328px; width: initial;" class="visible-xs">          
            <h1 class="sr-only">AFIP <small>Trabajadores de casas particulares</small></h1>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
