<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>AFIP</title>
  <meta name="description" content="Administración Federal de Ingresos Públicos">
  <meta name="author" content="AFIP">
  <link rel="shortcut icon" href="{{ "/favicon.ico" | prepend: site.url }}">
	<link rel="alternate" type="application/rss+xml" title="Casa Rosada" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <!-- Nav and address bar color -->
  <meta name="theme-color" content="#0072b8">
  <meta name="msapplication-navbutton-color" content="#0072b8">
  <meta name="apple-mobile-web-app-status-bar-style" content="#0072b8">

  <meta property="og:url" content="" />
  <meta property="og:type" content="article" />
  <meta property="og:title" content="" />
  <meta property="og:description" content="" />
  <meta property="og:image" content="" />
  <meta property="og:locale" content="es_AR" />

  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="" />
  <meta name="twitter:description" content="" />
  <meta name="twitter:image" content="" />

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,500,700" rel="stylesheet">
  <!-- <link href="{{ "/vendor/poncho/dist/css/roboto-fontface.css" | prepend: site.baseurl }}" rel="stylesheet"> -->
  <!-- <link href="{{ "/node_modules/bootstrap/dist/css/bootstrap.css" | prepend: site.baseurl }}" rel="stylesheet"> -->
  <link href="{{ "/vendor/poncho/dist/css/ponchito.css" | prepend: site.baseurl }}" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="{{ "/node_modules/html5shiv/html5shiv.js" | prepend: site.baseurl }}"></script>
      <script src="{{ "/node_modules/respond.js/respond.min.js" | prepend: site.baseurl }}"></script>
  <![endif]-->  


</head>
