  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NN3K86D"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" style="width: 100%;" href="{{ site.baseurl }}/">
            <img alt="AFIP - Monotributo" src="img/logo-monotributo.png" height="50" style="max-width: 100%; width: initial;">
            <h1 class="sr-only">AFIP <small>Monotributo</small></h1>
          </a>
        </div>
      </div>
    </div>
  </nav>
</header>
