<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img alt="AFIP - Administración Federal de Ingresos Públicos" src="img/logo.png" height="50" style="max-width: 100%; width: initial;">
            <h1 class="sr-only">AFIP <small>Administración Federal de Ingresos Públicos</small></h1>
          </a>
          <h2 class="pull-left text-muted">Mi Monotributo</h2>
        </div>
      </div>
    </div>
  </nav>
</header>
