<header>
  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ site.baseurl }}/">
            <img alt="Brand" src="img/logo.png" height="50">
            <h1 class="sr-only">AFIP <small>Administración Federal de Ingresos Públicos</small></h1>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

            <li>
              <a href="#">Trámites</a>
            </li>

            <li class="dropdown">
              <a href="#">Dependencias</a>
            </li>

            <li>
              <a href="#">Turnos</a>
            </li>

              <!-- <a class="btn btn-success" href="#">Clave Fiscal</a> -->

          </ul>
        </div>

      </div>
    </div>
  </nav>
</header>
