<section class="jumbotron" style="background-image: url('img/visa-para-empleadas-domesticas_0.jpg');">
  <div class="jumbotron_bar jumbotron-bar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="">Empleador de casas particulares</a></li>

            {% if include.abuelo %} 
              <li ><a href="">{{ include.abuelo }}</a></li>
            {% endif %}

            {% if include.padre %} 
              <li><a href="">{{ include.padre }}</a></li>
            {% endif %}
              
            {% if include.hijo %} 
              <li class="active"><span>{{ include.hijo }}</span></li>
            {% endif %}

          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body p-y-2">
    <div class="container">
      <h2 class="h3 m-b-0">
      {% if include.bajaTitulo %} 
        {{ include.bajaTitulo }}
      {% endif %}

      </h2>  
      <p>
      {% if include.bajaDesc %} 
        {{ include.bajaDesc }}
      {% endif %}

      </p>        
    </div>
  </div>
  <div class="overlay"></div>
</section>