<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      <li {% if include.active == "ayuda-que-es" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-que-es.html">¿Qué es el monotributo?</a>
      </li>
      <li {% if include.active == "ayuda-categorias" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-categorias.html">Categorías</a>
      </li>
      <li {% if include.active == "ayuda-antes-del-alta" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-antes-del-alta.html">Antes del alta</a>
      </li>
      <li {% if include.active == "ayuda-alta" %}class="btn-title active"{% endif %}>
        <a href="ayuda-alta.html">Alta</a>
        
        <ul>
          <li {% if include.active == "ayuda-alta-pasos-previos" %}class="active"{% endif %}>
            <a href="ayuda-alta-pasos-previos.html">Pasos previos</a>
          </li>
          <li {% if include.active == "ayuda-alta-pasos" %}class="active"{% endif %}>
            <a href="ayuda-alta-pasos.html">Pasos</a>
             
             <ul>
              <li {% if include.active == "ayuda-alta-tipo-de-monotributo" %}class="active"{% endif %}>
                <a href="ayuda-alta-tipo-de-monotributo.html">Tipo de monotributo</a>
              </li>
              <li {% if include.active == "ayuda-alta-actividades" %}class="active"{% endif %}>
                <a href="ayuda-alta-actividades.html">Actividades</a>
              </li>
              <li {% if include.active == "ayuda-alta-jubilacion" %}class="active"{% endif %}>
                <a href="ayuda-alta-jubilacion.html">Jubilación</a>
              </li>
              <li {% if include.active == "ayuda-alta-obra-social" %}class="active"{% endif %}>
                <a href="ayuda-alta-obra-social.html">Obra Social</a>
              </li>
             </ul>

          </li>
          <li {% if include.active == "ayuda-alta-pasos-posteriores" %}class="active"{% endif %}>
            <a href="ayuda-alta-pasos-posteriores.html">Pasos posteriores</a>
          </li>
        </ul>

      </li>      
      <li {% if include.active == "ayuda-sitio" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-sitio.html">Sitio</a>
        
        <ul>
          <li {% if include.active == "ayuda-sitio-inicio" %}class="active"{% endif %}>
            <a href="ayuda-sitio-inicio.html">Inicio</a>
          </li>
          <li {% if include.active == "ayuda-sitio-pagos" %}class="active"{% endif %}>
            <a href="ayuda-sitio-pagos.html">Pagos</a>
          </li>
          <li {% if include.active == "ayuda-sitio-facturacion" %}class="active"{% endif %}>
            <a href="ayuda-sitio-facturacion.html">Facturación</a>
          </li>
          <li {% if include.active == "ayuda-sitio-constancias" %}class="active"{% endif %}>
            <a href="ayuda-sitio-constancias.html">Constancias</a>
          </li>
          <li {% if include.active == "ayuda-sitio-datos-monotributo" %}class="active"{% endif %}>
            <a href="ayuda-sitio-datos-monotributo.html">Datos del monotributo</a>
          </li>
          <li {% if include.active == "ayuda-sitio-datos-personales" %}class="active"{% endif %}>
            <a href="ayuda-sitio-datos-personales.html">Datos personales</a>
          </li>
        </ul>

      </li>
      <li {% if include.active == "ayuda-baja" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-baja.html">Baja</a>
      </li>
      <li {% if include.active == "ayuda-comunicate" %}class="btn-title active"{% endif %} class="btn-title">
        <a href="ayuda-comunicate.html">Comunicate</a>
      </li>
       
    </div>
    

    

    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li><a href="ayuda.html">¿Qué es el monotributo?</a></li>
            <li><a href="">Categorías</a></li>
            <li><a href="">Antes del alta</a></li>
            <li>
              <a href="">Alta</a>
              <ul>
                <li><a href="">Pasos previos</a></li>
                <li><a href="">Pasos</a></li>
                <li><a href="">Tipo de monotributo</a></li>
                <li><a href="">Actividades</a></li>
                <li><a href="">Jubilación</a></li>
                <li><a href="">Obra Social</a></li>
                <li><a href="">Pasos posteriores</a></li>
              </ul>
            </li>
            <li>
              <a href="">Sitio</a>
              <ul>
                <li><a href="">Inicio</a></li>
                <li><a href="">Pagos</a></li>
                <li><a href="">Facturación</a></li>
                <li><a href="">Constancias</a></li>
                <li><a href="">Datos del monotributo</a></li>
                <li><a href="">Datos personales</a></li>
              </ul>
            </li>            
            <li><a href="">Baja</a></li>
            <li><a href="">Comunicate</a></li>
          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>