<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      <li {% if include.active == "inicio" %}class="active"{% endif %}><a href="ayuda.html">Inicio</a></li>
      <li {% if include.active == "requisitos" %}class="active"{% endif %}><a href="">Requisitos</a></li>
      <li {% if include.active == "alta" %}class="active"{% endif %}><a href="">Cómo darse de alta</a></li>
      <li {% if include.active == "tipoMonotributo" %}class="active"{% endif %}><a href="">Tipo de monotributo</a></li>
      <li {% if include.active == "actividades" %}class="active"{% endif %}><a href="">Actividades</a></li>
      <li {% if include.active == "obrasocial" %}class="active"{% endif %}><a href="">Obra social</a></li>
      <li {% if include.active == "jubilacion" %}class="active"{% endif %}><a href="">Jubilación</a></li>
      <li {% if include.active == "mediosdepago" %}class="active"{% endif %}><a href="">Medios de pago</a></li>
      <li {% if include.active == "facturacion" %}class="active"{% endif %}><a href="">Facturación</a></li>
      <li {% if include.active == "baja" %}class="active"{% endif %}><a href="">Cómo darse de baja</a></li>

    </div>
    
    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li class="active"><a href="ayuda.html">Inicio</a></li>
            <li><a href="">Requisitos</a></li>
            <li><a href="">Cómo darse de alta</a></li>
            <li><a href="">Tipo de monotributo</a></li>
            <li><a href="">Actividades</a></li>
            <li><a href="">Obra social</a></li>
            <li><a href="">Jubilación</a></li>
            <li><a href="">Medios de pago</a></li>
            <li><a href="">Facturación</a></li>
            <li><a href="">Cómo darse de baja</a></li>

          </div>
        </div>

      </div>
    </div>

  </ul>
</nav>