<nav class="page-sidebar m-b-2">
  <ul class="nav nav-pills nav-stacked">

    <div class="hidden-xs hidden-sm p-r-3">
      <li {% if include.active == "ayuda-que-es" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "index.html" | prepend: include.level }}'>¿Qué es el monotributo?</a>
        
        <ul>
          <li {% if include.active == "ayuda-categorias" %}class="btn-title active"{% endif %} class="btn-title">
              <a href='{{ "categorias.html" | prepend: include.level }}'>Categorías</a>
          </li>
        </ul>
      </li>

      <li {% if include.active == "ayuda-alta-como" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "alta/index.html" | prepend: include.level }}'>¿Cómo me doy de alta?</a>
        <ul>

        <li {% if include.active == "ayuda-antes-del-alta" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "alta/antes-del-alta.html" | prepend: include.level }}'>Antes del alta</a>

        <li {% if include.active == "ayuda-alta-pasos" %}class="active"{% endif %}>
            <a href='{{ "alta/pasos/index.html" | prepend: include.level }}'>Pasos</a>
        </li>     
        
        <li {% if include.active == "ayuda-alta-tipo-de-monotributo" %}class="active"{% endif %}>
          <a href='{{ "alta/pasos/tipo-de-monotributo.html" | prepend: include.level }}'>Tipo de monotributo</a>
        </li>
        
        <li {% if include.active == "ayuda-alta-actividades" %}class="active"{% endif %}>
          <a href='{{ "alta/pasos/actividades.html" | prepend: include.level }}'>Actividades</a>
        </li>
        
        <li {% if include.active == "ayuda-alta-jubilacion" %}class="active"{% endif %}>
          <a href='{{ "alta/pasos/jubilacion.html" | prepend: include.level }}'>Jubilación</a>
        </li>
        
        <li {% if include.active == "ayuda-alta-obra-social" %}class="active"{% endif %}>
          <a href='{{ "alta/pasos/obra-social.html" | prepend: include.level }}'>Obra Social</a>
        </li>       

          <li {% if include.active == "ayuda-alta-pasos-posteriores" %}class="active"{% endif %}>
            <a href='{{ "alta/pasos-posteriores.html" | prepend: include.level }}'>Después del alta</a>
          </li>

        </ul>


      </li>
     
      <li {% if include.active == "ayuda-sitio" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "sitio/index.html" | prepend: include.level }}'>¿Cómo uso este sitio?</a>
        
        <ul>
          <li {% if include.active == "ayuda-sitio-inicio" %}class="active"{% endif %}>
            <a href='{{ "sitio/inicio.html" | prepend: include.level }}'>Inicio</a>
          </li>
          <li {% if include.active == "ayuda-sitio-pagos" %}class="active"{% endif %}>
            <a href='{{ "sitio/pagos.html" | prepend: include.level }}'>Pagos</a>
          </li>
          <li {% if include.active == "ayuda-sitio-facturacion" %}class="active"{% endif %}>
            <a href='{{ "sitio/facturacion.html" | prepend: include.level }}'>Facturación</a>
          </li>
          <li {% if include.active == "ayuda-sitio-constancias" %}class="active"{% endif %}>
            <a href='{{ "sitio/constancias.html" | prepend: include.level }}'>Constancias</a>
          </li>
          <li {% if include.active == "ayuda-sitio-datos-monotributo" %}class="active"{% endif %}>
            <a href='{{ "sitio/datos-monotributo.html" | prepend: include.level }}'>Datos del monotributo</a>
          </li>
          <li {% if include.active == "ayuda-sitio-datos-personales" %}class="active"{% endif %}>
            <a href='{{ "sitio/datos-personales.html" | prepend: include.level }}'>Datos personales</a>
          </li>
        </ul>

      </li>
      <li {% if include.active == "ayuda-baja" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "baja.html" | prepend: include.level }}'>¿Cómo me doy de baja?</a>
      </li>
      <li {% if include.active == "ayuda-comunicate" %}class="btn-title active"{% endif %} class="btn-title">
        <a href='{{ "comunicate.html" | prepend: include.level }}'>Comunicate con AFIP</a>
      </li>
       
    </div>
    

    

    <div class="visible-xs visible-sm">
      <li class="btn-title m-y-0"><a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i> &nbsp; Menú</a></li>
      <div class="collapse" id="collapseExample">
        <hr class="m-y-1">
        <div class="row">
          <div class="col-sm-6">

            <li><a href='{{"ayuda-que-es.html" | prepend: include.level }}'>¿Qué es el monotributo?</a>
              <ul>
                <li><a href='{{"ayuda-categorias.html" | prepend: include.level }}'>Categorías</a></li>
              </ul>
            </li>
            <li><a href='{{"ayuda-alta-como.html" | prepend: include.level }}'>¿Cómo me doy de alta?</a>
              <ul>
                <li><a href='{{ "ayuda-antes-del-alta.html" | prepend: include.level }}'>Antes del alta</a></li>
                <li><a href='{{ "ayuda-alta-pasos.html" | prepend: include.level }}'>Pasos</a></li>

                    <li><a href='{{ "ayuda-alta-tipo-de-monotributo.html" | prepend: include.level }}'>Tipo de monotributo</a></li>
                    <li><a href='{{ "ayuda-alta-actividades.html" | prepend: include.level }}'>Actividades</a></li>
                    <li><a href='{{ "ayuda-alta-jubilacion.html" | prepend: include.level }}'>Jubilación</a></li>
                    <li><a href='{{ "ayuda-alta-obra-social.html" | prepend: include.level }}'>Obra Social</a></li>

                
                <li><a href='{{ "ayuda-alta-pasos-posteriores.html" | prepend: include.level }}'>Después del alta</a></li>
              </ul>
            </li>
            <li><a href='{{ "ayuda-sitio.html" | prepend: include.level }}'>¿Cómo uso este sitio?</a>
              <ul>
                <li><a href='{{ "ayuda-sitio-inicio.html" | prepend: include.level }}'>Inicio</a></li>
                <li><a href='{{ "ayuda-sitio-pagos.html" | prepend: include.level }}'>Pagos</a></li>
                <li><a href='{{ "ayuda-sitio-facturacion.html" | prepend: include.level }}'>Facturación</a></li>
                <li><a href='{{ "ayuda-sitio-constancias.html" | prepend: include.level }}'>Constancias</a></li>
                <li><a href='{{ "ayuda-sitio-datos-monotributo.html" | prepend: include.level }}'>Datos del monotributo</a></li>
                <li><a href='{{ "ayuda-sitio-datos-personales.html" | prepend: include.level }}'>Datos personales</a></li>
              </ul>
            </li>
            <li><a href='{{ "ayuda-baja.html" | prepend: include.level }}'>¿Cómo me doy de baja?</a></li>
            <li><a href='{{ "ayuda-comunicate.html" | prepend: include.level }}'>Comunicate con AFIP</a></li>
          </div>
        </div>
      </div>
    </div>
  </ul>
</nav>