<section class="jumbotron" style="background-image: url('img/guia-2.jpg');">
  <div class="jumbotron_bar jumbotron-bar-transparent">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="">Monotributo</a></li>

            {% if include.abuelo %} 
              <li ><a href="">{{ include.abuelo }}</a></li>
            {% endif %}

            {% if include.padre %} 
              <li><a href="">{{ include.padre }}</a></li>
            {% endif %}
              
            {% if include.hijo %} 
              <li class="active"><span>{{ include.hijo }}</span></li>
            {% endif %}

          </ol>
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body p-t-0 p-b-1">
    <div class="container">
      <p class="lead">Soy Carla Martinez representando a</p>
      <h2 class="h3 m-b-0">Jorge Pérez González <small><a href="">(cambiar persona)</a></small></h2>
      <p class="lead">CUIL 20-33444888-6</p>
      <p class="lead">Categoría A</p>
    </div>
  </div>
  <div class="overlay"></div>
</section>