/* COSITAS */

	/* PALETA DE COLORES */

	/*
	
	celeste 

	color: #00a1e4;
	background-color: #00a1e4;
	

	gris

	color: #596f7e;
	background-color: #596f7e;


	turquesa

	color: #01babd;
	background-color: #01babd;


	naranja

	color: #f7941d;
	background-color: #f7941d;
	

	rojo
	
	color: #ef4023;
	background-color: #ef4023;


	gris mapa

	color: #E7E5D9;
	background-color: #E7E5D9;

	*/

/* NAV */

nav:first-of-type {
    min-height: 30px!important;
}

nav:nth-of-type(2) {
    min-height: 100px!important;
}


header{
	position: fixed;
    width: 100%;
    z-index: 100;
}

main{
	padding-top: 132px;
}


@media (min-width: 421px) and (max-width: 620px){

	main{
		padding-top: 120px!important;
	}

}


@media (max-width: 420px){

	main{
		padding-top: 112px!important;
	}

}

.navIdioma{
	padding-top: 2px;
}

.navIdioma li a{
	color: #92278f;
    font-weight: 500;
    font-size: 1.1em;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.navIdioma li{
	display: inline-block;
	text-decoration: none;
	padding: 0;
	font-size: 14px;
}


#navbar{
	padding-top: 15px;
}


a:hover, a:focus, a:active {
    color: #01babd!important;
    text-decoration: none;
}

.navbar-default .nav > li > a {
	color: #596f7e;
	background-color: #fff;
}


.navbar ul li .dropdown-menu {
    background: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    background: #fff!important;
    color: #01babd;
    opacity: 1;
}


.navbar ul li .dropdown-menu li a {
    color: #596f7e!important;
}


.navbar ul li .dropdown-menu > li > a:hover, 
.navbar ul li .dropdown-menu li a:hover, 
.navbar ul li .dropdown-menu > li > a:focus, 
.navbar ul li .dropdown-menu li a:focus {
    background-color: #fff;
    color: #01babd!important;
}


.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background: #fff!important;
    color: #01babd!important;
    opacity: 1;
}

#avatar{
	display: none;
}

@media (min-width: 768px){
	.navbar > .container .navbar-brand, 
	.navbar > .container-fluid .navbar-brand {
    	margin-left: -40px;
	}
}

@media (min-width: 992px) and (max-width: 1200px){
    

	.navbar-default .nav > li > a{
		    font-size: 14px!important;
	}

}

@media (min-width: 421px) and (max-width: 991px){

	#avatar{
		display: block;
	}

	#logo{
		display: none;
	}

	.navbar-default .nav > li > a {
    	font-size: 13px;
    	padding-left: 9px;
    	padding-right: 10px;
	}

	.navbar .navbar-brand {
        height: 72px!important;
    	font-size: 20px!important;
    	font-weight: 500!important;
    	line-height: 2.6!important;
	}

	.navbar .navbar-brand img {
    	height: 60px!important;
    	width: auto!important;
	}

}

@media (max-width: 620px){
	nav:nth-of-type(2) {
    	max-height: 85px!important;
    	min-height: 85px!important;
	}

	#navbar {
    	padding-top: 5px;
	}

}


@media (max-width: 420px){

	.navbar .container .navbar-header .navbar-brand img {
    	height: 50px!important;
    	width: auto!important;
    }

    #avatar{
		display: block;
	}

	#logo{
		display: none;
	}

	nav:nth-of-type(2) {
    min-height: 77px!important;
	}

}


/* BACK TO TOP */

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f7941d;
  color: white;
  cursor: pointer;
  padding: 7px 14px 12px 14px;
  border-radius: 10px;
  -webkit-transition-duration: 0.4s!important;
  transition-duration: 0.4s!important;
}

#myBtn:hover {
  background-color: #e37d03;
}

/* COSITAS GENERALES */ 

body{
	background-color: #fff;
}

h3, h4{
	color: #4a5c69;
	margin-bottom: 0.2em!important;
}

.fondoGris{
	background-color: #f6f7f8;
}

.fondoBlanco{
	background-color: #fff;
}

img{
	max-width: 100%;
}

ul li b{
	color: #596f7e;
}

.separadorColores{
	background: url(../img/dots2.png);
	background-repeat: no-repeat;
	height: 15px;
	margin: 20px 0;
}


main a[href^="http://"]:after, main a[href^="https://"]:after{
	display:none; 
}

	/* BOTONES */

.btn{
	border-radius: 80px;
    height: 50px;
}

.btn.btn-sm {
    padding: 15px 60px;
}


.btn-primary{
	background-color: #01babd!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.btn-primary:hover, .btn-primary:focus {
	background-color: #0072bc!important;
	color: #fff!important;
}


.btn-v4{
	background-color: transparent;
	border: 3px solid #fff!important;
	color: #fff;
	padding: 11px 50px!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.btn-v4:hover, .btn-v4:focus {
	background-color: #fff!important;
	border: 3px solid #fff;
	color: #92278f!important;
}


.btn-secondary{
	background-color: transparent;
	border: 3px solid #fff;
	color: #fff;
	padding: 11px 25px!important;
	min-width: 180px!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.btn-secondary:hover, .btn-secondary:focus {
	background-color: #fff!important;;
	color: #c6168d!important;
	border: 3px solid #fff;
}

	/* TIPOGRAFÍA */

.light{
	font-weight: 200;
}

.semilight{
	font-weight: 300;
}

.heavy{
	font-weight: 500;
}

.masheavy{
	font-weight: 600;
}

.caps{
	font-variant: all-small-caps;
}

.preTitulo{
	font-variant: all-small-caps;
	color: #01babd;
	font-weight: 500;
	margin-bottom: 0;
	padding-top: 10px;
}


.chiquito{
	font-size: 16px;
    line-height: 23px;
}

.menosGrande{
	font-size: 20px;
}

.pocoGrande{
	font-size: 25px;
}

.bastanteGrande{
	font-size: 30px;
}

.masGrande{
	font-size: 35px;
	line-height: 1.2;
}

.reGrande{
	font-size: 40px;
}

.rereGrande{
	font-size: 50px;
}

.superGrande{
	font-size: 60px;
}

.megaGrande{
	font-size: 70px;
}

/* COLORES */

.blanquito{
	color: #fff;
}

.turquesa{
	color: #01babd;
}

.gris{
	color: #596f7e;
}

.naranja{
	color: #f7941d;
}

.blanquitoFondo{
	background-color: #fff;
}

.turquesaFondo{
	background-color: #01babd;
}

.naranjaFondo{
	background-color: #f7941d;
}


	/* BARRITAS */

.barrita{
	height: 5px;
	width: 60px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #01babd;
}

.miniBarrita{
	height: 3px;
	width: 20px;
}

.barritaBorde{
	border-bottom: solid 1px #01babd;
	width: 60px;
}


	/* PIE DE FOTO */

.pieFoto{
	color: #01babd;
	font-variant: all-small-caps;
	text-align: right;
	margin-bottom: 15px;

}


	/* HOVER PANELES */



.discursos .panel:hover,
.discursos .panel:focus,
.destacadospie .panel:hover,
.destacadospie .panel:focus{
	background-color: #01babd!important;
}

.panels-row .panel:hover, 
.panels-row .panel:focus{
	background-color: #92278f!important;
}

.panels-row .panel:hover h3, 
.panels-row .panel:hover h4, 
.panels-row .panel:hover small, 
.panels-row .panel:focus h3, 
.panels-row .panel:focus h4, 
.panels-row .panel:focus small, 
.discursos .panel:hover h3, 
.discursos .panel:hover h4, 
.discursos .panel:hover small, 
.discursos .panel:focus h3, 
.discursos .panel:focus h4, 
.discursos .panel:focus small, 
.destacadospie .panel:hover h3, 
.destacadospie .panel:hover h4,
.destacadospie .panel:hover small,
.destacadospie .panel:focus h3, 
.destacadospie .panel:focus h4,
.destacadospie .panel:focus small{
	color: #fff;
}

.media-left, .media > .pull-left {
    padding-top: 9px;
}



/*PORTADAS*/

	/* HOME */

.video-container {
  position: absolute;
  top: 11%;
  bottom: 0;
  width: 100%;
  height: 600px; 
  overflow: hidden;
}

.video-container video {
  min-width: 100%; 
  min-height: 50%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portaInfoPortada{
	margin-top: 150px;
}

video{
	background-color: #596f7e;
}

	/* esta clase le da un margin top a la primera sección del home 
	para que no pise el video */


.margenVideo {
    padding-top: 650px;
}


.margenVideoHome {
    padding-top: 630px;
}


	/* todos los homes */


.principal{
	background-color: #f6f7f8;
}

.principalV2{
	background-color: #f6f7f8;
	margin-top: 430px;
	padding-top: 130px!important;
}


.principalV3{
	background-color: #f6f7f8;
	margin-top: 585px;
}


	/* HOME 2 */

.fotoPortada{
	position: absolute;
  	top: 12%;
  	bottom: 0;
  	width: 100%;
  	height: 450px; 
  overflow: hidden;
	background-image:url('../img/foto-noticia-home.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 300px;
}

.portaInfoPortadaV2{
	margin-top: 150px;
	background-color: #f6f7f8;
	position: absolute;
	top: 355px;
	left: 0;
	padding-top: 20px;
}

.portaInfoPortadaV2 h2{
	color: #01babd;
	font-size: 1.7em;
	font-weight: 500;
}

.portaInfoPortadaV2 p{
	color: #596f7e;
	font-size: 1em;
	font-weight: 400;
	padding: 0 30px;
}

.margenVideo2 {
    padding-top: 600px;
}


@media (max-width: 992px){

.margenVideo2 {
    padding-top: 650px;
}

}


	/* HOME 3 */


.portadaNoticia{
	height: 450px;
}

.portadaNoticia{
	background-image:url('../img/index-v3.jpg');
	background-size: cover;
	background-position: center;
}

.portaInfoPortadaV3{
	background-color: rgba(246, 247, 248,0.9);
	margin-top: 35px;
	padding: 20px 30px;
}

.portaInfoPortadaV3 h2{
	color: #0072bc;
	font-size: 1.6em;
	font-weight: 500;
}

.portaInfoPortadaV3 p{
	color: #596f7e;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.portaInfoPortadaV3 a{
	margin-top: 20px!important;
}


	/* HOME 4 */


.portadav4{
	height: 450px;
	padding: 0;
}

.portafotoportada{
	background-image:url('../img/index-v4.jpg');
	background-size: cover;
	background-position: center;
	height: 450px;
}

.portainfoportadav4{
	background-color: #92278f;
	padding: 100px 80px;
	height: 450px;
}

.portainfoportadav4 h2{
	color: #fff;
	font-size: 2em;
	font-weight: 500;
}

.portainfoportadav4 p{
	color: #fff;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.portainfoportadav4 a{
	margin-top: 30px!important;
}


	/* HOME 5 */


.containerPortada{
	width: 100%!important;
}

.portadav5{
	height: 450px;
	padding: 0;
}

.portainfoportadav5{
	background-color: #fff;
	padding: 100px 80px;
	height: 450px;
}

.portainfoportadav5 h2{
	color: #596f7e;
	font-size: 2em;
	font-weight: 500;
}

.portainfoportadav5 p{
	color: #596f7e;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.portainfoportadav5 a{
	margin-top: 30px!important;
}

.btn-v5{
	background-color: transparent;
	border: 3px solid #596f7e!important;
	color: #596f7e;
	padding: 11px 50px!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.btn-v5:hover, .btn-v5:focus {
	background-color: #596f7e!important;
	border: 3px solid #596f7e;
	color: #fff!important;
}



@media (min-width: 992px) and (max-width: 1200px){
    

	.portainfoportadav5 h2{
		font-size: 1.8em!important;
	}

	.portainfoportadav5 a {
    	margin-top: 20px!important;
	}

	.portainfoportadav5 {
    	padding: 40px 60px;
	}


}


@media (max-width: 991px){
    

	.portafotoportada{
		display: none;
	}

	.portainfoportadav5{
		width: 100%;
	}

	.portainfoportadav5 {
    	    padding: 130px 80px;
	}


}

@media (max-width: 782px){

	.portafotoportada{
		display: none;
	}

	.portainfoportadav5{
		width: 100%;
	}

	.portainfoportadav5 {
    	padding: 80px 60px;
	}

	time,
	.bajada{
		padding-left: 50px;
		padding-right: 50px;
	}

}


	/* HOME 6 fondo blanco e imagen*/


.portadaNoticia{
	height: 450px;
}

.portadaNoticia{
	background-color: #fff;
}

.portadav6{
	height: 450px;
	padding: 0;
}

.portaFotoPortadaV6{
	background-image:url('../img/index-v4.jpg');
	background-position: right;
	padding: 100px 80px;
	height: 450px;
}

.portainfoportadav6{
	background-color: #fff;
	padding: 60px 0 0 60px;
	height: 450px;
}

.portainfoportadav6 h2{
	color: #01babd;
	font-size: 2em;
	font-weight: 500;
	font-weight: 300;
}

.portainfoportadav6 p{
	color: #596f7e;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
}

.portainfoportadav6 a{
	margin-top: 30px!important;
}

.btn-v6{
	background-color: transparent;
	border: 3px solid #596f7e!important;
	color: #596f7e;
	padding: 11px 50px!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}


.btn-v6:hover, .btn-v6:focus {
	background-color: #596f7e!important;
	border: 3px solid #596f7e;
	color: #fff!important;
}



@media (min-width: 992px) and (max-width: 1200px){
    

	.portainfoportadav6 a {
    	margin-top: 20px!important;
	}

	.portainfoportadav6 {
    	padding: 40px 0 0 30px;
	}


}


@media (max-width: 991px){
    

	.portaFotoPortadaV6{
		display: none;
	}

	.portainfoportadav6{
		width: 100%;
		height: 300px;
	}

	.portainfoportadav6 {
    	    padding: 50px 80px;
	}


}

@media (max-width: 782px){

	.portaFotoPortadaV6{
		display: none;
	}

	.portainfoportadav6{
		width: 100%;
	}

	.portainfoportadav6 {
    	padding: 20px 40px;
	}

}




/* JUMBOTRONES SECCIONES */

.jumbotron{
	background-position: top;
}

.jumbotron .jumbotron_bar{
	padding: 12px 0 10px 0;
}

.jumbotron .jumbotron_body h2, 
.jumbotron .jumbotron_body .h2{
	font-weight: 200;
	font-variant: all-small-caps;
	font-size: 60px;
	text-shadow: none;
	text-align: left;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.jumbotron .jumbotron_body {
    padding: 0;
}

.jumbotron .jumbotron_bar {
    background: transparent;
}

.jumbotron .jumbotron_bar .breadcrumb {
    text-shadow: none;
}

.jumbotron .jumbotron_bar .breadcrumb li {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 18px;
}

.jumbotron_bar .breadcrumb > li + li:before, 
.jumbotron_bar .breadcrumb > .active {
    font-weight: 200;
    font-size: 18px;
}

.jumbotron{
	background-color: #596f7e;
}


/* COMPLEMENTITOS VARIOS */


	/* QUÉ ES / CÓMO FUNCIONA */

.queEs{
	background: url("../img/bg-degrade4.jpg");
	background-size: cover;
	background-position: center;
	padding: 4rem 1.5rem;
}

.queEs h3{
	color: #fff;
	font-weight: 200;
}

.queEs p{
	color: #fff;
}

.queEs p:nth-of-type(1){
	font-size: 25px;
}

.queEs p:nth-of-type(2){
	font-size: 35px;
	line-height: 1.2;
}



.portaQueEs .col-md-12 .row{
	padding: 60px 0;
}

.portaQueEs .col-md-10 p:first-of-type{
	    letter-spacing: 4px;
}

.portaQueEs .col-md-12:nth-of-type(2) .row .col-md-10{
	text-align: right;
}


.portaQueEs .col-md-10 p:nth-of-type(2),
.portaQueEs .col-md-10 p:nth-of-type(3){
	    color: #596f7e;
}

.portaQueEs .col-md-10{
	padding-top: 25px;
	padding-bottom: 25px;
}


.listaNoticias {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}


.listaNoticias li i{
	color: #c6168d;
	font-size: 0.7em;
    vertical-align: middle;
}

.lineaSepara{
	border-bottom: 5px dotted #f7941d;
}


	/* NUMEROS */

.numeros{
	background: url("../img/bg-numeros2.jpg");
	background-size: cover;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.numeros p{
	color: #fff;
}

.numeros p:nth-of-type(1){
	font-size: 70px;
	font-weight: 500;
	margin-bottom: 0;
}

.numeros p:nth-of-type(2){
	font-variant: all-small-caps;
	margin-top: 0;
}

.numeros .miniBarrita{
	background-color: #01babd;
}

.bordeDer{
	border-right: #fff 1px solid;
	height: 170px;
}

.numeros p:not(:nth-of-type(1)),
.numeroscal p:not(:nth-of-type(1)){
	font-size: 1.3em;
	line-height: 1em;
}


@media (min-width: 992px) and (max-width: 1200px){

	.numeros p:not(:nth-of-type(1)),
	.numeroscal p:not(:nth-of-type(1)){
	font-size: 1.1em!important;
	}

}


@media (min-width: 701px) and (max-width: 991px){

	.numeros .col-md-2,
	.numeroscal .col-md-2{
		width: 18%;
		display: inline-table;
	}

	.numeros p:nth-of-type(1),
	.numeroscal p:nth-of-type(1){
		font-size: 50px;
	}

	.numeros .caps,
	.numeroscal .caps{
		font-size: 1.2em;
	}

	.numeros p:not(:nth-of-type(1)),
	.numeroscal p:not(:nth-of-type(1)){
	font-size: 1.1em!important;
	}

}

@media (min-width: 450px) and (max-width: 700px){

	.numeros .col-md-2,
	.numeroscal .col-md-2{
		width: 33%;
		display: inline-table;
	}

}

@media (max-width: 580px){

	.numeros .col-md-2
	.numeroscal .col-md-2{
		width: 100%;
		display: inline-table;
	}

}





/* QUÉ ES? / CÓMO FUNCIONA?   -V1 */

#queEsV1,
#comoFuncionaV1{
	background-color: #f6f7f8;
}

#queEsV1 .col-md-8,
#comoFuncionaV1 .col-md-8{
	background-color: #fff;
	border: solid #ebeef0 1px;
	padding: 0;
	line-height: 28px;	
}

#queEsV1 h3,
#comoFuncionaV1 h3{
	font-size: 1.4em;
	font-weight: 400;
	color: #0072bc;
	margin-top: 20px;
    padding-bottom: 5px;
}

#queEsV1 p b,
#comoFuncionaV1 p b{
	color: #596f7e;
}

#queEsV1 .col-md-8 div,
#comoFuncionaV1 .col-md-8 div{
	padding: 30px 50px 40px 50px;
}

#queEsV1 ul,
#comoFuncionaV1 ul{
	list-style: none;
    padding-left: 0;
    padding-top: 10px;	
}

#queEsV1 ul li i,
#comoFuncionaV1 ul li i{
	color: #01babd;
	font-size: 0.7em;
}

#queEsV1 img,
#comoFuncionaV1 img{
	margin-bottom: 15px;
	margin-top: 0;
}




/* GRUPOS AFINIDAD */

.portaLogos img{
	width: 140px;
	height: auto;
	margin: 0 8px;
}

	/* DESTACADOS */

.destacado {
    border-radius: 3px!important;
}

.panel small{
	color: black;
	font-weight: 300;
}


	/* CIRCULOS COLORES 4 */

.discs {
    margin-top: 30px;
    margin-bottom: 30px;
}

.discs .disc {
    width: 130%;
    margin: -30px -15%;
    background: none !important;
    display: block;
    position: relative;
    height: 100%;
}

.discs .disc .text {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.mb-0 {
    margin-bottom: 0!important;
    color: #fff;
    font-size: 20px;
    line-height: 24px;
}


.discs .disc:after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
    border-radius: 100%;
}

.disc:after {
    background: rgba(76, 152, 201, 0.7);
}



.disc:after {
    background: rgba(76, 152, 201, 0.7);
}


.disc-blue:after, .opacity-blue {
    background: rgba(000, 160, 227, 0.7) !important;
}

.disc-green:after, .opacity-green {
    background: rgba(000, 185, 189, 0.7) !important;
}

.disc-yellow:after, .opacity-yellow {
    background: rgba(246, 146, 030, 0.7) !important;
}

.disc-pink:after, .opacity-pink {
    background: rgba(197, 022, 140, 0.7) !important;
}

.soloMobile{
	display: none;
}

@media (max-width: 767px){
	#dial2{
		display: none;
	}

	.discs .disc {
    	width: 70%;
    	margin: -60px auto;
	}

	.discs{
		margin-top: 60px;
	}

	.soloMobile{
	display: inline-block;
	padding-top: 20px;
	}

	.tab-content {
    padding: 5px 0!important;
	}


	.outer {
    display: block!important;
    position: relative!important;
}

.middle {
    display: block!important;
    vertical-align: top!important;
    text-align: center!important;
}

}




/* NOTICIAS */


.panel-default, .list-group {
    border: solid #ebeef0 1px;
    box-shadow: none;
}	

.panels-row .panel-body {
    padding: 30px 35px;
}

.panels-row h4{
	color: #92278f;
}

.textoNoticia .subtitulo{
	font-weight: 400;
	color: #0072bc;
	margin-top: 20px;
    padding-bottom: 5px;
}

	/* DETALLE NOTICIA */


time{
	color: #596f7e;
	font-size: 1.2em;
}

.bajada{
	font-size: 21px;
	color: #596f7e; 
}

.contenedorNoticia{
	background-color: #fff;
	border: solid #ebeef0 1px;
	padding: 0;
	line-height: 28px;
}

.tituloNoticia{
	font-weight: 400;
	font-size: 1.6em;
	margin-top: 0;
}

.textoNoticia{
	padding: 5px 50px 40px 50px;
}

.textoNoticia h3,
.contenedorNoticia h3{
	font-size: 1.3em;
	color: #01babd;
}

.contenedorNoticia p b{
	color: #596f7e;
}

.destacadoNoticia{
	margin-top: 20px;
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 1px;
	border-left: solid #596f7e 4px;
	padding-left: 15px;
}

.textoNoticia .turquesa{
	color: #01babd!important;
	font-size: 1.2em;
}


.listaNoticias li i{
	color: #01babd;
}

/* PERFILES PAÍSES */

.portaLogos div{
	width: 140px!important;
	height: auto;
	display: inline-block;
	margin: 0 8px;
	vertical-align: top;
}

.portaLogos div img{
	margin-bottom: 5px;
	padding: 15px;
}

.portaLogos div p{
	font-weight: 400;
	color: #596f7e;
	font-size: 14px;
	text-align: center;
}


/* FAQ */

	/* PREGUNTAS */

#accordion .panel.panel-default .panel-heading {
    min-height: 50px!important;
    background-color: #fff;
    color: #596f7e;
}

#accordion a:hover, a:focus, a:active {
    color: #01babd!important;
    text-decoration: none;
}

#accordion .panel:hover, .panel:focus {
    background-color: #fff!important;
}

	/* GLOSARIO */

.flechitas{
	list-style: none;
	padding-left: 0;
}

.flechitas li{
	margin-bottom: 20px;
}





/* TIMELINE - línea de tiempo */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #dbdbdb;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}


.containerr {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containerr::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: #fff;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.containerr:nth-of-type(2) {
	margin-top: -340px;
}

.containerr:nth-of-type(3) {
	margin-top: -30px;
}

.containerr:nth-of-type(4) {
	margin-top: -200px;
}

.containerr:nth-of-type(5) {
	margin-top: -20px;
}

.containerr:nth-of-type(6) {
	margin-top: -370px;
}

.containerr:nth-of-type(7) {
	margin-top: 170px;
}

.containerr:nth-of-type(8) {
	margin-top: -230px;
}

.containerr:nth-of-type(9) {
	margin-top: -90px;
}

.containerr:nth-of-type(10) {
	margin-top: -90px;
}

.containerr:nth-of-type(11) {
	margin-top: -90px;
}

.containerr:nth-of-type(12) {
	margin-top: -200px;
}





.containerr:nth-of-type(1)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(2)::after {
	background-color: #bed62f;
}

.containerr:nth-of-type(3)::after {
	background-color: #87c979;
}

.containerr:nth-of-type(4)::after {
	background-color: #01babd;
}

.containerr:nth-of-type(5)::after {
	background-color: #00a1e4;
}

.containerr:nth-of-type(6)::after {
	background-color: #0072bc;
}

.containerr:nth-of-type(7)::after {
	background-color: #92278f;
}

.containerr:nth-of-type(8)::after {
	background-color: #c6168d;
}

.containerr:nth-of-type(9)::after {
	background-color: #ef4023;
}

.containerr:nth-of-type(10)::after {
	background-color: #f7941d;
}

.containerr:nth-of-type(11)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(12)::after {
	background-color: #bed62f;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.flechitas .fa{
    font-size: 0.7em;
    vertical-align: middle;
}

.flechitas li{
	font-size: 16px;
}

/* Flechitas para el izq */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #fff;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #edf1f5;
}

/* Flechitas para el der */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #fff;
  border-width: 10px 10px 10px 0;
  border-color: transparent #edf1f5 transparent transparent;
}

/* Círculos para los der */
.right::after {
  left: -15px;
}

.content {
  padding: 20px 30px;
  background-color: #edf1f5;
  position: relative;
  border-radius: 6px;
}

.timeline div:nth-of-type(1) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(2) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(3) .miniBarrita{
	background-color: #87c979;
}

.timeline div:nth-of-type(4) .miniBarrita{
	background-color: #01babd;
}

.timeline div:nth-of-type(5) .miniBarrita{
	background-color: #00a1e4;
}

.timeline div:nth-of-type(6) .miniBarrita{
	background-color: #0072bc;
}

.timeline div:nth-of-type(7) .miniBarrita{
	background-color: #92278f;
}

.timeline div:nth-of-type(8) .miniBarrita{
	background-color: #c6168d;
}

.timeline div:nth-of-type(9) .miniBarrita{
	background-color: #ef4023;
}

.timeline div:nth-of-type(10) .miniBarrita{
	background-color: #f7941d;
}

.timeline div:nth-of-type(11) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(12) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(1) i{
	color: #ffd204;
}

.timeline div:nth-of-type(2) i{
	color: #bed62f;
}

.timeline div:nth-of-type(3) i{
	color: #87c979;
}

.timeline div:nth-of-type(4) i{
	color: #01babd;
}

.timeline div:nth-of-type(5) i{
	color: #00a1e4;
}

.timeline div:nth-of-type(6) i{
	color: #0072bc;
}

.timeline div:nth-of-type(7) i{
	color: #92278f;
}

.timeline div:nth-of-type(8) i{
	color: #c6168d;
}

.timeline div:nth-of-type(9) i{
	color: #ef4023;
}

.timeline div:nth-of-type(10) i{
	color: #f7941d;
}

.timeline div:nth-of-type(11) i{
	color: #ffd204;
}

.timeline div:nth-of-type(12) i{
	color: #bed62f;
}

@media all and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .containerr {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    margin-top: 40px!important;
  }

  .containerr::before {
    left: 60px;
    border: #edf1f5 solid #edf1f5;
    border-width: 10px 10px 10px 0;
    border-color: transparent #edf1f5 transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.content a{
	color: #01babd;
	text-decoration: none;
	font-weight: 300;
}

.content a:hover, .content a:focus, .content a:active{
	color: #01babd!important;
	opacity: 0.7;
	text-decoration: none!important;
}






/* CALENDARIO */

.calendarioEventos h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 0 7px 0;
}

	/* numeros */

.numeroscal{
	background: url("../img/bg-numeros3.jpg");
	background-size: cover;
	background-position: top;
}

	/* selects */

#eventos label{
	display: block;
	color: #596f7e;
	font-weight: 500;
	font-size: 1.1em;
}

#eventos select{
	width: 100%;
	height: 50px;
}


	/* v3 */

.calendarioContenedor{
	background-color: #fff;
}

/*
.mesesCalendario td{
	width: 12%;
	border: solid #ebeef0 1px;
	padding: 10px 20px;
}	

.mesesCalendario td p{
	margin-bottom: 0;
	color: #0072bc;
	font-weight: 400;
	text-transform: uppercase;
    font-size: 0.8em;
}

.mesesCalendario td p:hover,
.mesesCalendario td p:focus{
	color: #596f7e;
}

.mesesCalendario td small{
	color: #596f7e;
	font-variant: all-small-caps;
	font-size: 1em;
	font-weight: 400;
}

.tiposCalendario td{
	padding: 15px 20px;
	background-color: #ebeef0;
	font-variant: all-small-caps;
	font-size: 1.3em;
	font-weight: 400;
}
*/

.tiposCalendario td:nth-of-type(1) a{
	color: #01babd;
}

.tiposCalendario td:nth-of-type(2) a{
	color: #c6168d;
}

.tiposCalendario td:nth-of-type(3) a{
	color: #92278f;
}

.tiposCalendario td:nth-of-type(4) a{
	color: #ef4023;
}

.tiposCalendario td a:hover,
.tiposCalendario td a:focus{
	color: #596f7e!important;
}



.calendarioEventos{
	padding-bottom: 20px;
}





/* v4 */


.item {
    display: none; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
    display: block;
}

.switch-field {
  padding: 10px 0 40px 0;
	overflow: hidden;
}

.switch-field input {
    position: absolute !important;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
}



.switch-field label {
	float: left;
  display: inline-block;
  width: 200px;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 14px;
  border: 1px solid;
}

.switch-field label:hover {
	cursor: pointer;
}


.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}



.switch-field label:nth-of-type(1){
	border-color: #01babd;
}

.switch-field label:nth-of-type(2){
	border-color: #ea1d76;
	color: #ea1d76!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-left: none!important;
}


.switch-field label:nth-of-type(3){
	border-color: #873299;
	color: #873299!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-left: none!important;
}


.switch-field label:nth-of-type(4){
	border-color: #ef4023;
	color: #ef4023!important;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    border-left: none!important;
}


.switch-field input:checked + label:nth-of-type(1) {
  background-color: #01babd;
  color: #fff!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.switch-field input:checked + label:nth-of-type(2) {
  background-color: #ea1d76;
  color: #fff!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.switch-field input:checked + label:nth-of-type(3) {
  background-color: #873299;
  color: #fff!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}


.switch-field input:checked + label:nth-of-type(4) {
  background-color: #ef4023;
  color: #fff!important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

@media (min-width: 581px) and (max-width: 991px){
	
	.switch-field label:nth-of-type(2){
		margin-right: 150px;
    	border-radius: 0 4px 4px 0;
	}

	.switch-field label:nth-of-type(3) {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid  #92278f!important;
	}
}

@media (min-width: 450px) and (max-width: 580px){
	.switch-field label:nth-of-type(2){
		margin-right: 20px;
    	border-radius: 0 4px 4px 0;
	}

	.switch-field label:nth-of-type(3) {
    border-radius: 4px 0 0 4px;
    border-left: 1px solid  #92278f!important;
	}
}

@media (max-width: 449px){
	.switch-field label {
  		width: 100%!important;
  		border-radius: 4px!important; 
	}

	.switch-field label:nth-of-type(1){
		border-left: solid 1px #01babd!important;
	}

	.switch-field label:nth-of-type(2){
		border-left: solid 1px #ea1d76!important;
}


	.switch-field label:nth-of-type(3){
		border-left: solid 1px #873299!important;
	}


	.switch-field label:nth-of-type(4){
		border-left: solid 1px #ef4023!important;
	}

}


#paginator,
.pagination{
	list-style: none;
}


#paginator li,
.pagination li{
	display: inline-block;
	margin-right: 5px;
	height: 52px;
}

#paginator li a,
.pagination li a,
.pagination li span{
	background: #fff;
    border-radius: 100%!important;
    -webkit-filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
    filter: drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.1));
}

#paginator > li > a,
.pagination > li > a,
.pagination > li > span{
	float: none;
    display: inline;
    border: 0;
    padding: 12px 13px;
    margin: 0;
    color: #404040;
    font-size: 14px;
    vertical-align: middle;
}


#paginator > li:nth-of-type(1) > a,
.pagination > li:nth-of-type(1) > a,
.pagination > li:nth-of-type(1) > span,
#paginator > li:nth-of-type(2) > a,
.pagination > li:nth-of-type(2) > a,
.pagination > li:nth-of-type(2) > span,
#paginator > li:nth-of-type(3) > a,
.pagination > li:nth-of-type(3) > a,
.pagination > li:nth-of-type(3) > span,
#paginator > li:nth-of-type(4) > a,
.pagination > li:nth-of-type(4) > a,
.pagination > li:nth-of-type(4) > span,
#paginator > li:nth-of-type(5) > a,
.pagination > li:nth-of-type(5) > a,
.pagination > li:nth-of-type(5) > span,
#paginator > li:nth-of-type(6) > a,
.pagination > li:nth-of-type(6) > a,
.pagination > li:nth-of-type(6) > span,
#paginator > li:nth-of-type(7) > a,
.pagination > li:nth-of-type(7) > a,
.pagination > li:nth-of-type(7) > span,
#paginator > li:nth-of-type(8) > a,
.pagination > li:nth-of-type(8) > a,
.pagination > li:nth-of-type(8) > span,
#paginator > li:nth-of-type(9) > a,
.pagination > li:nth-of-type(9) > a,
.pagination > li:nth-of-type(9) > span{
    padding: 12px 18px;
}


.pagination > .pager-last > a,
.pagination > .pager-first > a{
	padding: 12px 13px!important;
}

.pagination > .prev > a,
.pagination > .next > a{
	padding: 12px 18px!important;
}

#paginator .active a,
.pagination .active span{
	background-color: #01babd!important;
	color: #fff!important;
}


/* V8 */

#degportada{
	height: 450px;
	width: 100%;
	background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.9));
    bottom: 0;
}


#degportada div{
    vertical-align: bottom;
    margin-top: 50px;
    text-align: center;
}

#degportada h2{
		font-size: 40px;
		color: #fff;
		font-weight: 300;
	}

	#degportada p{
		font-size: 20px;
		color: #fff;
	}

@media (max-width: 1200px){
	#degportada h2{
		font-size: 30px;
	}

	#degportada p{
		font-size: 18px;
	}
}


	/* eventos */

.calendarioEventos .col-md-2, 
.calendarioEventos .col-md-3{
	border: solid 2px;
    text-align: center;
    margin-top: 30px;
    margin-right: 20px;
    width: 100px;
    height: 80px;
    padding: 0;
}

.calendarioEventos .col-md-3{
	margin-top: 38px;
}

.calendarioEventos .col-md-10, 
.calendarioEventos .col-md-9{
	margin-top: 28px;
}

.calendarioEventos .col-md-10 p:first-of-type, 
.calendarioEventos .col-md-9 p:first-of-type {
    margin-bottom: 6px;
}

.dia{
	font-weight: 600;
	font-size: 14px;
	line-height: 20px;
	margin-top: 12px;
}

.mes{
	font-weight: 400;
	font-size: 14px;
}

.calendarioEventos i{
	width: 20px;
	text-align: center;
	margin-right: 5px;
}

.calendarioEventos .col-md-10 p,
.calendarioEventos .col-md-9 p{
	color: #596f7e;
	font-weight: 400;
}

.col-md-2.estilo-sherpa,
.col-md-3.estilo-sherpa{
	border-color: #ea1d76;
}

.col-md-2.estilo-sherpa p,
.col-md-3.estilo-sherpa p,
.estilo-sherpa i{
	color: #ea1d76;
}


.col-md-2.estilo-finanza,
.col-md-3.estilo-finanza{
	border-color: #873299;
}

.col-md-2.estilo-finanza p,
.col-md-3.estilo-finanza p,
.estilo-finanza i{
	color: #873299;
}

.col-md-2.estilo-afinidad,
.col-md-3.estilo-afinidad{
	border-color: #ef4023;
}

.col-md-2.estilo-afinidad p,
.col-md-3.estilo-afinidad p,
.estilo-afinidad i{
	color: #ef4023;
}

.calendarioEventos h4{
	font-weight: 500;
	font-size: 1.1em;
    padding-top: 7px;
}


.listaEventos{
	list-style: none;
}


.btn-calendario{
	background-color: #fff;
	padding: 11px 20px!important;
	min-width: 180px!important;
	font-size: 12px;
}


@media (max-width: 991px){
	
	.calendarioEventos .col-md-2, .calendarioEventos .col-md-3 {
    	width: 100%;
	}

	.listaEventos {
    	padding: 0 30px;
	}

}



/* PRIORIDADES */

.homeprioridades img{
	height: 90px;
}

.homeprioridades h4{
	font-variant: all-small-caps;
}



.tab-content{
	padding: 5px 50px 0 50px;
}


#listaprioridades{
	margin-bottom: 30px;
	width: 70%;
	margin-left: 15%;
}


@media (min-width: 421px) and (max-width: 991px){
	#listaprioridades{
		margin-bottom: 20px;
		width: 100%;
		margin-left: 0;
	}
}

@media (max-width: 420px){
	#listaprioridades li{
	display: block;
	width: 100%!important;
	}

	.flex-center{
		display: block!important;
	}

}

#listaprioridades li{
	width: 33%;
}

#listaprioridades li a img{
	width: 74px;
	margin-top: 20px;
}


#listaprioridades li a h3{
	color: #596f7e;
}

.space10 {
    height: 10px;
    width: 100%;
}

.tab-pane p b{
	color: #f7941d;
	font-size: 20px;
}


.nav-tabs {
    border: 0;
}

.flex-center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#listaprioridades > li {
    margin: 0;
    float: none;
}

#listaprioridades > li > a {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    color: #404040;
    border-radius: 0;
    border: 0;
    margin: 0;
    padding: 0;
    display: inline-block;
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}


#listaprioridades > li > a:hover, 
#listaprioridades > li > a:focus{
	background-color: transparent!important;
	opacity: 0.8;
}

.tab-content ul li h3{
	padding-bottom: 10px;
}

.tab-content ul li.active h3{
	border-bottom: dotted 2px #596f7e;
}


.prioridadesBotones p{
	color: #596f7e;
	font-weight: 200;
	font-size: 1.2em;
}

@media (max-width: 550px){

	#listaprioridades{
		display: block;
	}

	#listaprioridades li{
	width: 100%;
	}	

}


/* MAPA */

.listaMapa h3{
	font-size: 1.3em;
}

.listaMapa ul{
	list-style: none;
	padding-left: 0;
	padding-top: 10px;
}

.listaMapa ul li{
	line-height: 1.6em;
}

.listaMapa ul li a{
	font-weight: 400;
}

.listaMapa ul a:hover,
.listaMapa ul a:focus{
	color: #01babd!important;
}

.listaMapa ul li i{
	color: #c6168d;
	font-size: 0.7em;
    vertical-align: middle;
}

#mapaPlaceholder{
	margin: -24px 0 0 -51px!important;
}




/* DETALLE PROVINCIA */

	/* ficha técnica */

.fichaTecnica{
	background-color: #fff;
	border: solid #ebeef0 1px;
	line-height: 28px;
	padding: 15px 30px;
	margin-top: 0;
	margin-bottom: 15px!important;
}

.fichaTecnica ul,
.fichaTecnica2{
	list-style: none;
	padding: 0;
	color: #596f7e;
	margin-top: 18px;
}

.fichaTecnica ul li,
..fichaTecnica2 li{
	line-height: 40px;
	font-size: 1em;
}

.fichaTecnica i,
.fichaTecnica2 i{
	color: #92278f;
	margin-right: 5px;
    font-size: 1.3em;

}

.fichaTecnica h3
.fichaTecnica2 h3{
	border-bottom: dotted #c6168d 3px;
	padding-bottom: 8px;
	margin-top: 0;
}

	/* texto inicial */

.textoProvincia{
	color: #596f7e;
	font-size: 1em;
	line-height: 2em;
	padding-right: 80px;
}


	/* banner calendario */

.bannerProvincia{
	background: url('../img/bg-banner.jpg');
	background-color: #596f7e;
	padding: 18px 30px;
	background-size: cover;
}

.bannerProvincia h3{
	margin-top: 0;
	margin-bottom: 0;
	line-height: 35px;
	margin-bottom: 15px!important;
}

.bannerProvincia p{
	line-height: 25px;
	font-size: 16px;
}

.bannerProvincia .btn{
	    margin-top: 15px!important;
}

.banner2{
	    margin-top: 20px;
	    background: url('../img/bg-banner2.jpg');
}

.bannerProvincia:nth-of-type(2) .btn:hover{
	    color: #0072bc!important;
}

.bannerProvincia:nth-of-type(3) .btn:hover{
	    color: #92278f!important;
}

	/* íconos */

.iconoProvincia{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background-size: contain;
}

.textoNoticia h3:nth-of-type(1) .iconoProvincia{
	background-image: url('../img/provincias/icono-turismo-01.png');
}

.textoNoticia h3:nth-of-type(2) .iconoProvincia{
	background-image: url('../img/provincias/icono-turismo-02.png');
}

	/* img */

	.textoNoticia img{
		margin-top: 40px;
		margin-bottom: 40px;
	}



/* ÁREAS TEMÁTICAS */

.areat{
	
	height: 200px;
	/*width: 25%;
	margin: 0px -2px;
	display: inline-grid;
	padding: 10px 20px;*/
	text-align: center;
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}

.areat i,
.areat h3{
	color: #fff;
}

.areat i{
	font-size: 3em;
	margin-top: 40px;
}

.areat h3{
	margin-top: 0;
	font-weight: 300;
	font-size: 1.5em;
}

.areat:nth-of-type(1){
	background-color: #fff;
}

.areat:nth-of-type(2){
	background-color: #87c979;
}
.areat:nth-of-type(3){
	background-color: #01babd;
}
.areat:nth-of-type(4){
	background-color: #0072bc;
}
.areat:nth-of-type(5){
	background-color: #c6168d;
}
.areat:nth-of-type(6){
	background-color: #ef4023;
}
.areat:nth-of-type(7){
	background-color: #f7941d;
}
.areat:nth-of-type(8){
	background-color: #c6168d;
}
.areat:nth-of-type(9){
	background-color: #01babd;
}
.areat:nth-of-type(10){
	background-color: #0072bc;
}
.areat:nth-of-type(11){
	background-color: #01babd;
}
.areat:nth-of-type(12){
	background-color: #ef4023;
}





.areat:not(:nth-of-type(1)):hover,
.areat:not(:nth-of-type(1)):focus,
.areat:not(:nth-of-type(1)):active{
	-webkit-transform: scale(0.9);
  transform: scale(0.9);
}



.areat:not(:nth-of-type(1)) img{
	max-width: 90px;
	padding-top: 35px;
	padding-bottom: 5px;
}


.areat img{
	max-width: 200px;
	padding-top: 50px;
	padding-bottom: 5px;
}

@media (min-width: 992px) and (max-width: 1200px){
	.areat{
	width: 33%;
	}


}




@media (max-width: 991px){
	.areat{
	width: 100%;
	height: 200px;
	margin: 0px -2px;
	text-align: center;
	padding: 10px 20px;
	}

		.areat:nth-of-type(1){
	display: none;
}
}


.portaAreas{
	padding: 0;
}

.portaAreas p,
.portaAreas .listaNoticias li{
	font-size: 16px;
    line-height: 23px;
}

.portaAreas p b,
.portaAreas p strong{
	color: #596f7e;
}

.portaAreas h3{
	color: #596f7e;
	font-size: 1.3em;
	margin-top: 0;
}


.portaAreas ul {
    list-style: none;
    padding-left: 0;
    padding-top: 10px;
}

.portaAreas ul li{
	font-size: 16px;
    line-height: 23px;
}


.portaAreas ul li i{
	color: #c6168d;
	font-size: 0.7em;
    vertical-align: middle;
}

	/* detalle */

.areaDetalle h3 i{
	color: #c6168d;
	font-size: 0.7em;
	vertical-align: middle;
}

.areaDetalle h3{
	font-size: 1.5em;
	margin-top: 25px;
	margin-bottom: 15px;
	color: #0072bc;
	font-variant: all-small-caps;
}

.areaDetalle b{
	color: #596f7e;
}


#collapse1 .listaNoticias i {
	color: #f7941d;
}

#collapse2 .listaNoticias i {
	color: #ffd204;
}

#collapse3 .listaNoticias i {
	color: #bed62f;
}

#collapse4 .listaNoticias i {
	color: #87c979;
}

#collapse5 .listaNoticias i {
	color: #01babd;
}

#collapse6 .listaNoticias i {
	color: #00a1e4;
}

#collapse7 .listaNoticias i {
	color: #0072bc;
}

#collapse8 .listaNoticias i {
	color: #92278f;
}

#collapse9 .listaNoticias i {
	color: #c6168d;
}

#collapse10 .listaNoticias i {
	color: #ef4023;
}

.areaDetalleDocs .listaNoticias a{
	color: #01babd;
    text-decoration: none;
    font-weight: 400;
}


/* AFINIDAD */


.portaAfinidad{
	padding: 5px 50px 40px 50px;
}


.portaAfinidad p b{
	color: #596f7e;
}

.portaAfinidad .h5{
	color: #596f7e;
}

.dial {
    height: 500px;
    width: 500px;
    border-radius: 100%;
    position: relative;
    margin: 50px auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    display: block;
}
ul.dial li {
    display: block;
}
.dial-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    width: 64px;
    height: 64px;
}
.dial-item span {
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}
.dial-item:hover span,
.dial-item.active span {
    -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
            transform: scale(1.3);
}
.dial-item-info {
    position: absolute;
    margin: auto;
    right: 0;
    left: 0;
    top: 50%;
    text-align: center;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    display: none;
    width: 70%;
    height: 70%;
    padding: 0 20px;
}
.dial-item-info-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 100%;
}
.dial-item-info-inner p {
    margin: 0;
}
ul.dial li:first-child .dial-item-info {
    display: block;
}


.inverse-text:not(.navbar):not(.nav-wrapper) hr,
.inverse-text #comments ol.commentlist li,
.inverse-text .nav-tabs-lined.nav-tabs-lined-bottom,
.inverse-text .nav-tabs-lined.nav-tabs-lined-top,
.inverse-text .nav-tabs.nav-stacked,
.inverse-text .nav-tabs.nav-stacked > li,
.inverse-text .panel-group-border .panel,
.inverse-text .panel-group-border .panel > .panel-heading + .panel-collapse .panel-body,
.inverse-text .panel-group-lined .panel-heading .panel-title,
.inverse-text .divider-icon:before,
.inverse-text .divider-icon:after,
.inverse-text .dial,
.inverse-text .box.border {
    border-color: rgba(255, 255, 255, 0.15);
}

.icon-bg i, .icon-border i, .icon .number, .icon .date {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    vertical-align: middle;
}

.icon .number {
    font-weight: 500;
}

.dial-item span {
    -webkit-transition: all 150ms ease-in-out;
    -o-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



.logosafinidad{
	width: 180px;
	margin-bottom: 10px;
}


.icon:not(.icon-img) {
    line-height: 1;
}

.icon-bg {
    color: #FFF;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 100%;
    display: table;
    background-size: contain!important;
}

.icon-xs {
    font-size: 22px;
}



/*
.dial li:nth-of-type(1) .dial-item .icon-bg{
	background-color: #0072bc;
}

.dial li:nth-of-type(2) .dial-item .icon-bg{
	background-color: #c6168d;
}

.dial li:nth-of-type(3) .dial-item .icon-bg{
	background-color: #ef4023;
}

.dial li:nth-of-type(4) .dial-item .icon-bg{
	background-color: #f7941d;
}

.dial li:nth-of-type(5) .dial-item .icon-bg{
	background-color: #01babd;
}

.dial li:nth-of-type(6) .dial-item .icon-bg{
	background-color: #87c979;
}

.dial li:nth-of-type(7) .dial-item .icon-bg{
	background-color: #92278f;
}
*/

.dial li:nth-of-type(1) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-01.png);
}

.dial li:nth-of-type(2) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-02.png);
}

.dial li:nth-of-type(3) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-03.png);
}

.dial li:nth-of-type(4) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-04.png);
}

.dial li:nth-of-type(5) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-05.png);
}

.dial li:nth-of-type(6) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-06.png);
}

.dial li:nth-of-type(7) .dial-item .icon-bg{
	background: url(../img/afinidad/iconos/icono-07.png);
}


@media (max-width: 620px){
    

	.dial:not(.noResponsive) {
        border-radius: 0;
        border: none;
        width: 100%;
    }

    .dial:not(.noResponsive) li {
        margin-bottom: 20px;
    }

    .dial-item-info:not(.noResponsive) {
        padding: 16px 10px;
        display: block !important;
        position: static;
        -webkit-transform: none;
            -ms-transform: none;
                transform: none;
    }

    .dial-item{
    	display: none;
    }

    .dial-item-info {
        background: none;
    }

    /*[class*="col-"] {
        margin-bottom: 30px
    }*/

    .dial {
    height: auto;

	}

	.portaAfinidad {
    padding: 5px 10px!important;
	}

	#portainfoafinidad .col-md-4, 
	#portainfoafinidad .col-md-8 {
    height: auto!important;
}

}

#listaafinidades{
    margin-bottom: 30px;
}


@media (min-width: 992px) and (max-width: 1200px){

	#portainfoafinidad{
		padding-left: 0!important;
		padding-right: 0!important;
	}

}

@media (min-width: 421px) and (max-width: 991px){
	#portainfoafinidad .btn{
		display: block;
		width: 50%;
    	margin-left: 25%!important;
	}

	#listaafinidades{
		margin-bottom: 20px;
		width: 100%;
		margin-left: 0;
	}

	.inner{
		text-align: center;
	}

	#portainfoafinidad .col-md-4{
		height: 200px!important;
	}

	#portainfoafinidad .col-md-8{
		height: 350px!important;
	}


}


@media (max-width: 540px){
		#portainfoafinidad .col-md-4{
		height: 200px!important;
	}

	#portainfoafinidad .col-md-8{
		height: 500px!important;
	}

}

@media (max-width: 420px){
	#listaafinidades li{
	display: block;
	width: 50%!important;
	}

	.flex-center{
		display: block!important;
	}
}


	/* magia para el vertical align */

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
}

.portaAfinidad .tab-pane p,
.portaAfinidad .tab-pane li{
	font-size: 16px;
    line-height: 23px;
}

#listaafinidades li{
	width: 33%;
}

#listaafinidades li a img{
	width: 74px;
	margin-top: 20px;
}


#listaafinidades li a h3{
	color: #596f7e;
	font-size: 1.2em;
	padding-bottom: 10px;
}

#listaafinidades li.active h3 {
    border-bottom: dotted 2px;
}

	/* colores bordes punteados */

#listaafinidades li:nth-of-type(1).active h3 {
    border-color: #0072bc;
}

#listaafinidades li:nth-of-type(2).active h3 {
    border-color: #c6168d;
}

#listaafinidades li:nth-of-type(3).active h3 {
    border-color: #ef4023;
}

#listaafinidades li:nth-of-type(4).active h3 {
    border-color: #f7941d;
}

#listaafinidades li:nth-of-type(5).active h3 {
    border-color: #01babd;
}

#listaafinidades li:nth-of-type(6).active h3 {
    border-color: #87c979;
}

#listaafinidades li:nth-of-type(7).active h3 {
    border-color: #92278f;
}


#portainfoafinidad .btn{
	font-size: 12px;
	height: 40px;
	padding: 10px 50px;
	margin: 10px 40px;
}


.logosafinidadinfo{
	width: 280px;
}

#portainfoafinidad .col-md-4,
#portainfoafinidad .col-md-8{
	height: 280px;
}

		/* colores botones */

.portaAfinidad .tab-pane:nth-of-type(1) .btn {
    background-color: #0072bc!important;
}

.portaAfinidad .tab-pane:nth-of-type(2) .btn {
    background-color: #c6168d!important;
}

.portaAfinidad .tab-pane:nth-of-type(3) .btn {
    background-color: #ef4023!important;
}

.portaAfinidad .tab-pane:nth-of-type(4) .btn {
    background-color: #f7941d!important;
}

.portaAfinidad .tab-pane:nth-of-type(5) .btn {
    background-color: #01babd!important;
}

.portaAfinidad .tab-pane:nth-of-type(6) .btn {
    background-color: #87c979!important;
}

.portaAfinidad .tab-pane:nth-of-type(7) .btn {
    background-color: #92278f!important;
}

.portaAfinidad .tab-pane .btn:hover,
.portaAfinidad .tab-pane .btn:focus{
	opacity: 0.8;
}

.afinidadesListita{
	list-style: none;
	padding-left: 0;
}

.afinidadesListita li i{
	font-size: 10px;
    vertical-align: top;
    padding-top: 5.5px;
}

	/* esto le da color a los bullets y al parrafito */

#portainfoafinidad .tab-pane:nth-of-type(1) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(1) .afinidadesParrafito{
    color: #0072bc!important;
}

#portainfoafinidad .tab-pane:nth-of-type(2) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(2) .afinidadesParrafito{
    color: #c6168d!important;
}

#portainfoafinidad .tab-pane:nth-of-type(3) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(3) .afinidadesParrafito{
    color: #ef4023!important;
}

#portainfoafinidad .tab-pane:nth-of-type(4) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(4) .afinidadesParrafito{
    color: #f7941d!important;
}

#portainfoafinidad .tab-pane:nth-of-type(5) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(5) .afinidadesParrafito{
    color: #01babd!important;
}

#portainfoafinidad .tab-pane:nth-of-type(6) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(6) .afinidadesParrafito{
    color: #87c979!important;
}

#portainfoafinidad .tab-pane:nth-of-type(7) .afinidadesListita i,
#portainfoafinidad .tab-pane:nth-of-type(7) .afinidadesParrafito{
    color: #92278f!important;
}

	

/*
esto era para cuando los círculos eran plenos de colores en vez del ícono


.dial li:nth-of-type(1) .dial-item .icon-bg{
	background-color: #0072bc;
}

.dial li:nth-of-type(2) .dial-item .icon-bg{
	background-color: #c6168d;
}

.dial li:nth-of-type(3) .dial-item .icon-bg{
	background-color: #ef4023;
}

.dial li:nth-of-type(4) .dial-item .icon-bg{
	background-color: #f7941d;
}

.dial li:nth-of-type(5) .dial-item .icon-bg{
	background-color: #01babd;
}

.dial li:nth-of-type(6) .dial-item .icon-bg{
	background-color: #87c979;
}

.dial li:nth-of-type(7) .dial-item .icon-bg{
	background-color: #92278f;
}
*/

.nav-tabs > li.active > a, 
.nav-tabs > li.active > a:hover, 
.nav-tabs > li.active > a:focus {
    color: transparent;
    cursor: default;
    background-color: transparent;
    border: none!important;
}

.panels-row .panel:hover i, 
.panels-row .panel:focus i{
    color: #fff;
}

.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus {
    border: none!important;
}

.nav > li > a:hover, 
.nav > li > a:focus {
    text-decoration: none;
    background-color: transparent!important;
}


/* KIT DE PRENSA */

.contKit{
	width: 18%;
	margin-right: 20px;
}

.contKit:last-of-type{
	margin-right: 0;
}

.contKit .panel.panel-default .panel-heading {
    min-height: 90px;
}

.contKit .panels-row .panel-body {
    padding: 16px 35px!important;
}

.contKit i{
	font-size: 3em;
	margin-top: 12px;
	color: #92278f;
}

.contKit .panel-default > .panel-heading{
	background-color: transparent;
}

.contKit h3{
	text-align: center;
	color: #01babd;
	font-size: 1.3em;
	font-weight: 500;
	font-variant: all-small-caps;
}

.panels-row .contKit .panel-body {
    padding: 15px 20px;
}



	/* V2 */

.contKit2{
	width: 18%;
	height: 200px;
	margin-right: 20px;
}

.contKit3{
	width: 30%;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 20px;
}

.contKit4{
	width: 15%;
	height: 200px;
	margin-right: 20px;
	margin-bottom: 40px!important;
}



.contKit2 a,
.contKit3 a,
.contKit4 a{
	-webkit-transform: perspective(1px) translateZ(0);
  	transform: perspective(1px) translateZ(0);
  	box-shadow: 0 0 1px transparent;
  	-webkit-transition-duration: 0.3s;
  	transition-duration: 0.3s;
  	-webkit-transition-property: transform;
  	transition-property: transform;
}

.contKit2:last-of-type,
.contKit3:last-of-type,
.contKit4:last-of-type{
	margin-right: 0;
}

.contKit2 .panel.panel-default .panel-heading,
.contKit3 .panel.panel-default .panel-heading,
.contKit4 .panel.panel-default .panel-heading{
    min-height: 90px;
}

.contKit2 .panels-row .panel-body,
.contKit3 .panels-row .panel-body,
.contKit4 .panels-row .panel-body {
    padding: 16px 35px!important;
}

.contKit2 .panel-default > .panel-heading,
.contKit3 .panel-default > .panel-heading,
.contKit4 .panel-default > .panel-heading{
	background-color: transparent;
}

.contKit2 h3,
.contKit3 h3,
.contKit4 h3{
	text-align: center;
	color: #01babd;
	font-size: 1.2em;
	font-weight: 500;
	font-variant: all-small-caps;
	margin-top: 15px;
}

.contKit2 p,
.contKit3 p,
.contKit4 p{
	color: #596f7e;
}

.panels-row .contKit2 .panel-body,
.panels-row .contKit3 .panel-body,
.panels-row .contKit4 .panel-body{
    padding: 15px 20px;
}

.contKit2 .panel-default:hover,
.contKit2 .panel-default:focus,
.contKit2 .panel-default:active,
.contKit3 .panel-default:hover,
.contKit3 .panel-default:focus,
.contKit3 .panel-default:active,
.contKit4 .panel-default:hover,
.contKit4 .panel-default:focus,
.contKit4 .panel-default:active{
	background-color: transparent!important;
	border-color: #01babd!important;
	color: #01babd!important;
	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.contKit2 .panel-default:hover,
.contKit3 .panel-default:hover,
.contKit4 .panel-default:hover{
	cursor: pointer;
}

.contKit2 .panel-default:hover div h3,
.contKit2 .panel-default:focus div h3,
.contKit2 .panel-default:active div h3,
.contKit3 .panel-default:hover div h3,
.contKit3 .panel-default:focus div h3,
.contKit3 .panel-default:active div h3,
.contKit4 .panel-default:hover div h3,
.contKit4 .panel-default:focus div h3,
.contKit4 .panel-default:active div h3{
	color: #01babd!important;

}


.portaKitV4{
	margin-top: 40px;
	padding-bottom: 0;
}


.contactoPrensaV4{
	background-color: #f6f7f8;
	padding-top: 20px;
}

#contactoPrensaV2 h3{
	font-size: 1.3em;
	font-weight: 400;
	color: #596f7e;
}

#contactoPrensaV2 p{
	font-size: 1em;
	color: #596f7e;
}

#contactoPrensaV2 p a{
	font-size: 1em;
}


.circuloKit{
    position: absolute;
    margin-left: 38%;
    margin-top: -25px;
    background-color: #fff;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    text-align: center;
}

.circuloKit img{
	width: 45px;
}

@media (min-width: 601px) and (max-width: 991px){

	.contKit2{
	width: 30%;
	}	

	.contKit3,
	.contKit4{
	width: 45%;
	}	

}


@media (min-width: 992px) and (max-width: 1200px){
	
	.contKit3,
	.contKit4{
		width: 29%;
	}

}




@media (max-width: 600px){

	.contKit2{
	width: 100%!important;
	height: 160px!important;
	margin-bottom: 20px;
	margin-right: 0!important;
	}
	.contKit3,
	.contKit4{
	width: 100%!important;
	height: 160px!important;
	margin-bottom: 20px;
	margin-right: 0!important;
	}	

	.circuloKit {
    margin-left: 42%!important;
	}

	.portaKitV4{
		padding: 20px 10px;
	}

}

/* DISCURSOS */

.discursosLista p{
	color: #596f7e;

}

.discursosLista a:hover p{
	color: #fff;

}


/* FOOTER */

.paisaje{
	background: url("../img/footer.png");
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-position-y: bottom;
	height: 190px;
	background-color: #f6f7f8;
}

.main-footer{
	background-color: #f6f7f8;
	padding-top: 32px;
}

footer h3{
	font-variant: all-small-caps;
	color: #01babd;
}

footer a{
	color: #01babd;
}

footer p{
	color: #596f7e;
	font-size: 14px;
}

footer a:hover, footer a:focus, a:active {
    color: #01babd!important;
    opacity: 0.8;
    text-decoration: none!important;
}

@media (min-width: 992px){

	footer .col-md-2 {
    	width: 20%;
	}

}

.redesfooter{
	margin-bottom: 30px;
}

.redesfooter span {
    color: #fff;
    text-align: center;
    /* margin: 0 20px 20px 20px; */
    width: 40px;
    height: 40px;
    border-radius: 40px;
    padding-top: 9px;
    margin-right: 10px;
    display: block;
    float: left;
}

.redesfooter span:nth-of-type(1){
	background-color: #4470cf!important;
}

.redesfooter span:nth-of-type(2){
	background-color: #5daed5!important;
}

.redesfooter span:nth-of-type(3){
	background-color: #f3188c!important;
}

/*
.redesfooter span:nth-of-type(3){
	background-color: #c8312b!important;
} */









/* COUNTDOWN */
#bodyCountdown{
	background-color: #fff;
	margin-bottom: 0; 
}
#countdownG20{
	/* background: url("../img/footer.png"); */
	/* background-position: bottom left;
	background-repeat: no-repeat; */
	height: 100%;
}

@media (min-width: 601px){

	#countdownG20 .col-md-12{
		margin-top: 0vh;
	}

}

@media (max-width: 600px){
	#countdownG20 .col-md-12{
		margin-top: 0vh;
	}

}
		
#countdownG20 .col-md-12{
	text-align: center;
}

#countdownG20 p{
	font-size: 4em;
	font-weight: 300;
	color: #596f7e;
}

#countdownG20 span{
	color: #01babd;
}

#countdownG20 a{
	margin-top: 15px;
}

.tituloCountdown {
    font-size: 5em;
    color: rgb(1, 186, 189);
}


/*!------------------------------------------------------------------
[Countdown]
*/

.descripcionCountdown{
	font-size: 1.5em!important;
}

#countdown{
	text-align:center;
	line-height:1;
}

#countdown > div{
	display:inline-block;
	margin:0 30px 15px;
}

#countdown > div > div{
	margin-bottom:22px;
	font-weight:200;
	font-size:48px;
	color: rgb(1, 186, 189);

}

#countdown > div > i{
	text-transform:uppercase;
	letter-spacing:1.3px;
	font-style:normal;
	font-weight:700;
	font-size:13px;
}

.footerMain{
	background-color: #fff;
	background: url(../img/footer.png);
	background-repeat: no-repeat;
	height: 190px;
	background-position:left bottom ;
}

@media (max-width: 1400px){

	#countdownG20 {
	    height: auto;
	}
	.footer {
	    position: static!important;
	}


}



