<!DOCTYPE html>
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->
    {% include snt/head-login.html %}
    <!-- <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>-->
<body class="d-flex flex-column h-100">
	<!-- anterior <body class="d-flex flex-column h-100 body-login bodyMiArgentina">-->
    {% include snt/header-login.html %}
    <main class="m-b-3 row">
      {{ content }}
    </main>
    {% include snt/footer-login.html %}
</body>
</html>
