/* COSITAS */

	/* PALETA DE COLORES */

	/*
	
	celeste 

	color: #00a1e4;
	background-color: #00a1e4;
	

	gris

	color: #596f7e;
	background-color: #596f7e;


	turquesa

	color: #01babd;
	background-color: #01babd;


	naranja

	color: #f7941d;
	background-color: #f7941d;
	

	rojo
	
	color: #ef4023;
	background-color: #ef4023;

	*/

/* NAV */

.navbar .container .navbar-header .navbar-brand img {
    width: auto;
}

.navbar-brand {
    height: 86px;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #596f7e!important;
}

a:hover, a:focus, a:active {
    color: #01babd!important;
    text-decoration: none;
}

.navbar{
	min-height: 0;
}


.navIdioma li{
	display: inline-block;
	text-decoration: none;
	padding: 0;
	font-size: 14px;
}

.navLista{
list-style: none;
padding: 10px;
}

.navbar-default .nav > li > a {
	color: #596f7e;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    color: #01babd;
}

.navbar ul li .dropdown-menu {
    background: #ffffff !important;
}

.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus {
    background: #fff;
    color: #01babd;
}


.navbar ul li .dropdown-menu li a {
    color: #596f7e;
}

.navbar ul li .dropdown-menu > li > a:hover, 
.navbar ul li .dropdown-menu li a:hover, 
.navbar ul li .dropdown-menu > li > a:focus, 
.navbar ul li .dropdown-menu li a:focus {
    background-color: #fff;
}


.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    background: #fff;
    color: #01babd!important;
}




/* COSITAS GENERALES */ 

body{
	background-color: white;
}

h3, h4{
	color: #4a5c69;
	margin-bottom: 0.2em!important;
}

.fondoGris{
	background-color: #f6f7f8;
}

.fondoBlanco{
	background-color: #fff;
}

	/* BOTONES */

.btn{
	border-radius: 80px;
    height: 50px;
}

.btn.btn-sm {
    padding: 15px 60px;
}


.btn-primary{
	background-color: #01babd!important;
}


.btn-primary:hover, .btn-primary:focus {
	opacity: 0.8;
	background-color: #01babd!important;
	color: #fff!important;
}


.btn-secondary{
	background-color: transparent;
	border: 3px solid #fff;
	color: #fff;
	padding: 11px 20px!important;

}


.btn-secondary:hover, .btn-secondary:focus {
	background-color: #fff!important;;
	color: #92278f!important;
	padding-top: 14px!important;
}

	/* TIPOGRAFÍA */

.light{
	font-weight: 200;
}

.semilight{
	font-weight: 300;
}

.heavy{
	font-weight: 500;
}

.caps{
	font-variant: all-small-caps;
}

.preTitulo{
	font-variant: all-small-caps;
	color: #01babd;
	font-weight: 500;
	margin-bottom: 0;
}

.pocoGrande{
	font-size: 25px;
}

.bastanteGrande{
	font-size: 30px;
}

.masGrande{
	font-size: 35px;
	line-height: 1.2;
}

.reGrande{
	font-size: 40px;
}

.rereGrande{
	font-size: 50px;
}

.superGrande{
	font-size: 60px;
}

.megaGrande{
	font-size: 70px;
}

/* COLORES */

.blanquito{
	color: #fff;
}

.turquesa{
	color: #01babd;
}

.naranja{
	color: #f7941d;
}

.blanquitoFondo{
	background-color: white;
}

.turquesaFondo{
	background-color: #01babd;
}

.naranjaFondo{
	background-color: #f7941d;
}


	/* BARRITAS */

.barrita{
	height: 5px;
	width: 60px;
	margin-top: 13px;
}

.miniBarrita{
	height: 3px;
	width: 20px;
}

.barritaBorde{
	border-bottom: solid 1px #01babd;
	width: 60px;
}




/*PORTADAS*/

	/* HOME */

.video-container {
  position: absolute;
  top: 12%;
  bottom: 0;
  width: 100%;
  height: 600px; 
  overflow: hidden;
}

.video-container video {
  min-width: 100%; 
  min-height: 50%; 
  width: auto;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portaInfoPortada{
	margin-top: 150px;
}

video{
	background-color: #596f7e;
}

	/* esta clase le da un margin top a la primera sección del home 
	para que no pise el video */
.margenVideo{
	margin-top: 570px;
}

.principal{
	background-color: #f6f7f8;
}


	/* HOME 2 */

.fotoPortada{
	background-image:url('../img/foto-noticia-home.jpg');
	background-size: cover;
	background-position: center;
	margin-bottom: 300px;
}

.portaInfoPortadaV2{
	background-color: #f6f7f8;
	position: absolute;
	top: 650px;
	left: 0;
	padding-top: 20px;
}

.portaInfoPortadaV2 h2{
	color: #01babd;
	font-size: 1.7em;
	font-weight: 500;
}

.portaInfoPortadaV2 p{
	color: #596f7e;
	font-size: 1em;
	font-weight: 400;
}

.portaInfoPortadaV2 .btn{
	background-color: #01babd!important;
	color: #fff!important;
	padding: 12px 58px;
}

.fotoJT{
	padding-top: 80px!important;
}


@media (max-width: 558px){
	
	.fotoJT{
	padding-top: 100px!important;
	}

}

@media (min-width: 559px) and (max-width: 1199px) {

	.fotoJT{
	padding-top: 140px!important;
	}

}




/* JUMBOTRONES SECCIONES */

.jumbotron .jumbotron_body h2, 
.jumbotron .jumbotron_body .h2{
	font-weight: 200;
	font-variant: all-small-caps;
	font-size: 60px;
	text-shadow: none;
	text-align: left;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.jumbotron .jumbotron_body {
    padding: 20px 0 0 0;
}

.jumbotron .jumbotron_bar {
    background: transparent;
}

.jumbotron .jumbotron_bar .breadcrumb {
    text-shadow: none;
}

.jumbotron .jumbotron_bar .breadcrumb li {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 18px;
}

.jumbotron_bar .breadcrumb > li + li:before, 
.jumbotron_bar .breadcrumb > .active {
    font-weight: 200;
    font-size: 18px;
}

.jumbotron{
	background-color: #596f7e;
}


/* COMPLEMENTITOS VARIOS */


	/* QUÉ ES */

.queEs{
	background: url("../img/quees.jpg");
	background-size: cover;
}


	/* NUMEROS */

.numeros{
	background: url("../img/numeros.jpg");
	background-size: cover;
}

.bordeDer{
	border-right: #01babd 1px solid;
}


	/* GRUPOS AFINIDAD */

#portaLogos img{
	width: 140px;
	height: auto;
	margin: 0 8px;
}

	/* DESTACADOS */

.destacado {
    border-radius: 3px!important;
}

.panel small{
	color: black;
	font-weight: 300;
}

	/* HOVER PANELES */

.noticias .panel:hover, 
.noticias .panel:focus,
.discursos .panel:hover,
.discursos .panel:focus,
.destacadospie .panel:hover,
.destacadospie .panel:focus{
	background-color: #01babd!important;
}

.noticias .panel:hover h3, 
.noticias .panel:hover h4, 
.noticias .panel:hover small, 
.noticias .panel:focus h3, 
.noticias .panel:focus h4, 
.noticias .panel:focus small, 
.discursos .panel:hover h3, 
.discursos .panel:hover h4, 
.discursos .panel:hover small, 
.discursos .panel:focus h3, 
.discursos .panel:focus h4, 
.discursos .panel:focus small, 
.destacadospie .panel:hover h3, 
.destacadospie .panel:hover h4,
.destacadospie .panel:hover small,
.destacadospie .panel:focus h3, 
.destacadospie .panel:focus h4,
.destacadospie .panel:focus small{
	color: white;
}

.media-left, .media > .pull-left {
    padding-top: 9px;
}






/* NOTICIAS */

.panels-row > div {
    margin-bottom: 20px;
}

.panel-default, .list-group {
    border: solid #ebeef0 1px;
    box-shadow: none;
}	

.noticias .panel-body {
    padding: 30px 35px;
}

	/* DETALLE NOTICIA */


.contenedorNoticia{
	background-color: #fff;
	border: solid #ebeef0 1px;
	padding: 0;
	line-height: 28px;
}

.tituloNoticia{
	font-weight: 400;
	font-size: 1.6em;
}

.textoNoticia{
	padding: 15px 50px 40px 50px;
}

.textoNoticia h3{
	font-size: 1.3em;
	color: #01babd;
}

.contenedorNoticia p b{
	color: #596f7e;
}

.destacadoNoticia{
	margin-top: 20px;
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 1px;
	border-left: solid #596f7e 4px;
	padding-left: 15px;
}

.textoNoticia .turquesa{
	color: #01babd!important;
	font-size: 1.2em;
}


.listaNoticias li i{
	color: #01babd;
}



/* FAQ */

	/* PREGUNTAS */

#accordion .panel.panel-default .panel-heading {
    min-height: 50px!important;
    background-color: white;
    color: #596f7e;
}

#accordion a:hover, a:focus, a:active {
    color: #01babd!important;
    text-decoration: none;
}

#accordion .panel:hover, .panel:focus {
    background-color: white!important;
}

	/* GLOSARIO */

.flechitas{
	list-style: none;
	padding-left: 0;
}

.flechitas li{
	margin-bottom: 20px;
}





/* TIMELINE - línea de tiempo */

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #596f7e;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.containerr:not(:nth-of-type(1)) {
  margin-top: -100px;
}

.containerr {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.containerr::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.containerr:nth-of-type(1)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(2)::after {
	background-color: #bed62f;
}

.containerr:nth-of-type(3)::after {
	background-color: #87c979;
}

.containerr:nth-of-type(4)::after {
	background-color: #01babd;
}

.containerr:nth-of-type(5)::after {
	background-color: #00a1e4;
}

.containerr:nth-of-type(6)::after {
	background-color: #0072bc;
}

.containerr:nth-of-type(7)::after {
	background-color: #92278f;
}

.containerr:nth-of-type(8)::after {
	background-color: #c6168d;
}

.containerr:nth-of-type(9)::after {
	background-color: #ef4023;
}

.containerr:nth-of-type(10)::after {
	background-color: #f7941d;
}

.containerr:nth-of-type(11)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(12)::after {
	background-color: #bed62f;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.flechitas .fa{
    font-size: 0.7em;
    vertical-align: middle;
}

.flechitas li{
	font-size: 16px;
}

/* Flechitas para el izq */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #edf1f5;
}

/* Flechitas para el der */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #edf1f5 transparent transparent;
}

/* Círculos para los der */
.right::after {
  left: -15px;
}

.content {
  padding: 20px 30px;
  background-color: #edf1f5;
  position: relative;
  border-radius: 6px;
}

.timeline div:nth-of-type(1) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(2) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(3) .miniBarrita{
	background-color: #87c979;
}

.timeline div:nth-of-type(4) .miniBarrita{
	background-color: #01babd;
}

.timeline div:nth-of-type(5) .miniBarrita{
	background-color: #00a1e4;
}

.timeline div:nth-of-type(6) .miniBarrita{
	background-color: #0072bc;
}

.timeline div:nth-of-type(7) .miniBarrita{
	background-color: #92278f;
}

.timeline div:nth-of-type(8) .miniBarrita{
	background-color: #c6168d;
}

.timeline div:nth-of-type(9) .miniBarrita{
	background-color: #ef4023;
}

.timeline div:nth-of-type(10) .miniBarrita{
	background-color: #f7941d;
}

.timeline div:nth-of-type(11) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(12) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(1) i{
	color: #ffd204;
}

.timeline div:nth-of-type(2) i{
	color: #bed62f;
}

.timeline div:nth-of-type(3) i{
	color: #87c979;
}

.timeline div:nth-of-type(4) i{
	color: #01babd;
}

.timeline div:nth-of-type(5) i{
	color: #00a1e4;
}

.timeline div:nth-of-type(6) i{
	color: #0072bc;
}

.timeline div:nth-of-type(7) i{
	color: #92278f;
}

.timeline div:nth-of-type(8) i{
	color: #c6168d;
}

.timeline div:nth-of-type(9) i{
	color: #ef4023;
}

.timeline div:nth-of-type(10) i{
	color: #f7941d;
}

.timeline div:nth-of-type(11) i{
	color: #ffd204;
}

.timeline div:nth-of-type(12) i{
	color: #bed62f;
}

@media all and (max-width: 600px) {
  .timeline::after {
    left: 31px;
  }

  .containerr {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .containerr::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .left::after, .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}

.content a{
	color: #01babd;
	text-decoration: none;
	font-weight: 300;
}

.content a:hover, .content a:focus, .content a:active{
	color: #01babd!important;
	opacity: 0.7;
	text-decoration: none!important;
}






/* CALENDARIO */

.calendarioEventos h3{
	color: white;
	text-transform: uppercase;
	font-size: 18px;
	padding: 5px 0 7px 0;
}

.calendarioEventos .col-md-2, 
.calendarioEventos .col-md-3{
	border: solid 3px;
	text-align: center;
	margin-top: 30px;
	margin-right: 20px;
	width: 110px;
    height: 110px;
    padding: 0;
}

.calendarioEventos .col-md-3{
	margin-top: 38px;
}

.calendarioEventos .col-md-10, 
.calendarioEventos .col-md-9{
	margin-top: 28px;
}

.calendarioEventos .col-md-10 p:first-of-type, 
.calendarioEventos .col-md-9 p:first-of-type {
    margin-bottom: 6px;
}

.dia{
	font-weight: 600;
	font-size: 24px;
	line-height: 20px;
	margin-top: 28px;
}

.mes{
	font-weight: 400;
	font-size: 15px;
}

.calendarioEventos i{
	width: 20px;
	text-align: center;
	margin-right: 5px;
}

.calendarioEventos .col-md-10 p,
.calendarioEventos .col-md-9 p{
	color: #596f7e;
	font-weight: 400;
}

.col-md-2.agendaSherpas,
.col-md-3.agendaSherpas{
	border-color: #ea1d76;
}

.col-md-2.agendaSherpas p,
.col-md-3.agendaSherpas p,
.agendaSherpas i{
	color: #ea1d76;
}


.col-md-2.agendaFinanzas,
.col-md-3.agendaFinanzas{
	border-color: #873299;
}

.col-md-2.agendaFinanzas p,
.col-md-3.agendaFinanzas p,
.agendaFinanzas i{
	color: #873299;
}

.col-md-2.agendaCompleto,
.col-md-3.agendaCompleto{
	border-color: #01babd;
}

.col-md-2.agendaCompleto p,
.col-md-3.agendaCompleto p,
.agendaCompleto i{
	color: #01babd;
}

.calendarioEventos h4{
	font-weight: 500;
	font-size: 1.3em;
	margin-bottom: 10px;
}






/* MAPA */

.listaMapa h3{
	font-size: 1.3em;
}

.listaMapa ul li{
	line-height: 1.7em;
}

.listaMapa ul li a{
	font-weight: 400;
}

.listaMapa ul a:hover,
.listaMapa ul a:focus{
	color: #01babd!important;
}


/* DETALLE PROVINCIA */

	/* ficha técnica */

.fichaTecnica{
	background-color: #fff;
	border: solid #ebeef0 1px;
	line-height: 28px;
	padding: 15px 30px;
}

.fichaTecnica ul{
	list-style: none;
	padding: 0;
	color: #596f7e;
}

.fichaTecnica i{
	color: #ef4023;
	margin-right: 5px;
    font-size: 1.3em;

}

.fichaTecnica h3{
	border-bottom: dotted #ffd204 3px;
	padding-bottom: 8px;
	margin-top: .3em;
}

	/* texto inicial */

.textoProvincia{
	color: #596f7e;
	font-size: 1.3em;
	line-height: 1.8em;
	padding-right: 80px;
}


	/* banner calendario */

.bannerProvincia{
	background: url('../img/bg-banner.jpg');
	padding-top: 18px;
	padding-bottom: 18px;
	background-size: cover;
	padding-left: 30px;
}

.bannerProvincia h3{
	margin-top: 0;
	margin-bottom: 0;
}

.bannerProvincia .btn{
	    margin-top: 33px!important;
}

	/* íconos */

.iconoProvincia{
	width: 40px;
	height: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	background-size: contain;
}

.textoNoticia h3:nth-of-type(1) .iconoProvincia{
	background-image: url('../img/provincias/icono-turismo-01.png');
}

.textoNoticia h3:nth-of-type(2) .iconoProvincia{
	background-image: url('../img/provincias/icono-turismo-02.png');
}

	/* img */

	.textoNoticia img{
		margin-top: 40px;
		margin-bottom: 40px;
	}

/* FOOTER */

.paisaje{
	background: url("../img/footer_prueba.png");
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-position-y: bottom;
	height: 150px;
	background-color: #f6f7f8;
}

.main-footer{
	background-color: #f6f7f8;
	padding-top: 32px;
}

footer h3{
	font-variant: all-small-caps;
	color: #01babd;
}

footer a{
	color: #01babd;
}

footer a:hover, footer a:focus, a:active {
    color: #01babd!important;
    opacity: 0.8;
    text-decoration: none!important;
}