/* COSITAS */

	/* PALETA DE COLORES */

	/*
	
	celeste 

	color: #00a1e4;
	background-color: #00a1e4;
	


	turquesa

	color: #01babd;
	background-color: #01babd;



	naranja

	color: #f7941d;
	background-color: #f7941d;
	


	*/

body{
	background-color: white;
}

h3, h4{
	color: #4a5c69;
	margin-bottom: 0.2em!important;
}

/* SECCIONES */

.fondoGris{
	background-color: #fcfcfb;
}

.fondoBlanco{
	background-color: white;
}

/* BOTONES */

.btn{
	border-radius: 80px;
    height: 50px;
}

.btn.btn-sm {
    padding: 15px 60px;
}


.btn-primary{
	background-color: #01babd!important;
}


.btn-primary:hover, .btn-primary:focus {
	opacity: 0.9;
	background-color: #01babd!important;
}


/*

.btn-link{
	background-color: #01babd!important;
	color: white;
}

.btn-primary:hover, .btn-primary:focus {
	opacity: 0.9;
	background-color: #01babd!important;
}

*/

/* TIPOGRAFÍA */

.light{
	font-weight: 200;
}

.semilight{
	font-weight: 300;
}

.caps{
	font-variant: all-small-caps;
}

.heavy{
	font-weight: 500;
}

.pocoGrande{
	font-size: 25px;
}

.bastanteGrande{
	font-size: 30px;
}

.masGrande{
	font-size: 35px;
	line-height: 1.2;
}

.reGrande{
	font-size: 40px;
}

.rereGrande{
	font-size: 50px;
}

.megaGrande{
	font-size: 70px;
}



/* COLORES */

.blanquito{
	color: white;
}


.turquesa{
	color: #01babd;
}

.naranja{
	color: #f7941d;
}

.blanquitoFondo{
	background-color: white;
}

.turquesaFondo{
	background-color: #01babd;
}

.naranjaFondo{
	background-color: #f7941d;
}


/* BARRITAS */

.barrita{
	height: 5px;
	width: 60px;
	margin-top: 13px;
}

.miniBarrita{
	height: 3px;
	width: 20px;
}



/*NAV*/

a:hover, a:focus, a:active {
    color: white!important;
    text-decoration: none;
}

.navIdioma{
	margin-top: 20px;
}

.navIdioma li{
	display: inline-block;
	text-decoration: none;
	padding: 0;
	font-size: 14px;
}

.navLista{
list-style: none;
padding: 10px;
}

.navbar-default .nav > li > a {
	color: #01babd;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #01babd;
    color: #fff;
}

.navbar ul li .dropdown-menu {
    background: #01babd !important;
}

.navbar ul li .dropdown-menu > li > a:hover, .navbar ul li .dropdown-menu li a:hover, .navbar ul li .dropdown-menu > li > a:focus, .navbar ul li .dropdown-menu li a:focus {
    background: #01babd !important;
    opacity: 0.8!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #01babd;
}


/* PORTADA HOME */

.video-container {
  position: absolute;
  top: 12%;
  bottom: 0;
  width: 100%;
  height: 600px; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 50%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portaInfoPortada{
	margin-top: 150px;
}


/* JUMBOTRONES SECCIONES */

.jumbotron .jumbotron_body h2, .jumbotron .jumbotron_body .h2{
	font-weight: 200;
	font-variant: all-small-caps;
	font-size: 60px;
	text-shadow: none;
	text-align: left;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.jumbotron .jumbotron_body {
    padding: 20px 0 0 0;
}

.jumbotron .jumbotron_bar {
    background: transparent;
}

.jumbotron .jumbotron_bar .breadcrumb {
    text-shadow: none;
}

.jumbotron .jumbotron_bar .breadcrumb li {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 18px;
}

.jumbotron_bar .breadcrumb > li + li:before, .jumbotron_bar .breadcrumb > .active {
    font-weight: 200;
    font-size: 18px;
}

/* PRINCIPAL */

.principal{
	margin-top: 600px;
	background-color: #fcfcfb;
}


/* NOTICIAS */

.panels-row > div {
    margin-bottom: 20px;
}

.panel-default, .list-group {
    border: solid #ebeef0 1px;
    box-shadow: none;
}	

.panel.panel-default .panel-heading {
    min-height: 215px;
}

.panel-body {
    padding: 30px 35px;
}

/* QUÉ ES */

.queEs{
	background: url("../img/quees.jpg");
	background-size: cover;
}


/* NUMEROS */

.numeros{
	background: url("../img/numeros.jpg");
	background-size: cover;
}


.bordeDer{
	border-right: #01babd 1px solid;
}

/* DESTACADOS */

.destacado {
    border-radius: 3px!important;
}

.panel small{
	color: black;
	font-weight: 300;
}

.panel:hover, .panel:focus{
	background-color: #01babd!important;
}

.panel:hover h3, .panel:hover h4, .panel:hover small, .panel:hover i{
	color: white;
}

.media-left, .media > .pull-left {
    padding-top: 9px;
}














/* FOOTER */

.paisaje{
	background: url("../img/footer_prueba.png");
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-position-y: bottom;
	height: 200px;
	background-color: #fcfcfb;
}

.main-footer{
	background-color: #fcfcfb;
	padding-top: 32px;
}

footer h3{
	font-variant: all-small-caps;
	color: #01babd;
}

footer a{
	color: #01babd;
}

footer a:hover, footer a:focus, a:active {
    color: #01babd!important;
    opacity: 0.8;
    text-decoration: none!important;
}