/* COSITAS */

	/* PALETA DE COLORES */

	/*
	
	celeste 

	color: #00a1e4;
	background-color: #00a1e4;
	


	turquesa

	color: #01babd;
	background-color: #01babd;



	naranja

	color: #f7941d;
	background-color: #f7941d;
	


	*/

body{
	background-color: white;
}

h3, h4{
	color: #4a5c69;
	margin-bottom: 0.2em!important;
}

/* SECCIONES */

.fondoGris{
	background-color: #fcfcfb;
}

.fondoBlanco{
	background-color: white;
}

/* BOTONES */

.btn{
	border-radius: 80px;
    height: 50px;
}

.btn.btn-sm {
    padding: 15px 60px;
}


.btn-primary{
	background-color: #01babd!important;
}


.btn-primary:hover, .btn-primary:focus {
	opacity: 0.9;
	background-color: #01babd!important;
}


/*

.btn-link{
	background-color: #01babd!important;
	color: white;
}

.btn-primary:hover, .btn-primary:focus {
	opacity: 0.9;
	background-color: #01babd!important;
}

*/

/* TIPOGRAFÍA */

.light{
	font-weight: 200;
}

.semilight{
	font-weight: 300;
}

.caps{
	font-variant: all-small-caps;
}

.heavy{
	font-weight: 500;
}

.pocoGrande{
	font-size: 25px;
}

.bastanteGrande{
	font-size: 30px;
}

.masGrande{
	font-size: 35px;
	line-height: 1.2;
}

.reGrande{
	font-size: 40px;
}

.rereGrande{
	font-size: 50px;
}

.megaGrande{
	font-size: 70px;
}



/* COLORES */

.blanquito{
	color: white;
}


.turquesa{
	color: #01babd;
}

.naranja{
	color: #f7941d;
}

.blanquitoFondo{
	background-color: white;
}

.turquesaFondo{
	background-color: #01babd;
}

.naranjaFondo{
	background-color: #f7941d;
}


/* BARRITAS */

.barrita{
	height: 5px;
	width: 60px;
	margin-top: 13px;
}

.miniBarrita{
	height: 3px;
	width: 20px;
}

.barritaBorde{
	border-bottom: solid 1px #01babd;
	width: 60px;
}



/*NAV*/

a:hover, a:focus, a:active {
    color: white!important;
    text-decoration: none;
}

.navIdioma{
	margin-top: 20px;
}

.navIdioma li{
	display: inline-block;
	text-decoration: none;
	padding: 0;
	font-size: 14px;
}

.navLista{
list-style: none;
padding: 10px;
}

.navbar-default .nav > li > a {
	color: #01babd;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background: #01babd;
    color: #fff;
}

.navbar ul li .dropdown-menu {
    background: #01babd !important;
}

.navbar ul li .dropdown-menu > li > a:hover, .navbar ul li .dropdown-menu li a:hover, .navbar ul li .dropdown-menu > li > a:focus, .navbar ul li .dropdown-menu li a:focus {
    background: #01babd !important;
    opacity: 0.8!important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background: #01babd;
}


/* PORTADA HOME */

.video-container {
  position: absolute;
  top: 12%;
  bottom: 0;
  width: 100%;
  height: 600px; 
  overflow: hidden;
}

.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  min-height: 50%; 
  
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.portaInfoPortada{
	margin-top: 150px;
}


/* JUMBOTRONES SECCIONES */

.jumbotron .jumbotron_body h2, .jumbotron .jumbotron_body .h2{
	font-weight: 200;
	font-variant: all-small-caps;
	font-size: 60px;
	text-shadow: none;
	text-align: left;
	margin-bottom: 0;
	letter-spacing: 3px;
}

.jumbotron .jumbotron_body {
    padding: 20px 0 0 0;
}

.jumbotron .jumbotron_bar {
    background: transparent;
}

.jumbotron .jumbotron_bar .breadcrumb {
    text-shadow: none;
}

.jumbotron .jumbotron_bar .breadcrumb li {
    letter-spacing: 4px;
    font-weight: 400;
    font-size: 18px;
}

.jumbotron_bar .breadcrumb > li + li:before, .jumbotron_bar .breadcrumb > .active {
    font-weight: 200;
    font-size: 18px;
}

/* PRINCIPAL */

.principal{
	margin-top: 598px;
	background-color: #fcfcfb;
}




/* QUÉ ES */

.queEs{
	background: url("../img/quees.jpg");
	background-size: cover;
}


/* NUMEROS */

.numeros{
	background: url("../img/numeros.jpg");
	background-size: cover;
}


.bordeDer{
	border-right: #01babd 1px solid;
}

/* DESTACADOS */

.destacado {
    border-radius: 3px!important;
}

.panel small{
	color: black;
	font-weight: 300;
}

.panel:hover, .panel:focus{
	background-color: #01babd!important;
}

.panel:hover h3, .panel:hover h4, .panel:hover small, .panel:hover i{
	color: white;
}

.media-left, .media > .pull-left {
    padding-top: 9px;
}


/* NOTICIAS */

.panels-row > div {
    margin-bottom: 20px;
}

.panel-default, .list-group {
    border: solid #ebeef0 1px;
    box-shadow: none;
}	

/*
.panel.panel-default .panel-heading {
    min-height: 215px;
}

*/

.noticias .panel-body {
    padding: 30px 35px;
}

	/* DETALLE NOTICIA */


.contenedorNoticia{
	background-color: white;
	border: solid #ebeef0 1px;
	padding: 0;
	line-height: 28px;
}

.tituloNoticia{
	font-weight: 400;
	font-size: 1.6em;
}

.textoNoticia{
	padding: 15px 50px 40px 50px;
}

.destacadoNoticia{
	margin-top: 20px;
	font-weight: 400;
	font-size: 1.3em;
	letter-spacing: 1px;
	border-left: solid #596f7e 4px;
	padding-left: 15px;
}



/* FAQ */

	/* PREGUNTAS */

#accordion .panel.panel-default .panel-heading {
    min-height: 50px!important;
    background-color: white;
    color: #596f7e;
}

#accordion a:hover, a:focus, a:active {
    color: #01babd!important;
    text-decoration: none;
}

#accordion .panel:hover, .panel:focus {
    background-color: white!important;
}



	/* GLOSARIO */

.flechitas{
	list-style: none;
	padding-left: 0;
}

.flechitas li{
	margin-bottom: 20px;
}


/* TIMELINE */

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 1px;
  background-color: #596f7e;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.containerr {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.containerr::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -10px;
  background-color: white;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


.containerr:nth-of-type(1)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(2)::after {
	background-color: #bed62f;
}

.containerr:nth-of-type(3)::after {
	background-color: #87c979;
}


.containerr:nth-of-type(4)::after {
	background-color: #01babd;
}

.containerr:nth-of-type(5)::after {
	background-color: #00a1e4;
}

.containerr:nth-of-type(6)::after {
	background-color: #0072bc;
}

.containerr:nth-of-type(7)::after {
	background-color: #92278f;
}

.containerr:nth-of-type(8)::after {
	background-color: #c6168d;
}

.containerr:nth-of-type(9)::after {
	background-color: #ef4023;
}

.containerr:nth-of-type(10)::after {
	background-color: #f7941d;
}

.containerr:nth-of-type(11)::after {
	background-color: #ffd204;
}

.containerr:nth-of-type(12)::after {
	background-color: #bed62f;
}


/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #edf1f5;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent #edf1f5 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -15px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: #edf1f5;
  position: relative;
  border-radius: 6px;
}

/*
.timeline div:nth-of-type(1)::before{
	border-color: transparent transparent transparent #ffd204;
}

.timeline div:nth-of-type(2)::before{
	border-color: transparent #bed62f transparent transparent;
}

.timeline div:nth-of-type(3)::before{
	border-color: transparent transparent transparent #87c979;
}

.timeline div:nth-of-type(4)::before{
	border-color: transparent #01babd transparent transparent;
}

.timeline div:nth-of-type(5)::before{
	border-color: transparent transparent transparent #00a1e4;
}

.timeline div:nth-of-type(6)::before{
	border-color: transparent #0072bc transparent transparent;
}

.timeline div:nth-of-type(7)::before{
	border-color: transparent #92278f transparent transparent;
}

.timeline div:nth-of-type(8)::before{
	border-color: transparent transparent transparent #c6168d;
}

.timeline div:nth-of-type(9)::before{
	border-color: transparent #ef4023 transparent transparent;
}

.timeline div:nth-of-type(10)::before{
	border-color: transparent transparent transparent #f7941d;
}

.timeline div:nth-of-type(1) .content{
	border-color: #ffd204;
}

.timeline div:nth-of-type(2) .content{
	border-color: #bed62f;
}

.timeline div:nth-of-type(3) .content{
	border-color: #87c979;
}

.timeline div:nth-of-type(4) .content{
	border-color: #01babd;
}

.timeline div:nth-of-type(5) .content{
	border-color: #00a1e4;
}

.timeline div:nth-of-type(6) .content{
	border-color: #0072bc;
}

.timeline div:nth-of-type(7) .content{
	border-color: #92278f;
}

.timeline div:nth-of-type(8) .content{
	border-color: #c6168d;
}

.timeline div:nth-of-type(9) .content{
	border-color: #ef4023;
}

.timeline div:nth-of-type(10) .content{
	border-color: #f7941d;
}
*/


.timeline div:nth-of-type(1) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(2) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(3) .miniBarrita{
	background-color: #87c979;
}

.timeline div:nth-of-type(4) .miniBarrita{
	background-color: #01babd;
}

.timeline div:nth-of-type(5) .miniBarrita{
	background-color: #00a1e4;
}

.timeline div:nth-of-type(6) .miniBarrita{
	background-color: #0072bc;
}

.timeline div:nth-of-type(7) .miniBarrita{
	background-color: #92278f;
}

.timeline div:nth-of-type(8) .miniBarrita{
	background-color: #c6168d;
}

.timeline div:nth-of-type(9) .miniBarrita{
	background-color: #ef4023;
}

.timeline div:nth-of-type(10) .miniBarrita{
	background-color: #f7941d;
}

.timeline div:nth-of-type(11) .miniBarrita{
	background-color: #ffd204;
}

.timeline div:nth-of-type(12) .miniBarrita{
	background-color: #bed62f;
}

.timeline div:nth-of-type(1) i{
	color: #ffd204;
}

.timeline div:nth-of-type(2) i{
	color: #bed62f;
}

.timeline div:nth-of-type(3) i{
	color: #87c979;
}

.timeline div:nth-of-type(4) i{
	color: #01babd;
}

.timeline div:nth-of-type(5) i{
	color: #00a1e4;
}

.timeline div:nth-of-type(6) i{
	color: #0072bc;
}

.timeline div:nth-of-type(7) i{
	color: #92278f;
}

.timeline div:nth-of-type(8) i{
	color: #c6168d;
}

.timeline div:nth-of-type(9) i{
	color: #ef4023;
}

.timeline div:nth-of-type(10) i{
	color: #f7941d;
}

.timeline div:nth-of-type(11) i{
	color: #ffd204;
}

.timeline div:nth-of-type(12) i{
	color: #bed62f;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .containerr {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .containerr::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.content a{
	color: #01babd;
	text-decoration: none;
	font-weight: 300;
}

.content a:hover, .content a:focus, .content a:active{
	color: #01babd!important;
	opacity: 0.7;
	text-decoration: none!important;
}


/* FOOTER */

.paisaje{
	background: url("../img/footer_prueba.png");
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-position-y: bottom;
	height: 150px;
	background-color: #fcfcfb;
}

.main-footer{
	background-color: #fcfcfb;
	padding-top: 32px;
}

footer h3{
	font-variant: all-small-caps;
	color: #01babd;
}

footer a{
	color: #01babd;
}

footer a:hover, footer a:focus, a:active {
    color: #01babd!important;
    opacity: 0.8;
    text-decoration: none!important;
}