<h4 class="text-muted m-t-4">Identidad</h4>
<div class="page-sidebar">
<ul class="nav nav-pills nav-stacked">
	<li><a data-seccion="1" href="{{ '/identidad/iconos/' | prepend: page.category }}">Íconos</a></li>
	<li><a data-seccion="2" href="{{ '/identidad/colores/' | prepend: page.category }}">Colores</a></li>
	<li><a data-seccion="3" href="{{ '/identidad/tipografia/' | prepend: page.category }}">Tipografía</a></li>
	<li><a data-seccion="4" href="{{ '/identidad/presidencia/' | prepend: page.category }}">Marca de Presidencia</a></li>
	
</ul>
</div>