<!-- <ul class="nav navbar-nav navbar-right ">
	<li data-seccion="Inicio"><a href="{{ '' | prepend: page.category }}">Inicio</a></li>
	<li data-seccion="Identidad"><a href="{{ '/identidad/iconos/' | prepend: page.category }}">Identidad</a></li>
	<li data-seccion="Componentes"><a href="{{ '/componentes/botones/' | prepend: page.category }}">Componentes</a></li>
	<li data-seccion="Plantillas"><a href="{{ '/plantillas/headers-y-footers/' | prepend: page.category }}">Plantillas</a></li>
</ul> -->


<ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="navLink" href="{{ '' | prepend: page.category }}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="navLink" href="{{ '/identidad/iconos/' | prepend: page.category }}">Identidad</a>
        </li>
        <li class="nav-item">
          <a class="navLink" href="{{ '/componentes/botones/' | prepend: page.category }}">Componentes</a>
        </li>
        <li class="nav-item">
          <a class="navLink" href="{{ '/plantillas/headers-y-footers/' | prepend: page.category }}">Plantillas</a>
        </li>
      </ul>