<h4 class="text-muted m-t-4">Plantillas</h4>
<div class="page-sidebar">
<ul class="nav nav-pills nav-stacked">
	<li><a data-seccion="1" href="{{ '/plantillas/headers-y-footers/' | prepend: page.category }}">Headers y footers</a></li>
	<li><a data-seccion="2" href="{{ '/plantillas/paginas-de-argentina/' | prepend: page.category }}">Páginas de Argentina.gob.ar</a></li>
	<li><a data-seccion="3" href="{{ '/plantillas/login-y-registro/' | prepend: page.category }}">Login y Registro</a></li>
	<li><a data-seccion="4" href="{{ '/plantillas/formularios/' | prepend: page.category }}">Formularios</a></li>
	<!-- <li><a data-seccion="5" href="/poncho/plantillas/datos/">Datos</a></li> -->
	<li><a data-seccion="6" href="{{ '/plantillas/tablas/' | prepend: page.category }}">Tablas</a></li>
	<li><a data-seccion="7" href="{{ '/plantillas/paneles/' | prepend: page.category }}">Paneles</a></li>
	<li><a data-seccion="8" href="{{ '/plantillas/destacados-sin-enlace/' | prepend: page.category }}">Destacados sin enlace</a></li>
	
</ul>
</div>