  
  header .row{
    margin: 0;
  }

  .h3, h3 {
    font-size: 1.6em;
    font-weight: 500;
    margin-top: 15px;
  }

  #preguntas h3{
    margin-top: 0;
  }

  .titulo{
    color: #fff;
    font-size: 18px;
    margin-top: 10px;
  }

  .titulobloque{
    margin-bottom: 0;
    color: #5A5A5A;
    font-weight: 300;
  }

  .card-pregunta .card{
    border-radius: 10px;
  }

  .card-body p{
    margin-bottom: 0;
    font-size: 15px;
  }

  .circulocantidades{
    font-size: 20px!important;
    margin-top: 30px;
  }

  .circulocheck{
    margin-top: 30px;
  }

  .circulocantidades .circle-content{
    border-width: 7px!important;
    padding: 24px 17px;
    border-color: #04a9f45e;
    font-weight: 500;
    color: #04a9f45e;
}


  .circulocheck .circle-content {
    border-width: 7px!important;
    padding: 26px 36px;
    border-color: #04a9f45e!important;
    font-weight: 500;
    color: #04a9f45e;
    font-size: 18px;
}

  .circulocheck i{
    font-size: 42px;
    position: absolute;
    right: 42px;
    top: 42px;
    font-weight: 600;
  }


  .circuloverde{
    color: #39B54A;
    border-color: #39B54A!important;
  }

  .circulorojo{
    color: #ea1c0d;
    border-color: #ea1c0d!important;
  }

  .circuloamarillo{
    color: #FBB03B;
    border-color: #FBB03B!important;
  }

  .imagengris{
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
  }


  .alert {
    margin: 0;
  }

  .alert-warning {
    color: #ffc107;
    background-color: transparent;
  }
  .alert-danger {
    color: #F44336;
    background-color: transparent;
  }
  .bg-primary {
    background-color: #307ae0!important
  }

  a.bg-primary:focus,
  a.bg-primary:hover,
  button.bg-primary:focus,
  button.bg-primary:hover {
    background-color: #307ae0!important
  }

.text-primary {
    color: #307ae0!important
}

header {
  background-color: #2e75d9;
}

.img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    background-image: url(../img/loader.gif);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: center;
    background-position-y: center;
    position: fixed;
}

.message-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 20px 0;
  padding: 20px 0;
}
.message-wrapper .circle-wrapper {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.message-wrapper .text-wrapper {
  padding: 20px;
  min-height: 100px;
  width: 88%;
  margin: -70px 0 0 70px;
  -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
          box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
  border-radius: 10px;
  font-weight: 300;
  position: relative;
  /* word-break: break-all; */
  opacity: 1;
}
.message-wrapper .text-wrapper:before {
  content: '';
  width: 0;
  height: 0;
  border-style: solid;
}
.message-wrapper.them .circle-wrapper, .message-wrapper.them .text-wrapper {
  background: #307ae0;
  float: left;
  color: #ffffff;
}
.message-wrapper.them .text-wrapper:before {
  border-width: 0 32px 30px 0;
  border-color: transparent #307ae0 transparent transparent;
  position: absolute;
  top: 0;
  left: -23px;
}
.message-wrapper.me .circle-wrapper, .message-wrapper.me .text-wrapper {
  background: #FF5722;
  float: right;
  color: #333333;
}

.circle-wrapper{
  background-color: transparent!important;
}

.message-wrapper.me .text-wrapper {
  background: #ffffff;
}
.message-wrapper.me .text-wrapper:before {
  border-width: 10px 10px 0 0;
  border-color: #ffffff transparent transparent transparent;
  position: absolute;
  top: 0;
  right: -9px;
}

.owl-nav{
  text-align: right;
  padding-right: 14px;
}

.owl-prev span,
.owl-next span{
    color: #636363;
    background-color: #FFFFFF;
    border: 1px solid #C0C0C0;
    padding: 7px 16px;
    border-radius: 5px;
    font-size: 20px;
    -webkit-box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
    box-shadow: 0px 1px 0px 0px rgba(50, 50, 50, 0.3);
}

.owl-prev.disabled span,
.owl-next.disabled span{
      background-color: #EEEEEE;
    border: none;
    box-shadow: none;
    color: #C0C0C0;
}


.owl-nav p{
  display: inline-block;
  color: #636363;
  font-weight: 500;
  margin-left: 10px;
}

.owl-next span{
    margin-left: 10px;

  }

  .volver{
    background-color: #FFFFFF!important;
    color: #343434!important;
    font-size: 14px;
    padding: 6px 20px!important;
    border-radius: 5px;
  }

  .botonRefresh{
    background-color: #FFFFFF!important;
    color: #343434!important;
    font-size: 14px;
    padding: 2px 15px!important;
    border-radius: 5px;
    width: 160px;
  }

  .botonRefresh i{
    padding-top: 3px;
    padding-right: 8px;
    font-size: 28px;
    color: #636363;
    margin-left: -90px;
  }

  .botonRefresh span{
    color: #636363;
    position: absolute;
    top: 10px;
  }


  .borrarTodo{
    border-radius: 5px;
    margin-top: 50px;
    width: 100%;
  }

  .terminar{
    background-color: #FFFFFF!important;
    color: #343434!important;
    font-size: 14px;
    padding: 2px 15px!important;
    border-radius: 5px;
    width: 130px;
  }

  .terminar i{
    padding-top: 3px;
    padding-right: 8px;
    font-size: 35px;
    color: #D9D9D9;
    margin-left: -74px;
  }

  .terminar span{
    color: #636363;
    position: absolute;
    top: 14px;
  }

@media (max-width: 560px) {
  .wrapper {
    width: 100%;
    height: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  .wrapper .inner {
    height: 100%;
    height: 100vh;
  }
}