---
layout: mi-argentina
---

{% include mi-argentina/usuario.html padre="Servicios" hijo="Todas mis prestaciones o pensiones o asignaciones" %}


<style type="text/css">
  
  .media-right, .media > .pull-right {
    min-width: 150px;
    text-align: right;
}

</style>

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="seguridad" %}

      </aside>
      <div class="col-md-8">

        <a href="dashboard.html" class="btn btn-link btn-sm m-b-0"><i class="fa fa-arrow-left"></i> &nbsp;Volver</a>
        <h2 class="h4 m-t-2 m-b-0">Asignaciones y pensiones mensuales</h2>
        <p class="m-b-2">De jubilación, pensiones, prestaciones o asignaciones</p>

        <div class="panel">
          <div class="panel-body p-t-2 p-b-3">


            <div class="media">
              <div class="media-body media-middle">
                <h3 class="m-t-0">Pensión asistenciales</h3>
                <p class="text-muted">Proxima fecha de cobro 07/07/2018 (por ventanilla)</p>
              </div>
              <div class="media-right">
                <p>$6.811,84</p>
              </div>
            </div>

            <hr class="m-t-1">

            <div class="media">
              <div class="media-body media-middle">
                <h3 class="m-t-0">Pensión universal para el adulto mayor</h3>
                <p class="text-muted">Proxima fecha de cobro 07/07/2018 (por ventanilla)</p>
              </div>
              <div class="media-right">
                <p>$6.811,84</p>
              </div>
            </div>

            <hr class="m-t-1">

            <div class="media">
              <div class="media-body media-middle">
                <h3 class="m-t-0"><a href="segsoc_prestacion.html">Prestación por desempleo</a></h3>
                <p class="text-muted">Proxima fecha de cobro 07/07/2018 (por recibo de sueldo)</p>
              </div>
              <div class="media-right">
                <p class="text-muted">(sin datos)</p>
              </div>
            </div>

            <hr class="m-t-1">

            <div class="media">
              <div class="media-body media-middle">
                <h3 class="m-t-0"><a href="#">Asignación por matrimonio</a></h3>
                <p class="text-muted">Proxima fecha de cobro 07/07/2018 (por recibo de sueldo)</p>
              </div>
              <div class="media-right">
                <p>$7.029,24</p>
              </div>
            </div>

            <div class="media bg-gray p-y-2 p-x-2 m-t-3 m-b-2">
              <div class="media-body media-middle">
                <h3 class="m-t-0 text-success">Lo que cobrás por ventanilla</h3>
              </div>
              <div class="media-right">
                <p class="text-success"><b>$12.811,84</b></p>
              </div>
            </div>


            <div class="media bg-gray p-y-2 p-x-2 m-t-3 m-b-2">
              <div class="media-body media-middle">
                <h3 class="m-t-0 text-success">Total mensual percibido</h3>
              </div>
              <div class="media-right">
                <p class="text-success"><b>$26.811,84</b></p>
              </div>
            </div>

          </div>
        </div>

        <div class="alert alert-info">
          <div class="media">
            <div class="media-left">
              <i class="fa fa-calendar fa-fw fa-3x m-t-05"></i>
            </div>
            <div class="media-body">
              <h5>¿Querés que te avisemos de tus fechas de cobro?</h5>
              <p class="margin-0"><a href="#">Configurá tus notificaciones</a> y te avisamos por el medio que vos elijas.</p>
            </div>
          </div>
        </div>

        <p><a href="#">Quiero reportar informacion incorrecta en esta pantalla</a></p>
        
      </div>
    </div>
  </div>
</section>