<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <img class="image-responsive" alt="Argentina.gob.ar - Presidencia de la Nación" src="{{ "/proyectos/argentina/img/argentinagob.svg" | prepend: site.baseurl }}">
        <p class="text-muted small">Los contenidos de Argentina.gob.ar están licenciados bajo <a href="https://creativecommons.org/licenses/by/2.5/ar/">Creative Commons Reconocimiento 2.5 Argentina License</a></p>
        <a class="btn btn-primary m-t-1" href="/acerca">¿Querés hacernos una sugerencia?</a>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="/servicios">Trámites y servicios</a></li>
          <li><a href="/organismos">Organismos del Estado</a></li>
          <li><a href="/pais">Nuestro país</a></li>
          <li><a href="http://mapadelestado.modernizacion.gob.ar/">Mapa del Estado</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-6">
        <ul>
          <li><a href="/ayuda">Ayuda</a></li>
          <li><a href="/sugerencias">Hacer una sugerencia</a></li>
          <li><a href="/acerca">Acerca de este sitio</a></li>
          <li><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
          <li><a href="/creditos">Créditos</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>


