
<footer class="main-footer">
    <div class="container">
        <section>
            <div class="row">
                <div class="col-sm-6 col-sm-12">
                    <section class="block block-block clearfix"> <img class="image-responsive"
                            src="http://argob.github.io/poncho/plantillas/paginas-de-argentina/img/argentinagob.svg"
                            alt="Argentina.gob.ar - Presidencia de la Nación">
                        <p class="text-muted small m-b-2"> <a
                                href="https://creativecommons.org/licenses/by/4.0/deed.es" target="_blank">Los
                                contenidos de Argentina.gob.ar están licenciados bajo Creative Commons Atribución 4.0 Internacional</a></p>
                    </section>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="region region-footer2">
                        <section id="block-menu-menu-footer-2" class="block block-menu clearfix">
                            <ul class="menu ">
                                <li class="first leaf"><a href="/servicios">Trámites y servicios</a></li>
                                <li class="leaf"><a href="https://www.argentina.gob.ar/turnos">Turnos</a></li>
                                <li class="leaf"><a href="/organismos">Organismos del Estado</a></li>
                                <li class="leaf"><a href="http://mapadelestado.jefatura.gob.ar/">Mapa del Estado</a>
                                </li>
                                <li class="last leaf"><a href="/normativa">Leyes argentinas</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="region region-footer3">
                        <section id="block-menu-menu-footer-3" class="block block-menu clearfix">
                            <ul class="menu">
                                <li class="first leaf"><a href="/acerca">Acerca de este sitio</a></li>
                                <li class="leaf"><a href="/terminos-y-condiciones">Términos y condiciones</a></li>
                                <li class="last leaf"><a href="/ayuda">Ayuda</a></li>
                            </ul>
                        </section>
                    </div>
                </div>
            </div>
        </section>
    </div>
</footer>