
<header>


  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>

        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/argentina/">
            <img alt="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/argentinagob.svg" | prepend: site.baseurl }}" height="50">
            <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
          </a>
          <a class="btn btn-success btn-login visible-xs" href="/proyectos/mi-argentina/v3/"><span class="fa fa-user fa-fw"></span></a>
          <a class="btn btn-primary btn-login visible-xs" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span></a>
        </div>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
          <li>
            <div class="input-group">
              <input id="busqueda" type="text" class="form-control" placeholder="Buscar Trámite">
              <span class="input-group-btn">
                <button class="btn btn-primary" id="buscar" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </li>
          <a href="#" class="dropdown-toggle btn btn-inv-success hidden-xs" data-toggle="dropdown"><i class="fa fa-user"></i> &nbsp; Mi Argentina</a>
              
        </ul>

      </div>
    </div>
  </nav>

</header>


<script type="text/javascript">

  var busqueda = document.getElementById('busqueda');
  var buscar = document.getElementById('buscar');
  buscar.onclick = function () {
    var buscado = busqueda.value;
    location.href = "http://www.argentina.gob.ar/buscar/" + buscado;
  };
  
</script>
