<a href="/sugerencias" class="bg-primary hidden-xs"><div class="container"><p class="margin-0">Este sitio está actualmente en desarrollo. Si encontrás un error o tenés algún comentario contactate con nosotros.</p></div></a>
<a href="/sugerencias" class="bg-primary visible-xs"><div class="container"><p class="margin-0 text-center">¿Querés hacernos una sugerencia?</p></div></a>
<header>


  <!-- <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>

        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/argentina/">
            <img alt="Brand" src="{{ "/proyectos/argentina/img/argentinagob.svg" | prepend: site.baseurl }}" height="50">
            <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
          </a>
          <a class="btn btn-success btn-login visible-xs" href="/proyectos/mi-argentina/v3/"><span class="fa fa-user fa-fw"></span></a>
          <a class="btn btn-primary btn-login visible-xs" href="javascript: $('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span></a>
        </div>

        <ul class="nav navbar-nav navbar-right hidden-xs">
          <a href="javascript: $('.navbar.navbar-top').removeClass('state-search');" class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
          <li>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Buscar Trámite">
              <span class="input-group-btn">
                <button class="btn btn-primary" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </li>              
          <a href="#" class="dropdown-toggle btn btn-success hidden-xs" data-toggle="dropdown"><i class="fa fa-user"></i> &nbsp; Ingresar</a>
        </ul>

      </div>
    </div>
  </nav> -->


  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>

        <div class="navbar-header pull-left">
          <a class="navbar-brand" href="/">
            <img src="{{ "/proyectos/argentina/img/argentinagob.svg" | prepend: site.baseurl }}" alt="Inicio" width="274" height="50">
            <h1 class="sr-only">Argentina.gob.ar <small>Presidencia de la Nación</small></h1>
          </a>
        </div>

        <ul class="nav navbar-nav navbar-right m-y-0">

          <span class="visible-xs pull-right m-r-1">
            <a class="btn btn-primary btn-login visible-xs" href="javascript: $('.navbar.navbar-top').addClass('state-search');">
              <span class="fa fa-search fa-fw">
              </span>
            </a>
            <a class="btn btn-success btn-login visible-xs" href="/proyectos/mi-argentina/v3/">
              <span class="fa fa-user fa-fw">
              </span>
            </a>
          </span>

          <span class="hidden-xs">
            <a href="javascript: $('.navbar.navbar-top').removeClass('state-search');" class="btn btn-link visible-xs pull-left">
              <i class="fa fa-times"></i>
            </a>
            <li id="cd-login" class="pull-right">

              <form action="/" method="post" id="openid-connect-login-form--2" accept-charset="UTF-8">
                <div>
                  <button class="btn btn-success form-submit" type="submit" id="edit-openid-connect-client-generic-login--2" name="generic" value="<span class=&quot;fa fa-user fa-fw&quot;> </span>Ingresar">
                    <span class="fa fa-user fa-fw">
                    </span>
                    <span class="hidden-xs">Ingresar</span>
                  </button>
                  <input type="hidden" name="form_build_id" value="form-zXyCickiUUmY-TKrkv2yYufN1KWSo3NayDVRCUYjoJ8">
                  <input type="hidden" name="form_id" value="openid_connect_login_form">
                  <div style="display:none;">
                    <div class="form-item form-item-tarro-de-miel form-type-textfield form-group"> <label class="control-label" for="edit-tarro-de-miel--5">Dejar en blanco</label>
                      <input class="form-control form-text" type="text" id="edit-tarro-de-miel--5" name="tarro_de_miel" value="" size="60" maxlength="128">
                    </div>
                  </div>

                </div>
              </form>

            </li>
            <li class="pull-right">

              <form class="main-form" action="/" method="post" id="apachesolr-search-custom-page-search-form--3" accept-charset="UTF-8">
                <div>
                  <input type="hidden" name="form_build_id" value="form-IaFrN562bkHhY_0DYqE7DJ6nF9R1qNNFfb94MvKXxfA">
                  <input type="hidden" name="form_id" value="apachesolr_search_custom_page_search_form">
                  <div style="display:none;">
                    <div class="form-item form-item-tarro-de-miel form-type-textfield form-group"> <label class="control-label" for="edit-tarro-de-miel--3">Dejar en blanco</label>
                      <input class="form-control form-text" type="text" id="edit-tarro-de-miel--3" name="tarro_de_miel" value="" size="60" maxlength="128">
                    </div>
                  </div>
                  <div id="edit-buscador--3" class="form-wrapper">
                    <div class="input-group">
                      <div class="form-item form-item-keys form-type-textfield form-group">
                        <input class="input-lg form-control form-text" placeholder="Buscar trámites, servicios o áreas" type="text" id="edit-keys--3" name="keys" value="" size="20" maxlength="255">
                      </div>
                      <span class="input-group-btn">
                        <button class="btn-primary btn form-submit" type="submit" id="edit-submit--5" name="op" value="<i class=&quot;fa fa-search&quot;></i>">
                          <i class="fa fa-search">
                          </i>
                        </button>
                      </span>
                    </div>
                  </div>
                </div>
              </form>

            </li>
          </span>
        </ul>
      </div>
    </div>
  </nav>


</header>

