
<header>


  <nav class="navbar navbar-top navbar-default" role="navigation">
    <div class="container">
      <div>

        <div class="navbar-header">
          <a class="navbar-brand" href="{{ site.baseurl }}/proyectos/argentina/" aria-label="Argentina.gob.ar Presidencia de la Nación">
            <img alt="Argentina.gob.ar" src="{{ "/proyectos/argentina/img/argentinagob.svg" | prepend: site.baseurl }}" height="50">
          </a>
          <a class="btn btn-success btn-login visible-xs" href="/proyectos/mi-argentina/v3/"><span class="fa fa-user fa-fw"></span></a>
          <a class="btn btn-primary btn-login visible-xs" href="#" onclick="$('.navbar.navbar-top').addClass('state-search');"><span class="fa fa-search fa-fw"></span></a>
        </div>

        <!--<ul class="nav navbar-nav navbar-right hidden-xs">
          <a href="#" onclick="$('.navbar.navbar-top').removeClass('state-search');" class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
          <li>
            <div class="input-group">
              
              <input id="buscar" type="text" class="form-control" aria-label="Buscar trámites, servicios o áreas" placeholder="Buscar trámites, servicios o áreas ...">
              <span class="input-group-btn">
                <button class="btn btn-primary" id="buscar-btn" type="button" aria-label="Buscar"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </li>              
          <a href="#" class="dropdown-toggle btn btn-success hidden-xs" aria-label="Ingresar a Mi Argentina" data-toggle="dropdown"><i class="fa fa-user"></i> &nbsp; Mi Argentina</a>
        </ul>-->
        <ul class="nav navbar-nav navbar-right hidden-xs"> <a
            onclick="jQuery('.navbar.navbar-top').removeClass('state-search');" href="#"
            class="btn btn-link visible-xs"> <i class="fa fa-times"></i> </a>
          <div id="cd-login"> <a id="cd-login" href="https://mi.argentina.gob.ar" class="btn btn-link hidden-xs"
              aria-label="Ingresar a Mi Argentina"> <i class="icono-arg-mi-argentina"></i>Mi Argentina</a></div>
        </ul>
      </div>
    </div>
  </nav>

</header>


<script type="text/javascript">

  var busqueda = document.getElementById('buscar');
  var buscar = document.getElementById('buscar-btn');
  buscar.onclick = function () {
    var buscado = busqueda.value;
    location.href = "http://www.argentina.gob.ar/buscar/" + buscado;
  };
  
  //PONCHO LABS
  var url_string = window.location.href;
  var url = new URL(url_string);
  var lab = url.searchParams.get("lab");
  
  
  if(lab == ""){
    $("head").append('<link href="/proyectos/argentina/pruebas/poncho_lab.css" rel="stylesheet">');
  }
</script>
