 <div class="panel panel-disabled" id="tarjeta-1">
  <div class="panel-body">
    <h3>{{ include.titulo }}</h3>
    {{ include.contenido }}

    <p class="padding-10"><a class="btn btn-primary btn-sm" href="javascript: window.open('https://twitter.com/share?text={{ include.titulo }}&url=http://www.argentina.gob.ar/justiciacerca/{{ include.slug }}%2523tarjeta-{{ include.index }}&hashtags=justiciaCerca,{{ include.slug }}', 'pop', 'width=600, height=260, scrollbars=no');"><i class="fa fa-twitter fa-2x media-middle"></i><span class="media-middle"> &nbsp; Compartí este consejo</span></a></p>
  </div>
</div> 