<!DOCTYPE html>

<!-- 
                             MMMMMM    MMMMMM                            
                        MMMMMMMMMMMMMMMMMMMMMMMM                        
                    MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                    
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                  
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                  
                  MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                  
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM      
      MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM      
                MM  MM      MM..        MM..      MM  MM                
                MM  MM      MMMM        MMMM      MM  MM                
                MM  MM                            MM  MM                
                MM  MM    MMMMMMMMMMMMMMMMMMMM    MM  MM                
              MMMM  MM    MM                MM    MM  MMMM              
              MM      MMMM    MMMMMMMMMMMM    MMMM      MM              
              MM    MM  MM  MM            MM  MM  MM    MM              
              MM    MM  MMMM                MMMM  MM    MM              
              MMMM  MM    MM                MM    MM  MMMM              
                    MM                            MM                    
                    MMMMMM                    MMMMMM                    
                  MMMMMMMM      MMMMMMMM      MMMMMMMM                  
                MMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMMM                
              MMMMMMMMMMMMMMMMMMMM    MMMMMMMMMMMMMMMMMMMM              
            MMMMMMMMMMMMMMMMMMMMMM    MMMMMMMMMMMMMMMMMMMMMM            
          MMMMMMMMMMMMMMMMMMMM            MMMMMMMMMMMMMMMMMMMM          
        MMMMMMMMMMMMMMMMMMMMMM            MMMMMMMMMMMMMMMMMMMMMM        
      MMMMMMMMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMMMMMMMM      
    MMMMMMMMMMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMMMMMMMMMM    
    MMMMMMMMMMMMMMMMMM        MMMMMMMMMMMM        MMMMMMMMMMMMMMMMMM    
    MMMMMMMMMMMMMMMMMM    MMMMMMMM    MMMMMMMM    MMMMMMMMMMMMMMMM  MM  
    MM  MMMMMMMMMMMMMM    MMMMMMMM    MMMMMMMM    MMMMMMMMMMMMMMMMMMMM  
  MM    MMMMMMMMMMMMMM        MMMMMMMMMMMM        MMMMMMMMMMMM  MM    MM
  MMMMMMMM  MMMMMMMMMMMMMM        MMMM        MMMMMMMMMMMMMM    MM    MM
MM    MM      MMMMMMMMMMMM        MMMM        MMMMMMMMMMMM      MM    MM
MM    MM        MMMMMMMMMMMMMM            MMMMMMMMMMMMMM          MMMM  
MM    MM        MMMMMMMMMMMMMM            MMMMMMMMMMMMMM                
  MMMM          MM  MMMMMMMMMMMMMM    MMMMMMMMMMMMMM  MM                
              MM      MMMMMMMMMMMM    MMMMMMMMMMMM      MM              
              MM        MMMMMMMMMMMMMMMMMMMMMMMM        MM              
              MMMM        MMMMMMMMMMMMMMMMMMMM        MMMM              
                MMMMMMMM  MMMMMMMMMMMMMMMMMMMM  MMMMMMMM                
              MMMM    MMMM    MMMMMMMMMMMM    MMMM    MMMM              
              MMMM    MMMM      MMMMMMMM      MMMM    MMMM              
            MMMM      MMMM        MMMM        MMMM      MMMM            
            MM    MMMMMM                        MMMMMM    MM            
            MMMMMMMMMMMM                        MMMMMMMMMMMM                                         

Poncho te saluda, amigo del código!

-->
<!--[if IEMobile 7 ]> <html lang="es"class="iem7"> <![endif]-->
<!--[if lt IE 7 ]> <html lang="es" class="ie6 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7 ]>    <html lang="es" class="ie7 lt-ie8"> <![endif]-->
<!--[if IE 8 ]>    <html lang="es" class="ie8"> <![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html lang="es"><!--<![endif]-->

    {% include poncho/head.html %}
    
    <!-- <script src="{{ "/node_modules/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/node_modules/bootstrap/dist/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>-->
<body class="body-login bodyMiArgentina">
    {% include poncho/header-index.html %}
    <main class="m-b-3">
      {{ content }}
    </main>
    {% include poncho/footer-login.html %}
</body>
</html>
