---
layout: mi-argentina2
---
<link rel="stylesheet" href="../../../../css/miargentina.css">
<style>
	.panel-acordion .panel-default{
		-webkit-transition: height 1s ease;
		-moz-transition: height 1s ease;
		-o-transition: height 1s ease;
		transition: height 1s ease;
	}
	.panel-slim{
		height: fit-content;
	}
</style>
<section class="p-y-0">
	<div class="container-fluid">
    	<div class="row dashboard">
      		<div class="sidebar hidden-xs p-l-0">
        
        		  
						
     		 </div>
     	
 		 	<div class="col-sm-12">
 		 		<div class="row">
    				<div class="col-xs-12 m-b-1">
						<h1 class="title-dashboard">
							Bienvenida María Paula
					 	</h1>
					 	<p>Todos tus documentos, constancias, certificados y licencias en un solo lugar para consultarlos cuando quieras. Además, si configurás tus notificaciones te avisamos cuándo renovarlos.</p>
					 </div>
				</div>
 		 		<div class="row main">
 		 			<div class="col-md-8">
 		 				<div class="row panels-row panels-row-miargentina panels-row-miargentina-credenciales panel-acordion">
 		 					<div class="col-lg-6 col-xs-12">
 		 						<div class="panel panel-default panel-border-primary panel-nolink">
 		 							<div class="panel-heading">
 		 								<a href="#collapsePanel1" class="collapsed btn-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapsePanel"> 
										<div class="panel-heading-title">
											<div class="media">
												<div class="media-left hidden-xs">
													<img src="celestes_licencia_conducir.svg" alt="Licencia de conducir" title="Licencia de conducir">
												</div>
												<div class="media-body">
													<h2>Licencia Nacional de Conducir</h2>
												</div>
											</div>
										</div>
										<div class="text-right">
											
												<i class="fa fa-chevron-up"></i>
											
										</div>
										</a>
									</div>
									
									<div class="panel-collapse collapse in" role="tabpanel" id="collapsePanel1" aria-labelledby="collapsePanel" aria-expanded="true">
										<div class="panel-body">
											<div class="row">
												<div class="col-xs-12">
													<p class="help-block text-center">última actualización 11/09/2018 14.hs</p>
													<img src="qr.png" alt="qr"  class="center-block qr m-b-2">
												</div>
											</div>
											<div class="row credencial-txt">
												<div class="col-xs-6">
													<small>Estado</small>
													<p class="text-capitalize">
														<i class="fa fa-circle text-warning"></i>
														<b>Por vencer</b>
													</p>
													<p class="text-capitalize">
														<i class="fa fa-check-circle text-success"></i>
														<b>Válido para conducir</b>
													</p>
													<img src="https://mi.argentina.gob.ar/img/logos/anses.svg" alt="logo-ejemplo" class="logo">
												</div>
												<div class="col-xs-6">
													<small>Fecha de vencimiento</small>
													<p>
														27/11/2019
													</p>
												</div>
											</div>

										</div>
										<div class="panel-footer">
											<div class="btn-footer-container center-block">
												<a href="../../particulares/licencia-de-conducir/carousel2.html" class="btn btn-link text-center btn-block m-y-0">Ver tu licencia de conducir</a>
											</div>
										</div>
									</div>
								</div>
						    </div>
						    <div class="col-lg-6 col-xs-12">
 		 						<div class="panel panel-default panel-border-primary panel-nolink">
 		 							<div class="panel-heading">
 		 								<a href="#collapsePanel2" class="collapsed btn-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapsePanel"> 
											<div class="panel-heading-title">
												<div class="media">
													<div class="media-left hidden-xs">
														<img src="celestes_licencia_conducir.svg" alt="Licencia de conducir" title="Licencia de conducir">
													</div>
													<div class="media-body">
														<h2>Licencia Nacional de Conducir</h2>
													</div>
												</div>
											</div>
											<div class="text-right">
												<i class="fa fa-chevron-up"></i>
											</div>
										</a>
									</div>
									<div class="panel-collapse collapse in" role="tabpanel" id="collapsePanel2" aria-labelledby="collapsePanel" aria-expanded="true">
										<div class="panel-body">
										
											<div class="row credencial-txt">
												<div class="col-xs-6">
													<small>Estado</small>
													<p class="text-capitalize">
														<i class="fa fa-circle text-warning"></i>
														<b>Por vencer</b>
													</p>
													<p class="text-capitalize">
														<i class="fa fa-check-circle text-success"></i>
														<b>Válido para conducir</b>
													</p>
													<img src="https://mi.argentina.gob.ar/img/logos/anses.svg" alt="logo-ejemplo" class="logo">
												</div>
												<div class="col-xs-6">
													<small>Fecha de vencimiento</small>
													<p>
														27/11/2019
													</p>
												</div>
											</div>

										</div>
										<div class="panel-footer">
											<div class="btn-footer-container center-block">
												<a href="../../particulares/licencia-de-conducir/carousel2.html" class="btn btn-link text-center btn-block m-y-0">Ver tu licencia de conducir</a>
											</div>
										</div>
									</div>
								</div>
						    </div>
						    <div class="col-lg-6 col-xs-12">
 		 						<div class="panel panel-default panel-border-primary panel-nolink">
 		 							<div class="panel-heading">
 		 								<a href="#collapsePanel3" class="collapsed btn-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapsePanel"> 
											<div class="panel-heading-title">
												<div class="media">
													<div class="media-left hidden-xs">
														<img src="celestes_licencia_conducir.svg" alt="Licencia de conducir" title="Licencia de conducir">
													</div>
													<div class="media-body">
														<h2>Licencia Nacional de Conducir</h2>
													</div>
												</div>
											</div>
											<div class="text-right">
												<i class="fa fa-chevron-up"></i>
											</div>
										</a>
									</div>
									<div class="panel-collapse collapse in" role="tabpanel" id="collapsePanel3" aria-labelledby="collapsePanel" aria-expanded="true">
										<div class="panel-body">
										
											<div class="row credencial-txt">
												<div class="col-xs-6">
													<small>Estado</small>
													<p class="text-capitalize">
														<i class="fa fa-circle text-warning"></i>
														<b>Por vencer</b>
													</p>
													<p class="text-capitalize">
														<i class="fa fa-check-circle text-success"></i>
														<b>Válido para conducir</b>
													</p>
													<img src="https://mi.argentina.gob.ar/img/logos/anses.svg" alt="logo-ejemplo" class="logo">
												</div>
												<div class="col-xs-6">
													<small>Fecha de vencimiento</small>
													<p>
														27/11/2019
													</p>
												</div>
											</div>

										</div>
										<div class="panel-footer">
											<div class="btn-footer-container center-block">
												<a href="../../particulares/licencia-de-conducir/carousel2.html" class="btn btn-link text-center btn-block m-y-0">Ver tu licencia de conducir</a>
											</div>
										</div>
									</div>
								</div>
						    </div>
						    <div class="col-lg-6 col-xs-12">
								<div class="panel panel-default panel-border-primary panel-nolink panel-borders">
										<div class="panel-heading" data-toggle="collapse" data-target="#collapsePanel4"
											aria-expanded="true" aria-controls="collapsePanel4">
											<div class="row">
												<div class="col-xs-10 col-md-11">
													<h2>Salud</h2>
												</div>
												<div class="col-xs-2 col-md-1 text-right">
													<a class="btn-collapse"><i
															class="fa fa-chevron-up collapseGira text-muted"></i></a>
												</div>
											</div>
										</div>
										<div class="panel-collapse collapse" role="tabpanel" id="collapsePanel4"
											aria-expanded="true">
											<div class="panel-body">
												<div class="row flex-cont">
													<div class="col-lg-6">
														<div class="m-b-1">
															<a href="seleccion.html" class=""><strong>Vacunarse contra la fiebre
																	amarilla</strong></a>
															<p>Obtener un turno para vacunarse contra la fiebre amarilla.</p>
															<a href="seleccion.html" class="btn btn-success btn-sm">SACAR
																TURNO</a>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="m-b-1">
															<a href="seleccion.html" class="">Vacunarse contra la fiebre
																amarilla</a>
															<p>Obtener un turno para vacunarse contra la fiebre amarilla.</p>
															<a href="seleccion.html" class="btn btn-success btn-sm">SACAR
																TURNO</a>
														</div>
													</div>
													<div class="col-lg-6">
														<div class="m-b-1">
															<a href="seleccion.html" class="">Vacunarse contra la fiebre
																amarilla</a>
															<p>Obtener un turno para vacunarse contra la fiebre amarilla.</p>
															<a href="seleccion.html" class="btn btn-success btn-sm">SACAR
																TURNO</a>
														</div>
													</div>
												</div>
											</div>
										</div>
								</div>
							</div>
							
						</div>
					</div>
					
 		 			<div class="col-lg-4">
 		 				<div class="row main-panels panels-row panels-row-miargentina pclose">
 		 					<div class="col-xs-12">
	 		 					<div class="panel panel-default panel-nolink panel-border-primary">
									<div class="panel-heading">
										<div class="panel-heading-title">
											<h2>Estas son las vacunas que te aplicaste y fueron registradas en el sistema. Estas son las vacunas que te aplicaste y fueron registradas en el sistema.</h2>
										</div>
										
										<div class="text-right btn-close">
											<i class="fa fa-close"></i>
										</div>
									</div>
						          	<div class="panel-body">
						          		<div class="panel-content-padding">
						          			<a class="item-panel" href="">Fiebre amarilla</a>
							        		<p>Información sobre la vacuna</p>
						          		</div>
						          	</div>
						        </div>
						  	</div>
						</div>

						
 		 				<div class="row main-panels panels-row panels-row-miargentina">
							<div class="col-xs-12">
								<div class="panel panel-default panel-nolink panel-border-primary">
									<div class="panel-heading" >
										<div class="panel-heading-title">
											<h2>Estas son las vacunas que te aplicaste y fueron registradas en el sistema nacional de vacunas NOMIVAC</h2>
										</div>
										<div class="text-right">
											<a href="#collapsePanel4" class="collapsed btn-collapse" role="button" data-toggle="collapse" aria-expanded="true" aria-controls="collapsePanel"> 
												<i class="fa fa-chevron-up"></i>
											</a>
										</div>
									</div>
									<div class="panel-collapse collapse in" role="tabpanel" id="collapsePanel4" aria-labelledby="collapsePanel" aria-expanded="true">
										<div class="panel-body">
											<ul class="list-group">
												<li class="list-group-item">
													<h3><a href="">Antigripal</a></h3>
													<p class="text-muted m-b-0">Última aplicación el 12/05/2018 en Establecimiento Holly Molly - Temperley</p>
												</li>
												<li class="list-group-item">
													<h3><a href="">Fiebre amarilla</a></h3>
													<p class="text-muted m-b-0">Última aplicación el 12/05/2018 en Establecimiento Holly Molly - Temperley</p>
												</li>
											</ul>
										</div>
										<div class="panel-footer">
											<a href="">Para más información llamá a INCUCAI al 0800-555-4628.</a>
										</div>
									</div>
								</div>
							</div>
						</div>
 		 			</div>

 		 	</div>
 		</div>
    </div>
</section>
<script src="../../../js/alert-collapse.js"></script>
<script src="../../../js/alert-close.js"></script>

<script>
/*
document.querySelectorAll('.btn-collapse').forEach(a => {
	a.addEventListener('click', credencial)
})
function credencial(e){
	var panel = e.currentTarget.parentNode.parentNode.parentNode
	if(panel.style.display == 'block'){
		panel.removeAttribute('style')

	}else{
		panel.style.display = 'block'
	}
}
*/
//$('.panel-acordion').find('.panel-default:has(".in")').addClass('panel-danger');

$('.panel-acordion .panel-default').on('show.bs.collapse', function (e) {
   $(e.target).closest('.panel-default').removeClass(' panel-slim');
}).on('hide.bs.collapse', function (e) {
   $(e.target).closest('.panel-default').addClass(' panel-slim');
})

</script>
