---
layout: argentina
---

<section class="jumbotron" style="background-image: url('/sites/default/files/portada.png');">
  <div class="jumbotron_bar">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ol class="breadcrumb pull-left">
            <li><a href="/">Argentina</a></li>
            <li><a href="/justiciacerca">Justicia cerca</a></li>
            <li class="active"><span>Soy celíaco</span></li>
          </ol>          
        </div>
      </div>
    </div>
  </div>
  <div class="jumbotron_body">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <h3 class="h4">Justicia Cerca</h3>
          <h2>Soy celíaco</h2>
          <p>Conocé qué es la celiaquía, qué tenés que hacer si sufrís la enfermedad, si la obra social o prepaga te cubre el tratamiento y si podés pedir comidas libres de gluten en los kioscos de colegios, restaurantes, micros o aviones que ofrecen comida.</p>
        </div>
        <div class="col-xs-12 col-md-6">
          <img class="img-responsive" alt="" src="/sites/default/files/v-soy_celiaco.png">
        </div>
      </div>
       <a href="/justiciacerca" class="btn btn-primary">Ver todos los temas de Justicia Cerca</a>       
    </div>
  </div>
</section>

<div class="container">
  <section>
    <div class="row">
      <div class="col-md-8">
        <article>
          <div class="row">
            <div class="col-md-12">
                <h2 class="h3 section-title">Lo que tenés que saber</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Qué es la celiaquía?" 
                  slug="soyceliaco" 
                  index="1" 
                  contenido='
                <p class="text-muted">La celiaquía o enfermedad celíaca es una inflamación del intestino delgado causada por la intolerancia al gluten. Podés evitar sufrir los síntomas de la enfermedad si dejás de comer alimentos con gluten.</p>  
                
                <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26588.</a> </p>
              ' %}


            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Qué es el gluten?" 
                  slug="soyceliaco" 
                  index="2" 
                  contenido='
                <p class="text-muted">El gluten es una proteína que se encuentra en el trigo, avena, cebada y centeno.</p>

                <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26588.</a> </p>
              ' %}
             
            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Cuáles son los alimentos que contienen gluten?" 
                  slug="soyceliaco" 
                  index="3" 
                  contenido='
                <p class="text-muted">Contienen gluten los cereales de trigo, avena, cebada, centeno y sus derivados. Las personas celíacas deben evitar estos alimentos y los productos elaborados con estos cereales.</p>
                
                <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26588.</a> </p>

              ' %}
              
            </div>
            <div class="col-md-12">


                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Cuál es el tratamiento que tengo realizar?" 
                  slug="soyceliaco" 
                  index="4" 
                  contenido='
                  <p class="text-muted">Tenés que hacer una dieta de alimentos libres de gluten de por vida.</p>
                                                   
                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26588.</a> </p>

              ' %}

            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Cómo me doy cuenta si un alimento es libre de gluten?" 
                  slug="soyceliaco" 
                  index="5" 
                  contenido='
                  <p class="text-muted">Los alimentos deben llevar en sus envases la leyenda ‘Libre de Gluten’ y un símbolo consistente en un círculo con una barra cruzada sobre tres espigas donde figura la leyenda “Sin TACC”. Hay 2 variantes de símbolos:</p>
                  <ul class="text-muted">
                    <li>A color: círculo con una barra cruzada roja sobre tres espigas dibujadas en negro con granos amarillos en un fondo blanco y la leyenda “Sin TACC”.</li>
                    <li>En blanco y negro: círculo y barra cruzada negra sobre tres espigas dibujadas en negro con granos blancos en un fondo blanco y la leyenda “Sin TACC”.</li>
                  </ul>

                  <img src="/sites/default/files/tacc.jpg" alt="símbolos de alimentos libres de TACC"/>

   
                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 4.</a> </p>

              ' %}

            </div>

             <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Existe alguna lista de alimentos aptos para personas celíacas?" 
                  slug="soyceliaco" 
                  index="6" 
                  contenido='
                  <p class="text-muted">Sí. Existe un listado de alimentos aptos para celiacos. Para conocerlo, visitá la página del Ministerio de Salud</p>
                  <p class="text-muted"><a href="http://www.msal.gob.ar/celiacos/" target="_blank">http://www.msal.gob.ar/celiacos/</a></p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 3 y 5.</a> </p>

              ' %}

            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Los medicamentos también pueden contener gluten?" 
                  slug="soyceliaco" 
                  index="7" 
                  contenido='
                  <p class="text-muted">Si, los medicamentos pueden tener gluten.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 3.</a> </p>

              ' %}

            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿Es obligatorio ofrecer en los menús opciones libres de gluten (sin TACC)?" 
                  slug="soyceliaco" 
                  index="8" 
                  contenido='
                  <p class="text-muted"> Sí. Están  obligados a ofrecer por lo menos una opción de comida sin gluten:</p>
                  <ul class="text-muted">
                    <li>Los lugares destinados a personas privadas de libertad.</li>
                    <li>Los establecimientos sanitarios con internación.</li>
                    <li>Los lugares de residencia o convivencia temporal o permanente que ofrezcan alimentos.</li>
                  </ul>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 4 bis.</a> </p>


              ' %}

            </div>              
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="Si voy al colegio y soy celíaco ¿el kiosco de la escuela tiene que tener comida libre de gluten?" 
                  slug="soyceliaco" 
                  index="9" 
                  contenido='
                  <p class="text-muted">Sí. Los comedores y kioscos de instituciones de enseñanza tienen que tener un menú libre de gluten.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 4 bis.</a> </p>

                  
              ' %}

            </div>              
            <div class="col-md-12">

                   {% include argentina/jc_tarjeta.html 
                   titulo="Si viajo y soy celíaco ¿las empresas de transporte tienen que tener comida libre de gluten?" 
                   slug="soyceliaco" 
                   index="10" 
                   contenido='
                  <p class="text-muted">Sí. Las empresas de transporte aéreo, terrestre y acuático que ofrezcan servicio de alimentos a bordo tiene que tener un menú libre de gluten. 
Los kioscos y concesionarios de alimentos de las terminales y los paradores de transporte también tienen que tener un menú libre de gluten.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 4 bis.</a> </p>
                
              ' %}

            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="Si salgo a comer afuera ¿puedo pedir un menú libre de gluten?" 
                  slug="soyceliaco" 
                  index="11" 
                  contenido='
                  <p class="text-muted">Sí, los restaurantes y bares deben tener un menú libre de gluten.
 Los locales de comida rápida también deber tener un menú libre de gluten.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26.588, Art. 4 bis.</a> </p>
                  
                
              ' %}

            </div> 
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿La obra social  me cubre  los tratamientos si soy celíaco?" 
                  slug="soyceliaco" 
                  index="12" 
                  contenido='
                  <p class="text-muted">Sí. Las obras sociales y  prepagas deben cubrir la detección, el diagnóstico, el seguimiento y el tratamiento de la celiaquía.</p>

                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n/Ley%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1" target="_blank">Ley 26588.</a> </p>
              ' %}

            </div>
            <div class="col-md-12">

                  {% include argentina/jc_tarjeta.html 
                  titulo="¿La obra social me cubre la compra de harinas y premezclas libre de gluten?" 
                  slug="soyceliaco" 
                  index="13" 
                  contenido='
                  <p class="text-muted">Sí, las obras sociales o prepagas deben cubrir la compra de harinas y premezclas libre de gluten.</p>
                  <p class="text-muted">El Ministerio de Salud de la Nación establece el valor mensual de harinas y premezclas que tienen que cubrir las obras sociales.</p>
                  
                  <p class="text-muted"><a href="http://www.saij.gob.ar/26588-nacional-declaracion-interes-nacional-atencion-medica-investigacion-clinica-epidemiologica-capacitacion-profesional-deteccion-temprana-diagnostico-tratamiento-enfermedad-celiaca-lns0005593-2009-12-02/123456789-0abc-defg-g39-55000scanyel?q=%28numero-norma%3A26588%20%29&o=0&f=Total%7CTipo%20de%20Documento/Legislaci%F3n%7CFecha%7COrganismo%7CPublicaci%F3n%7CTema%7CEstado%20de%20Vigencia%7CAutor%7CJurisdicci%F3n&t=1
" target="_blank">Ley 25.688. Art. 9.</a> </p>

              ' %}

            </div>
            

            <div class="col-md-12">
              <p><a href="/justiciacerca" class="btn btn-primary">Ver todos los temas de Justicia Cerca</a></p>              
            </div>

          </div>
        </article>
      </div>
      <div class="col-md-4">
        <h2 class="h3 section-title">Datos de Contacto</h2>
        <hr>
        <h5>Programa Nacional de detección y control de Enfermedad Celiaca. Ministerio de Salud de la Nación.</h5>
        <p>
              Podes consultar desde del sitio web:  <a target="_blank" href="http://www.msal.gob.ar/celiacos/index.html#">http://www.msal.gob.ar/celiacos/index.html#</a>
              <br>
              Av. 9 de Julio 1925 (ala Moreno), CABA.
              <br>
              Teléfono: 54 11 4379 9000
              <br>
              E-mail: <a target="_top" href="mailto:celiaquia@msal.gov.ar">celiaquia@msal.gov.ar</a>
        </p>   
        <p>Para tener información sobre la celiaquía.</p>
        <hr>
        
      </div>
    </div>
  </section>
</div>
