---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="tramites" %}

      </aside>
      <div class="col-md-8">

      <div class="alert alert-info">
        <div class="media">
          <div class="media-left">
            <i class="fa fa-envelope-o fa-fw fa-2x m-t-1"></i>
          </div>
          <div class="media-body m-y-0">
          <h2 class="h5">Actualizá tu email de Mi Argentina</h2>
            <p>El mail que tenemos registrado en Argentina.gob.ar no es el mismo que figura en tu cuenta de Facebook. <a href="#">Si querés podés actualizarlo ahora.</a></p>
          </div>
        </div>
      </div>

      </div>
    </div>
  </div>
</section>
