---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Tramites y consultas" %}

<section>
  <div class="container">
    <div class="row">
      <aside class="col-md-4">

        {% include mi-argentina/menu.html active="vacunas" %}

      </aside>

      <div class="col-md-8">
        <div class="row panels-row-miargentina">
          <div class="col-md-12">
            <div class="panel panel-default panel-border-gray panel-nolink">
              <div class="panel-heading">
                <h2>Mis menores a cargo</h2>
              </div>
              <div class="panel-body">
                <p>Agregá a tus hijos menores de 18 años para recibir notificaciones de vacunas, campañas e información importante de temas de salud.</p>
                 <a class="btn btn-success btn-md m-y-1" href="">AGREGAR</a>
              </div>
             
            </div>
          </div>
        </div>
        <hr>
        <p class="lead">Organismos relacionados</p>
        <div class="row">
          <div class="col-sm-4 col-xs-12">
            <p><a href="https://www.argentina.gob.ar/salud" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span>Minsterio de Salud</a></p>
          </div>
        </div>
      </div>
    </div>


      </div>
    </div>
  </div>
</section>



