---
layout: mi-argentina
---

{% include mi-argentina/usuario.html hijo="Salud" %}



<section>
    <div class="container">
        <div class="row">
            <aside class="col-md-4">

                {% include mi-argentina/menu.html active="salud" %}

            </aside>
            <div class="col-md-8">

                <h1 class="h4">Salud</h1>
                <div class="row p-y-1">
                    <div class="col-xs-12 col-sm-10">
                      <p>Expresá tu voluntad de donar órganos. También podés completar tu perfil para recibir notificaciones personalizadas con consejos para cuidar tu salud y prevenir enfermedades.</p>
                    </div>
                    <div class=" col-xs-offset-4 col-xs-4 col-sm-2 col-sm-offset-0 p-l-0">
                      <img class="img-responsive" src="https://www.argentina.gob.ar/sites/default/files/logo_cobertura.png" >
                    </div>
                  </div>
                  

                <div class="row panels-row-miargentina">

                    <div class="col-md-12">
                        <div class="panel panel-default panel-border-gray panel-nolink">
                            <div class="panel-heading">
                                <h2>Donación de órganos y tejidos  </h2>
                            </div>
                            <div class="panel-body estilo-salud-sin-ev" style="">
                                <div class="media">
                                  <div class="media-left p-x-1 hidden-xs">
                                    <i class="fa fa-edit text-muted fa-2x m-t-1"></i>
                                  </div>
                                  <div class="media-body media-middle">
                                    <p>Si querés expresar tu voluntad de donar, podés hacerlo de manera fácil y rápida.</p>
                                    <a class="btn btn-sm btn-success m-t-1" href="formulario-expresar-voluntad-01.html">EXPRESÁ TU VOLUNTAD EN FORMA DIGITAL</a>
                                  </div>
                                </div>                            
                            </div>
                            <div class="panel-footer">
                                <a href="#">Conocé más sobre la donación de órganos y tejidos</a>
                            </div>
                        </div>
                    </div>
                 
                    <div class="col-md-12">
                        <div class="panel panel-default panel-border-gray panel-nolink">
                            <div class="panel-body p-b-3 estilo-salud-sin-ev">
                                <h2>Te puede interesar</h2>
                                <hr class="m-y-1">
                                <div class="media">
                                    <div class="media-body">
                                        <a href="https://www.argentina.gob.ar/tema/cuidarlasalud" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Cuidar la salud </h3></a>
                                        <p>Recomendaciones para cuidar tu salud en cada momento de tu vida.</p>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body">
                                        <a href="https://www.argentina.gob.ar/salud/prevencionycuidados" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Prevención y cuidados </h3></a>
                                        <p>Información y recomendaciones para que vos y tu familia adopten hábitos saludables.</p>
                                    </div>
                                </div>

                                <div class="media">
                                    <div class="media-body">
                                        <a href="https://www.argentina.gob.ar/salud/crecerconsalud" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Crecer con salud</h3></a>
                                        <p>Recomendaciones para el embarazo, parto, puerperio, lactancia y crianza.</p>
                                    </div>
                                </div>

                                <!--<div class="media">
                                    <div class="media-body">
                                        <a href="https://www.argentina.gob.ar/discapacidad" target="_blank"><span class="sr-only">Abrir vínculo en nueva pestaña </span><h3>Personas con discapacidad</h3></a>
                                        <p>Prestaciones y beneficios del Estado Nacional en la atención de la salud, asignaciones y pensiones y transporte público.</p>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
